.background-diagonal-wrapper {
  @include clearfix;

  position: relative;
  width: 100%;
}

.background-diagonal-svg {
  height: 100%;
  position: absolute;
  right: 0;
  width: auto;
  z-index: z(crust);
}

.background-diagonal-footer {
  background: #555559;
  overflow: hidden;

  .path-2 {
    fill: #333;
  }
}

.background-diagonal-dark {
  background: #4c4c4f;

  .path-2 {
    fill: #555559;
  }
}

.background-diagonal-light {
  background: #dedede;

  .path-2 {
    fill: #eee;
  }
}
