* {
  box-sizing: border-box;
}

body {
  @include fs-body;
  margin: 0;
}

// h1-h6
h1 {
  @include fs-h1;
  font-weight: 500;
  line-height: 1;
}

/* @todo Determine base header styles. */
//h2 {
//  @include fs-h2;
//}
//
h3 {
  line-height: 1;
}
//
//h4 {
//  @include fs-h4;
//}

h5 {
  font-size: 17px;
  line-height: 27px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

// Links and buttons.
a {
  @include link-text;

  &.cta {
    @include fs-cta;
  }

  .text-formatted & {
    @include link-colors($c-blue);
  }
}

.link--cta {
  display: inline-block;
  background: url('../images/cta-arrow.svg') right center no-repeat transparent;
  background-size: 14px 10px;
  padding-right: $space-three;
  text-decoration: none;
  font-family: $font-helvetica-neue-medium;
}

.button--alt {
  @include button-alt;
}

// Image Styles
img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-size: 25px;
  line-height: 32px;
  margin: 10px 60px;
  padding-bottom: 39px;
  padding-top: 66px;

  p {
    margin-bottom: 6px;
  }

  @include breakpoint($bp-large) {
    margin: 30px 120px;
  }
}

figure {
  margin: 0;
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

hr {
  border: 1px solid;
}

ul {
  padding-left: 15px;
}

// Global Content Styles
.submitted {
  color: $c-gray;
  font-size: 13px;
}

.clearfix {
  @include clearfix;
}

.svgsprite {
  display: none;
}

// Some layout
.header,
.main,
.footer,
.universal-header,
.footer-bottom,
.breadcrumb {
  @include wrapper;

  margin-bottom: 4em;
}
