* {
  box-sizing: border-box;
}

body {
  @include fs-body;
  margin: 0;
}

// h1-h6
h1 {
  @include fs-h1;
  font-weight: 500;
  line-height: 1;
  margin: $space 0;
}

/* @todo Determine base header styles. */
h2 {
  @include fs-heading-two;

  &.small-title {
    @include fs-small-title;
  }
}

h3 {
  line-height: 1;

  @include fs-articles-title-hthree;

  &.small-title {
    @include fs-small-title;
    font-weight: 500;
  }
}
//
h4 {
  @include fs-articles-title-hfour;
}

h5 {
  @include fs-articles-title-hfive;
}

h6 {
  @include fs-articles-title-hsix;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.eyebrow-title {
  @include eyebrow;
}

p {
  letter-spacing: .2px;
  margin: 2rem 0;

  &.feature-text {
    font-size: 24px;
    color: $c-gray-blue;
    line-height: 1.6;
  }

  &.small-text {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 24px;
    font-family: $font-helvetica-neue-roman;
  }
}

// Links and buttons.
a {
  @include link-text;

  &.cta {
    @include fs-cta;
  }

  .text-formatted & {
    @include link-colors($c-blue-link);
  }
}
//link style for text areas of articles, full-width, and narrow pages
.narrow-page,
.article-header,
.full-width-page-wrapper,
.full-width-page-banner {
  a {
  color: $c-blue-link;
  background-color: transparent;
  text-decoration: none;
  transition: background 0.15s cubic-bezier(0.33,0.66,0.66,1);
  border-bottom: 1px solid $c-blue-link;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
    &:hover {
      background: $c-blue-link-rollover;
      border-bottom: 1px solid $c-blue-link-rollover;
    }
  }
}

.tags-menu,
.footer-ctas-wrapper,
.event-card__title {
  a {
    border-bottom: 1px solid transparent;

    &:hover {
      background: transparent;
      border-bottom: 1px solid $c-blue-link;
      text-decoration: none;
    }
  }
}

.event-card__title {
  a {
    &:hover {
      border-bottom: none;
    }
  }
}

.link--cta,
.narrow-page a.link--cta,
.full-width-page-wrapper a.link--cta,
.link--cta a {
  display: inline-block;
  background: url('../images/cta-arrow.svg') right center no-repeat transparent;
  background-size: 14px 10px;
  padding-right: $space-three;
  text-decoration: none;
  font-family: $font-helvetica-neue-medium;
  border-bottom: none;

  &:hover {
    background: url('../images/cta-arrow.svg') right center no-repeat transparent;
    background-size: 14px 10px;
    border-bottom: none;
  }
}

.promo-list__card {
  a {
    border-bottom: none;

    &:hover {
      border-bottom: 0;
      background: transparent;
    }
  }
}

span.ext {
  @include background-image('external-link.svg', right center);
  padding-right: 20px;

  a:hover & {
    @include background-image('external-link-hover.svg', right center);
  }
}

.button {
  @include button;
}

.button--alt {
  @include button-alt;
}

.button-reverse,
a.button-reverse,
.button-reverse:link,
a.button-reverse:link,
.button-reverse:visited,
a.button-reverse:visited {
  @include button;

  color: $white;
  border-color: $white;
}

.cta--list,
.ext--list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $gray-lightest;
  margin-bottom: $space-five;

  a {
    display: block;
    color: $blue;
    text-decoration: none;
    font-family: $font-helvetica-neue-medium;
    padding: $space-two 0;
    border-bottom: 1px solid $gray-lightest;
    background: url('../images/cta-arrow.svg') right center no-repeat transparent;
    background-size: 14px 10px;
    padding-right: 20px;
  }
}

.ext--list {
  a {
    background: url('../images/ext-link.svg') right center no-repeat transparent;
    background-size: 20px;
  }
}

.no-bullets,
.no-bullets ul,
.inline--list,
.line--list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: $space-five;
}

.inline--list {
  li {
    display: inline-block;
    margin-right: $space-three;
  }
}

.line--list {
  li {
    border-bottom: 1px solid $c-gray-lighter;
    margin-bottom: $space-four;
  }
}

// Image Styles
img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.field-image-caption,
figcaption {
  font-size: $font-size-xsm;
  color: $gray-blue;
  padding-top: $space-double;
  font-family: $font-helvetica-neue-roman;
  font-weight: 500;
  line-height: 1.6em;

  p {
    margin: 0;
  }
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

hr {
  border: 1px solid $c-gray-lighter;
  margin-bottom: $space-four;
  margin-bottom: $space-four;
}

ul {
  padding-left: 15px;
}

strong, b {
  font-family: $font-helvetica-neue-medium;
  font-weight: normal;
}

// Global Content Styles
.submitted {
  color: $c-gray;
  font-size: 13px;
}

.clearfix {
  @include clearfix;
}

.svgsprite {
  display: none;
}

// Some layout
.main,
.footer,
.universal-header,
.footer-bottom,
.breadcrumb {
  @include wrapper;

  margin-bottom: $space-ten;
}

.main {
  margin-bottom: 0;
}

// Misc.
.far {
  font-family: 'Font Awesome 5 Free';
}
