* {
  box-sizing: border-box;
}

body {
  @include fs-body;
  margin: 0;
  //fixes issues when switching the body to fixed positioning
  width: 100%;
}

// h1-h6
h1 {
  @include fs-h1;
  font-weight: 500;
  line-height: 1;
  margin: $space 0;
}

/* @todo Determine base header styles. */
h2 {
  @include fs-heading-two;

  &.small-title {
    @include fs-small-title;
  }
}

h3 {
  line-height: 1;

  @include fs-articles-title-hthree;

  &.small-title {
    @include fs-small-title;
    font-weight: 500;
  }
}
//
h4 {
  @include fs-articles-title-hfour;
}

h5 {
  @include fs-articles-title-hfive;
}

h6 {
  @include fs-articles-title-hsix;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.eyebrow-title {
  @include eyebrow;
}

p {
  letter-spacing: .2px;
  margin: 2rem 0;

  &.feature-text {
    font-size: 24px;
    color: $c-gray-blue;
    line-height: 1.6;
  }

  &.drop-cap:first-letter {
    font-size: 3.8em;
    float: left;
    margin-top: .28em;
    font-family: $font-granjon;
    margin-right: 10px;
  }

  @-moz-document url-prefix() {
    &.drop-cap:first-letter {
      margin-top: .2em;
    }
  }

  &.small-text {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 24px;
    font-family: $font-helvetica-neue-roman;
  }
}

// Links and buttons.
a {
  @include link-text;

  &.cta {
    @include fs-cta;
  }

  .text-formatted & {
    @include link-colors($c-blue-link);
  }
}
//link style for text areas of articles, full-width, and narrow pages
.narrow-page,
.article-header,
.full-width-page-wrapper,
.full-width-page-banner {
  a {
  color: $c-blue-link;
  background-color: transparent;
  text-decoration: none;
  transition: background-color 0.15s cubic-bezier(0.33,0.66,0.66,1);
  border-bottom: 1px solid $c-blue-link;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
    &:hover {
      background-color: $c-blue-link-rollover;
      border-bottom: 1px solid $c-blue-link-rollover;
    }
  }
}

.tags-menu,
.footer-ctas-wrapper,
.event-card__title {
  a {
    border-bottom: 1px solid transparent;

    &:hover {
      background: transparent;
      //border-bottom: 1px solid $c-blue-link;
      text-decoration: underline;
    }
  }
}

.event-card__title {
  a {
    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }
}

.link--cta,
.narrow-page a.link--cta,
.full-width-page-wrapper a.link--cta,
.link--cta a,
.full-width-page-banner__header a.link--cta,
.promo-list__card-two .link--cta {
  display: inline-block;
  // declaring each background property separately on purpose,
  // all inclusive background shorthand can accidentally overwrite images set as backgrounds.
  background-image: url('../images/cta-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 14px 10px;
  padding-right: $space-three;
  text-decoration: none;
  font-family: $font-helvetica-neue-medium;
  border-bottom: none;
  @include transition;

  &:hover {
    padding-right: $space-four;
  }
}

.promo-list__card {
  a {
    border-bottom: none;

    &:hover {
      border-bottom: 0;
      background: transparent;
    }
  }
}

.promo-list__card-two:hover .link--cta {
  @include transition;
    background: url('../images/cta-arrow.svg') right center no-repeat transparent;
    background-size: 14px 10px;
    padding-right: $space-four;
    text-decoration: underline;
}

span.ext {
  @include background-image('external-link.svg', right center);
  padding-right: 20px;

  a:hover & {
    @include background-image('external-link-hover.svg', right center);
  }
}

.button,
.full-width-page-wrapper .button,
.full-width-page-wrapper .button:first-child,
.full-width-page-wrapper .button:last-child,
.layout-column .button:first-child,
.layout-column .button:last-child,
.narrow-page .button {
  @include button;
}

.button--alt,
.full-width-page-wrapper .button--alt,
.full-width-page-wrapper .button--alt:first-child,
.full-width-page-wrapper .button--alt:last-child,
.narrow-page .button--alt,
.layout-column .button--alt:first-child,
.layout-column .button--alt:last-child {
  @include button-alt;
}

.button-reverse,
a.button-reverse,
.button-reverse:link,
a.button-reverse:link,
.button-reverse:visited,
a.button-reverse:visited,
.full-width-page-wrapper .button-reverse,
.full-width-page-wrapper a.button-reverse,
.full-width-page-wrapper .button-reverse:link,
.full-width-page-wrapper a.button-reverse:link,
.full-width-page-wrapper .button-reverse:visited,
.full-width-page-wrapper a.button-reverse:visited {
  @include button;

  color: $white;
  border-color: $white;
}

.cta--list,
.ext--list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $gray-lightest;
  margin-bottom: $space-five;

  a {
    display: block;
    color: $c-blue-link;
    text-decoration: none;
    font-family: $font-helvetica-neue-medium;
    padding: $space-two 0;
    border-bottom: 1px solid $gray-lightest;
    background-image: url('../images/cta-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 14px 10px;
    padding-right: 20px;
  }
}

.cta--list {
  a {
    transition: $transition-time cubic-bezier(0.33,0.66,0.66,1) background-color,
                $transition-time cubic-bezier(0.33,0.66,0.66,1) background-position;
    background-position: 97% center;

    &:hover,
    &:focus {
      // declaring each background property separately on purpose,
      // all inclusive background shorthand can accidentally overwrite images set as backgrounds.
      background-image: url('../images/cta-arrow.svg');
      background-size: 14px 10px;
      background-repeat: no-repeat;
      background-position: 98% center;
      background-color: $c-blue-link-rollover;
    }
  }
}

.ext--list {
  a {
    background-image: url('../images/ext-link.svg');
    background-size: 20px;
  }
}

.no-bullets,
.no-bullets ul,
.inline--list,
.line--list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: $space-five;
}

.inline--list {
  li {
    display: inline-block;
    margin-right: $space-three;
  }
}

.line--list {
  li {
    border-bottom: 1px solid $c-gray-lighter;
    margin-bottom: $space-four;
  }
}

// Image Styles
img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.field-image-caption,
figcaption {
  font-size: $font-size-xsm;
  color: $gray-blue;
  padding-top: $space-double;
  font-family: $font-helvetica-neue-roman;
  font-weight: 500;
  line-height: 1.6em;

  p {
    margin: 0;
  }
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

iframe {
  border: none;
}

hr {
  border: 1px solid $c-gray-lighter;
  margin-bottom: $space-four;
  margin-bottom: $space-four;
}

ul {
  padding-left: 15px;
}

strong, b {
  font-family: $font-helvetica-neue-medium;
  font-weight: normal;
}

// Global Content Styles
.submitted {
  color: $c-gray;
  font-size: 13px;
}

.clearfix {
  @include clearfix;
}

.svgsprite {
  display: none;
}

// Some layout
.main,
.footer,
.universal-header,
.footer-bottom,
.breadcrumb {
  @include wrapper;

  margin-bottom: $space-ten;
}

.main {
  margin-bottom: 0;
  background: transparent;
}

// Misc.
.far {
  font-family: 'Font Awesome 5 Free';
}

.no-js img.lazyload {
  display: none;
}

.node--unpublished {
  .article-header,
  .page_narrow,
  .tags-menu-region,
  .article-feature-banner .article-header,
  .article-twocol-banner .article-header,
  .author-page-wrapper::before,
  .author-page-wrapper,
  .main-content,
  .full-width-page-banner__header,
  .narrow-page-header,
  .narrow-page-header h1,
  .narrow-page-header__subheading,
  .news-center-banner,
  .news-package-header,
  .news-package-banner-bk-bottom,
  .news-package-banner-bk {
    background: $c-unpublished !important;
  }

  .main-content.narrow-page {
    background: transparent !important;
  }

  &:before {
    content: "This content is currently unpublished";
    display: block;
    margin-bottom: 25px;
    @include fs-heading-three;
  }
}

.fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
}

// WISEPOP QUICK
@include breakpoint($new-small-max) {
	.wisepops-root {
    #wisepops-container-197460 {
  		.izrLrf {
  			height: auto;
  		}

  		.hAliLa, .jvexCc {
  			max-width: 100%;
  		}

      .gPPtAz {
        display: block;
      }

  		.hWoFRQ {
  			display: none;
  		}
  	}
  }
}
