@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Your custom CSS fixes goe here

  .header .menu--main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    //using this to ensure this stylesheet is getting used.
    border: 1px dashed #95fdff;
  }

}