.universal-header-region {
  //@include clearfix;
  //@include fs-universal-header;
  background: #052049;
}

body {
  background: #f2f4f6;
}
.universal-header {
  //@include grid-two;

  margin-bottom: 0;
  max-width: 1320px;
  padding: 0 20px;
  vertical-align: middle;

  .universal-header__title {
    margin: 0;
    padding: 1rem 0;


  }
}
.header-region {
  background: #fff;
  -webkit-box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.02);
  box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.02);
  position: relative;
}

.emergency-alert {
  color: #fff;
  padding: 40px 0 8px 0;
}

.emergency-alert.background-yellow {
  color: #052049;
  background-color: #fd0;
}