.footer__copyright {
  padding: 0 10px;
  text-align: center;

  @include breakpoint($medium-screen) {
    padding: 0;
    text-align: left;
  }
}

.footer__copyright,
.footer__container {
  z-index: z(footer);
  position: relative;
}

.footer__copyright--container {
  ul {
    padding-left: 0;

    li {
      display: inline-block;

      @include fs-footer-body;

      a {
        @include fs-footer-body;
      }
    }
  }
}

.footer--center {

  .footer-text--left {
    @include breakpoint($tiny-screen, $bp-narrow) {
      width: 50%;
    }
  }

  .footer-text--left,
  .footer-text--right {
    display: inline-block;
    vertical-align: top;

    h3 {
      font-family: $ff-sans;
      color: $c-white;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 3px;
    }

    p {
      @include fs-footer-body;

      @include breakpoint($bp-narrow) {
        max-width: 190px;
      }
    }

    a {
      @include fs-cta-white;
    }
  }

  .footer-text--left {
    @include breakpoint($bp-narrow) {
      padding-left: 80px;
      margin-right: 80px;
    }
  }
}

.footer__container {
  padding-top: 10px;

  @include breakpoint($bp-narrow) {
    padding: 20px 0 0 0;
  }

  @include breakpoint($bp-narrow) {
    padding: 42px 0 0 0;
  }

  .footer--right {
    .block {
      ul {
        padding-left: 0;

        @include ul-item-list-reset;

        li a {
          @include fs-cta-white;
        }
      }
    }
  }

  .footer--center,
  .footer--right {
    border-bottom: 1px solid #333;

    @include breakpoint($bp-narrow) {
      border-bottom: 0;
    }
  }

  .footer--left {
    @include breakpoint($bp-narrow) {
      position: relative;
      left: 30px;
    }
  }

  .footer--left,
  .footer--center,
  .footer--right {
    padding: 10px;

    @include breakpoint($bp-narrow) {
      padding: 0;
    }
  }

  @include breakpoint($bp-narrow) {
    .footer--left {
      width: susy-span(3 wide of 12 wide);
      float: left;
      min-height: 10px;
    }

    .footer--center {
      width: susy-span(7 wide of 12 wide);
      float: left;
    }

    .footer--right {
      width: susy-span(2 wide of 12 wide);
      float: right;
    }
  }
}

.ohm-advisors-logo {
  background: url('../../images/footer/ohm_advisors_logo.svg') no-repeat;
  background-position-y: top;
  -ms-background-position-x: center;
  background-position-x: center;
  margin-bottom: 30px;
  margin-top: 10px;
  min-height: 25px;
  width: 100%;
  display: block;

  @include breakpoint($bp-narrow) {
    -ms-background-position-x: left;
    background-position-x: left;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.background-diagonal-svg {
  top: 0;

  @include breakpoint(max-width $bp-narrow) {
    left: 30%;
  }
}

@import "social";
