.header {
  @include clearfix;

  ul {
    @include ul-menu;
  }

  a {
    @include link-colors($c-textgrey);
  }

  // Expanded Mobile Nav
  .is-open--mobile-nav & {
    background: #fff;
    color: $c-textgrey;

    a {
      @include link-colors($c-textgrey);
    }
  }

  .block {
    float: left;

    @include breakpoint($bp-mobile-screen-only) {
      float: none;
    }
  }
}
