// Icon SVG styles
//
// Documentation about Sass functions https://sass-lang.com/documentation/at-rules/control
// Documentation about Sass Placeholder Selectors https://sass-lang.com/documentation/style-rules/placeholder-selectors
// Testing how Sass will compile to css https://www.sassmeister.com
//
// Variables and placeholders used
// @param $icon-styles - a sass list of icon styles.
// @param #{$item} - current item from $icon-styles iterated over by the @each loop
// @param %icon - placeholder for .icon-#{$item}

$icon-styles: awards, caduceus, campus, comprehensive, directions,
              doctor, education, heart, hospital, media,
              microscope, money, patient-care, research, support,
              transit;

// Common properties that all icons will share.
%icon {
  content: ' ';
  background: url(/themes/custom/ucsf/assets/images/card/education.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
  height: $space-six;
  width: $space-six;

  &:hover {
    text-decoration: underline;
  }
}

// Creates a comma separated list of classes
@each $item in $icon-styles {
  .icon-#{$item} {
    @extend %icon;
  }
}

@each $item in $icon-styles {
  .icon-#{$item} {
    // if .icon-research uses microscope svg.
    @if $item == research {
      background: url(/themes/custom/ucsf/assets/images/card/microscope.svg) left center no-repeat transparent;
    }
    // For other icons generates current item's svg name from the list of icon styles
    @else {
      background: url(/themes/custom/ucsf/assets/images/card/#{$item}.svg) left center no-repeat transparent;
    }
  }
}

// Compiles to a list of comma separated selectors for link with a class - a.icon-awards, a.icon-campus, ...
a%icon {
  content: ' ';
  background-size: $space-four $space-four;
  height: auto;
  width: auto;
  padding-left: $space-five;
  display: inline-block;
  @include transition;

  &:hover {
    padding-left: $space-six;
  }
}

@each $item in $icon-styles {
  // if a.icon-research uses microscope svg.
  @if $item == research {
    a.icon-#{$item} {
      background: url(/themes/custom/ucsf/assets/images/card/microscope.svg) left center no-repeat transparent;
    }
  }

  @else {
    // For other icons generates current item's svg name from the list of icon styles
    a.icon-#{$item} {
      background: url(/themes/custom/ucsf/assets/images/card/#{$item}.svg) left center no-repeat transparent;

    }
  }

  // Screen size up to 850px
  .field-ankle-cta {
    a.icon-#{$item} {
      background-position: .5em center;
      padding-left: $space-six;
      background-size: $space-four $space-four;

      // Screen size starting at 850px
      @include breakpoint($bp-large) {
        background-position: left center;
        padding-left: $space-five;
      }

      &:hover {
        background-image: url(/themes/custom/ucsf/assets/images/card/#{$item}-reverse.svg);

      // Screen size starting at 850px
        @include breakpoint($bp-large) {
          background-image: url(/themes/custom/ucsf/assets/images/card/#{$item}.svg);
          padding-left: $space-six;
        }
      }
    }
  }
}

// Only rules that are common for all
[data-primary-area],
[data-primary-area="pa-about"],
[data-primary-area="pa-campus-news"],
[data-primary-area="pa-announcements"],
[data-primary-area="pa-happenings"],
[data-primary-area="pa-honors-awards"],
[data-primary-area="pa-spotlight"],
[data-primary-area="pa-education"],
[data-primary-area="pa-patient-care"],
[data-primary-area="pa-research"],
[data-primary-area="pa-locations"],
[data-primary-area="pa-news-center"],
[data-primary-area="pa-ucsf-magazine"],
// media-coverage card is used on ucsf.edu/topic/covid-19
.news-card--media-coverage,
.news-card--magazine-article {
  figure {
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: $space-six $space-six;
  }
}

[data-primary-area] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/ucsf-reverse.svg);
    background-color: $navy;
  }
}

[data-primary-area="pa-campus-news"],
[data-primary-area="pa-announcements"],
[data-primary-area="pa-happenings"],
[data-primary-area="pa-honors-awards"],
[data-primary-area="pa-spotlight"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/campus-reverse.svg);
    background-color: $navy;
  }
}

[data-primary-area="pa-education"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/education-reverse.svg);
    background-color: $print-green;
  }
}

[data-primary-area="pa-patient-care"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/doctor-reverse.svg);
    background-color: $blue;
  }
}

[data-primary-area="pa-research"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/microscope-reverse.svg);
    background-color: $teal;
  }
}

[data-primary-area="pa-ucsf-magazine"],
// media-coverage card is used on ucsf.edu/topic/covid-19
.news-card--media-coverage,
.news-card--magazine-article {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/media-reverse.svg);
    background-color: $c-purple;
  }
}

.icon-external-link {
  padding-right: 30px;
  background: url(/themes/custom/ucsf/assets/images/ext-link-gray.svg) right center no-repeat transparent;
  background-size: 20px;
}
