.icon-education,
.icon-doctor,
.icon-campus,
.icon-money,
.icon-awards,
.icon-support,
.icon-caduceus,
.icon-heart,
.icon-comprehensive,
.icon-media,
.icon-microscope,
.icon-research,
.icon-directions,
.icon-transit,
.icon-patient-care,
.icon-hospital {
  content: ' ';
  background: url(/themes/custom/ucsf/assets/images/card/education.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
  height: $space-six;
  width: $space-six;
  &:hover {
    text-decoration: underline;
  }
}

.icon-media {
  background: url(/themes/custom/ucsf/assets/images/card/media.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-doctor {
  background-image: url(/themes/custom/ucsf/assets/images/card/doctor.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-campus {
  background: url(/themes/custom/ucsf/assets/images/card/campus.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-money {
  background: url(/themes/custom/ucsf/assets/images/card/money.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-awards {
  background: url(/themes/custom/ucsf/assets/images/card/awards.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-support {
  background: url(/themes/custom/ucsf/assets/images/card/support.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-caduceus {
  background: url(/themes/custom/ucsf/assets/images/card/caduceus.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-heart {
  background: url(/themes/custom/ucsf/assets/images/card/heart.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-comprehensive {
  background: url(/themes/custom/ucsf/assets/images/card/comprehensive.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-microscope,
.icon-research {
  background: url(/themes/custom/ucsf/assets/images/card/microscope.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-directions {
  background: url(/themes/custom/ucsf/assets/images/card/directions.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-transit {
  background: url(/themes/custom/ucsf/assets/images/card/transit.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-patient-care {
  background: url(/themes/custom/ucsf/assets/images/card/patient-care.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

.icon-hospital {
  background: url(/themes/custom/ucsf/assets/images/card/hospital.svg) left center no-repeat transparent;
  background-size: $space-six $space-six;
}

a {
  &.icon-education,
  &.icon-doctor,
  &.icon-campus,
  &.icon-money,
  &.icon-awards,
  &.icon-support,
  &.icon-caduceus,
  &.icon-heart,
  &.icon-comprehensive,
  &.icon-media,
  &.icon-microscope,
  &.icon-directions,
  &.icon-transit,
  &.icon-patient-care,
  &.icon-hospital {
    content: ' ';
    background-size: $space-four $space-four;
    height: auto;
    width: auto;
    padding-left: $space-five;
    display: inline-block;
    background: url(/themes/custom/ucsf/assets/images/card/education.svg) left center no-repeat transparent;
    @include transition;

    &:hover {
      background: url(/themes/custom/ucsf/assets/images/card/education.svg) left center no-repeat transparent;
      padding-left: $space-six;
    }
  }
}

a.icon-media,
a.icon-media:hover {
  background: url(/themes/custom/ucsf/assets/images/card/media.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-doctor,
a.icon-doctor:hover {
  background: url(/themes/custom/ucsf/assets/images/card/doctor.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-campus,
a.icon-campus:hover {
  background: url(/themes/custom/ucsf/assets/images/card/campus.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-money,
a.icon-money:hover {
  background: url(/themes/custom/ucsf/assets/images/card/money.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-awards,
a.icon-awards:hover {
  background: url(/themes/custom/ucsf/assets/images/card/awards.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-support,
a.icon-support:hover {
  background: url(/themes/custom/ucsf/assets/images/card/support.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-caduceus,
a.icon-caduceus:hover {
  background: url(/themes/custom/ucsf/assets/images/card/caduceus.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-heart,
a.icon-heart:hover {
  background: url(/themes/custom/ucsf/assets/images/card/heart.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-comprehensive,
a.icon-comprehensive:hover {
  background: url(/themes/custom/ucsf/assets/images/card/comprehensive.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-microscope,
a.icon-microscope:hover {
  background: url(/themes/custom/ucsf/assets/images/card/microscope.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-directions,
a.icon-directions:hover {
  background: url(/themes/custom/ucsf/assets/images/card/directions.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-transit,
a.icon-transit:hover {
  background: url(/themes/custom/ucsf/assets/images/card/transit.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-patient-care,
a.icon-patient-care:hover {
  background: url(/themes/custom/ucsf/assets/images/card/patient-care.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

a.icon-hospital,
a.icon-hospital:hover {
  background: url(/themes/custom/ucsf/assets/images/card/hospital.svg) left center no-repeat transparent;
  background-size: $space-four $space-four;
}

[data-primary-area="pa-about"],
[data-primary-area="pa-campus-news"],
[data-primary-area="pa-announcements"],
[data-primary-area="pa-happenings"],
[data-primary-area="pa-honors-awards"],
[data-primary-area="pa-spotlight"],
[data-primary-area="pa-education"],
[data-primary-area="pa-patient-care"],
[data-primary-area="pa-research"],
[data-primary-area="pa-locations"],
[data-primary-area="pa-news-center"] {
  figure {
    background: url(/themes/custom/ucsf/assets/images/card/support-reverse.svg) center no-repeat $c-purple;
    background-size: $space-six $space-six;
    background-position: 50% 35%;
  }
}

[data-primary-area="pa-campus-news"],
[data-primary-area="pa-announcements"],
[data-primary-area="pa-happenings"],
[data-primary-area="pa-honors-awards"],
[data-primary-area="pa-spotlight"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/campus-reverse.svg);
    background-color: $navy;
    background-size: $space-six $space-six;
  }
}

[data-primary-area="pa-education"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/education-reverse.svg);
    background-color: $print-green;
    background-size: $space-six $space-six;
  }
}

[data-primary-area="pa-patient-care"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/doctor-reverse.svg);
    background-color: $blue;
    background-size: $space-six $space-six;
  }
}

[data-primary-area="pa-research"] {
  figure {
    background-image: url(/themes/custom/ucsf/assets/images/card/microscope-reverse.svg);
    background-color: $teal left center no-repeat transparent;
    background-size: $space-six $space-six;
  }
}
