.vertical-tab {
  grid-column: 1/-1;
  clear: both;

  .vertical-tab__title {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 50px;

    li {
      list-style-type: none;
      margin: auto 0;
      outline: 0;
      text-decoration: none;

      a {
        background-color: $white;
        padding: $space-two $space-four;
        cursor: pointer;
        display: block;
        border-bottom: 1px solid $gray-lightest;
        text-decoration: none;
        font-family: $font-helvetica-neue-medium;

        &:focus {
          outline: none;
        }
      }

      &[aria-selected="true"] a {
        @include background-image('vertical-tab-highlight.png', left center, $white);
        color: $c-blue-link;
        border-top: 0;
        border-bottom: 0;
        position: relative;
        background-size: 100% 100%;
        min-height: $space-eight;
        margin-right: -50px;
        margin-top: -1px;
        padding-bottom: $space-three;
      }
    }

    li:first-child {
      &[aria-selected="true"] a {
        margin-top: 0;
      }
    }

    li:last-child {
      a {
        border-bottom-left-radius: 0;
      }
    }
  }

  .cta-list, .ext-list { // PL: .vertical-tab__content
    background-color: $white;
    min-height: 15em;
    padding-top: 0;
  }
}

.vertical-tab-alt {
  padding-right: 0;
  clear: both;

  &.layout-left-30-70 {
    padding-right: 0;

    .field-column-30 {
      padding-right: $space-fifteen;
      width: 38%;
    }

    .field-column-70 {
      padding: 56px 80px;
      padding-bottom: 56px;
      padding-bottom: 0;
      background: #f2f4f6;
      width: 62%;
      min-height: 42em;
    }
  }

  .vertical-tab__title { // PL: .vertical-tab__title
    padding-right: $space-fifteen;
    width: 38%;

    li {
      border-bottom: 1px solid $gray-lightest;

      a {
        @include fs-heading-two;

        padding: $space-four 0;
        border-bottom: none;
        display: block;
        font-size: 40px !important;
      }

      h2 {
        margin: 0;
        padding: 0;
      }

      &[aria-selected="true"] a {
        @include background-image('vertical-tab-highlight-alt.png', right center, $white);
        color: $c-blue-link;
        border-top: 0;
        position: relative;
        margin-right: -$space-fifteen;
        padding-right: $space-fifteen;
        margin-top: 0;
        display: block;
      }
    }
  }

  &.layout-left-30-70 {

    .field-tab-content {
      padding-right: $space-fourteen;
      padding-bottom: $space-five;
      margin-bottom: $space-six !important;
      height: 452px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: $c-gray-lighter;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $c-gray-blue;
        border-radius: 5px;

        &:hover {
          background-color: $c-blue;
        }
      }
    }
  }

  .field-tab-content {
    list-style: none;
    margin: 0;
    padding: 0;

    .line--list {
      p {
        margin-top: 0;
        font-family: $font-helvetica-neue-medium;

        a {
          color: $c-navy;

          &:hover {
            color: $c-blue-link;
          }
        }
      }
    }
  }

  .field-tab-unscrollable-content {
    :first-child {
      margin-top: 0;
    }
  }
}

.ui-accordion {
  > h3 {
   @include fs-small-title;
    padding: 20px;
    padding-right: 70px;
    margin: 0;
    border-bottom: 1px solid $c-gray-lighter;

    &:first-child {
      border-top: 1px solid $c-gray-lighter;
    }

    &.ui-accordion-header-collapsed {
      background: url('../images/accordion-button-open.png') right center no-repeat transparent;
      background-size: 60px 40px;
    }

    &.ui-accordion-header-active {
      background: url('../images/accordion-button-close.png') right center no-repeat transparent;
      background-size: 60px 40px;
      border-bottom: none;
      color: $c-blue-link;
      box-shadow: -4px 6px 11px 0 rgba(213, 217, 222, 0.35);
    }

    .vertical-tab-alt & {
      background-color: #f2f4f6;
      font-family: $font-granjon;
      font-size: 28px;
      line-height: 1.14;
      letter-spacing: -0.7px;
    }
  }

  &.ui-helper-reset * { //have to overwrite this from core
    line-height: 32px;
  }
}

.ui-accordion-content {
  padding: 30px 20px;
  height: auto !important;
  border-bottom: 1px solid $c-gray-lighter;

  .vertical-tab-alt & {
    background: #f2f4f6;
  }

  .field-tab-content {
    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
