.icon-home {
  content: ' ';
  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 48px 48px;
  height: 10px;
  width: 10px; }

.icon-home {
  background-image: url(/themes/custom/ucsf_mag/assets/images/home.svg); }

.accordion-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #121a31;
  border-right: 2px solid #121a31;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }
  .mag-menu__item--active .accordion-arrow {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.nav-toggle {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 25px;
  max-width: 25px;
  width: 25px;
  height: auto;
  background-color: transparent;
  border: 0;
  outline: 1px solid transparent; }
  @media (min-width: 850px) {
    .nav-toggle {
      min-width: 48px;
      max-width: 48px;
      width: 48px;
      height: 50px; } }
  .nav-toggle__icon {
    display: block;
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #0071ad;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    margin: 0;
    text-indent: 300%; }
    @media (min-width: 850px) {
      .nav-toggle__icon {
        width: 48px;
        height: 3px; } }
    .nav-toggle__icon::before, .nav-toggle__icon::after {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      background-color: #0071ad;
      outline: 1px solid transparent;
      -webkit-transition-property: background-color,-webkit-transform;
      transition-property: background-color,-webkit-transform;
      transition-property: background-color,transform;
      transition-property: background-color,transform,-webkit-transform;
      -webkit-transition-duration: .3s;
              transition-duration: .3s; }
      @media (min-width: 850px) {
        .nav-toggle__icon::before, .nav-toggle__icon::after {
          width: 48px;
          height: 3px; } }
    .nav-toggle__icon::before {
      top: -7px; }
      @media (min-width: 850px) {
        .nav-toggle__icon::before {
          top: -14px; } }
    .nav-toggle__icon::after {
      top: 7px; }
      @media (min-width: 850px) {
        .nav-toggle__icon::after {
          top: 14px; } }
    .nav-toggle--active .nav-toggle__icon {
      background-color: transparent; }
      .nav-toggle--active .nav-toggle__icon::before {
        -webkit-transform: translateY(7px) rotate(45deg);
                transform: translateY(7px) rotate(45deg); }
        @media (min-width: 850px) {
          .nav-toggle--active .nav-toggle__icon::before {
            -webkit-transform: translateY(14px) rotate(45deg);
                    transform: translateY(14px) rotate(45deg); } }
      .nav-toggle--active .nav-toggle__icon::after {
        -webkit-transform: translateY(-7px) rotate(-45deg);
                transform: translateY(-7px) rotate(-45deg); }
        @media (min-width: 850px) {
          .nav-toggle--active .nav-toggle__icon::after {
            -webkit-transform: translateY(-14px) rotate(-45deg);
                    transform: translateY(-14px) rotate(-45deg); } }

.subnav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent; }
  .subnav-toggle:hover .accordion-arrow {
    border-top-color: #0071ad;
    border-right-color: #0071ad; }
  .subnav-toggle__icon {
    margin-left: auto; }
  @media (min-width: 970px) {
    .subnav-toggle {
      display: none; } }

.subscribe-form {
  clear: both;
  padding-bottom: 40px; }
  @media (min-width: 850px) {
    .subscribe-form {
      grid-column: 4; } }
  @media (min-width: 850px) {
    .subscribe-form .subscribe-form__title {
      font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: -0.8px;
      text-transform: none;
      margin-top: -0.4rem; } }
  @media (min-width: 1050px) {
    .subscribe-form .subscribe-form__title {
      font-size: 36px;
      margin-top: -0.54rem; } }
  .subscribe-form .subscribe-form__title span {
    display: none; }
    @media (min-width: 850px) {
      .subscribe-form .subscribe-form__title span {
        display: inline; } }

.email-subscribe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #9ba6b6; }
  @media (min-width: 850px) {
    .email-subscribe {
      border-bottom: none; } }
  .email-subscribe .email-subscribe__input {
    border: 0;
    height: 3.75rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    @media (min-width: 850px) {
      .email-subscribe .email-subscribe__input {
        background-color: #fff;
        color: #121a31;
        height: 3.75rem;
        padding: 9px 17px; } }
  .email-subscribe__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border: 0;
    border-radius: 0;
    color: #fff;
    min-height: 3rem;
    padding-right: 8px; }
    @media (min-width: 850px) {
      .email-subscribe__submit {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #007cbe;
        min-height: 3.75rem;
        padding-right: 1.5em; } }
    .email-subscribe__submit:hover {
      background-color: transparent; }
      @media (min-width: 850px) {
        .email-subscribe__submit:hover {
          background-color: #0071ad; } }
      .email-subscribe__submit:hover::after {
        -webkit-transform: translateX(16px);
                transform: translateX(16px); }
    .email-subscribe__submit::after {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 0 center;
      width: .87rem;
      height: .87rem;
      background-image: url("../images/cta-arrow-white.svg");
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform, 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform; }
      @media (min-width: 850px) {
        .email-subscribe__submit::after {
          display: none; } }

.mag-menu {
  display: none;
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f2f4f6; }
  @media (min-width: 970px) {
    .mag-menu {
      padding-bottom: 3rem; } }
  @media (min-width: 1280px) {
    .mag-menu {
      left: 50%;
      margin-left: -50vw;
      width: 100vw; } }
  .mag-menu ul {
    list-style: none; }
  .mag-nav--active .mag-menu {
    display: block;
    visibility: visible;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 1px 0px #0003;
            box-shadow: 0px 1px 1px 0px #0003; }
  .mag-menu__menu {
    display: grid;
    grid-template-areas: "latest" "features" "insights" "voices" "allissues" "trending" "collections";
    position: relative;
    margin-bottom: 0;
    margin-top: 1.2rem;
    padding: 0 20px;
    background-color: #f2f4f6;
    z-index: 1; }
    @media (min-width: 600px) {
      .mag-menu__menu {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, -webkit-min-content) auto auto;
        grid-template-rows: repeat(3, min-content) auto auto;
        grid-template-areas: "latest   allissues" "features allissues" "insights allissues" "voices allissues" "trending trending" "collections collections"; } }
    @media (min-width: 970px) {
      .mag-menu__menu {
        grid-template-columns: 25.5% 2rem repeat(4, 1fr);
        grid-template-rows: -webkit-min-content auto auto;
        grid-template-rows: min-content auto auto;
        grid-template-areas: "latest . features insights voices allissues" "trending . features insights voices allissues" "collections . features insights voices allissues";
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem; } }
    @media (min-width: 1280px) {
      .mag-menu__menu {
        max-width: 1440px;
        padding: 0 80px 0 86px;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      .mag-menu__menu {
        padding-left: 80px; } }
  .mag-menu__item {
    margin-bottom: 1rem; }
    .mag-menu__item--latest {
      grid-area: latest; }
    .mag-menu__item--features {
      grid-area: features; }
    .mag-menu__item--insights {
      grid-area: insights; }
    .mag-menu__item--voices {
      grid-area: voices; }
    .mag-menu__item--allissues {
      grid-area: allissues; }
    .mag-menu__item--trending {
      grid-area: trending; }
    .mag-menu__item--collections {
      grid-area: collections; }
    .mag-menu__item--allissues {
      margin-bottom: 2rem; }
    .mag-menu__item--featured {
      margin-bottom: 0; }
      .mag-menu__item--featured::after {
        content: "";
        display: block;
        border-bottom: 1px solid #d5d9de;
        -webkit-transition: width 1s ease-in-out width;
        transition: width 1s ease-in-out width; }
    .mag-menu__item--trending {
      border-top: 1px solid #d5d9de; }
    @media (min-width: 970px) {
      .mag-menu__item--collections::after {
        border-bottom: none; } }
  .mag-menu__item:nth-child(2) {
    position: relative; }
    @media (min-width: 970px) {
      .mag-menu__item:nth-child(2)::before {
        content: "";
        display: block;
        position: absolute;
        height: auto;
        width: 1px;
        border-left: 1px solid #d5d9de;
        top: 1rem;
        bottom: 0;
        left: -3rem; } }
    @media (min-width: 1440px) {
      .mag-menu__item:nth-child(2)::before {
        top: -90px; } }
  @media (min-width: 600px) {
    .mag-menu__item:nth-child(4) {
      margin-bottom: 4rem; } }
  @media (min-width: 970px) {
    .mag-menu__item:nth-child(4) {
      margin-bottom: 0; } }
  @media (min-width: 600px) {
    .mag-menu__item:nth-child(5) {
      position: relative;
      margin-left: 2rem; } }
  @media (min-width: 970px) {
    .mag-menu__item:nth-child(5) {
      margin-left: 0; } }
  @media (min-width: 600px) {
    .mag-menu__item:nth-child(5)::before {
      content: "";
      display: block;
      position: absolute;
      height: auto;
      width: 1px;
      border-left: 1px solid #d5d9de;
      top: 1rem;
      bottom: 0;
      left: -2rem; } }
  @media (min-width: 970px) {
    .mag-menu__item:nth-child(5)::before {
      display: none; } }
  .mag-menu__no-link + .mag-submenu {
    margin-top: .5rem; }
  .mag-menu__link {
    line-height: 32px;
    width: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .mag-menu .mag-menu__link {
      color: #121a31; }
    .mag-menu__link:hover {
      text-decoration: underline; }
    .mag-menu__link--alt {
      font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      letter-spacing: 1.6px;
      line-height: 1.4em;
      color: #121a31;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: .3rem;
      margin: 0;
      line-height: 48px; }
      .mag-menu__link--alt:hover {
        color: #0071ad; }
        .mag-menu__link--alt:hover .icon-home {
          -webkit-filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%);
                  filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%); }
      @media (min-width: 970px) {
        .mag-menu__item--latest .mag-menu__link--alt {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start; } }
    .mag-menu__link.ext {
      display: inline-block; }
  .mag-menu__no-link {
    position: relative;
    font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    color: #121a31;
    margin-bottom: 0;
    line-height: 66px; }
    @media (max-width: 970px) {
      .mag-menu__no-link:hover {
        color: #0071ad; } }
  .mag-menu .icon-home {
    background-size: 1.5rem;
    width: 1.375rem;
    height: 1.375rem;
    margin-left: .5rem; }
    @media (min-width: 970px) {
      .mag-menu .icon-home {
        margin-left: 0;
        margin-right: .5rem; } }
    @media (min-width: 1280px) {
      .mag-menu .icon-home {
        position: absolute;
        margin-left: -2.3rem; } }

.mag-nav .slicknav_btn {
  position: relative;
  float: left; }

.menu-item--expanded .mag-menu__no-link::after {
  width: 0%; }
  @media (min-width: 970px) {
    .menu-item--expanded .mag-menu__no-link::after {
      width: 100%; } }

.mag-menu__link--alt .ext {
  background-size: 15px;
  width: 15px;
  height: 15px; }

.mag-menu__link--alt:hover .ext {
  background-size: 15px; }

.mag-submenu__link .ext {
  background-size: 12px;
  width: 12px;
  height: 12px; }

.mag-submenu__link:hover .ext {
  background-size: 12px;
  background-image: url("/themes/custom/ucsf/assets/images/external-link.svg"); }

@media (min-width: 600px) {
  .mag-nav__ucsf-news .ext {
    display: block;
    width: 1rem;
    height: auto; } }

@media (min-width: 850px) {
  .mag-nav__ucsf-news .ext {
    width: 10px;
    background-size: 14px 14px;
    margin-left: .5rem;
    padding-right: 20px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); } }

@media (min-width: 850px) {
  .mag-nav__ucsf .mag-nav__ucsf-news:hover .ext {
    background-size: 14px 14px; } }

.mag-nav__ucsf-news--menu .ext {
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: 25px 25px;
  padding-right: 45px;
  -ms-flex-item-align: center;
      align-self: center; }
  @media (min-width: 970px) {
    .mag-nav__ucsf-news--menu .ext {
      width: 14px;
      height: 14px;
      background-size: 14px;
      padding-right: 25px; } }

.mag-nav__ucsf-news--menu:hover .ext {
  -webkit-filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%);
  width: 2rem;
  height: 2rem;
  background-size: 25px 25px; }
  @media (min-width: 970px) {
    .mag-nav__ucsf-news--menu:hover .ext {
      width: 14px;
      height: 14px;
      background-size: 14px;
      padding-right: 25px; } }

.mag-nav__ucsf-news--menu {
  font-size: 1.125rem;
  font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  line-height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 970px) {
    .mag-nav__ucsf-news--menu {
      font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      letter-spacing: 1.6px;
      line-height: 1.4em;
      color: #121a31;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      float: right; } }
  @media (min-width: 970px) {
    .mag-nav__ucsf-news--menu:hover {
      text-decoration: underline; } }
  .mag-menu__menu .mag-nav__ucsf-news--menu {
    color: #121a31; }
    .mag-menu__menu .mag-nav__ucsf-news--menu:hover {
      color: #0071ad; }

.mag-nav__ucsf-give--menu {
  display: block;
  position: relative;
  width: calc(100% + (20px * 2));
  margin-left: -20px;
 }
  @media (min-width: 850px) {
    .mag-nav__ucsf-give--menu {
      display: block; } }
  @media (min-width: 970px) {
    .mag-nav__ucsf-give--menu {
      display: none; } }
  .mag-nav__ucsf-give--menu .universal-header__give {
    padding-left: 20px;
    padding-right: 20px; }
    .mag-nav__ucsf .mag-nav__ucsf-give--menu .universal-header__give {
      background-position-x: calc(100% - 15px);
      background-size: 38px; }
    @media (min-width: 850px) {
      .mag-nav__ucsf-give--menu .universal-header__give {
        width: calc(100% + (20px * 2));
        float: none;
        color: #fff;
        width: 100%;
        text-align: left;
        font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
        background: url(/themes/custom/ucsf/assets/images/card/heart-reverse.svg) center no-repeat #007cbe;
        background-size: 38px;
        background-position-x: calc(100% - 15px); } }
    @media (min-width: 970px) {
      .mag-nav__ucsf-give--menu .universal-header__give {
        display: none; } }

.mag-submenu__menu {
  padding: 0; }

.mag-submenu__link {
  font-family: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9rem; }
  .mag-submenu .mag-submenu__link {
    color: #344160; }

.mag-menu__item--collections .mag-submenu,
.mag-menu__item--trending .mag-submenu {
  display: none;
  visibility: hidden; }
  @media (min-width: 970px) {
    .mag-menu__item--collections .mag-submenu,
    .mag-menu__item--trending .mag-submenu {
      display: block;
      visibility: visible; } }

.mag-menu__item--active .mag-submenu {
  display: block;
  visibility: visible; }

.latest-issue {
  display: block;
  padding-bottom: 0; }
  .latest-issue__img {
    margin-top: 24px;
    margin-bottom: 13px; }

[block="block-ucsf-mag-main-menu"] {
  display: none; }

.mag-nav {
  height: auto;
  padding: 0; }
  .mag-nav__navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -ms-flex-line-pack: center;
        align-content: center;
    height: 50px;
    padding-top: 11px;
    padding-bottom: 12px; }
    @media (min-width: 600px) {
      .mag-nav__navbar {
        height: 72px; } }
    @media (min-width: 850px) {
      .mag-nav__navbar {
        height: 112px; } }
    @media (min-width: 1280px) {
      .mag-nav__navbar {
        max-width: 1440px;
        padding-right: 80px;
        padding-left: 80px;
        margin: 0 auto; } }
  .mag-nav .nav-toggle {
    left: 0; }
    .mag-nav .nav-toggle--active {
      left: -3px; }
      @media (min-width: 850px) {
        .mag-nav .nav-toggle--active {
          left: -5px; } }
  .mag-nav .header--logo {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center; }
  .mag-nav .logo__img {
    height: auto;
    width: 45vw;
    -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all; }
    @media (min-width: 320px) {
      .mag-nav .logo__img {
        width: auto;
        min-width: 178px; } }
    @media (min-width: 600px) {
      .mag-nav .logo__img {
        min-width: 320px; } }
    @media (min-width: 850px) {
      .mag-nav .logo__img {
        min-width: 438px; }
        .mag-nav--active .mag-nav .logo__img {
          min-width: 338px; } }
  .mag-nav .header--search {
    display: block;
    position: relative;
    justify-self: end; }
  .mag-nav .mobile-search-reveal {
    right: 20px;
    width: 24px;
    background-position: center;
    background-size: 24px;
    max-width: 24px;
    min-width: 24px;
    background-color: transparent;
    background-image: url("/themes/custom/ucsf/assets/images/magnifier.svg");
    overflow: hidden; }
    @media (min-width: 600px) {
      .mag-nav .mobile-search-reveal {
        top: 12px; } }
    @media (min-width: 850px) {
      .mag-nav .mobile-search-reveal {
        top: -16px;
        right: 0;
        background-size: 36px;
        width: 36px;
        height: 36px;
        max-width: 36px;
        min-width: 36px; } }
    .mag-nav .mobile-search-reveal:hover {
      width: 24px;
      background-size: 24px;
      background-color: transparent; }
      @media (min-width: 850px) {
        .mag-nav .mobile-search-reveal:hover {
          width: 36px;
          background-size: 36px; } }
    .mag-nav .mobile-search-reveal.active {
      background-color: transparent; }
      @media (min-width: 600px) {
        .mag-nav .mobile-search-reveal.active {
          top: calc(12px - 1px); } }
      @media (min-width: 850px) {
        .mag-nav .mobile-search-reveal.active {
          top: calc(-16px + 1px);
          width: 36px;
          background-size: 36px; } }
      .mag-nav .mobile-search-reveal.active:hover {
        background-color: transparent; }
        @media (min-width: 850px) {
          .mag-nav .mobile-search-reveal.active:hover {
            width: 36px;
            background-size: 36px; } }
  .mag-nav--active.header-region {
    background-color: #f2f4f6; }
  .mag-nav--active .header--search-active ~ .header-mag-menu {
    top: calc(50px + 162px); }
    @media (min-width: 600px) {
      .mag-nav--active .header--search-active ~ .header-mag-menu {
        top: calc(72px + 162px); } }
    @media (min-width: 850px) {
      .mag-nav--active .header--search-active ~ .header-mag-menu {
        top: 112px; } }
  @media (min-width: 850px) {
    .mag-nav--active .mag-mobile-search-reveal.active {
      z-index: 3;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-name: hide-fade-in;
              animation-name: hide-fade-in;
      right: 0;
      top: -8px;
      background-size: 18px;
      width: 18px;
      height: 18px;
      max-width: 18px;
      min-width: 18px;
      -webkit-filter: brightness(0) saturate(100%) invert(5%) sepia(58%) saturate(2369%) hue-rotate(212deg) brightness(90%) contrast(92%);
              filter: brightness(0) saturate(100%) invert(5%) sepia(58%) saturate(2369%) hue-rotate(212deg) brightness(90%) contrast(92%); }
      .mag-nav--active .mag-mobile-search-reveal.active:hover {
        background-size: 18px;
        width: 18px;
        height: 18px;
        max-width: 18px;
        min-width: 18px;
        -webkit-filter: none;
                filter: none; } }
  @media (min-width: 1280px) {
    .mag-nav--active .mag-mobile-search-reveal.active {
      right: -58px; } }

.mag-nav .header--search .mag-home-search__form.active {
  position: absolute !important;
  top: calc(50px - 10px);
  right: 0;
  width: 100vw; }
  @media (min-width: 600px) {
    .mag-nav .header--search .mag-home-search__form.active {
      top: calc(72px - 10px);
      right: 20px;
      margin-right: -20px; } }
  @media (min-width: 850px) {
    .mag-nav .header--search .mag-home-search__form.active {
      top: calc(112px - 55px);
      width: 650px; } }
  @media (min-width: 1280px) {
    .mag-nav .header--search .mag-home-search__form.active {
      right: -60px; } }

@media (min-width: 850px) {
  .mag-nav--active .header--search .mag-home-search__form.active {
    display: block;
    height: 54px;
    top: -30px;
    right: 0;
    -webkit-animation: none;
            animation: none;
    width: 492px; } }

@media (min-width: 1280px) {
  .mag-nav--active .header--search .mag-home-search__form.active {
    right: -60px; } }

@media (min-width: 850px) {
  .mag-nav--active .header--search .mag-home-search__form.active .search__form {
    border: none; } }

@media (min-width: 850px) {
  .mag-nav--active .header--search .mag-home-search__form.active .fieldset-reset {
    display: none;
    visibility: hidden; } }

.mag-home-search__form-submit {
  position: absolute;
  top: 8px; }
  .mag-home-search__form .mag-home-search__form-submit {
    background-color: transparent; }
    .mag-home-search__form .mag-home-search__form-submit:hover {
      background-color: transparent; }
  @media (min-width: 850px) {
    .mag-nav--active .mag-home-search__form-submit {
      position: absolute;
      margin: 0;
      right: 52px;
      top: 0px;
      background-size: 36px;
      width: 36px;
      max-width: 36px;
      min-width: 36px; } }
  @media (min-width: 1280px) {
    .mag-nav--active .mag-home-search__form-submit {
      top: 5;
      right: 71px; } }
  @media (min-width: 850px) {
    .mag-nav--active .mag-home-search__form-submit:hover {
      background-size: 36px;
      width: 36px;
      max-width: 36px;
      min-width: 36px; } }

.mag-home-search__form-input {
  width: 100%; }
  @media (min-width: 850px) {
    .mag-nav--active .mag-home-search__form-input {
      height: 52px;
      position: absolute;
      width: auto;
      max-width: 0;
      padding-right: 0;
      padding-left: 0; } }
  @media (min-width: 850px) {
    .mag-nav--active .active .mag-home-search__form-input {
      width: auto;
      max-width: 492px;
      padding-right: 165px;
      padding-left: 20px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      top: 5px; } }
  @media (min-width: 1280px) {
    .mag-nav--active .active .mag-home-search__form-input {
      right: 0; } }
  @media (min-width: 850px) {
    .mag-nav--active .active .mag-home-search__form-input#header-search {
      border: 1px solid #DCE0E6; } }

@-webkit-keyframes hide-fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide-fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 850px) {
  .header--logo-minimized .logo__img {
    min-width: 338px; } }

@media (min-width: 850px) {
  .universal-header-mag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center; } }

@media (min-width: 1280px) {
  .universal-header-mag {
    max-width: 1440px;
    padding-right: 0;
    padding-left: 80px; } }

@media (min-width: 600px) {
  .mag-nav__ucsf {
    grid-column: 1 /-1; } }

.mag-nav__ucsf-news {
  -webkit-transition: 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) color;
  transition: 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) color;
  display: none; }
  @media (min-width: 970px) {
    .mag-nav__ucsf-news {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 2rem;
      padding: 8px 0; } }
  @media (min-width: 600px) {
    .universal-header-mag .mag-nav__ucsf .mag-nav__ucsf-news {
      color: #121a31; } }
  @media (min-width: 970px) {
    .universal-header-mag .mag-nav__ucsf .mag-nav__ucsf-news {
      color: white; } }
  .universal-header-mag .mag-nav__ucsf .mag-nav__ucsf-news:hover {
    text-decoration: underline; }

.universal-header-mag > .mag-nav__ucsf {
  display: none; }
  @media (min-width: 970px) {
    .universal-header-mag > .mag-nav__ucsf {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto; } }

.ie-message {
  display: none; }

@media (min-width: 850px) {
  .footer {
    display: grid;
    -webkit-column-gap: 2.5%;
       -moz-column-gap: 2.5%;
            column-gap: 2.5%;
    grid-template-columns: 1fr 1fr 1fr 37%;
    grid-template-rows: 1fr; } }

@media (min-width: 1050px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 23.5rem; } }

@media (min-width: 850px) {
  .footer .logo-follow {
    grid-column: 1; } }

.footer .logo-follow a {
  font-size: 19px; }

.footer .logo-follow .follow-instagram a {
  padding-right: 0; }

.footer-logo__image {
  width: 123px;
  height: 80px; }
  @media (min-width: 850px) {
    .footer-logo__image {
      width: 151px;
      height: 98px; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col1 {
    grid-column: 2; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col2 {
    grid-column: 3; } }

.footer h2::after {
  display: none; }

@media (min-width: 850px) {
  .footer .logo-follow,
  .footer .menu--magazine-footer-col1,
  .footer .menu--magazine-footer-col2 {
    float: none;
    width: auto;
    grid-row: 1; } }

.footer-bottom {
  color: #9ba6b6; }
  .footer-bottom a,
  .footer-bottom a:visited,
  .footer-bottom a:link {
    color: #9ba6b6; }

/*# sourceMappingURL=style.css.map */
