.subscribe-form {
  clear: both;
  padding-bottom: 40px; }
  @media (min-width: 850px) {
    .subscribe-form {
      grid-column: 4; } }
  @media (min-width: 850px) {
    .subscribe-form .subscribe-form__title {
      font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: -0.8px;
      text-transform: none;
      margin-top: -0.4rem; } }
  @media (min-width: 1050px) {
    .subscribe-form .subscribe-form__title {
      font-size: 36px;
      margin-top: -0.54rem; } }
  .subscribe-form .subscribe-form__title span {
    display: none; }
    @media (min-width: 850px) {
      .subscribe-form .subscribe-form__title span {
        display: inline; } }

.email-subscribe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #9ba6b6; }
  @media (min-width: 850px) {
    .email-subscribe {
      border-bottom: none; } }
  .email-subscribe .email-subscribe__input {
    border: 0;
    height: 3.75rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    @media (min-width: 850px) {
      .email-subscribe .email-subscribe__input {
        background-color: #fff;
        color: #121a31;
        height: 3.75rem;
        padding: 9px 17px; } }
  .email-subscribe__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border: 0;
    border-radius: 0;
    color: #fff;
    min-height: 3rem;
    padding-right: 8px; }
    @media (min-width: 850px) {
      .email-subscribe__submit {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #007cbe;
        min-height: 3.75rem;
        padding-right: 1.5em; } }
    .email-subscribe__submit:hover {
      background-color: transparent; }
      @media (min-width: 850px) {
        .email-subscribe__submit:hover {
          background-color: #0071ad; } }
      .email-subscribe__submit:hover::after {
        -webkit-transform: translateX(16px);
                transform: translateX(16px); }
    .email-subscribe__submit::after {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 0 center;
      width: .87rem;
      height: .87rem;
      background-image: url("../images/cta-arrow-white.svg");
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform, 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform; }
      @media (min-width: 850px) {
        .email-subscribe__submit::after {
          display: none; } }

.magazine-nav {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 362px 1fr;
  background-color: #0071AD;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw; }
  .magazine-nav .header--logo {
    position: relative;
    width: 362px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    z-index: 1; }
    .magazine-nav .header--logo .logo__link {
      background-color: #052049;
      position: absolute;
      height: 112px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .magazine-nav__menu {
    grid-row: 1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 362px repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
    justify-items: center; }
    .magazine-nav__menu .menu-item {
      display: inline-block; }
  .magazine-nav__toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase;
    grid-row: 1;
    color: #fff;
    background-color: transparent;
    line-height: 92px;
    border: none;
    margin: 0;
    padding: 0 0 4px 0;
    -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) line-height;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) line-height; }
    .magazine-nav__toggle::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
    .magazine-nav__toggle::after {
      display: none; }
    .magazine-nav__toggle:focus, .magazine-nav__toggle:hover {
      border-bottom: 4px solid #fff;
      padding-bottom: 0; }
    .magazine-nav__toggle:focus {
      outline: 1px dotted #052049; }
    .magazine-nav__menu .menu-item:first-child .magazine-nav__toggle {
      margin-left: 0; }
    .menu-item--active-trail .magazine-nav__toggle {
      border-bottom: 4px solid #fff;
      padding-bottom: 0; }
  .magazine-nav .magazine-nav__menu .menu-item:nth-child(4) {
    grid-column: calc(4 + 1); }
  .magazine-nav .magazine-nav__menu .menu-item:nth-child(5) {
    grid-column: calc(4 + 2); }
  .magazine-nav .magazine-nav__menu .menu-item:nth-child(6) {
    grid-column: calc(4 + 3); }

.magazine-submenu {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  visibility: hidden;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 1fr;
  background: #f2f4f6;
  height: auto;
  z-index: 780;
  width: 800px;
  position: absolute;
  -webkit-transform: translateX(8%);
          transform: translateX(8%);
 }
  @media (min-width: 1050px) {
    .magazine-submenu {
      width: 999px; } }
  .magazine-submenu--1 {
    position: absolute;
    right: 0;
    top: 48px;
    width: 450px; }
    @media (min-width: 1050px) {
      .magazine-submenu--1 {
        width: 535px; } }
  .magazine-submenu--0 .magazine-submenu__menu {
    display: block;
    width: 350px; }
    @media (min-width: 1050px) {
      .magazine-submenu--0 .magazine-submenu__menu {
        width: 464px; } }
    .magazine-submenu--0 .magazine-submenu__menu .menu-item {
      border-bottom: 1px solid #d5d9de;
      display: block;
      margin-left: 73px; }
  .magazine-submenu--1 .magazine-submenu__menu {
    padding-right: 80px;
    padding-left: 0;
    width: 100%;
    -webkit-animation: none;
            animation: none; }
    .magazine-submenu--1 .magazine-submenu__menu .menu-item {
      margin-left: 80px; }
  .magazine-submenu__menu .menu-item--expanded .fa-angle-right {
    display: inline-block;
    line-height: 32px;
    height: 48px;
    padding: 8px 0;
    width: 16px; }
  .magazine-submenu__menu .menu-item--expanded:hover .fa-angle-right {
    color: #0071ad; }
  .magazine-submenu__menu a {
    display: block;
    font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px;
    height: auto;
    margin: 0;
    padding: 8px 20px 8px 0;
    position: relative; }
    .magazine-submenu__menu a:link {
      color: #052049; }
    .magazine-submenu__menu a:visited, .magazine-submenu__menu a:link:visited {
      color: #052049; }
    .magazine-submenu__menu a:focus {
      color: #052049; }
    .magazine-submenu__menu a.active:hover, .magazine-submenu__menu a.is-active:hover, .magazine-submenu__menu a.active-trail:hover, .magazine-submenu__menu a.visited:hover, .magazine-submenu__menu a:hover {
      color: #0071ad; }
    .magazine-submenu__menu a.is-active, .magazine-submenu__menu a:active, .magazine-submenu__menu a.active-trail {
      color: #052049; }
  .magazine-submenu__menu span.ext {
    position: absolute;
    height: 32px;
    right: 0;
    top: 20%; }
  .magazine-submenu__label-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase;
    margin-left: 80px; }
    .magazine-submenu__label-text::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
    .magazine-submenu__label-text:after {
      background: none; }
  .magazine-submenu__label--0 {
    background: #058488;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px 0;
    width: 48px;
    margin-top: 1px; }
    .magazine-submenu__label--0 .magazine-submenu__label-text {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      font-weight: 500;
      font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      letter-spacing: 1.6px;
      line-height: 1.4em;
      color: #052049;
      text-transform: uppercase;
      line-height: 48px;
      margin: 0;
      color: #fff;
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl; }
      .magazine-submenu__label--0 .magazine-submenu__label-text::after {
        content: ' ';
        display: inline-block;
        width: 40px;
        height: 1px;
        background: #052049;
        margin: 0 5px 3px; }
      .magazine-submenu__label--0 .magazine-submenu__label-text:after {
        width: 1px;
        height: 40px;
        margin: 5px 3px 5px 0;
        background: #fff; }
  .magazine-submenu__toggle {
    border: 0;
    display: inline-block;
    width: calc(100% - 22px);
    background-color: transparent;
    padding: 8px 20px 8px 0;
    text-align: left; }
    .magazine-submenu__toggle:hover {
      color: #0071ad; }
  .magazine-nav__menu .menu-item-open > .magazine-submenu {
    clip: auto;
    overflow: visible;
    -webkit-animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both;
    animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both;
    visibility: visible; }
    .magazine-nav__menu .menu-item-open > .magazine-submenu .magazine-submenu__menu,
    .magazine-nav__menu .menu-item-open > .magazine-submenu .magazine-submenu__label-text,
    .magazine-nav__menu .menu-item-open > .magazine-submenu ::after {
      -webkit-animation: fade 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0.25s both;
              animation: fade 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0.25s both; }
  .magazine-submenu--0 .menu-item:hover .magazine-submenu--1,
  .magazine-submenu--0 .menu-item-open > .magazine-submenu {
    -webkit-animation: none;
            animation: none;
    clip: auto;
    overflow: visible;
    visibility: visible; }

.menu-item-close--magazine {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  background: url("../images/x-large.svg") left center no-repeat transparent;
  background-size: 20px 20px;
  cursor: pointer;
  text-indent: -9999px;
  border: 0; }
  .menu-item-close--magazine:focus {
    border: 1px dotted #052049; }

[block="block-ucsf-mag-main-menu"] {
  display: none; }

.magazine-nav .logo__img {
  height: 26px;
  width: 175px;
  -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all; }
  @media (min-width: 850px) {
    .magazine-nav .logo__img {
      height: 40px;
      width: 110px; } }
  @media (min-width: 906px) {
    .magazine-nav .logo__img {
      width: 170px; } }
  @media (min-width: 1000px) {
    .magazine-nav .logo__img {
      width: 270px; } }

@media (min-width: 850px) {
  .footer {
    display: grid;
    -webkit-column-gap: 2.5%;
       -moz-column-gap: 2.5%;
            column-gap: 2.5%;
    grid-template-columns: 1fr 1fr 1fr 37%;
    grid-template-rows: 1fr; } }

@media (min-width: 1050px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 23.5rem; } }

@media (min-width: 850px) {
  .footer .logo-follow {
    grid-column: 1; } }

.footer .logo-follow a {
  font-size: 19px; }

.footer .logo-follow .follow-instagram a {
  padding-right: 0; }

.footer-logo__image {
  width: 123px;
  height: 80px; }
  @media (min-width: 850px) {
    .footer-logo__image {
      width: 151px;
      height: 98px; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col1 {
    grid-column: 2; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col2 {
    grid-column: 3; } }

.footer h2::after {
  display: none; }

@media (min-width: 850px) {
  .footer .logo-follow,
  .footer .menu--magazine-footer-col1,
  .footer .menu--magazine-footer-col2 {
    float: none;
    width: auto;
    grid-row: 1; } }

.footer-bottom {
  color: #9ba6b6; }
  .footer-bottom a,
  .footer-bottom a:visited,
  .footer-bottom a:link {
    color: #9ba6b6; }

/*# sourceMappingURL=style.css.map */
