.subscribe-form {
  clear: both;
  padding-bottom: 40px; }
  @media (min-width: 850px) {
    .subscribe-form {
      grid-column: 4; } }
  @media (min-width: 850px) {
    .subscribe-form .subscribe-form__title {
      font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: -0.8px;
      text-transform: none;
      margin-top: -0.4rem; } }
  @media (min-width: 1050px) {
    .subscribe-form .subscribe-form__title {
      font-size: 36px;
      margin-top: -0.54rem; } }
  .subscribe-form .subscribe-form__title span {
    display: none; }
    @media (min-width: 850px) {
      .subscribe-form .subscribe-form__title span {
        display: inline; } }

.email-subscribe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #9ba6b6; }
  @media (min-width: 850px) {
    .email-subscribe {
      border-bottom: none; } }
  .email-subscribe .email-subscribe__input {
    border: 0;
    height: 3.75rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    @media (min-width: 850px) {
      .email-subscribe .email-subscribe__input {
        background-color: #fff;
        color: #121a31;
        height: 3.75rem;
        padding: 9px 17px; } }
  .email-subscribe__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border: 0;
    border-radius: 0;
    color: #fff;
    min-height: 3rem;
    padding-right: 8px; }
    @media (min-width: 850px) {
      .email-subscribe__submit {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #007cbe;
        min-height: 3.75rem;
        padding-right: 1.5em; } }
    .email-subscribe__submit:hover {
      background-color: transparent; }
      @media (min-width: 850px) {
        .email-subscribe__submit:hover {
          background-color: #0071ad; } }
      .email-subscribe__submit:hover::after {
        -webkit-transform: translateX(16px);
                transform: translateX(16px); }
    .email-subscribe__submit::after {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 0 center;
      width: .87rem;
      height: .87rem;
      background-image: url("../images/cta-arrow-white.svg");
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform;
      transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) transform, 0.3s cubic-bezier(0.33, 0.66, 0.66, 1) -webkit-transform; }
      @media (min-width: 850px) {
        .email-subscribe__submit::after {
          display: none; } }

@media (max-width: 849px) {
  header .menu--main {
    display: none; } }

.magazine-nav {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw; }
  .magazine-nav__menu {
    width: 100%;
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 20px; }

@media (max-width: 849px) {
  #block-ucsf-mag-main-menu-desktop,
  #block-magazinemainmenu {
    display: none; } }

@media (min-width: 850px) {
  #block-ucsf-mag-main-menu {
    display: none; } }

[block="block-ucsf-mag-main-menu-desktop"],
[block="block-magazinemainmenu"] {
  margin: 0;
  padding-left: 0;
  position: relative; }
  [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper,
  [block="block-magazinemainmenu"] .menu-child--wrapper {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal; }
  [block="block-ucsf-mag-main-menu-desktop"] .menu-item,
  [block="block-magazinemainmenu"] .menu-item {
    display: inline-block; }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item a,
    [block="block-magazinemainmenu"] .menu-item a {
      line-height: 84px;
      letter-spacing: 0;
      text-decoration: none;
      border-bottom: none;
      color: #506380;
      display: inline-block;
      font-size: 16px;
      text-transform: none;
      position: relative;
      width: auto;
      font-family: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      margin: 0 0 0 40px;
      padding-bottom: 4px;
      -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) line-height;
      transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) line-height; }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item.search > a,
    [block="block-magazinemainmenu"] .menu-item.search > a {
      background: url(/themes/custom/ucsf/assets/images/magnifier.svg) no-repeat center #fff;
      background-size: 28px;
      max-width: 28px;
      vertical-align: middle;
      padding-bottom: 0;
      margin-right: 22px;
      margin-top: 2px;
      margin-bottom: 2px; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.search > a:hover,
      [block="block-magazinemainmenu"] .menu-item.search > a:hover {
        background-image: url(/themes/custom/ucsf/assets/images/magnifier-hover.svg); }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.search > a.active,
      [block="block-magazinemainmenu"] .menu-item.search > a.active {
        background-image: url(/themes/custom/ucsf/assets/images/x-large.svg); }
        [block="block-ucsf-mag-main-menu-desktop"] .menu-item.search > a.active:hover,
        [block="block-magazinemainmenu"] .menu-item.search > a.active:hover {
          background-image: url(/themes/custom/ucsf/assets/images/x-large.svg); }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.search > a span,
      [block="block-magazinemainmenu"] .menu-item.search > a span {
        color: transparent; }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper,
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper,
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper,
    [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper,
    [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper,
    [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper {
      clip: auto;
      overflow: visible;
      -webkit-animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both;
      animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper.wrapper--search-menu,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper.wrapper--search-menu,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper.wrapper--search-menu,
      [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper.wrapper--search-menu,
      [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper.wrapper--search-menu,
      [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper.wrapper--search-menu {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        height: 1px;
        width: 1px;
        word-wrap: normal;
        -webkit-animation: none;
                animation: none; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--menu,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--label span,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper ::after,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper .menu-child--menu,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper .menu-child--label span,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper ::after,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--menu,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--label span,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper ::after,
      [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--menu,
      [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--label span,
      [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper ::after,
      [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper .menu-child--menu,
      [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper .menu-child--label span,
      [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper ::after,
      [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--menu,
      [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--label span,
      [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper ::after {
        -webkit-animation: fade 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0.25s both;
                animation: fade 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0.25s both; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--wrapper,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item:active > .menu-child--wrapper .menu-child--wrapper,
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--wrapper,
      [block="block-magazinemainmenu"] .menu-item .menu-item:hover > .menu-child--wrapper .menu-child--wrapper,
      [block="block-magazinemainmenu"] .menu-item:active > .menu-child--wrapper .menu-child--wrapper,
      [block="block-magazinemainmenu"] .menu-item.menu-item-open > .menu-child--wrapper .menu-child--wrapper {
        -webkit-animation: none;
                animation: none; }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-child--wrapper,
    [block="block-magazinemainmenu"] .menu-item .menu-child--wrapper {
      position: relative; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-child--wrapper.wrapper--search-menu,
      [block="block-magazinemainmenu"] .menu-item .menu-child--wrapper.wrapper--search-menu {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        height: 1px;
        width: 1px;
        word-wrap: normal;
        -webkit-animation: none;
                animation: none; }
        [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-child--wrapper.wrapper--search-menu.active,
        [block="block-magazinemainmenu"] .menu-item .menu-child--wrapper.wrapper--search-menu.active {
          clip: auto;
          overflow: visible;
          -webkit-animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both;
          animation: menu-slide 500ms cubic-bezier(0.77, 0, 0.175, 1) 50ms both;
          z-index: 2; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-child--wrapper .menu-item-close,
      [block="block-magazinemainmenu"] .menu-item .menu-child--wrapper .menu-item-close {
        display: block;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 20px;
        height: 20px;
        background: url("../images/x-large.svg") left center no-repeat transparent;
        background-size: 20px 20px;
        cursor: pointer;
        text-indent: -9999px; }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-item .menu-item .menu-item-close,
    [block="block-magazinemainmenu"] .menu-item .menu-item .menu-item-close {
      display: none; }
  [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper,
  [block="block-magazinemainmenu"] .menu-child--wrapper {
    background: #f2f4f6;
    height: auto;
    right: 0;
    z-index: 780;
    width: 800px; }
    @media (min-width: 1050px) {
      [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper,
      [block="block-magazinemainmenu"] .menu-child--wrapper {
        width: 999px; } }
    [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper.wrapper--search-menu,
    [block="block-magazinemainmenu"] .menu-child--wrapper.wrapper--search-menu {
      background: none;
      width: 650px !important; }
      [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper.wrapper--search-menu .home-search__form,
      [block="block-magazinemainmenu"] .menu-child--wrapper.wrapper--search-menu .home-search__form {
        position: relative; }
        [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper.wrapper--search-menu .home-search__form .home-search__form-input,
        [block="block-magazinemainmenu"] .menu-child--wrapper.wrapper--search-menu .home-search__form .home-search__form-input {
          width: 100%; }
        [block="block-ucsf-mag-main-menu-desktop"] .menu-child--wrapper.wrapper--search-menu .home-search__form .home-search__form-submit,
        [block="block-magazinemainmenu"] .menu-child--wrapper.wrapper--search-menu .home-search__form .home-search__form-submit {
          position: absolute;
          top: 17px;
          right: 5px; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase;
    color: #fff;
    background: #058488;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 0px 0px 0px;
            transform-origin: 0px 0px 0px;
    padding: 0 24px;
    width: 400px;
    margin-top: 1px; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label::after,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label:after,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label:after {
      background: #fff; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-about"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-about"] {
      background: #716fb2; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-about-menu"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-about-menu"] {
      background: #052049; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-campus-news"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-campus-news"] {
      background: #052049; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-education"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-education"] {
      background: #568001; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-location"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-location"] {
      background: #568001; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-news-center"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-news-center"] {
      background: #716fb2; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-news--media"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-news--media"] {
      background: #716fb2; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-patient-care"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-patient-care"] {
      background: #007cbe; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-research"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-research"] {
      background: #058488; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--label[data-section="section-ucsf-magazine"],
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--label[data-section="section-ucsf-magazine"] {
      background: #716fb2; }

.fixed-nav [block="block-ucsf-mag-main-menu-desktop"] .menu-item a,
.fixed-nav [block="block-magazinemainmenu"] .menu-item a {
  line-height: 60px; }

.fixed-nav [block="block-ucsf-mag-main-menu-desktop"] .search a,
.fixed-nav [block="block-magazinemainmenu"] .search a {
  background-size: 24px;
  max-width: 24px; }

[block="block-ucsf-mag-main-menu-desktop"],
[block="block-magazinemainmenu"] {
 }
  [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a.is-active, [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a:active, [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a:hover,
  [block="block-magazinemainmenu"] > .menu-item > a.is-active,
  [block="block-magazinemainmenu"] > .menu-item > a:active,
  [block="block-magazinemainmenu"] > .menu-item > a:hover {
    border-bottom: 4px solid #0071ad;
    padding-bottom: 0; }
  [block="block-ucsf-mag-main-menu-desktop"] > .menu-item.search > a.is-active, [block="block-ucsf-mag-main-menu-desktop"] > .menu-item.search > a:active, [block="block-ucsf-mag-main-menu-desktop"] > .menu-item.search > a:hover,
  [block="block-magazinemainmenu"] > .menu-item.search > a.is-active,
  [block="block-magazinemainmenu"] > .menu-item.search > a:active,
  [block="block-magazinemainmenu"] > .menu-item.search > a:hover {
    border-bottom: 0; }
  [block="block-ucsf-mag-main-menu-desktop"] > .menu-item:first-child > a,
  [block="block-magazinemainmenu"] > .menu-item:first-child > a {
    margin-left: 0; }

.path-news [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.path-news [block="block-magazinemainmenu"] > .menu-item > a[href="/news"],
.page-node-type-article [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.page-node-type-article [block="block-magazinemainmenu"] > .menu-item > a[href="/news"],
.page-node-type-magazine-article [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.page-node-type-magazine-article [block="block-magazinemainmenu"] > .menu-item > a[href="/news"],
.page-node-type-news-package [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.page-node-type-news-package [block="block-magazinemainmenu"] > .menu-item > a[href="/news"],
.page-node-type-trending [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.page-node-type-trending [block="block-magazinemainmenu"] > .menu-item > a[href="/news"],
.page-node-type-author [block="block-ucsf-mag-main-menu-desktop"] > .menu-item > a[href="/news"],
.page-node-type-author [block="block-magazinemainmenu"] > .menu-item > a[href="/news"] {
  border-bottom: 4px solid #0071ad;
  padding-bottom: 0; }

[block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu,
[block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu {
  display: block;
  width: 350px; }
  @media (min-width: 1050px) {
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu {
      width: 464px; } }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item {
    border-bottom: 1px solid #d5d9de;
    display: block;
    margin-left: 73px; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > a,
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > span span,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > a,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > span span {
    border: 0;
    display: inline-block;
    width: calc(100% - 22px); }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > a:hover,
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > span span:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > a:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded > span span:hover {
      color: #0071ad; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded .fa-angle-right,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded .fa-angle-right {
    display: inline-block;
    line-height: 32px;
    height: 48px;
    padding: 8px 0;
    width: 16px; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded:hover .fa-angle-right,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu .menu-item--expanded:hover .fa-angle-right {
    color: #0071ad; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a {
    display: block;
    font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px;
    height: auto;
    margin: 0;
    padding: 8px 0;
    padding-right: 20px; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:link,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:link {
      color: #052049; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:visited, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:link:visited,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:visited,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:link:visited {
      color: #052049; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:focus,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:focus {
      color: #052049; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.active:hover, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.is-active:hover, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.active-trail:hover, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.visited:hover, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.active:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.is-active:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.active-trail:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.visited:hover,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:hover {
      color: #0071ad; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.is-active, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a:active, [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu a.active-trail,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.is-active,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a:active,
    [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu a.active-trail {
      color: #052049; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-0"] > .menu-child--menu span.ext,
  [block="block-magazinemainmenu"] [data-level="level-0"] > .menu-child--menu span.ext {
    position: absolute;
    height: 32px;
    right: 0;
    top: 20%; }

[block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"],
[block="block-magazinemainmenu"] [data-level="level-1"] {
  position: absolute;
  right: 0;
  top: 48px;
  width: 450px; }
  @media (min-width: 1050px) {
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"],
    [block="block-magazinemainmenu"] [data-level="level-1"] {
      width: 535px; } }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"] .menu-child--menu,
  [block="block-magazinemainmenu"] [data-level="level-1"] .menu-child--menu {
    padding-right: 80px;
    padding-left: 0;
    width: 100%;
    -webkit-animation: none;
            animation: none; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"] .menu-child--menu .menu-item,
    [block="block-magazinemainmenu"] [data-level="level-1"] .menu-child--menu .menu-item {
      margin-left: 80px; }
  [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"] .menu-child--label,
  [block="block-magazinemainmenu"] [data-level="level-1"] .menu-child--label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase;
    margin-left: 80px; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"] .menu-child--label::after,
    [block="block-magazinemainmenu"] [data-level="level-1"] .menu-child--label::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
    [block="block-ucsf-mag-main-menu-desktop"] [data-level="level-1"] .menu-child--label:after,
    [block="block-magazinemainmenu"] [data-level="level-1"] .menu-child--label:after {
      content: none; }

.menu--magazine-main-menu {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  background-color: #0071AD; }

.menu--magazine-main-menu .header--logo {
  width: 350px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 1000; }
  .menu--magazine-main-menu .header--logo .logo__img {
    margin: 0 auto; }

[block="block-magazinemainmenu"] {
  grid-row: 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, auto) 350px repeat(3, auto);
  grid-template-rows: 1fr; }

.menu-item-parent {
  grid-row: 1; }

.menu-item-parent:nth-child(4) {
  grid-column: 5; }

.menu-item-parent:nth-child(5) {
  grid-column: 6; }

.menu-item-parent:nth-child(6) {
  grid-column: 7; }

[block="block-ucsf-mag-main-menu"] {
  display: none; }

.logo__img {
  height: 26px;
  width: 175px;
  -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all; }
  @media (min-width: 850px) {
    .logo__img {
      height: 40px;
      width: 110px; } }
  @media (min-width: 906px) {
    .logo__img {
      width: 170px; } }
  @media (min-width: 1000px) {
    .logo__img {
      width: 270px; } }

@media (min-width: 850px) {
  .footer {
    display: grid;
    -webkit-column-gap: 2.5%;
       -moz-column-gap: 2.5%;
            column-gap: 2.5%;
    grid-template-columns: 1fr 1fr 1fr 37%;
    grid-template-rows: 1fr; } }

@media (min-width: 1050px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 23.5rem; } }

@media (min-width: 850px) {
  .footer .logo-follow {
    grid-column: 1; } }

.footer .logo-follow a {
  font-size: 19px; }

.footer .logo-follow .follow-instagram a {
  padding-right: 0; }

.footer-logo__image {
  width: 123px;
  height: 80px; }
  @media (min-width: 850px) {
    .footer-logo__image {
      width: 151px;
      height: 98px; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col1 {
    grid-column: 2; } }

@media (min-width: 850px) {
  .footer .menu--magazine-footer-col2 {
    grid-column: 3; } }

.footer h2::after {
  display: none; }

@media (min-width: 850px) {
  .footer .logo-follow,
  .footer .menu--magazine-footer-col1,
  .footer .menu--magazine-footer-col2 {
    float: none;
    width: auto;
    grid-row: 1; } }

.footer-bottom {
  color: #9ba6b6; }
  .footer-bottom a,
  .footer-bottom a:visited,
  .footer-bottom a:link {
    color: #9ba6b6; }

/*# sourceMappingURL=style.css.map */
