.lastest-news__list-title,
h2.lastest-news__list-title,
.news-center-banner_list .lastest-news__list h2, {
  @include heading;

  margin-top: 0;
}

/* .page-node-type-news-center .lastest-events-list__heading {
  margin-bottom: $space-four;
} */

.lastest-news__list-articles {
  list-style: none;
  margin: 0;
  padding: 0;

  h3 {
    @include heading-three;

    margin: 0;
    margin-top: $space;
    margin-bottom: $space-two;

    a {
      text-decoration: none;
      color: $navy;

      &:hover {
        color: $c-blue-link;
      }
    }
  }

  article {
    border-bottom: 1px solid $gray-lighter;
    margin: $space 0;
    margin: $space-three 0;
    padding-bottom: $space-two;
  }
}

.lastest-news__list-more {
  margin-top: $space-six;
}

.instagram-newsletter {
  @include grid-two;

  background: $white;
  padding-bottom: $space-ten;
}

.instagram__list {
  margin-left: 11%;
}

.newsletter__list {
  margin-right: 11%;

  & > :last-child {
    margin-bottom: 0;
  }
}

.instagram__list-title,
.newsletter__list-title {
  @include eyebrow;

  margin-top: $space-ten;
}

.submit-story__content {
  @include heading-three;

  margin: 0;
  padding: $space-five;
  background: $navy;
  color: $white;
  text-align: center;

  .button-reverse {
    display: inline-block;
    font-size: $font-size;
    margin-left: $space-three;
  }
}
