<div class="home-search__form">
    <form action="/search" method="get">
        <input type="text" name="search" id="search" size="32" class="searchbox home-search__form-input" value="{{ searchterm }}" />
        <button type="submit" class="home-search__form-submit">Search</button>
    </form>
</div>