{# Get arrays of term IDs by filter group. #}
{% set article_type_list = view.exposed_data.tid %}
{% set area_focus_list = view.exposed_data.field_primary_area_target_id %}
{% set health_list = view.exposed_data.tid_1 %}
{% set campus_list = view.exposed_data.field_topics_target_id %}

{# Merge all arrays into a super array. #}
{% set all_terms = article_type_list|merge(area_focus_list)|merge(health_list)|merge(campus_list) %}

{# Render list. #}
<div class="search-filter__indicator-list">
  <ul>
    <li><label class="visually-hidden">{{ "Advanced Search Filters"|t }}:</label></li>
    {% for key,tid in all_terms %}
      {% if tid != 0 %}
        {% set term = drupal_entity('taxonomy_term', tid) %}
        {% set term_name = term['#taxonomy_term'].name.value %}
        <li><a class="search-filter__indicator-item" data-tid="{{ tid }}">{{ term_name }} x </a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
