<div class="home-search__form">
    <form action="/search" method="get">
        <input type="text" name="search" id="search" size="32" class="searchbox home-search__form-input" value="{{ searchterm }}" placeholder="Search people, places, ideas" />
        <button type="submit" class="home-search__form-submit">Search</button>
    </form>
    <div class="gsc-result-info__new"></div>
</div>