.universal-header-region {
  background: $navy;
  color: $white;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
  height: 38px;

  a {
    color: $white;
  }
}

.universal-header {
  @include grid;

  .universal-header__title {
    grid-column: 1 / span 3;
    margin: 0;
  }

  .universal-header__give {
    grid-column: 11 / span 2;
    height: 38px;
    border: none;
    background: $blue;
    color: $white;
    cursor: pointer;
  }
}
