.universal-header-region {
  background: $navy;
  color: $white;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;

  a {
    color: $white;
  }
}

.universal-header {
  @include grid-two;

  margin-bottom: 0;
  max-width: $xl;

  .universal-header__title {
    margin: 0;
    padding: $space 0;
  }

  .universal-header__give {
    padding: $space auto;
    min-width: $space-nineteen;
    border: none;
    background: $blue;
    color: $white;
    cursor: pointer;
  }
}
