{% extends 'field.html.twig' %}

{% block multiple_item_no_label %}
  <ol{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <li{{ item.attributes.addClass('field__item') }}>{{ item.content }}</li>
    {% endfor %}
    {% block coda %}
      {% set entity = element['#object'] %}
      <div class="field__item">
        {{ entity.label }}
      </div>
    {% endblock coda %}
  </ol>
{% endblock multiple_item_no_label %}
