<div class="article-feature-banner">
  <figure class="article-feature-banner-image">
    {{ content.field_banner_image }}
  </figure>

  <header class="article-header article-feature-header">
    {% include '@theme/banner/banner-content.twig' %}
  </header>
</div>
