{% if author.entity.entitytypeid == 'node' %}
  {% set path = path('entity.node.canonical', {'node': author.entity.id})  %}
{% elseif author.entity.entitytypeid == 'taxonomy_term' %}
  {% set path = path('entity.taxonomy_term.canonical', { 'taxonomy_term': author.entity.id}) %}
{% endif %}
<a href="{{ path }}">{{ author.entity.label }}</a>
