
<div class="magazine-feature-three-support">
  {{ content.field_feature_article }}

  <div class="magazine-feature-support layout-columns__3 bg-white">
  {{ content.field_supporting_feature_article }}
  </div>
</div>
