{# var taxonomy_page is provided by the twig file that includes this partial #}
<div class="magazine-feature-support magazine-feature-two-support magazine-feature-support--{{taxonomy_page}}">
	{{ content.field_feature_article }}
	<div class="magazine-feature-support__articles layout-columns__3 bg-white">
		{{ content.field_supporting_feature_article }}
	</div>
</div>
