{% extends 'region.html.twig' %}

{% block content %}
  {# var is_minimized_sticky_menu is created through php-includes\region.inc #}
  <header class="combined-header-region {% if is_minimized_sticky_menu %} is-minimized-sticky-menu fixed-nav fixed-nav--visible{% endif %}">
    <section class="universal-header-region">
      <div class="universal-header">
        <p id="site-name" class="universal-header__title">University of California San Francisco</p>
        <a href="https://giving.ucsf.edu" class="universal-header__give">Give to UCSF</a>
      </div>
    </section>
    <section class="header-region">
      <div class="header {{header_class}}">
        {% block logo %}
          {% include '@theme/header/header--logo.twig' %}
        {% endblock logo %}
        {% include '@theme/header/header--search.twig' %}
        <div class="slicknav-placeholder"></div>
        {{ content }}
        {# main nav #}
      </div>
      {% block magazine_nav %}{% endblock magazine_nav %}
      {# var has_subnav is created through php-includes\region.inc #}
      {% if has_subnav %}
        {# If we made it this far, load ucsf\js\ucsf_header_region_subnav.js #}
        {{ attach_library('ucsf/header_subnav') }}
        <div class="header-subnav-wrapper">
          {{ drupal_entity('block', 'parnassusheightssubnav') }}
        </div>
      {% endif %}
    </section>
  </header>
{% endblock content %}
