{% extends 'region.html.twig' %}
{% block content %}
  {# need both headers wrapped together for CSS Animations #}
  <header class="combined-header-region">
    <section class="universal-header-region">
      <div class="universal-header">
        <p id="site-name" class="universal-header__title">University of California San Francisco</p>
        <a href="https://giving.ucsf.edu" class="universal-header__give">Give to UCSF</a>
      </div>
    </section>
    <section class="header-region">
      <div class="header">
        {% include '@theme/header/header--logo.twig' %}
        {% include '@theme/header/header--search.twig' %}
        <div class="slicknav-placeholder"></div>
        {{ content }}
        {# main nav #}
      </div>
      {# var has_subnav is created through php-includes\region.inc #}
      {% if has_subnav %}
        {# If we made it this far, load ucsf\js\ucsf_header_region_subnav.js #}
        {{ attach_library('ucsf/header_subnav') }}
        {# TODO  Editors want to use subnav on other pages at some point.
          when that happens, make header-subnav-wrapper CSS reusable, find a place for it.
          currently scss\navigation\_parnassus-subnav.scss  #}
        <div class="header-subnav-wrapper">
          {{ drupal_block('parnassusheightssubnav') }}
        </div>
      {% endif %}
    </section>
  </header>
{% endblock content %}
