{% extends 'region.html.twig' %}
{% block content %}
  {# need both headers wrapped together for CSS Animations #}
  <header class="combined-header-region">
    <section class="universal-header-region">
      <div class="universal-header">
        <p id="site-name" class="universal-header__title">University of California San Francisco</p>
        <a href="https://giving.ucsf.edu" class="universal-header__give">Give to UCSF</a>
      </div>
    </section>
    <section class="header-region">
      <div class="header">
        {% include '@theme/header/header--logo.twig' %}
        {% include '@theme/header/header--search.twig' %}
        <div class="slicknav-placeholder"></div>
        {{ content }}
        {# main nav #}
      </div>
      {# var has_subnav is created through php-includes\region.inc #}
      {% if has_subnav %}
        {# TODO If we made it this far, load the styles and JS for submenu #}
        {# {{ attach_library('ucsf/parnassus-subnav') }} #}
        <div class="parnassus-subnav-wrapper">
          {{ drupal_block('parnassusheightssubnav') }}
        </div>
      {% endif %}
    </section>
  </header>
{% endblock content %}
