<footer class="footer-region">
  <div class="footer">
    <div class="logo-follow">
      <figure class="footer-logo">
        <a class="footer-logo__link" href="/">
          <div class="footer-logo__image">
            <img class="footer-logo__img" src="/{{ directory ~ '/images/footer-logo.svg' }}" alt="{{ 'UCSF Footer Logo'|t }}" width="100" height="100">
          </div>
        </a>
      </figure>

      <div class="follow">
        <h2>Follow Us:</h2>
        <ul>
          <li class="follow-facebook"><a href="https://www.facebook.com/ucsf"><span class="fab fa-facebook-f"></span> <span class="indent-text">Facebook</span></a></li>
          <li class="follow-twitter"><a href="https://www.twitter.com/ucsf"><span class="fab fa-x-twitter"></span> <span class="indent-text">Twitter</span></a></li>
          <li class="follow-youtube"><a href="https://www.youtube.com/ucsf"><span class="fab fa-youtube"></span> <span class="indent-text">YouTube</span></a></li>
          <li class="follow-instagram"><a href="https://www.instagram.com/ucsf"><span class="fab fa-instagram"></span> <span class="indent-text">Instagram</span></a></li>
        </ul>
      </div>
    </div>

    {{ content }}
  </div>

  <div class="footer-bottom">
    <p>© {{ "now"|date('Y') }} The Regents of The University of California</p>

    <ul class="text-align: right;">
      <li><a href="/sitemap.xml" style="left: -9999px; position:absolute;" tabindex="-1" aria-hidden="true">Sitemap</a></li>
      <li><a href="/sitemap">Site Map</a></li>
      <li><a href="/terms-of-use">Terms of Use</a></li>
      <li><a href="/feedback">Report an issue with UCSF.edu website</a></li>
    </ul>

  </div>
</footer>
