{% extends 'region.html.twig' %}
{% block content %}
    {# need both headers wrapped together for CSS Animations #}
    <div class="combined-header-region">
        <div class="universal-header-region">
            <header class="universal-header">
                <p class="universal-header__title">University of California San Francisco</p>
                <a href="https://makeagift.ucsf.edu/site/SPageServer?pagename=A1_API_GeneralGivingForm&AppealCode=W9EDU&utm_source=UCSF.edu&utm_medium=Main%20navigation%20button" class="universal-header__give">Give to UCSF</a>
            </header>
        </div>
        <div class="header-region">
            <header class="header" role="banner">
                {% include '@theme/header/header--logo.twig' %}
                {% include '@theme/header/header--search.twig' %}
                <div class="slicknav-placeholder"></div>
                {{ content }} {# main nav #}
            </header>
        </div>
    </div>
{% endblock content %}
