{% extends 'region.html.twig' %}
{% block content %}
  <div class="universal-header-region">
    <div class="universal-header">
      <p class="universal-header__title">University of California San Francisco</p>
      <button class="universal-header__give">Give to UCSF</button>
    </div>
  </div>
  {{ content }}
{% endblock content %}
