<ol class="news-row-card news-trending">
<li>
{% include "@molecules/card/news-row-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_heading: 'Inquiry-Based Curriculum Empowers Future Pharmacists to be Catalysts for Change',
  card_body: 'Built on a foundation of scientific thinking, the School of Pharmacy’s new curriculum sets UCSF’s PharmD degree program apart from a growing number of programs nationwide.',
  card_link_url: '#',
  card_link_text: 'Continue reading',
} %}
</li>
<li>
{% include "@molecules/card/news-row-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_heading: 'With Virtual Reality, Dentistry Students Zoom Through 3-D Teeth',
  card_body: 'The UCSF School of Dentistry is adding virtual and augmented reality for its first-year students.',
  card_link_url: '#',
  card_link_text: 'Continue reading',
} %}
</li>
<li>
{% include "@molecules/card/news-row-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_heading: 'To Address Homelessness Effectively, Clinicians are Learning What It Really Looks Like',
  card_body: 'To teach students how they can advocate for systemic changes and how to improve their interactions with individual homeless patients, UCSF provides an elective course each fall.',
  card_link_url: '#',
  card_link_text: 'Continue reading',
} %}
</li>
<li>
{% include "@molecules/card/news-row-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_heading: 'Students Share Their Moments from 2018 Back-to-School Season',
  card_body: 'New and returning students are sharing their back-to-school experiences using the hashtag #UCSFBackToSchool – see what they are up to.',
  card_link_url: '#',
  card_link_text: 'Continue reading',
} %}
</li>
<li>
{% include "@molecules/card/news-row-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_heading: 'Inquiry-Based Curriculum Empowers Future Pharmacists to be Catalysts for Change',
  card_body: 'Built on a foundation of scientific thinking, the School of Pharmacy’s new curriculum sets UCSF’s PharmD degree program apart from a growing number of programs nationwide.',
  card_link_url: '#',
  card_link_text: 'Continue reading',
} %}
</li>
</ol>
