<ol class="news-card-three-up">
<li>
{% include "@molecules/card/news-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_area: 'Research',
  card_date: 'Sept. 18, 2018',
  card_heading: 'This is a Title',
} %}
</li>
<li>
{% include "@molecules/card/news-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_area: 'Research',
  card_date: 'Sept. 18, 2018',
  card_heading: 'This is a Title',
} %}
</li>
<li>
{% include "@molecules/card/news-card.twig" with {
  card_img_src: "https://placeimg.com/1280/850/nature",
  card_area: 'Research',
  card_date: 'Sept. 18, 2018',
  card_heading: 'This is a Title',
} %}
</li>
</ol>
