.mag-menu {
  @include ul-item-list-reset();
  // variable to print .mag-menu
  $block: &;
  // top level menu links, these are used to assign a grid aria to menu li
  $links: latest, features, insights, voices, allissues, trending, collections;

  display: none;
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $c-grey-pale;

  @include breakpoint($bp-large) {
    margin: 0 auto;
    max-width: 1280px;
  }


  .mag-nav--active & {
    display: block;
    visibility: visible;
  }

  // top level ul
  &__menu {
    display: grid;
    grid-template-areas:
    "latest"
    "features"
    "insights"
    "voices"
    "allissues"
    "trending"
    "collections";

    @include breakpoint($bp-large) {
      grid-template-columns: 30% repeat(4, 1fr);
      grid-template-rows: min-content auto auto;
      grid-template-areas:
        "latest features insights voices allissues"
        "trending features insights voices allissues"
        "collections features insights voices allissues";
    }

  }


  @each $link in $links {
    &__item--#{$link} {
      grid-area: #{$link};
    }
  }

  &__link {
    // specificity modification
    #{$block} & {
      color: $c-dark-navy;
    }

    &:hover {
      text-decoration: underline;
    }

    // top level li
    &--alt {
      @include magazine-eyebrow;
      text-decoration: underline;
      margin: 0;

      &:hover  {
        color: $c-blue-link;
      }
    }
  }

  &__no-link {
    font-family: $font-helvetica-neue-light;
    font-size: 1.5rem;
  }

  &__toggle {
    @include button-reset();
  }
}

.mag-submenu {
  // variable to print .mag-menu
  $block: &;
  &__link {
    font-family: $font-helvetica-neue-roman;
    font-size: 0.875rem;

    // specificity modification
    #{$block} & {
      color: $c-gulf-blue;
    }
  }
}
