@use "../0_tools" as *;
.has-fixed-nav {
  overflow: hidden;
  max-height: 100vh;
  position: fixed;
}

.mag-nav::after {
  content: "";
  position: fixed;
  background: #4E5365;
  transition: max-height $transition-time-long $transition-type;
  height: 105vh;
  max-height: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.mag-nav--active::after {
  animation: menu-background-slide-out $transition-time-long $transition-type 0ms forwards;
}

.mag-menu {
  // variable to print .mag-menu
  $block: &;
  $universal-header-height: 40px;
  // top level menu links, these are used to assign a grid aria to menu li
  $links: home, features, insights, voices, allissues, popular, collections;

  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $c-background-gray;
  z-index: 2;
  transition: max-height $transition-time-long $transition-type;
  max-height: 0;
  overflow-y: auto;
  display: none;

  @include breakpoint($bp-xl) {
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
  }

  .mag-nav--active & {
    // display: block;
    // max-height: 100vh;
    animation: menu-slide-out $transition-time-long $transition-type 0ms forwards;
  }

  // Shim to allow offset the absolute positioning and allow content inside to scroll.
  &:after {
    display: block;
    content: '';
    height: 300px;
    background: #4E5365;
  }

  ul {
    list-style: none;
  }

  .mag-nav--active & {
    display: block;
    visibility: visible;
    z-index: 3;
  }

  // Need to move menu below search form when both are open in mobile
  .header--search-active ~ & {
    top: calc(#{$mag-navbar-height} + #{$mag-search-form-height} + #{$universal-header-height});
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    @include breakpoint ($bp-medium) {
      top: calc(#{$mag-navbar-height-medium} + #{$mag-search-form-height} + #{$universal-header-height});
    }

    @include breakpoint ($bp-large) {
      position: absolute;
      top: $mag-navbar-height-big;
      bottom: auto;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
    }
  }

  // top level ul
  &__menu {
    display: grid;
    grid-template-areas:
      "home"
      "features"
      "insights"
      "voices"
      "allissues"
      "popular"
      "collections";

    position: relative;
    margin-bottom: 0;
    margin-top: 1.2rem;
    padding: 0 $page-gutter;
    background-color: $c-background-gray;
    z-index: 1;

    @include breakpoint($bp-medium) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, min-content) auto auto;
      grid-template-areas:
        "home   allissues"
        "features allissues"
        "insights allissues"
        "voices allissues"
        "popular popular"
        "collections collections";
    }

    @include breakpoint($bp-medium-plus) {
      grid-template-columns: 25.5% 2rem repeat(4, 1fr);
      grid-template-rows: min-content auto auto;
      grid-template-areas:
        "home . features insights voices allissues"
        "popular . features insights voices allissues"
        "collections . features insights voices allissues";
      column-gap: 2rem;
      padding-bottom: 3rem;
    }

    @include breakpoint($bp-xl) {
      max-width: 1440px;
      padding-right: 80px;
      padding-left: 86px; // aligning left to .universal-header__title
      margin: 0 auto;
    }

    @include breakpoint(1440px) {
      padding-left: 80px;
    }
  }

  &__item {
    margin-bottom: 1rem;

    // applying a modifier class and assigning grid area to element with that class
    @each $link in $links {
      &--#{$link} {
        grid-area: #{$link};
      }
    }

    &--allissues {
      margin-bottom: 2rem;
      @include breakpoint($bp-medium-plus) {
        margin-bottom: 1rem;
      }
    }

    &--featured {
      margin-bottom: 0;

      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid $c-border-grey-blue;
        transition: width 1s ease-in-out width;
      }
    }

    &--popular {
      border-top: 1px solid $c-border-grey-blue;
    }

    &--collections::after {
      @include breakpoint($bp-medium-plus) {
        border-bottom: none;
      }
    }
  }

  // Using nth-child because this styles are grid layout related.

  &__item:nth-child(1) {
    @include breakpoint($bp-medium-plus) {
      margin-right: 1rem;
    }
  }

  &__item:nth-child(2) {
    position: relative;

    &::before {
      @include breakpoint($bp-medium-plus) {
        content: "";
        display: block;
        position: absolute;
        height: auto;
        width: 1px;
        border-left: 1px solid $c-border-grey-blue;
        top: 1rem;
        bottom: 0;
        left: -3rem;
      }

      @include breakpoint($bp-full) {
        top: -90px;
      }
    }
  }

  &__item:nth-child(4) {
    @include breakpoint($bp-medium) {
      margin-bottom: 4rem;
    }

    @include breakpoint($bp-medium-plus) {
      margin-bottom: 1rem;
    }
  }

  &__item:nth-child(5) {
    @include breakpoint($bp-medium) {
      position: relative;
      margin-left: 2rem;
    }

    @include breakpoint($bp-medium-plus) {
      margin-left: 0;
    }

    &::before {
      @include breakpoint($bp-medium) {
        content: "";
        display: block;
        position: absolute;
        height: auto;
        width: 1px;
        border-left: 1px solid #d5d9de;
        top: 1rem;
        bottom: 0;
        left: -2rem;
      }

      @include breakpoint($bp-medium-plus) {
        display: none;
      }
    }
  }

  &__item:nth-child(6) {
    .mag-submenu {
      margin-bottom: 1.5rem;

      @include breakpoint($bp-medium-plus) {
        margin-bottom: 0;
      }
    }
  }

  &__item:nth-child(7) {
    .mag-submenu {
      @include breakpoint($bp-medium-plus) {
        margin-bottom: 0;
      }
    }
  }

  &__no-link + .mag-submenu {
    margin-top: .5rem;
  }

  &__link {
    // line-height: 32px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    // specificity modification
    #{$block} & {
      color: $c-dark-navy;
    }

    &:hover {
      text-decoration: underline;
    }

    // top level li
    &--alt {
      @include magazine-eyebrow;
      text-decoration: underline;
      text-underline-offset: .3rem;
      margin: 0;
      line-height: 48px;

      @include breakpoint($bp-medium-plus) {
        line-height: 32px;
        margin-bottom: 18px;
      }

      &:hover  {
        color: $c-blue-link;

        .icon-home {
          filter: $filter-c-blue-link;
        }
      }

      #{$block}__item--home & {
        @include breakpoint($bp-medium-plus) {
          justify-content: start;
        }
      }
    }

    // Making sure that external icon wraps to new line with the word.
    &.ext {
      display: inline-block;
    }

  }

  &__no-link {
    position: relative;
    font-family: $font-helvetica-neue-light;
    color: $c-dark-navy;
    margin-bottom: 0;


    &:hover {
      @include breakpoint(max-width $bp-medium-plus) {
        color: $c-blue-link;
      }
    }

    #{$block} & {
      font-size: 1.5rem;
      line-height: 66px;
      font-family: $font-helvetica-neue-light;
    }
  }

  .icon-home {
    background-size: 1.5rem;
    width: 1.375rem;
    height: 1.375rem;
    margin-left: .75rem;
  }
}

.mag-nav .slicknav_btn {
  position: relative;
  float: left
}

.menu-item--expanded .mag-menu__no-link {
  &::after {
    width: 0%;

    @include breakpoint($bp-medium-plus) {
      width: 100%;
    }
  }
}

// Visit UCSF News Center ( mobile/tablet ).
.mag-nav__ucsf-news--menu {
  @include external-link-icon();
  font-size: 1.125rem;
  font-family: $font-helvetica-neue-medium;
  line-height: 77px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include breakpoint($bp-medium-plus) {
    display: none;
  }

  // Modify external link icon for UCSF News link on small screen.
  &[href*="http"]::after {
    width: 2rem;
    height: 2rem;
    background-size: 25px 25px;
    top: 29%;
    right: 0;

    @include breakpoint($bp-medium-plus) {
      display: none;
    }
  }

  // Needed more specificity
  .mag-menu__menu & {
    color: $c-dark-navy;

    &:hover {
      color: $c-blue-link;
    }
  }
}

.mag-nav__ucsf-give--menu {
  display: block;
  position: relative;
  width: calc(100% + (#{$page-gutter} * 2)); // busting out of the container
  margin-left: -#{$page-gutter}; //aligning to the left

  @include breakpoint($bp-large) {
    display: block;
  }

  @include breakpoint($bp-medium-plus) {
    display: none;
  }

  /*---------------In this section---------------------*\
    MENU "GIVE" BUTTON
  \*---------------------------------------------------*/
  .universal-header__give {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
    // specificity war
    .mag-nav__ucsf & {
      background-position-x: calc(100% - 15px); // icon needs to be flush with the right edge
      background-size: 38px;
    }

    @include breakpoint($bp-large) {
      width: calc(100% + (#{$page-gutter} * 2)); // busting out of the container
      float: none;
      color: $c-white;
      width: 100%;
      text-align: left;
      font-family: $font-helvetica-neue-medium;
      background: url(/themes/custom/ucsf/assets/images/card/heart-reverse.svg) center no-repeat #007cbe;
      background-size: 38px;
      background-position-x: calc(100% - 15px); // icon needs to be flush with the right edge
    }

    @include breakpoint($bp-medium-plus) {
      display: none;
    }
  }
}


.mag-submenu {
  // variable to print .mag-menu
  $block: &;

  &__menu {
    padding: 0;
  }

  &__item {
    line-height: 18px;
    margin-bottom: 16px;

    @include breakpoint($bp-medium-plus) {
      line-height: 20px;
      margin-bottom: 18px;
    }
  }

  &__link {
    font-family: $font-helvetica-neue-roman;
    font-size: 0.9rem;
    position: relative;

    // specificity modification
    #{$block} & {
      color: $c-gulf-blue;

      &:hover {
        color: $c-blue-link;
      }
    }
  }

  .mag-menu__item--featured & {
    display: none;
    visibility: hidden;

    @include breakpoint($bp-medium-plus) {
      display: block;
      visibility: visible;
    }
  }

  // Mobile dropdown
  .mag-menu__item--active & {
    display: block;
    visibility: visible;
  }
}

.latest-issue a {
  display: block;
  padding-bottom: 0;
  color: $c-gulf-blue !important;

  &:hover {
    color: $c-blue-link !important;
  }

  img {
    margin-top: 24px;
    margin-bottom: 13px;
  }
}

// Add external link icon to submenu items with external url,
.mag-submenu__link,
.mag-menu__link--alt {
  @include external-link-icon();

  &[href*="http"] {
    display: inline-block;

    &::after {
      display: inline-block;
      filter: $filter-c-gulf-blue;
    }

    // Remove icon from the links that have full url but are local.
    &[href*="//magazine"] {
      display: flex;
      &::after {
        display: none;
        filter: none;
      }
    }
  }
}
// External link icon - End
