{% set classes = [
  'js-tabs',
  'layout-left-30-70',
  paragraph.field_vertical_tab_design.value,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content|without('field_vertical_tab_design') }}
</div>
