{% set classes = [
  'paragraph--type--gallery',
] %}

{{ attach_library('ucsf/slick_gallery') }}
<div class="paragraph-text-block gallery-background-fill"></div>
<div{{ attributes.addClass(classes) }}>

  <div class="gallery-container">
  {{ content }}
  </div>
</div>

