
<div class="nobel-card">
  {{ content.field_nobel_winner_image }}
  <p class="nobel-card__date">{{ paragraph.field_nobel_winner_date.value|date("Y") }}</p>
  <h3 class="nobel-card__title">{{ paragraph.field_nobel_winner_name.value }}</h3>
  <div class="nobel-card__content">{{ content.field_nobel_winner_description }}</div>
</div>
