{% set classes = [
  'alert-content',
  'background-' ~ paragraph.field_textbox_background_color.entity.label|clean_class,
] %}

<div class="alert-wrapper">
  <div{{ attributes.addClass(classes) }}>
      {{ content|without(
        'field_textbox_background_color'
      ) }}
  </div>
</div>
