{% set classes = ['blockquote', 'blockquote-full-width'] %}

<blockquote{{ attributes.addClass(classes) }}>
  {{ content.field_blockquote_image }}
  <div class="blockquote-content">
    {{ content|without('field_blockquote_image') }}
  </div>
</blockquote>
