{% set classes = ['video', 'article-full-width'] %}

<div class="article-full-width__space"></div>
  <div {{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
<div class="article-full-width__space"></div>
