{% set classes = [
  paragraph.field_background_color.value,
  'latest-events-list'
] %}

<div{{ attributes.addClass(classes) }}>
  {% include '@theme/misc/events.twig' %}
  {{ content|without('field_background_color') }}
</div>
