{% if paragraph.field_full_width_desktop_area[0].value == '1' %}
  {% set fullwidth = 'paragraph-responsive-areas-fullwidth' %}
{% endif %}

{% set classes = [
'paragraph-text-block paragraph-responsive-areas',
fullwidth
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content|without('field_full_width_desktop_area') }}
</div>
