{% set classes = [
  'paragraph--type--gallery',
] %}

{{ attach_library('ucsf/slick_gallery') }}
<div{{ attributes.addClass(classes) }}>
  <div class="gallery-container">
  {{ content }}
  </div>
</div>

