{% set classes = [
  'layout-columns__' ~ paragraph.field_content_wrapper_content.value |length,
  paragraph.field_background_color.value
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content|without('field_background_color') }}
</div>
