{% set classes = [
  'layout-left-70-30',
  paragraph.field_background_color.value,
  'clearfix'
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content|without('field_background_color') }}
</div>
