{% extends 'field.html.twig' %}
{% block multiple_item_no_label %}
  <ul class="home-search__presearch-links">
  {% for item in items %}
    <li{{ item.attributes.addClass('home-search__presearch-link') }}>{{ item.content }}</li>
  {% endfor %}
  </ul>
{% endblock multiple_item_no_label %}
