.field-ankle-cta {
  h2,
  h3 {
    strong {
      font-family: $font-helvetica-neue-medium;
      font-weight: normal;
    }
  }

  h2,
  h3 {
    em {
      font-family: $font-helvetica-neue-light;
      font-style: italic;
    }
  }

  h2 {
    @include fs-articles-title;
    color: $c-dark-navy;
  }
}
