// Header style shared by Page content types
.mag-basic-header {
  @include wrapper;

  background: $c-grey-pale;
  margin-bottom: $space-five;
  padding: 20px;
  color: $c-dark-navy;

  @include breakpoint($new-small) {
    padding: $space-five;
    margin-bottom: $space-ten;
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
  }

  &__title {
    @include fs-heading($c-dark-navy);

    // Specificity issue
    .magazine-topic-issue-page & {
      @include fs-heading($c-dark-navy);
    }
  }

  &__subtitle {
    font-family: $font-helvetica-neue-light;
    color: $magazine-gray-blue;

    p {
      margin: 8px 0;
    }
  }
}
