@use "../0_tools" as *;
// Magazine styling for Footer Ankle CTAs
.footer-ctas-wrapper--mag {
  h2 {
    @include fs-articles-title;
    color: $c-dark-navy;
  }

  button {
    color: $c-dark-navy;
    border-color: $c-dark-navy;

    &:hover {
      color: #fff;
      border-color: $c-blue-link;
    }
  }
}
