.article-issue {
  .four-card-row &,
  .magazine-card__byline &,
  .magazine-home-feature--alt & {
    display: inline;
    text-transform: none;
    color: $c-gray-blue;
  }

  // Taxonomy Pages "Article Issue". Featured Articles component.

  .magazine-feature-support--issue-page & {
    display: none;

    &::before {
      display: none;
    }
  }
}
