.nav-toggle {
  // variable to print .nav-toggle
  $block: &;
  $menu-bar-position: 7px;

  float: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 25px;
  max-width: 25px;
  width: 25px;
  height: auto;
  background-color: transparent;
  border: 0;
  outline: 1px solid transparent;

  &__icon {
    display: block;
    position: relative;
    width: 25px;
    height: 2px;
    background-color: $c-blue-link;
    outline: 1px solid transparent;
    transition-property: background-color, transform;
    transition-duration: .3s;
    margin: 0;
    text-indent: 300%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      background-color: $c-blue-link;
      outline: 1px solid transparent;
      transition-property: background-color,transform;
      transition-duration: .3s;
    }

    &::before {
      top: -#{$menu-bar-position};
    }

    &::after {
      top: $menu-bar-position;
    }

    #{$block}--active & {
      background-color: transparent;
      &::before {
        transform: translateY($menu-bar-position) rotate(45deg);
      }
      &::after {
        transform: translateY(-#{$menu-bar-position}) rotate(-45deg);
      }
    }
  }
}

.subnav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;

  &:hover .accordion-arrow {
    border-top-color: $c-blue-link;
    border-right-color: $c-blue-link;
  }

  &__icon {
    margin-left: auto;
  }
}
