.nav-toggle {
  // variable to print .nav-toggle
  $block: &;
  $menu-bar-width: 25px;
  $menu-bar-width-large: 30px;
  $menu-bar-position: 7px;
  $menu-bar-position-large: 10px;

  float: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: $menu-bar-width;
  max-width: $menu-bar-width;
  width: $menu-bar-width;
  height: auto;
  background-color: transparent;
  border: 0;
  outline: 1px solid transparent;

  @include breakpoint ($bp-large) {
    min-width: $menu-bar-width-large;
    max-width: $menu-bar-width-large;
    width: $menu-bar-width-large;
    height: 50px;
  }

  &__icon {
    display: block;
    position: relative;
    width: $menu-bar-width;
    height: 2px;
    background-color: $c-blue-link;
    outline: 1px solid transparent;
    transition-property: background-color, transform;
    transition-duration: .3s;
    margin: 0;
    text-indent: 300%;

    @include breakpoint ($bp-large) {
      width: $menu-bar-width-large;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: $menu-bar-width;
      height: 2px;
      background-color: $c-blue-link;
      outline: 1px solid transparent;
      transition-property: background-color,transform;
      transition-duration: .3s;

      @include breakpoint ($bp-large) {
        width: $menu-bar-width-large;
      }
    }

    &::before {
      top: -#{$menu-bar-position};

      @include breakpoint ($bp-large) {
        top: -#{$menu-bar-position-large};
      }
    }

    &::after {
      top: $menu-bar-position-large;
    }

    #{$block}--active & {
      background-color: transparent;
      &::before {
        transform: translateY($menu-bar-position) rotate(45deg);

        @include breakpoint ($bp-large) {
          transform: translateY($menu-bar-position-large) rotate(45deg);
        }
      }
      &::after {
        transform: translateY(-#{$menu-bar-position}) rotate(-45deg);

        @include breakpoint ($bp-large) {
          transform: translateY(-#{$menu-bar-position-large}) rotate(45deg);
        }
      }
    }
  }
}

.subnav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;

  &:hover .accordion-arrow {
    border-top-color: $c-blue-link;
    border-right-color: $c-blue-link;
  }

  &__icon {
    margin-left: auto;
  }

  @include breakpoint($bp-medium-plus) {
    display: none;
  }
}
