
blockquote {
  background: #f2f4f6;
  width: 40%;
  padding: 3%;
  box-sizing: border-box;
}
blockquote p {
  border: 1px inset #d9dbdd;;
}
.blockquote--half-left {
  float: left;
}
.blockquote--half-right {
  float: right;
}

.blockquote--full-right {
  width: 95%;
  margin-left: 5%;
  margin-right: 0;
  border-left-width: 1rem;
  border-left-style: solid;
}

.blockquote--color-blue {
  border-color: #4896E8;
}

.blockquote--color-light-blue {
  border-color: #178ccb;
}

.blockquote--color-teal {
  border-color: #16A0AC;
}

.blockquote--color-cool-green {
  border-color: #32A03E;
}

.blockquote--color-warm-green {
  border-color: #2C8A1A;
}

.blockquote--color-green {
  border-color: #2C8A1A;
}

.blockquote--color-purple {
  border-color: #6C62D0;
}

.blockquote--color-violet {
  border-color: #A238BA;
}

.blockquote--color-magenta {
  border-color: #C42882;
}

.blockquote--color-gray {
  border-color: #9ba6b6;
}

.blockquote--color-navy {
  border-color: #052049;
}

.blockquote--color-yellow {
  border-color: #FEB80A;
}

.blockquote--color-dark-gray {
  border-color: #21272A;
}

.blockquote--color-black {
  border-color: #21272A;
}

.blockquote--color-green {
  border-color: #2C8A1A;
}

.align--center {
  margin-left: auto;
  margin-right: auto;
}
.size--full {
  width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;
}

/**
.align--left {
  @include breakpoint($bp--medium-up) {
    float: left;
    margin-right: 3%;
  }
}
.align--right {
  @include breakpoint($bp--medium-up) {
    float: right;
    margin-left: 3%;
  }
}
.size--half{
  @include breakpoint($bp--medium-up) {
    width: 50%;
  }
}
.size--twofifth {
  @include breakpoint($bp--medium-up) {
    width: 40%;
  }
}
.size--third {
  @include breakpoint($bp--medium-up) {
    width: 33%;
  }
}
*/
