$icon-logo-height: 41px;
$icon-logo-height-sticky: 30px;

.header-region {
  @include breakpoint($bp-until-large) {
    background: $white;
    padding-bottom: 12px;
    padding-top: 11px;
    height: 50px;
  }

  @include breakpoint($bp-large) {
    background: $white;
    box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.02);
  }
}

.ie-message {
  display: none;
}

.header {
  @include wrapper;
  max-width: $full-width-elements;
  padding: 0 20px;


  @include breakpoint($bp-until-large) {
    line-height: 26px;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    vertical-align: middle;
  }

  @include breakpoint($bp-large) {
    @include grid-two-auto;
    align-items: center;
    margin-bottom: 0;
  }
}

.logo__img {
  @include breakpoint($bp-until-large) {
    display: inline-block;
    line-height: 26px;
    height: 26px;
    width: 54px;
    vertical-align: middle;
  }

  @include breakpoint($bp-large) {
    height: $icon-logo-height;
  }
}

.header--search {
  a {
    @include link-colors($c-navy, $c-blue-link);

    position: absolute;
    right: 60px;
    top: 0;
    background: url(/themes/custom/ucsf/assets/images/magnifier-hover.svg) no-repeat center #fff;
    background-size: 18px 18px;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    padding: 3px 0;

    &:hover {
      background: url(/themes/custom/ucsf/assets/images/magnifier.svg) no-repeat center #fff;
      background-size: 18px 18px;
    }

    &.active {
      background: url(/themes/custom/ucsf/assets/images/x-large.svg) no-repeat center #fff;
      background-size: 18px 18px;

      &:hover {
        background: url(/themes/custom/ucsf/assets/images/x-large.svg) no-repeat center #fff;
        background-size: 18px 18px;
      }
    }

    span {
      display: block;
      text-indent: -9999px;
    }
  }

  .home-search__form {
    @include visually-hidden;
    animation: none;

    &.active {
      @include visually-hidden-reset;
      @include menu-animation;

      // z-index needs to be above 1 so that Subnav menu (ucsf.edu/cphp)
      //  doesn't cover it in mobile.
      z-index: 2;
      width: 100%;
      position: relative !important;
      top: 10px;

      .search__form {
        background: $white;
        border: 1px solid #efefef;

        .home-search__form-input {
          border: none;
        }

        .home-search__form-submit {
          margin-left: -70px;
        }
      }

      .path-search & {
        display: none;
      }
    }
  }

  &.header--search-active + .slicknav-placeholder {
     .slicknav_nav {
      top: 170px;
    }
  }

  @include breakpoint($bp-until-large) {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
  }

  @include breakpoint($bp-large) {
      display: none;
  }
}

/**
 * ----------------------------------------
 * Sticky Navbar on scroll up
 * ----------------------------------------
 */
.fixed-nav {
  // Same as header nav height.
  // calculated with JavaScript
  padding-bottom: var(--nav-height);

  .header-region {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-quicklinks;
  }

  .logo__img {
    height: $icon-logo-height-sticky;
  }
}

.fixed-nav--visible {
  .header-region {
    animation: $transition-time cubic-bezier(0.77, 0, 0.175, 1) slide-in;
    transform: translateY(0);
  }
}

%fixed-nav--hidden {
  transform: translateY(-100%);

  @include breakpoint($bp-large) {
    transform: translateY(-106%); // To hide current page underline in Chrome
  }
}

// No animation so that when pre-hiding the navbar it won't slide in and out.
.fixed-nav--pre-hidden {
  .header-region {
    @extend %fixed-nav--hidden;
  }
}

// Adding an animation so that the navbar will slide out of view from a once
// visible state.
.fixed-nav--hidden {
  .header-region {
    @extend %fixed-nav--hidden;
    animation: $transition-time cubic-bezier(0.77, 0, 0.175, 1) slide-out;
  }
}
