.universal-header__give {
  display: block;
  padding: $space;
  padding-top: 10px;
  min-width: $space-nineteen;
  border: none;
  background: $c-blue;
  color: $c-white;
  width: 100%;
  text-align: center;

  &:hover {
    background: $c-blue-link;
  }

  @include breakpoint($bp-large) {
    display: inline-block;
    width: auto;
    float: right;
  }

  .universal-header & {
    @include breakpoint($bp-until-large) {
      display: none;
    }
  }
}
.universal-header-region {
  @include clearfix;
  @include fs-universal-header;
  background: $c-navy;

  a {
    color: $c-white;
  }

  @include breakpoint($bp-until-large) {
    height: 40px;
  }
}

.universal-header {
  //@include grid-two;

  margin-bottom: 0;
  max-width: $full-width-elements;
  padding: 0 20px;
  vertical-align: middle;

  .universal-header__title {
    margin: 0;
    padding: $space 0;

    @include breakpoint($bp-medium) {
      display: inline-block;
    }
  }
}
