.universal-header-region {
  @include clearfix;
  @include fs-universal-header;
  background: $c-navy;
  color: $c-white;
  a {
    color: $c-white;
  }
}

.universal-header {
  margin-bottom: 0;
  max-width: $bp-header;
  vertical-align: middle;

  .universal-header__title {
    display: inline-block;
    margin: 0;
    padding: $space 0 $space $space;
    width: calc(100% - 157px);
  }

  .universal-header__give {
    display: inline-block;
    padding: $space 0;
    padding-top: 10px;
    min-width: $space-nineteen;
    border: none;
    background: $c-blue;
    color: $c-white;
    width: $space-nineteen;
  }
}
