.universal-header-region {
  @include fs-universal-header;
  background: $c-navy;
  color: $c-white;

  a {
    color: $c-white;
  }
}

.universal-header {
  @include grid-two;

  margin-bottom: 0;
  max-width: $xl;

  .universal-header__title {
    margin: 0;
    padding: $space 0;
    line-height: 1.2;
  }

  .universal-header__give {
    padding: $space 0;
    padding-top: 10px;
    min-width: $space-nineteen;
    border: none;
    background: $blue;
    color: $white;
    cursor: pointer;
  }
}
