.achievements-carousel {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: $full;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-top: $space-seven;
  margin-bottom: $space-nine;
  padding-left: $space-ten;
  padding-bottom: $space-three;

  li {
    display: inline-block;
    list-style: none;
  }

  /* &::-webkit-scrollbar {
    height: 5px;
    background-color: $gray-lighter;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-blue;
    border-radius: 5px;

    &:hover {
      background-color: $blue;
    }
  } */
}

.achievements-carousel__one {
  width: 1167px;
  position: relative;
}

.achievements-carousel__two {
  width: 801px;
}

.achievements-carousel__three {
  width: 1123px;
}

.achievements-banner {
  margin: 0 auto;
  padding: 0 0 $space-ten 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  white-space: normal;
}

.achievements-banner__title {
  @include display;
}

.achievements-banner__subheading {
  margin-bottom: 0;
  margin-top: $space-three;
}

.achievements-banner__links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;

  li {
    display: inline-block;
    margin-left: $space-five;

    &:first-child {
      margin-left: 0;
    }
  }
}

.full-bleed-subbanner {
  grid-column: 1/-1;
  position: relative;
}

.full-bleed-subbanner__image {
  height: 463px;
}

.full-bleed-subbanner__content {
  width: 48%;
  background: white;
  height: auto;
  padding: $space-eight $space-eleven;
  position: absolute;
  bottom: 0;
  left: 0;
}

.subbanner-right {
  .full-bleed-subbanner__content {
    left: auto;
    right: 0;
  }
}

.full-bleed-subbanner__title,
.full-banner-subbanner__subtitle {
  margin: 0;
}

.full-bleed-subbanner__title {
  @include heading;

  margin-bottom: $space-two;
}

.nobel-card__date {
  @include eyebrow;

  margin-bottom: $space-two;
  padding-top: $space-two;
  line-height: 1;
}

.nobel-card__title {
  @include heading-three;

  margin: 0;
  margin-bottom: $space-two;
}

.nobel-card__content {
  margin-bottom: 0;
}

.memberships {
  @include grid;

  grid-column: 1/-1;
  padding: $space-ten;
  padding-bottom: $space-five;
}

.memberships__content {
  grid-column: 9/-1;
  grid-row: 1/-1;
}

.memberships__title {
  @include heading-two;

  line-height: 1.2;
  margin-bottom: 0;
}

.memberships-cards {
  grid-column: 1/9;
  grid-row: 1/-1;
  list-style: none;
  margin: 0;
  padding: 0;

  @include grid-three;
}

.memberships-cards__card {
  border: 1px solid $gray-border;
  margin-right: $space-three;
  padding: $space-four;
  min-height: 285px;
  margin-bottom: $space-five;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.memberships-cards__title,
.memberships-cards__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.memberships-cards__title {
  @include display;

  color: $teal;
  margin-bottom: $space-four;
}

.memberships-cards__subtitle {
  font-family: $font-helvetica-neue-medium;
  line-height: 1.4;
}

.award-winners {
  list-style: none;
  margin: 0;
  margin-bottom: $space-six !important;
  padding: 0;
  padding-right: $space-fourteen;
  padding-bottom: $space-five;
  height: 452px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $gray-lighter;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-blue;
    border-radius: 5px;

    &:hover {
      background-color: $blue;
    }
  }
}

.award-winners__date {
  @include eyebrow;
}

.award-winners__name {
  margin-top: 0;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $space-three;
  margin-right: $space-fourteen;
  font-family: $font-helvetica-neue-medium;

  a {
    color: $navy;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

.award-winners__image {
  float: right;
  filter: grayscale(100%);
}
