.achievements-banner {
  max-width: $full;
  margin: 0 auto;
  padding: $space-seven 0 $space-ten $space-ten;
}

.achievements-banner__title {
  @include display;
}

.achievements-banner__subheading {
  margin-bottom: 0;
}

.achievements-banner__links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;

  li {
    display: inline-block;
    margin-left: $space-five;

    &:first-child {
      margin-left: 0;
    }
  }
}

.full-bleed-subbanner {
  grid-column: 1/-1;
}

.full-bleed-subbanner__image {
  height: 463px;
  display: flex;
}

.subbanner-right {
  justify-content: end;
}

.full-bleed-subbanner__content {
  width: 48%;
  background: white;
  align-self: end;
  height: auto;
  padding: $space-eight $space-eleven;
}

.full-bleed-subbanner__title,
.full-banner-subbanner__subtitle {
  margin: 0;
}

.full-bleed-subbanner__title {
  @include heading;

  margin-bottom: $space-two;
}
