@use "../0_tools" as *;
/*------------------------------------*\
  # Aligned Image / Video Embeds
\*------------------------------------*/
// Moved the logic for aligning images here from _node-article.scss

// HALF IMAGE, HALF IMAGE CAPTION
// HALF IMAGE FULL, HALF IMAGE FULL CAPTION
// ALIGN-LEFT, ALIGN-RIGHT

.wysiwyg_blankdiv {
  border: 0px solid midnightblue;
  //background-color: #85bef4;
  //display: block;
  //padding: 1em 1em;
  overflow: auto;
}

// Code for wrapper of image or video.
// Span element full width of the screen
@mixin wrapper-full-width-small-screen() {
  margin-top: 0;
  margin-left: -#{$article-gutter};
  margin-right: -#{$article-gutter};
  margin-bottom: $space-quadruple;
  display: table;
  width: calc(100% + (#{$article-gutter} * 2));
}

/*---------------In this section---------------------*\
  HALF IMAGE, HALF IMAGE with CAPTION
\*---------------------------------------------------*/
// These can technically have video as well as images.
@each $direction in $align-directions {
  .half-image-#{$direction} {
    @include wrapper-full-width-small-screen();
    clear: both;

    @media ($above-s) {
      max-width: 50%;
      width: 100%;
      float: $direction;
      clear: $direction;

      @if $direction == left {
        margin-right: $space-decuple;
        margin-left: -#{$article-gutter-bp-new-small};
      } @else {
        margin-right: -#{$article-gutter-bp-new-small};
        margin-left: $space-decuple;
      }
    }

    @media ($above-xl) {
      max-width: 55%;
      margin-#{$direction}: -20%;
    }

    @media ($above-xxl) {
      max-width: 480px;
      margin-#{$direction}: -25%;
    }

    img {
      // Force the image to fill the screen width in mobile.
      width: 100vw;
    }

    figcaption {
      padding-top: $space-double;
      padding-right: $article-gutter;
      padding-left: $article-gutter;

      @media ($above-s) {
        @if $direction == left {
          padding-right: 0;
          padding-left: 29%;
          text-align: right;
        } @else {
          padding-right: 29%;
          padding-left: 0;
        }
      }

      @media ($above-xl) {
        padding-#{$direction}: 37%;
      }

      @media ($above-xxl) {
        padding-#{$direction}: 42.5%;
      }
    }
  }
}

/*---------------In this section---------------------*\
  HALF IMAGE FULL, HALF IMAGE FULL with CAPTION
\*---------------------------------------------------*/
// These can technically have video as well as images.
@each $direction in $align-directions {
  .half-image-#{$direction}-full {
    @include wrapper-full-width-small-screen();

    @media ($above-s) {
      max-width: 55%;
      width: 100%;
      float: $direction;
      clear: $direction;

      @if $direction == left {
        margin-right: $space-decuple;
        margin-left: -#{$article-gutter-bp-new-small};
      } @else {
        margin-right: -#{$article-gutter-bp-new-small};
        margin-left: $space-decuple;
      }
    }

    @media ($above-s) {
      max-width: 55%;
      margin-#{$direction}: -#{$article-gutter-bp-new-small};
    }

    @media ($above-xl) {
      max-width: 75%;
      margin-#{$direction}: -24%;
    }

    @media ($above-xxl) {
      max-width: 680px;
      margin-#{$direction}: -37%;
    }

    img {
      // Force the image to fill the screen width in mobile.
      width: 100vw;
    }

    figcaption {
      padding-top: $space-double;
      padding-right: $article-gutter;
      padding-left: $article-gutter;

      @media ($above-s) {
        @if $direction == left {
          padding-right: 0;
          padding-left: 26%;
          text-align: right;
        } @else {
          padding-right: 26%;
          padding-left: 0;
        }
      }

      @media ($above-xl) {
        padding-#{$direction}: 32%;
      }

      @media ($above-xxl) {
        padding-#{$direction}: 44%;
      }
    }
  }
}

/*---------------In this section---------------------*\
  ALIGN-LEFT, ALIGN-RIGHT
\*---------------------------------------------------*/
// Used in mostly for portraits:

@each $direction in $align-directions {
  .align-#{$direction} {
    display: table;
    float: $direction;
    width: 100%;
    margin-bottom: $space-quadruple;

    @media ($above-s) {
      width: initial;

      @if $direction == left {
        margin-right: $space-five;
      } @else {
        margin-left: $space-five;
      }
    }

    img {
      @media ($below-s) {
        width: 100%;
      }
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}

/*---------------In this section---------------------*\
  FULL WIDTH ELEMENTS
\*---------------------------------------------------*/
.align-center {
  display: table;
  width: 100%;
  margin-top: $space-two;
  margin-bottom: $space-two;

  @media ($above-s) {
    width: initial;
    margin-top: $space-five;
    margin-bottom: $space-five;
  }

  img,
  figcaption {
    margin: 0 auto;
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
}

// Fixing the bug with center aligned videos not having any width
.align-center--video {
  width: 100%;
}
