@use "../0_tools" as *;
// Height of icon container in small screen
$icon-nav-height: 2.4rem;

$icon-size: 1.35rem; // Small screen
$icon-size-big: 26px; // Desktop

// Array of social icon names and colors
$icon-map: (
  facebook-square: $facebook-color,
  twitter-square: $twitter-color,
  reddit-square: $reddit-color,
  envelope-square: $f3-purple,
  print: $c-teal
);

.article-meta-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: $icon-nav-height;
  padding: 0 20px;
  margin: 0;
  position: fixed;
  bottom: -100%;
  list-style: none;
  background-color: $i6-gray;
  transition: $transition-time-short cubic-bezier(0.77, 0, 0.175, 1);
  transition-property: opacity, bottom;
  z-index: 1;

  @media ($above-xl) {
    grid-row: 2;
    position: sticky;
    flex-direction: column;
    justify-content: inherit;
    width: auto;
    height: 20rem;
    top: $space-ten;
    bottom: initial;
    background-color: transparent;
  }

  @media ($above-xxl) {
    grid-column: 2 / 3;
    padding: 0 40%;
  }

  .page-node-type-article &,
  .page-node-type-magazine-article & {
    margin-top: 0;

    @media ($above-xl) {
      margin-top: $space-four;
      z-index: 0;
    }
  }

  li {
    margin: 0 0 0 1.4rem;

    @media ($above-xl) {
      margin: 0 0 1.3rem 0;
    }
  }

  a {
    display: block;
    line-height: 0;
    font-size: $icon-size;
    height: $icon-size;
    border-bottom: none;

    @media ($above-xl) {
      font-size: $icon-size-big;
    }

    &:hover {
      border-bottom: none;
      background-color: transparent;
    }
  }

  // for each item in in $icon-map create a selector based on the array $key name
  // Apply color value.
  @each $name, $color in $icon-map {
    .fa-#{$name} {
      color: $color;
      transition: $transition-time cubic-bezier(0.77, 0, 0.175, 1) color;

      @media ($above-xl) {
        color: $c-gray-blue;

        &:hover {
          color: $color;
        }
      }
    }
  }

  .fa-print {
    @media ($above-xl) {
      font-size: 24px;
    }
  }

  .indent-text {
    position: absolute;
    left: -9999px;
    display: block;
  }

  &.is-visible {
    bottom: 0;
  }

  // applied in ucsf_element_overlap_detection.js
  &.is-overlapping {
    opacity: 0;
    pointer-events: none;
  }

}

.article-feature-content {
  @media ($above-xl) {
    .article-meta-share {
      grid-row: 1;
      margin-top: $space-ten;
    }
  }
}

