{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 *
 * Current play video variables:
 * - currentVideo.videoId: Current video Id.
 * - currentVideo.title: Current video title.
 * - currentVideo.description:Current video description.
 * - currentVideo.publishedAt: Current video published date.
 *
 * More video listing:
 * - content.items: This variable returns youtube data.
 *
 */
#}


<div class="youtube_videos"">
{% for key, value in content.items %}
		<a target= "_blank" href="https://www.youtube.com/watch?v={{ value.snippet.resourceId.videoId }}">
			<img src={{ value.snippet.thumbnails.medium.url }} />
		</a>
		<p>
			<a target= "_blank" href="https://www.youtube.com/watch?v={{ value.snippet.resourceId.videoId}}">
				{{ value.snippet.title}}
			</a>
		</p>
{% endfor %}
</div>

