<footer class="footer-region">
	<div class="footer">

    <figure class="footer-logo">
      <a class="footer-logo__link" href="/">
        <div class="footer-logo__image">
          <img class="footer-logo__img" src="/{{ directory ~ '/images/ucsf-magazine-logo-white.svg' }}" alt="{{ 'UCSF Footer Logo'|t }}" width="498" height="75">
        </div>
      </a>
    </figure>

		<div class="follow">
			<h2>Follow UCSF:</h2>
			<ul>
				<li class="follow-facebook">
					<a href="https://www.facebook.com/ucsf">
						<span class="fab fa-facebook-f"></span>
						<span class="indent-text">Facebook</span>
					</a>
				</li>
				<li class="follow-twitter">
					<a href="https://www.twitter.com/ucsf">
						<span class="fab fa-twitter"></span>
						<span class="indent-text">Twitter</span>
					</a>
				</li>
				<li class="follow-youtube">
					<a href="https://www.youtube.com/ucsf">
						<span class="fab fa-youtube"></span>
						<span class="indent-text">YouTube</span>
					</a>
				</li>
				<li class="follow-instagram">
					<a href="https://www.instagram.com/ucsf">
						<span class="fab fa-instagram"></span>
						<span class="indent-text">Instagram</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="subscribe-form">
			<h2 class="subscribe-form__title">Stay up to date
				<span>on the latest at
					<em>UCSF Magazine</em>
				</span>
			</h2>
			<form action="/subscribe-magazine" class="email-subscribe" method="GET">
				<label class="visually-hidden" for="email-subscribe">E-mail</label>
				<input class="email-subscribe__input" id="email-subscribe" name="email" onblur="this.placeholder='Enter your email'" onfocus="this.placeholder=''" placeholder="Enter your email" required="required" type="text" value="">
				<button class="email-subscribe__submit">Subscribe</button>
			</form>
		</div>

		{{ content }}
	</div>

	<div class="footer-bottom">
		<p>© 2002 -
			{{ "now"|date('Y') }}
			The Regents of The University of California</p>

		<ul>
			<li><a href="/node/420766">Site Map</a></li>
			<li><a href="https://websites.ucsf.edu/digital-accessibility">Accessibility</a></li>
			<li><a href="https://www.ucsf.edu/website-privacy-policy">Privacy Policy</a></li>
			<li><a href="https://websites.ucsf.edu/website-terms-use">Terms of Use </a></li>
			<li><a href="https://websites.ucsf.edu/azlist">A-Z Website List</a></li>
		</ul>

	</div>
</footer>
