{# {% extends '@ucsf/region/region--header.html.twig' %}
{% set header_class = 'header--magazine' %} #}
{% extends 'region.html.twig' %}

{% block content %}
  {# var is_minimized_sticky_menu is created through php-includes\region.inc #}
  <header class="combined-header-region {% if is_minimized_sticky_menu %} is-minimized-sticky-menu fixed-nav fixed-nav--visible{% endif %}">
    <section class="universal-header-region">
      <div class="universal-header universal-header-mag">
        <p id="site-name" class="universal-header__title">University of California San Francisco</p>
        <div class="mag-nav__ucsf">
          <a href="https://ucsf.edu/news" class="mag-nav__ucsf-news">Visit UCSF News Center<span class="ext" aria-label="(link is external)"></span></a>
          <a href="https://giving.ucsf.edu" class="universal-header__give mag-nav__ucsf-give">Give to UCSF</a>
        </div>
      </div>
    </section>
    <section class="header-region mag-nav">
      <div class="header {{header_class}} mag-nav__navbar">
        {% set expanded = "false" %}
        <button class="nav-toggle slicknav_btn" aria-expanded={{expanded}}>
          <span class="nav-toggle__icon">Toggle Main Menu</span>
        </button>

        {% block logo %}
          {% include '@ucsf_mag/components/header/magazine-header--logo.twig' %}
        {% endblock logo %}
        {% set modifyer_search_vars = {
          modifyer_search_icon: 'mag-mobile-search-reveal',
          modifyer_search_form: 'mag-home-search__form',
          modifyer_search_form_input: 'mag-home-search__form-input',
          modifyer_search_form_submit: 'mag-home-search__form-submit',
          filter_option_text: 'UCSF News Center & Magazine'
          } %}
        {% include '@theme/header/header--search.twig' with modifyer_search_vars %}
        <div class="slicknav-placeholder"></div>
        {{ content }}
        {# main nav #}
      </div>
    </section>
  </header>
{% endblock content %}
