<figure class="header--logo logo">
  <a class="logo__link" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <picture class="logo__image">
      <img class="logo__img" src="/{{ directory ~ '/logo.svg' }}" alt="{{ 'Home'|t }}" height="41" width="83">
    </picture>
  </a>
</figure>