{% set logo = logo ?: directory ~ '/logo.svg' %}
{% set link = link ?: path('<front>') %}

<figure class="header--logo logo">
  <a class="logo__link" href="{{ link }}" title="{{ 'Home'|t }}" rel="home">
    <picture class="logo__image">
      <img class="logo__img" src="/{{ logo }}" alt="{{ 'Home'|t }}" hight="41" width="83">
    </picture>
  </a>
</figure>
