{{ attach_library('ucsf/universalsearch') }}
<div class="header--search menu-item"><a href="/search" class="nolink mobile-search-reveal"><span>Search</span></a>
<div class="home-search__form">
  <form action="/search" accept-charset="utf-8" method="get" class="search__form">
    <label for="header-search" class="visually-hidden">Small screen search</label>
    <input type="text" name="search" id="header-search" size="32" class="home-search__form-input" value="{{ searchterm }}" placeholder="Search people, places, ideas" />
    {# this should be /images/search.svg file #}
    <input type="submit" id="edit-submit" name="op" value="Search" class="home-search__form-submit">
    {# Filter Radio buttons start #}
    <fieldset class="fieldset-reset">
      <legend class="visually-hidden">Choose what type of search to perform</legend>
      <div class="search-filter">
        {# Option 1 #}
        <label for="all">
          <input id="all" type="radio" name="filter" class="visually-hidden search-filter__radio" value="All" checked>
          <div class="search-filter__label">
            <span class="search-filter__option"></span>
            <span>All UCSF</span>
          </div>
        </label>
        {# Option 2 #}
        <label for="news">
          <input id="news" type="radio" name="filter" class="visually-hidden search-filter__radio" value="News">
          <div class="search-filter__label">
            <span class="search-filter__option"></span>
            <span>UCSF News Center</span>
          </div>
        </label>
      </div>
    </fieldset>
  </form>
</div>
</div>
