/**
* Header and main body animation
*/
.alias-home .combined-header-region,
.page-node-type-article  .combined-header-region {
    animation: fade-and-slide 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s both;
    animation-fill-mode: none !important
}
.alias-home main.main {
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 1.25s both;
}
.alias-home .narrow-page-header  {
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 1.25s both;
}


.page-node-type-article .page_narrow {
  animation: header-fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0ms forwards;
}
.page-node-type-article .image-style-article-feature-banner__image {
  animation: fade 2000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms both;
}
.page-node-type-article .article-header.article-medium-header {
  animation: header-swoosh 2.0s cubic-bezier(0.77, 0, 0.175, 1) 0ms forwards;

}



.article-header__author,
.article-header h1 {
  animation: header-fade 3s  0ms forwards;
  animation-name: header-fade;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  transition: 2s;
}

/**
 * ----------------------------------------
 * animation menu
 * ----------------------------------------
 */

@keyframes fade-and-slide {
  0% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    opacity: 0;
    box-shadow: 5px 0 0 #000;
  }
  33% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    box-shadow: 5px 0 7px #000;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0 0 0 #000;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
* Menu animations.
*/


@keyframes menu-slide {
  0% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(0);
  }
  100% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(1);
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}


@keyframes header-swoosh {
  0% {
    opacity: 0;
    transform: translateY(337px);
  }
  25% {
    opacity: 0;
    transform: translateY(337px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes header-fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// NEWS CARDS

.news-card {
  overflow: hidden;

  .field-card-image,
  .news-card__image {
    overflow: hidden;
    display: block;
  }

  .news-card__image img,
  .field-card-image img {
    transition: .5s ease-out all;
  }
  h2 {
    transition: .5s ease-out all;
  }
  &:hover {
    .news-card__image img,
    .field-card-image img {
      transform: scale(1.1);
    }
    h2 {
      color: $c-teal;
    }
  }


}