/**
* Header and main body animation
*/
.combined-header-region {
    -webkit-animation: fade-and-slide 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s both;
    animation: fade-and-slide 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s both;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important
}
main.main {
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 1.25s both;
}
.narrow-page-header  {
  animation: fade 1.0s cubic-bezier(0.77, 0, 0.175, 1) 1.25s both;
}
/**
 * ----------------------------------------
 * animation menu
 * ----------------------------------------
 */
@-webkit-keyframes fade-and-slide {
  0% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    box-shadow: 5px 0 0 #000;
  }
  50% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    box-shadow: 5px 0 7px #000;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0 0 0 #000;
  }
}
@keyframes fade-and-slide {
  0% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    opacity: 0;
    box-shadow: 5px 0 0 #000;
  }
  50% {
    -webkit-transform: translateY(-147px);
    transform: translateY(-147px);
    box-shadow: 5px 0 7px #000;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0 0 0 #000;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
* Menu animations.
*/


@-webkit-keyframes menu-slide {
  0% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(0);
  }
  100% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(1);
  }
}
@keyframes menu-slide {
  0% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(0);
  }
  100% {
    clip: auto;
    overflow: visible;
    transform-origin: 0 top;
    transform: scaleY(1);
  }
}