header .menu--main {
  grid-column: span 2;

  @include breakpoint($bp-until-large) {
    display: none;
  }

  .menu-parent-wrapper {
    padding-left: 0;
  }

  .menu-child-wrapper {
    @include visually-hidden;

    a {
      display: block;
    }
  }

  .menu-item {
    display: inline-block;

    &:hover > .menu-child-wrapper {
      @include visually-hidden-reset;
      background: $c-grey-pale;
      height: 520px;
      right: 0;
      z-index: $z-dropdown;
      width: 1021px;
    }
  }

  a {
    line-height: 1.5;
    letter-spacing: 0;
    text-decoration: none;
    border-bottom: none;
    color: $gray-blue;
    display: inline-block;
    font-size: $font-size-sm;
    padding: $space 0;
    margin: 0 $space-five;
    text-transform: none;
    position: relative;
    width: auto;
    font-family: $font-helvetica-neue-roman;
    font-weight: 500;
    height: $space-octuple;
    padding-right: 0;
    margin-right: 0;

    &.is-active,
    &:active,
    &:hover {
      border-bottom: 4px solid $blue;
    }
  }

  button {
    display: none;
  }
}
