header .menu--main {
  grid-column: span 2;

  @include breakpoint($bp-until-large) {
    display: none;
  }
}

[block="block-ucsf-main-menu-desktop"] {
  padding-left: 0;

  .menu-child--wrapper {
    @include visually-hidden;
  }

  .menu-item {
    display: inline-block;

    &:hover > .menu-child--wrapper {
      @include visually-hidden-reset;
    }

    // for debugging only.
    //&.research > .menu-child--wrapper {
    //  @include visually-hidden-reset;
    //}
  }

  .menu-child--wrapper {
    background: $c-grey-pale;
    height: 520px;
    right: 0;
    z-index: $z-dropdown;
    width: 1021px;
  }

  .menu-child--label {
    @include eyebrow;
    color: $c-white;
    background: $c-teal;
    float: left;
    height: 48px;
    line-height: 48px;
    transform: rotate(90deg);
    transform-origin: 13px 12px 5px;
    padding: 0 24px;
    width: 520px;

    &:after {
      background: $c-white;
    }

    @each $area, $color, $color2 in $areas {
      &[data-section="section-#{$area}"] {
        background: $color;
      }
    }
  }

  a {
    line-height: 1.5;
    letter-spacing: 0;
    text-decoration: none;
    border-bottom: none;
    color: $gray-blue;
    display: inline-block;
    font-size: $font-size-sm;
    padding: $space 0;
    margin: 0 $space-five;
    text-transform: none;
    position: relative;
    width: auto;
    font-family: $font-helvetica-neue-roman;
    font-weight: 500;
    height: $space-octuple;
    padding-right: 0;
    margin-right: 0;
  }
}

// Level One Hover/Active state.
[block="block-ucsf-main-menu-desktop"] {
  > .menu-item > a {
    &.is-active,
    &:active,
    &:hover {
      border-bottom: 4px solid $blue;
    }
  }
}

// Level Two Dropdown box (1st Column).
[block="block-ucsf-main-menu-desktop"] {

  .menu-child--menu {
    display: block;
    margin-top: 64px;
    width: 50%;

    .menu-item {
      border-bottom: 1px solid #d5d9de;
      display: block;
      margin-left: 66px;
    }

    .menu-item--expanded {
      a {
        border: 0;
        display: inline-block;
        width: calc(100% - 22px);
      }

      i {
        display: inline-block;
        line-height: 32px;
        height: 48px;
        padding: 8px 0;
        width: 16px;
      }

      &:hover i {
        color: $c-blue;
      }
    }

    a {
      @include link-colors($c-navy, $c-blue);
      display: block;
      font-family: $font-helvetica-neue-light;
      font-size: 18px;
      line-height: 32px;
      height: 48px;
      margin-left: 0;
    }

    span.ext {
      float: right;
      height: 32px;
      line-height: 32px;
    }
  }
}

// Level Three Expanded menu (2nd column).
[block="block-ucsf-main-menu-desktop"] {
  .menu-child--menu .menu-child--menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}
