.pager {
  @include clearfix-before;
  list-style: none;
  padding-bottom: 47px;
  padding-left: 0;
}

.pager__items {
  display: table;
  float: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-block;
  padding: 0;

  // Default.
  a {
    border-radius: 36px;
    display: block;
    float: left;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 6px;
    text-align: center;
    width: 36px;

    &:hover {
      font-weight: $fw-bold;
      text-decoration: none;
    }
  }

  // Active link.
  &.is-active {
    a {
      @include link-colors($c-white);
      font-weight: $fw-bold;

      &:hover {
        //background: none;
      }
    }
  }

  // Pagers.
  &.pager__item--first,
  &.pager__item--previous,
  &.pager__item--next,
  &.pager__item--last {
    a {

      &:hover {
        border: 0;
        text-decoration: none;
      }
    }
  }
}
