.quicklinks {
  background: $white;
  text-align: center;
  font-size: $font-size-xxsm;
  font-family: $font-helvetica-neue-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  pointer: cursor;
  bottom: 0;
  height: 40px;
  position: fixed;
  padding: 12px 16px;
  right: 0;
  width: 144px;

  @include breakpoint($bp-medium) {
    bottom: auto;
    grid-column: -2/-1;
    grid-row: 1/-1;
    height: auto;
    justify-self: end;
    padding: 0;
    position: static;
    right: auto;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    width: auto;
  }

  .fa-caret-up {
    @include breakpoint($bp-medium) {
      display: none;
    }
  }

  .fa-caret-right {
    display: none;

    @include breakpoint($bp-medium) {
      display: inline;
    }
  }

  a {
    color: $navy;
    text-decoration: none;
  }
}

.quicklinks-menu {
  background: $c-navy;
  color: white;
  display: none;
  padding: 40px 32px 0;
  position: absolute;
  right: 0;
  top: 28px;
  width: calc(100% - 16px);
  z-index: $z-quicklinks-menu;

  @include breakpoint($bp-medium) {
    position: relative;
    top: auto;
    right: auto;
  }

  &.js-quicklinks-open {
    display: block;
  }

  a {
    @include link-colors($c-white);
  }

  .quicklinks-close {
    cursor: pointer;
    float: right;
    text-align: right;
  }

  .field-quick-link-title {
    @include eyebrow;
    color: $c-white;
    margin-bottom: 24px;

    &:after {
      background: $c-white;
    }
  }

  .field-quick-link-link {
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.3px;
    padding-bottom: 40px;

    @include breakpoint($bp-medium) {
      column-count: 2;
    }
  }
}
