.quicklinks {
  @include transition;
  height: calc(100vh - 47px);
  position: fixed;
  right: calc((100% - 32px) * -1);
  top: 89px;
  width: 100%;
  z-index: $z-quicklinks-menu;

  @include breakpoint($bp-medium) {
    top: 129px;
  }

  &.js-quicklinks-open {
    right: 0;
    top: 39px;
    visibility: visible;

    @include breakpoint($bp-medium) {
      right: 0;
      top: 41px;
      width: 50%;
    }
  }
}

.quicklinks-trigger {
  @include transition;
  background: $white;
  text-align: center;
  font-size: $font-size-xxsm;
  font-family: $font-helvetica-neue-bold;
  text-transform: uppercase;
  left: 0;
  letter-spacing: 1px;
  cursor: pointer;
  height: calc(100vh - 42px) ;
  position: absolute;
  padding: 0;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  width: auto;
  z-index: $z-quicklinks-menu;

  .fa-caret-up {
    @include breakpoint($bp-medium) {
      display: none;
    }
  }

  .fa-caret-right {
    display: none;

    @include breakpoint($bp-medium) {
      display: inline;
    }
  }

  a {
    color: $navy;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
}

.quicklinks-menu {
  @include transition;
  @include ul-item-list-reset;
  background: $c-navy;
  color: $c-white;
  height: calc(100vh - 42px) ;
  margin-left: 32px;
  overflow: scroll;
  padding: 40px 32px 0;
  visibility: hidden;
  width: calc(100% - 32px);

  &.js-quicklinks-open {
    visibility: visible;
  }

  a {
    @include link-colors($c-white);
  }

  .quicklinks-close {
    cursor: pointer;
    float: right;
    text-align: right;
  }

  .field-quick-link-title {
    @include eyebrow;
    color: $c-white;
    line-height: 16px;
    margin-bottom: 24px;
    max-width: 190px; // This is a hack to make the wrapping a little better.

    @include breakpoint($bp-medium) {
      max-width: none;
    }

    &:after {
      background: $c-white;
    }
  }

  .field-quick-link-link {
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.3px;
    padding-bottom: 40px;

    @include breakpoint($bp-medium) {
      column-count: 2;
    }
  }
}
