.header-region {
  position: relative;

  &:before {
    @include transition;
    background-color: rgba(18, 26, 49, 0.25);
    left: 0;
    display: block;
    height: 100vh;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-quicklinks-open-page;
  }

  &.js-quicklinks-open {
    &:before {
      content: ' ';
      opacity: 1;
    }
  }
}

.quicklinks {
  //@include transition;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1) all;
  //height: calc(100vh - 89px);old/replace with full-height
  position: fixed;
  right: calc((100% - 32px) * -1);
  //top: 89px; old/replace with full-height
  height: 100vh;
  top: 0;
  width: 100%;
  display: none;
  z-index: $z-quicklinks-menu;
  .fa-caret-right {
    display: inline-block;
  }

  @include breakpoint($new-medium) {
    display: block;
  }

  /* old/replace with full-height
  @include breakpoint($bp-medium) {
    height: calc(100vh - 129px);
    top: 129px;
  }

  @include breakpoint($bp-menu) {
    height: 100vh;
    top: 0;
  }*/

  &:hover {
    //right: calc((100% - 42px) * -1);
    //.quicklinks-menu {
      //visibility: visible;
   // }
  }

  &.js-quicklinks-open {
    right: 0;
    top: 0;
    height: 100vh;
    visibility: visible;
    //animation: fade 500ms cubic-bezier(0.59,0.22,0.86,0.71) 0s both;
    //right place for the trigger, but now on close need another trigger?
    .field-quick-link-menu {
      //animation: fade 500ms cubic-bezier(0.59,0.22,0.86,0.71) 0s both;
      //-webkit-animation-iteration-count: 1;
    }

    @include breakpoint($bp-medium) {
      width: 50%;
    }

    .quicklinks-menu {
      visibility: visible;
    }

    .quicklinks-trigger:hover {
      //animation: none;
      border-right: none;
      left: 0;
    }
  }
}

.quicklinks-trigger {
  //@include transition;
  transition: 1000ms cubic-bezier(0.77, 0, 0.175, 1) both;
  -webkit-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.2);
  background: $white;
  text-align: center;
  font-size: $font-size-xxsm;
  font-family: $font-helvetica-neue-bold;
  text-transform: uppercase;
  left: 0;
  letter-spacing: 1px;
  cursor: pointer;
  height: 100%;
  position: absolute;
  padding: 0;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  width: auto;
  z-index: $z-quicklinks-menu;
  &:hover {
    transition: 1000ms cubic-bezier(0.77, 0, 0.175, 1) both;
    //transform: scaleX(1.2);
    transform-origin: top right;
    //background-color: #efefef;
    border-right: 16px solid $c-navy;
    left: -16px;
    @supports (-moz-appearance:none) {
      left: -8px;
    }
  }

  .fa-caret-up {
    @include breakpoint($bp-medium) {
      display: none;
    }
  }

  .fa-caret-right {
    display: none;

    @include breakpoint($bp-medium) {
      display: inline-block;
    }
  }

  a {
    color: $navy;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
}

.quicklinks-menu {
  //@include transition;
  transition: 1000ms cubic-bezier(0.77, 0, 0.175, 1) all;
  @include ul-item-list-reset;
  background: $c-navy;
  color: $c-white;
  height: 100%;
  margin-left: 32px;
  overflow: auto;
  padding: 40px 32px 0;
  //visibility: hidden;
  width: calc(100% - 32px);

  @include breakpoint($bp-medium) {
    display: table;
    padding: 0;
  }

  a {
    @include link-colors($c-white);

    &:hover {
      text-decoration: underline;
    }
  }

  .quicklinks-close {
    display: block;
    cursor: pointer;
    line-height: 1;
    float: right;
    text-align: center;
    z-index: 200;
    width: 50px;
    height: 50px;
    //border: 1px solid gray;
    @include breakpoint($bp-medium) {
      position: absolute;
      top: 10vh;
      right: 10%;
    }
  }

  > .field-quick-link-menu {

    @include breakpoint($bp-medium) {
      display: table-cell;
      padding-left: 13%;
      padding-right: 13%;
      vertical-align: middle;
    }

  }

  .field-quick-link-title {
    @include eyebrow;
    color: $c-white;
    line-height: 16px;
    margin-bottom: 24px;
    max-width: 190px; // This is a hack to make the wrapping a little better.

    @include breakpoint($bp-medium) {
      max-width: none;
    }

    &:after {
      background: $c-white;
    }
  }

  .field-quick-link-link {
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.3px;
    padding-bottom: 40px;

    @include breakpoint($bp-medium) {
      column-count: 2;
    }
  }
}


body.loading .quicklinks {
  // this animation brakes without class "loading" which is removed in ucsf_quicklinks.js,
  // to increase animation time  ucsf_quicklinks.js also needs to be altered
  animation: quicklinks-intro 4s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}


@keyframes quicklinks-intro {
  0% {
    transform: translateX(80px);
  }

  20% {
    transform: translateX(80px);
  }

  40% {
    transform: translateX(-30px);
  }

  60% {
    transform: translateX(0px);
  }

  80% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}
