[block="block-ucsf-main-menu"] {
  display: none;

}

.slicknav-placeholder {
  @include breakpoint($bp-large) {
    display: none;
  }
}

.slicknav_menu {

  .slicknav_menutxt {
    display: block;
    text-indent: -9999px;
    position: absolute;
    left: -9999px;
  }

  .slicknav_icon {

    .slicknav_icon-bar {
      background: $c-navy;
      box-shadow: none;
      height: 2px;
      width: 20px;

      + .slicknav_icon-bar {
        margin-top: 4px;
      }
    }

    &:hover {
      .slicknav_icon-bar {
        background: $blue;
      }
    }
  }
}

.slicknav_nav {
  background: $c-grey-pale;
  position: fixed;
  right: 0;
  left: 0;
  top: 90px;
  bottom: 0;
  width: 100%;
  z-index: $z-dropdown;

  ul.menu-parent-wrapper {
    padding-left: 24px;
    width: calc(100% - 15px);
    height: calc(100% - 80px);

    overflow-y: auto;
    .menu-child-wrapper {
      a.is-active {
        color: #007cbe;
      }
    }

    .search {
      display: none;
    }
  }
}

  // when search and menu are open
  .header--search.header--search-active + .slicknav-placeholder .slicknav_nav {
    top: 250px;
  }

.path-news, //Search
.page-node-type-article,
.page-node-type-magazine-article,
.page-node-type-news-package,
.page-node-type-trending,
.page-node-type-author {
  .slicknav_nav {
    ul.menu-parent-wrapper {
      .menu-child-wrapper {
        a[href="/news"] {
          color: #007cbe;
        }
      }
    }
  }
}

.slicknav_btn {
  position: absolute;
  top: 0;
  right: 10px;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  padding: 5px 0;
}

.slicknav_open {
  top: 4px;

  .slicknav_icon-bar {
    &:first-child {
      transform: translateY(3px) rotate(135deg) scale(1.1);
    }

    &:nth-child(2) {
      transform: translateY(-3px) rotate(-135deg) scale(1.1);
    }

    &:nth-child(3) {
      transform: scale(0);
    }
  }
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_item [data-drupal-link-system-path],
[role="menuitem"] {
  @include link-colors($c-navy, $c-blue-link);
  display: inline-block;
  font-size: 16px;
  line-height: 48px;
  width: calc(100% - 20px);

  span.ext {
    float: right;
    height: 44px;
  }
}

.slicknav_nav .slicknav_open .slicknav_item a {
  @include link-colors($c-blue-link, $c-navy);
}


[role="menuitem"] {
  border-bottom: 1px solid #d5d9de;
}

.slicknav_arrow {
  display: inline-block;
}

.fixed {
  position: fixed;
}
//need to keep the header in place when scrolling, otherwise menu looses its head.
.combined-header-region.fixed {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
