{% if layout == 'medium' %}
  {% set classes = [ 'article-medium-banner'] %}
{% endif %}

<figure{{ attributes.addClass(classes) }}>
  {% if content.field_video_banner|render %}
    {{ content.field_video_banner }}
  {% else %}
    {{ content.field_banner_image }}
  {% endif %}
</figure>

<div class="main-content narrow-page">
  {% if layout == 'medium' and content.field_banner_image|render != '' %}
    {% set class= 'article-medium-header' %}
  {% endif %}

  {% if layout == 'medium' and content.field_video_banner|render != '' %}
    {% set class= 'article-medium-header article-medium-header-video' %}
  {% endif %}

  <header class="article-header {{ class }}">
    {% include '@theme/banner/banner-content.twig' %}
    <script>
    const trinityScript = document.createElement('script'); trinityScript.setAttribute('fetchpriority', 'high'); trinityScript.src = 'https://trinitymedia.ai/player/trinity/2900011813/?pageURL=' + encodeURIComponent(window.location.href); document.currentScript.parentNode.insertBefore(trinityScript, document.currentScript);
    </script>
  </header>
  {% include "@theme/share/share.twig" %}
  {% include "@theme/article/article-body.twig" %}
</div>
