{% set layout = node.field_banner_layout.value %}
{% set classes = [ 'article-twocol-banner', layout] %}

<div{{attributes.addClass(classes)}}>
	<figure class="article-twocol-banner-image">
		{{ content.field_two_column_banner_image }}
	</figure>

	<header class="article-header article-twocol-header">

		{% include '@theme/banner/banner-content.twig' %}
	</header>
</div>
<div class="main-content article-feature-content narrow-page">
	{% include "@theme/share/share.twig" %}
	{% include "@theme/article/article-body.twig" %}
</div>

