{% set layout = node.field_banner_layout.value %}
{% set classes = [ 'article-feature-overlay-banner', layout] %}

<div{{ attributes.addClass(classes) }}>
  <figure class="article-feature-overlay-image">
    {% if content.field_video_banner|render %}
      {{ content.field_video_banner }}
    {% else %}
      {{ content.field_banner_image }}
    {% endif %}
    <div class="article-feature-overlay"> </div>
  </figure>


  <header class="article-header article-feature-overlay-header">
    {% include '@theme/banner/banner-content.twig' %}
    <script>
    const trinityScript = document.createElement('script');  trinityScript.setAttribute('fetchpriority', 'high'); trinityScript.src = 'https://trinitymedia.ai/player/trinity/2900011813/?pageURL=' + encodeURIComponent(window.location.href); document.currentScript.parentNode.insertBefore(trinityScript, document.currentScript);
    </script>
  </header>
</div>
<div class="main-content article-feature-content narrow-page">
  {% include "@theme/share/share.twig" %}
  {% include "@theme/article/article-body.twig" %}
</div>
