<ul class="article-header__byline media">
  <li><i class="fa fa-external-link-alt" aria-hidden="true"></i>{{ "Media Coverage"|t }}</li>
  <li class="article-header__date">{{ content.field_date_and_time }}</li>
  <li class="article-header__date">{{ node.field_source.entity.label }}</li>
</ul>
