
{% set primary_area = node.field_primary_area.0.entity.label|clean_class %}

{% set campus_news_subs = ['announcements', 'happenings', 'honors--awards', 'spotlight'] %}
{% if primary_area in campus_news_subs %}
  {% set primary_area = 'campus-news' %}
  {% set primary_area_field = 'Campus News'|t %}
{% endif %}

<ul class="article-header__byline">
  {% if primary_area %}
    <li class="article-header__primary-area" data-primary-area="{{ primary_area ? 'pa-' ~ primary_area}}">{{ primary_area_field ? primary_area_field : node.field_primary_area.0.entity.label }}</li>
  {% endif %}
  <li class="article-header__date">{{ content.field_date_and_time }}</li>
</ul>
