
<ul class="article-header__byline magazine-card__byline">
  <li class="article-header__mag-topic-area">{{ node.field_magazine_topic_area.0.entity.label }}</li>
  <li class="article-header__date magazine-article-card__date">
    <span class="article-issue article-affiliation">{{ node.field_magazine_issue.0.entity.label }}</span>
  </li>
</ul>
