
<ul class="article-header__byline">
  <li class="article-header__primary-area" data-primary-area="pa-ucsf-magazine">UCSF Magazine</li>
  <li class="article-header__date magazine-article-card__date">
    <span class="article-issue article-affiliation">{{ node.field_magazine_issue.0.entity.label  }}</span>
  </li>
</ul>
