.header-region {
  background: $white;
  padding-top: $space-three;
  box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.02);
}

.header {
  @include grid-two;

  max-width: $xl;
  margin-bottom: 0;
}

.logo {
  width: 83px;
  height: 40px;
  margin-bottom: $space-three;
  grid-column: 1 / span 2;
}
