{% embed "@templates/_landing.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <div class="layout-left-30-70 bg-gray">
      <div class="layout-30">
        {% include "@atoms/04-images/00-image/figure.twig" with {
          img_src: 'https://placeimg.com/400/500/nature',
          img_alt: 'Place image',
        } %}
      </div>

      <div class="layout-70">
      <h2>Uniting With Neighbors, Empowering Lives</h2>

      <p>The Community Relations staff engages our neighbors in planning issues, listens to feedback and works with campus decision-makers to incorporate community input into the University’s development and initiatives. They also lead outreach efforts, including workforce development programs that provide job training for local residents; health fairs that connect our clinicians and trainees with those who may need access to health care the most; and volunteer events that invite our whole community to join us to help make our city a great place to live.</p>

      <p>The Government Relations staff serves as liaison to our local, state and federal elected officials and government agencies. They advocate for UCSF’s research, educational and patient care efforts, and facilitate ways for UCSF to partner with government to accelerate health sciences innovation and improve public access to the best care.</p>

      </div>
    </div>

    <div class="layout-columns__three">
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
    </div>

    <div class="promo-list">
      <ul class="promo-list__cards card-three-up">
        <li class="promo-list__card overlay-gray accent-purple">
          <a href="">
            <h3 class="promo-list__card-title">Community Relations</h3>
            <p class="promo-list__card-content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
        <li class="promo-list__card overlay-gray accent-teal">
          <a href="">
            <h3 class="promo-list__card-title">Government Relations</h3>
            <p class="promo-list__card-content">UCSF’s Government Relations serves as a liaison to elected and appointed officials at the federal, state and local level to promote UCSF’s research, education, patient care and public services activities in City Hall, Sacramento and Washington, D.C.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
        <li class="promo-list__card overlay-gray accent-blue">
          <a href="">
            <h3 class="promo-list__card-title">Workforce Development Programs</h3>
            <p class="promo-list__card-content">UCSF is the second largest employer in San Francisco and is committed to providing jobs to local residents. To this end, UCSF has implemented various workforce development programs aimed at providing training, internship and employment opportunities in various fields.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
      </ul>
    </div>

  {% endblock %}


{% endembed %}
