@supports (-ms-ime-align:auto) {
  .promo-list__card-two {
    min-height: 400px;
  }

  .promo-list__card-two-content, .promo-list__card-two-content:last-child, .promo-list__card-two-content:first-child {
    margin-top: auto;
    padding-bottom: auto;
  }

  .promo-list__card-two:hover .promo-list__card-two-content {
    margin-top: auto;
    padding-bottom: 10%;
  }
}
