@supports (-ms-ime-align:auto) {
  dom-twocolumn-layout,
  dom-threecolumn-layout {
    clear: both;
    @include breakpoint($new-small) {
      .column1,
      .column2,
      .column3 {
        float: left;
      }
    }

    &::after {
      content: ' ';
      clear: both;
    }
  }
}
