@supports (-ms-ime-align:auto) {
  .promo-list__card-two-content, .promo-list__card-two-content:last-child, .promo-list__card-two-content:first-child {
    margin-top: auto;
    padding-bottom: auto;

    &:hover {
      margin-top: auto;
    }
  }
}
