//all your IE troubles
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .explorer {

    .page_narrow,
.page-node-type-narrow-page .paragraph-text-block, //PL: .page_narrow
.page-node-type-article .paragraph-text-block,
.page-node-type-magazine-article .paragraph-text-block {
  padding-top: 20px;
}

    /**
    *  ------- HEADER ISSUES ----------
    */
    .header {
      @include wrapper;
      max-width: $full-width-elements;
      padding: 0 20px;
      min-height: 75px;
      @include breakpoint($bp-until-large) {
        line-height: 26px;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        vertical-align: middle;
      }

      @include breakpoint($bp-large) {
        display: block;
        margin-bottom: 0;
        line-height: 26px;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        vertical-align: middle;
      }

      nav.menu--main {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .header--logo {
      @include breakpoint($bp-until-large) {
        display: inline-block;
        line-height: 26px;
        height: 26px;
        width: 54px;
        vertical-align: middle;
        margin-bottom: 0;
      }

      @include breakpoint($bp-large) {
        width: 83px;
        height: 40px;
        margin-bottom: 0;
      }
    }


    /**
    *  ------- HOMEPAGE ISSUES ----------
    */
    .home-banner-wrapper {
      display: block;
      background: $white;
    }

    picture {
      img {
        width: 100%;
      }
    }

    img {
      width: 100%;
    }

    .header .menu--main {
      display: block;
    }

    .home-banner__image {
      display: block;

      img {
        width: 100%;
      }

    }

    .home-banner {
      max-width: 1360px;
      position: relative;
      //justify-self: end;

      img {
        width: 100%;
      }

      @include breakpoint($new-large) {
        display: block;
      }
    }
    .home-banner__header {
      padding: 20px;
      background: $white;
      position: relative;
      margin-top: -$space-seven;
      margin-right: $space-two;
      margin-right: 80px;
      //border: 1px solid blue;
      h1 {
        @include fs-display;
      }



      @include breakpoint($new-large) {
        background: url(/themes/custom/ucsf/assets/images/banner-overlay-left.png) left top repeat-y rgba(255, 255, 255, 0.925);
        padding: 40px;
        background: $white;
        position: relative;
        margin-top: -$space-seven;
        margin-right: $space-two;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
      }

      @include breakpoint($new-xl) {
        background: url(/themes/custom/ucsf/assets/images/banner-overlay-left.png) left top repeat-y rgba(255, 255, 255, 0.925);
        padding: 40px;
        background: $white;
        position: relative;
        margin-top: -$space-seven;
        margin-right: $space-two;
        width: 90%;
      }
    }

    .home-banner-two .home-banner,
    .home-banner-three .home-banner {

      @include breakpoint($new-large) {
        display: block;
        max-width: $full;
      }
    }


    .home-banner-support {
      background: $white;
      max-width: 1360px;
      padding: 20px;
      float: left;
      overflow: auto;

      @include breakpoint($new-small) {
        padding: $space-five;
      }

      @include breakpoint($new-large) {
        display: block;
        float: left;
      }
    }

    .home-search .home-search__title {
      @include fs-heading;

      padding-top: 60px;
      margin-bottom: $space-two;

      @include breakpoint($new-small) {
        //margin-top: $space-five;
        padding-top: 60px;
        margin-bottom: $space-two;
      }

      @include breakpoint($new-large) {
        //margin-top: $space-seven;
        padding-top: 60px;
        margin-bottom: $space-two;
      }
    }


    .home-talking-about {
      background: $white;
      margin-top: $space-five;
      float: none;
      overflow: auto;
      .card-three-up {
        margin: 0 20px;
        display: block;

        > li {
          float: none;
          width: 100%;
        }

        .news-card {
          margin-bottom: 0;

          .news-card__image img {
            float: right;
          }
          @include breakpoint($new-x-small-max) {
            .news-card__copy {
              margin-right: 10%;
              margin-left: 0;
            }
          }
        }
      }

      @include breakpoint($new-x-small) {
        margin-top: $space-five;

        .card-three-up {
          display: block;

          > li {
            float: left;
            width: 46%;
            margin-left: 2%;

            &:nth-child(odd) {
              clear: left;
              margin-right: 2%;
              margin-left: 0;
            }
          }

          .news-card {
            margin-bottom: 0;

            .news-card__image img {
              float: none;
            }
          }
        }
      }

      @include breakpoint($new-small) {
        .card-three-up {
          margin: 0 $space-five;
        }
      }

      @include breakpoint($new-large) {
        margin-top: $space-ten;
        float: none;

        .card-three-up {
          display: block;
          margin: 0 $space-ten;

          > li {
            float: left;
            width: 46%;
            margin-left: 2%;
            &:nth-child(odd) {
              clear: left;
              margin-right: 2%;
              margin-left: 0;
            }
          }

          .news-card {
            margin-bottom: $space-five;
          }
        }
      }
    }


    .topics-list__topics-wrapper-space-bottom {
      background-color: transparent;
      display: none;
    }

    .topic-card,
    .topic-card a:hover {
      margin-bottom: 0px;

      span {
        bottom: 0;

        &:hover {
          bottom: 0;
        }
      }
    }


    .latest-events-list { //PL: .lastest-events-list
      float: left;
      width: 100%;
      margin-top: 0;
      padding: 0 20px;
      padding-top: 20px;
      clear:both;

      @include breakpoint($new-small) {
        padding: $space-five;
        padding-top: $space-five;
      }

      @include breakpoint($new-large) {
        padding: $space-ten;
        padding-top: $space-ten;
        grid-column: 1/-1;
        float: none;
      }

    }



    .lastest-events-list__cards {
      clear: both;
      margin: 0 auto;
      max-width: $xl;
      list-style: none;
      padding: 0;


      &.card-three-up {
        display: block;

        @include breakpoint($new-large) {
          display: block;
          white-space: normal;
        }
      }
    }

    .event-card {
      padding-bottom: $space-four;
      float: left;
      width: 100%;
      padding-right: $space-five;
      vertical-align: top;

      @include breakpoint($new-large) {
        float: left;
        padding-right: 15%;
        width: 33%;
      }
    }

    .event-card__icon {
      float: left;
      width: 20%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .event-card__icon-date {
      @include fs-heading-two;
      margin-top: $space;
    }

    .event-card__title {
      margin: 0;
      font-size: $font-size;
      font-family: $font-helvetica-neue-medium;
      font-weight: 500;
      margin-bottom: $space;
      line-height: 1.4;
      letter-spacing: 0.2px;

      a {
        @include link-colors($c-navy, $c-blue-link);
        text-decoration: none;
      }
    }

    .event-card__date-location {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: $font-size-xsm;
      color: $gray-blue;
      line-height: 1.6;
    }

    .bg-gray {
      .event-card__date-location {
        color: $navy;
      }
    }

    .event-card__date,
    .event-card__location {
      padding-left: 25px;

      span {
        margin-left: -25px;
        display: inline-block;
        width: 25px;
        text-align: center;
        font-size: $font-size-xxsm;
      }
    }

    #lclst_widget_footer {
      display: none;
    }
    .map-home-wrapper {
      padding-top: 0;
    }
    .map-home {
      position: relative;

      .field-map-text { // PL: .map-home__content
        padding: 20px;
        background: $white;
        position: relative;
        margin-top: -$space-seven;
        margin-right: $space-two;
        color: $c-gray-blue;

        h2 {
          @include fs-heading;

          font-family: $font-granjon;
          margin: 0;
        }

        @include breakpoint($new-large) {
          padding-right: 0;
          position: absolute;
          right: 0;
          bottom: 70px;
          padding: $space-five;
          margin-top: 0;
          margin-right: 0;
          background: url(/themes/custom/ucsf/assets/images/banner-overlay-right.png) right top repeat-y rgba(255, 255, 255, 0.925);
          width: 50%
        }

        @include breakpoint($new-xl) {
          padding: $space-eight;
          padding-right: 0;
          padding-right: 0;
          position: absolute;
          right: 0;
          bottom: 70px;
          padding: $space-five;
          margin-top: 0;
          margin-right: 0;
          background: url(/themes/custom/ucsf/assets/images/banner-overlay-right.png) right top repeat-y rgba(255, 255, 255, 0.925);
        }
      }
    }



    /**
    *  ------- ANIMATION RESETS ----------
    */
    .page-node-type-news-center .combined-header-region,
    .alias-home .combined-header-region,
    .page-node-type-article .combined-header-region,
    .page-node-type-magazine-article .combined-header-region {
      -webkit-animation: none;
      animation: none;
    }
    .alias-home main.main {
      -webkit-animation: none;
     animation: none;
    }
    .alias-home .narrow-page-header  {
      -webkit-animation: none;
      animation: none;
    }


    /**
    *  ------- NEWS CENTER  ISSUES ----------
    */
    .news-center {
      margin-top: $space-seven;

      h1 {
        @include fs-display;

        margin: 0 auto;
        padding: 0 20px;
        max-width: $full-width-elements;
        margin-bottom: $space-sixteen;
      }

      .twitter-background {
        background: $dark-navy;
        clear: both;
      }
    }

    .news-center-banner,
    .media-coverage {
      float: left;
      width: 100%;
      padding-bottom: $space-five;

      @include breakpoint($new-large) {

        display: block;
        float: left;
        width: auto;
        padding-bottom: 0;
      }
    }

    .news-center-banner {
      background: $white;
    }

    .news-center-banner__featured,
    .media-coverage__featured {
      margin-top: -$space-ten;
      float: left;
      width: 40%;
      //border: 1px solid greenyellow;

      .news-card__more {
        display: none;
      }


      @include breakpoint($new-medium) {
        float: left;
        width: 45%;
      }

      @include breakpoint($new-large) {
        float: left;
        width: 45%;
        .news-card__copy {
          padding-right: 0;
        }
      }
    }

    .news-center-banner_list {
      margin: $space-five 20px;

      @include breakpoint($new-medium) {
        margin: $space-ten 0;
        margin-right: 20px;
        float: right;
        width: 45%;
      }

      @include breakpoint($new-large) {
        margin: $space-ten 0;
        margin-right: 20px;
        float: right;
        width: 45%;
      }
    }


    .media-coverage__list {
      margin-left: 20px;

      .media-coverage__list-title {
        display: none;
      }

      @include breakpoint($new-medium) {
        .media-coverage__list-title {
          display: block;
        }
      }

      @include breakpoint($new-large) {
        .media-coverage__list-title {
          display: block;
        }
        display: block;
        margin-left: 3%;
        float: left;
        width: 45%;
        padding-right: 0;
      }
    }

    .media-coverage .media-coverage__list-title {
      @include fs-heading;

      margin: 0;
      padding: 0;
      margin-bottom: $space;
      line-height: 1.2;
    }



    .media-coverage__featured {
      margin-top: 0;

      @include breakpoint($new-large) {
        display: block;
        float: right;
        padding-left: 0;

        .news-card__copy {
          margin-left: 0;
          padding-left: 0;
          margin-right: 10%;
        }
      }
    }

    .news-list {
      background: $white;
      padding: $space-five 20px;
      padding-bottom: 1px;

      .card-three-up {
        margin: 0 auto;
        margin-top: $space-five;
      }


      @include breakpoint($new-large) {
        padding: $space-ten;
        padding-bottom: 1px;
      }
    }

    .news-list .news-list__title {
      @include fs-heading;
      margin: 0 auto;
      max-width: $xl;
    }


    .areas-header {
      @include breakpoint($new-medium) {
        display: block;
      }
    }






    #block-youtubegallery .slick-arrow {
      top: 25%;
    }

    .block-youtube-gallery {
      overflow: hidden;
    }
    .slick-slider {
      overflow: hidden;
      height: auto;

    }
    #block-youtubegallery {
      .slick-slide {
        margin: 0 5px;
      }

      li {
        max-width: 300px;
      }
    }


    @include breakpoint($new-large) {
      .card-four-up {
        //border: 1px solid red;
        display: block;
        float: left;
        width: auto;
        > li {
          float: left;
          width: 47%;
          margin: 8px;
        }
      }
    }




    /**
    *  ------- FIELD ANKLE CTAS FIXES ----------
    */

    .footer-ctas-wrapper { // PL: .footer-ctas-wrapper
      display: block;
      overflow: auto;
      margin-top: 0;
      padding: 0 $space-ten;
      background: $white;
      clear: both;
    }

    .field-ankle-cta { // PL: .footer-ctas
      padding: 0;
      padding-top: $space-ten;
      list-style: none;
      max-width: $xl;
      margin: 0 auto;

      > .field__item { // PL: .footer-cta
        padding: $space-five $space-ten;
        background: $background-gray;

        &:first-child {
          padding-right: 0;
        }

        &:last-child {
          padding-left: 0;
        }

      }

      @include breakpoint($bp-until-large) {
        padding-top: $space-four;

        > .field__item { // PL: .footer-cta
          padding: 20px;

          &:last-child {
            padding-left: 20px;

            .field--type-text-with-summary  {
              padding: 0;
              border-left: none;
              text-align: center;
            }
          }
        }

      }

      @include breakpoint($new-medium) {
        > .field__item { // PL: .footer-cta
          float: left;
          width: 50%;

          &:first-child {
            .field--type-text-with-summary  {
              padding-left: 0;
            }
          }

          &:last-child {
            padding-left: 0;

            .field--type-text-with-summary  {
              padding-right: 0;
            }
          }
        }
      }

      @include breakpoint($new-large) {

        > .field__item { // PL: .footer-cta
          float: left;
          width: 49%;

          &:first-child {
            padding-right: 0;

            .field--type-text-with-summary  {
              border-right: 1px solid $gray-lighter;
              padding-right: $space-two;
            }
          }

          &:last-child {
            padding-left: 0;

            .field--type-text-with-summary  {
              border-left: 1px solid $gray-lighter;
              padding-left: $space-two;
              margin-left: -1px;
            }
          }
        }
      }

      @include breakpoint($new-xl) {
        > .field__item { // PL: .footer-cta
          padding: $space-five $space-ten;

          &:first-child {
            .field--type-text-with-summary  {
              padding-right: $space-ten;
            }
          }

          &:last-child {
            .field--type-text-with-summary  {
              padding-left: $space-ten;
            }
          }
        }
      }
    }


  /**
   *  ------- FOOTER FIXES ----------
   */
    @include breakpoint($new-large) {

      .layout-columns__3 {
        clear:both;
          .field-content-wrapper-content .layout-column {
            float: left;
            width: 32%;
            margin-right: 2%;
            margin-left: 0;
            margin-top: 0;

            &:last-child {
              margin-right: 0;
            }

            & .layout-column {
              width: 100%;
              margin-right: 0;
              float: none;
            }
        }
      }
    }

    .layout-columns__2 {
      padding: $space-five 20px;
      padding-bottom: 40px;
      padding-bottom: 0;
      clear: both;
      float: left;
      width: 100%;

      .layout__heading {
        margin-bottom: $space-four;
        padding-bottom: 0;
      }

      .field-content-wrapper-content { // PL: .layout-columns__two
        list-style: none;
        clear: both;
        width: 100%;

        > .layout-column {
          clear: both;
          margin-top: $space-five;
          padding-bottom: 0;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      @include breakpoint($new-medium) {
        padding: $space-five;
        padding-bottom: 0;

        .field-content-wrapper-content {
          clear: none;
          float: left;

          > .layout-column {
            clear: none;
            float: left;
            width: 48%;
            margin-right: 2%;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
              margin-left: 2%;
            }
          }
        }
      }

      @include breakpoint($new-large) {
        padding: $space-five;
        padding-bottom: 0;

        .field-content-wrapper-content {
          clear: none;
          float: left;

          > .layout-column {
            clear: none;
            float: left;
            width: 48%;
            margin-right: 2%;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
              margin-left: 2%;
            }
          }
        }
      }
    }

    .layout-columns__4 {
      padding: $space-five 20px;
      padding-bottom: 0;
      float: left;
      width: 100%;

      .layout__heading {
        margin-bottom: $space-four;
      }

      .field-content-wrapper-content { // PL: .layout-columns__three
        list-style: none;

        > .layout-column {
          margin-bottom: 2em;
        }
      }

      @include breakpoint($new-medium) {
        padding: $space-five;
        padding-bottom: 0;

        .field-content-wrapper-content {
          clear: none;

          > .layout-column {
            clear: none;
            float: left;
            width: 23%;
            margin-right: 2%;
            margin-left: 0;
            margin-top: 0;

            &:last-child {
              margin-right: 0;
              margin-left: 2%;
            }
          }
        }
      }

      @include breakpoint($new-large) {
        padding: $space-five 20px;
        padding-bottom: 0;
        float: none;
        width: auto;
        margin-right: 2%;
        margin-left: 0;
        margin-top: 0;

        .field-content-wrapper-content { // PL: .layout-columns__three

          display: block;

          .layout-column {
            float: left;
            width: 23%;
            margin-left: 0;

            &:last-child {
              margin-right: 0;
              margin-left: 2%;
            }
          }
        }
      }
    }

    .field-footer-tabs-events-columne {
      padding-bottom: 80px;
    }

    .field-localist-code {
      padding-top: 50px;
    }

    /**
     *  ------- RESOURCES FOR JOURNALIST FIXES ----------
     */

    .full-width-page-banner {
      width: 100%;
      margin: 0 auto;
      display: block;
      max-width: $full;
      //border: 1px solid lawngreen;
      position: relative;
      &.full-width-has-image {
        background: $white;

        @include breakpoint($new-large) {
          background: transparent;
        }
      }

      figure { // PL: .full-width-page-banner-photo
        width: 60%;
        display: block;
        margin: 0 0 0 auto;
        img {
          margin: 0;
        }
        background: $c-background-gray;
      }


      @include breakpoint($new-large) {
        display: block;
        max-width: $full;
        position: relative;
        figure { // PL: .full-width-page-banner-photo
          width: 60%;
          display: block;
          margin: 0 0 0 auto;
          img {
            margin: 0;
          }
          background: $c-background-gray;
        }
      }
    }

    .full-width-page-banner__header {
      display: block;
      background: $white;
      width: 50%;
      padding: $space-four 20px;
      padding-bottom: 1px;
      margin-right: 6 * $space-four;

      @include breakpoint($new-large) {
        padding: $space-five;
        padding-bottom: 1px;
        margin-right: $space-ten;
        margin-top: 80px;
        //width: 50%;
        .full-width-has-image & {
          margin-top: -$space-fifteen;
        }
      }
    }

    &.alias-news-media-resources-for-journalists {
      .full-width-page-banner__header {
        position: absolute;
        bottom: 0;
        left:0;
        @include breakpoint($new-large) {
          position: absolute;
          bottom: 0;
          left:0;
        }
      }
    }

    .article-meta-share {
      list-style: none;
      display: block;
      margin: 0;
      font-size: 26px;
      width: 0;
      position: absolute;
      z-index: 1;
      left: -50px;

      li {
        margin-bottom: $space;
      }


      @include breakpoint($new-large) {
        margin-top: $space-three;
      }

      @include breakpoint($new-xl) {
        left: -50px;
        display: block;
        padding: 0;
      }
    }

    .view-articles-by-term { // .recommended-articles_list
      background: $white;
      padding: 0 $space-ten;
      margin-top: $space-two;
      padding-bottom: $space-four;
      overflow: auto;

      @include breakpoint($new-large) {
        .view-content { // PL: .card-three-up
          list-style: none;
          padding: 0;
          margin-top: $space-ten;

          .views-row {
            float: left;
            width: 30%;
            margin-right: 3%;
          }
        }
      }
    }

    a[href*="http"] {
      .field-featured-media-article .news-card__date,
      .media-coverage__list-date,
      .article-header__date {
        padding-right: 30px;
        background: url('../images/ext-link-gray.svg') right center no-repeat transparent;
        background-size: 20px 20px;
      }
    }

    .blockquote {
      @include clearfix;

      &.blockquote-full-width {
        background: $white;
        margin: 0;

        .field-blockquote-body {
          margin-left: 0;
        }

        .field-blockquote-source,
        .field-blockquote-source-org {
          margin-left: 30%;
        }

        .field-blockquote-image {
          width: 25%;
          margin-top: -12%;
        }

        & + * {
          padding-top: $space;
        }

        @include breakpoint($new-small) {
          .field-blockquote-body,
          .field-blockquote-source,
          .field-blockquote-source-org {
            margin-left: 30%;
          }

          .field-blockquote-image {
            margin-top: -30%;
          }
        }

        @include breakpoint($new-large) {
          .field-blockquote-body,
          .field-blockquote-source,
          .field-blockquote-source-org {
            margin-left: 30%;
          }

          .field-blockquote-image {
            margin-top: -30%;
          }
        }

        @include breakpoint($new-xl) {
          .field-blockquote-body,
          .field-blockquote-source,
          .field-blockquote-source-org {
            margin-left: 30%;
          }

          .field-blockquote-image {
            margin-top: -20%;
          }
        }
      }

      .blockquote-content {
        background: $background-gray;
        padding: $space-five;

        @include breakpoint($new-small-max) {
          .field-blockquote-body {
            p:first-child {
              margin-top: 0;
            }
          }
        }

        @include breakpoint($new-small) {
          padding: $space-six $space-ten;
          padding-right: 15%;
        }
      }

      .field-blockquote-body p:first-child { // PL: .blockquote-content__text.
        @include fs-heading-blockquote;

        &::before {
          content: '“ ';
          display: inline-block;
          margin-left: -$space-three;
          padding-right: $space;
          font-family: $font-granjon;
        }
      }

      .field-blockquote-source {
        @include eyebrow;
        font-style: normal;
      }
    }


    .view-articles-for-news-center,
    .view-all-campus-news,
    .path-taxonomy,
    .page-node-type-author {
      .views-infinite-scroll-content-wrapper > .item-list > ul {
          margin: 0;
          display: block;

          > li {
            float: none;
            width: 100%;
          }

          .news-card {
            margin-bottom: 0;

            .news-card__image img {
              float: right;
            }
          }

          @include breakpoint($new-x-small-max) {
            margin-top: 0 !important;

            .news-card {
              border-bottom: 1px solid $gray-lighter;
              padding-bottom: 0;

              figure {
                display: none;
              }

              .news-card__link {
                margin-top: $space-two;
                padding-bottom: $space-two;
              }

              .news-card__copy {
                margin-top: $space-two;
                margin-left: 0;
                padding-left: 0;
                padding-top: 0;
                margin-right: 0;
                padding-bottom: $space-two;
              }
            }
          }


        @include breakpoint($new-x-small) {
          margin-top: 0;
          display: block;

            > li {
              float: left;
              width: 46%;
              margin-left: 2%;

              &:nth-child(odd) {
                clear: left;
                margin-right: 2%;
                margin-left: 0;
              }
            }

            .news-card {
              margin-bottom: 0;

              .news-card__image img {
                float: none;
              }
            }
        }

        @include breakpoint($new-small) {
            margin: 0;
        }

        @include breakpoint($new-large) {
          margin-top: 0;
          display: block;

            > li {
              float: left;
              width: 46%;
              margin-left: 2%;

              &:nth-child(odd) {
                clear: left;
                margin-right: 2%;
                margin-left: 0;
              }
            }

            .news-card {
              margin-bottom: 0;

              .news-card__image img {
                float: none;
              }
            }
        }
      }

      article {
        margin-bottom: 40px;
      }
    }

    //JANK FIX FOR DOUBLE IMAGES IN IE FOR VIEW MORE
    .news-card {
      noscript {
        img {
          display: none !important;
        }
      }
    }

    .views-infinite-scroll-content-wrapper article.news-card {
      overflow: hidden;

      .field-card-image,
      .news-card__image {
        overflow: hidden;
        display: block;
        height: 331px;
      }
    }




    figure.half-image-left-full,
    figure.half-image-left,
    figure.align-left {
      clear: left;
    }


    dom-twocolumn-layout,
    dom-threecolumn-layout {
      clear: both;
      @include breakpoint($new-small) {
        .column1,
        .column2,
        .column3 {
          float: left;
        }
      }
    }

    .layout-left-70-30,
    .layout-left-30-70 {
      clear:both;
    }

    .news-trending,
    .news-row-card {
      .card-row {
        float: left;
        width: 100%;
        clear: both;
      }

      @include breakpoint($new-large) {
        .card-row {
          float: left;
          width: 100%;
          clear: both;
        }
        .card-row__image {
          width: 45%;
          float: left;
        }
        .card-row__copy {
          width: 55%;
          float: right;
        }
      }
    }

    .news-trending {
      @include breakpoint($new-large) {
        .card-row__image {
          float: right;
        }
        .card-row__copy {
          float: left;
        }
      }
    }

    .news-package-header {
      @include breakpoint($new-large) {
        padding: $space-decuple 11%;
        max-width: 100%;
      }
    }

    .has-image {
      @include breakpoint($new-large) {
        figure {
          width: 20%;
          float: left;
        }

        .author-card__copy {
          float: left;
          width: 75%;
          padding-left: 5%;
          clear: none;
        }
      }
    }

    .ie-message {
      padding: 8px 16px;
      font-size: 14px;
      background: #FFF199;
      display: block;

      a {
        font-weight: bold;
      }
    }
    //end of fixes.
  }
}
