.view-ohm-expertise {

  [data-widow^="data-widow"] {
    @include background-image('advancing-communities.svg', bottom 11px right 11px, $c-grey-charcoal);
    color: $c-grey-medium;
    margin-bottom: 10px;
  }

  [data-widow="data-widow-1"] {
    grid-column: 2 / 5;
  }

  [data-widow="data-widow-2"] {
    grid-column: 3 / 5;
  }

  [data-widow="data-widow-3"] {
    grid-column: 4 / 5;
  }
}
