.view-ohm-locations {
  h3 {
    @include fs-h2;
    @include padding-container-mobile-desktop;
    border-bottom: 1px solid $c-beige;
    margin: 0;
    padding-bototm: 36px;
    padding-top: 24px;
  }

  .row {
    @include padding-container-mobile-desktop;
    border-bottom: 1px solid $c-beige;
  }

  .row-last {
    border-bottom: 0;
  }
}

.view-display-id-attachment_headquarters {
  background: $c-textgrey;
  color: $c-white;
  padding: 50px 0;

  .view-content {
    padding: 20px;

    @include breakpoint($narrow-screen) {
      padding: 30px;
    }
  }

  .node--type-location {
    align-items: center;

    a {
      @include link-colors($c-orange, $c-white);
    }

    @include breakpoint($narrow-screen) {
      display: flex;
    }
  }

  h2 {
    flex-grow: 1;
    font-size: 36px;
    font-weight: $fw-book;
    line-height: 45px;

    span {
      display: block;
      max-width: 293px;
    }
  }

  .node__content {
    flex-grow: 1;
  }

  .field--name-field-address {
    font-size: 17px;
    line-height: 27px;

    p {
      @include breakpoint($narrow-screen) {
        display: flex;
      }
    }

    span {
      display: block;
      flex-grow: 1;
      width: 230px;
    }
  }

  .field--name-field-directions {
    margin-bottom: 0;
  }
}
