/* Use this file to style paragraphs in the "admin" theme */
.field--widget-paragraphs .paragraph--type--gallery-item,
.field--name-field-gallery-items .paragraphs-subform {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

/* Remove "Move below banner" option */
.paragraph-type--flexible-column-content .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-type--column-wrapper .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-column-wrapper-entity-edit-form .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-flexible-column-content-entity-edit-form .field--name-field-column-layout-controls .chosen-results li:last-child {
  display: none !important;
  cursor: default;
}
