/* Use this file to style paragraphs in the "admin" theme */
.field--widget-paragraphs .paragraph--type--gallery-item,
.field--name-field-gallery-items .paragraphs-subform {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

/* Remove "Move below banner" option */
.paragraph-type--flexible-column-content .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-type--column-wrapper .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-column-wrapper-entity-edit-form .field--name-field-column-layout-controls .chosen-results li:last-child,
.paragraph-flexible-column-content-entity-edit-form .field--name-field-column-layout-controls .chosen-results li:last-child {
  display: none !important;
  cursor: default;
}

/* List of colors for taxonomy reference selectbox
  414401 - yellow
  413731 - gray
  413711 - blue
  413796 - Navy
  415141 - Orange
  415146 - Red
*/
.paragraph-type--alert [value="414401"],
.paragraph-type--alert  [value="413731"],
.paragraph-type--alert  [value="413711"],
.paragraph-type--alert  [value="413796"],
.paragraph-type--alert  [value="415141"],
.paragraph-type--alert  [value="415146"] {
  display: none !important;
}

#paragraph-alert-entity-edit-form [value="414401"],
#paragraph-alert-entity-edit-form  [value="413731"],
#paragraph-alert-entity-edit-form  [value="413711"],
#paragraph-alert-entity-edit-form  [value="413796"],
#paragraph-alert-entity-edit-form  [value="415141"],
#paragraph-alert-entity-edit-form  [value="415146"] {
  display: none !important;
}

.edit-promotional-color-options [value="414401"],
.edit-promotional-color-options  [value="415141"],
.edit-promotional-color-options  [value="415146"],
.edit-promotional-color-options [value="413731"] {
  display: none !important;
}

.edit-offset-color-options [value="415141"],
.edit-offset-color-options [value="415146"] {
  display: none !important;
}
