/* Use this file to style paragraphs in the "admin" theme */
.field--widget-paragraphs .paragraph--type--gallery-item,
.field--name-field-gallery-items .paragraphs-subform,
.paragraph-parallax-image-with-text-overlay-entity-edit-form {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

.paragraph-parallax-image-with-text-overlay-entity-edit-form .field--name-field-overlay-color {
  grid-column: 1/-1;
  grid-row: 1;
}

.paragraph-parallax-image-with-text-overlay-entity-edit-form  .field--name-field-image-caption {
  grid-column: 2;
  grid-row: 2;
}
