// Colors
// -------------------------
$c-gulf-blue: #344160 !default; // used on menu links !default;

// Filter colors
// -------------------------
// Use filters in order to not load extra svg just for hover color.
// https://codepen.io/sosuke/pen/Pjoqqp
$filter-c-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(291deg) brightness(108%) contrast(101%);
$filter-c-dark-navy: brightness(0) saturate(100%) invert(5%) sepia(58%) saturate(2369%) hue-rotate(212deg) brightness(90%) contrast(92%); //#121a31;
$filter-c-blue-link: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%); //#0071ad;

// // Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindex-component-bg:     800 !default;
$zindex-component-mg:     810 !default;
$zindex-component-fg:     820 !default;
$zindex-navbar:           830 !default;
$zindex-dropdown:         840 !default;
$zindex-popover:          850 !default;
$zindex-tooltip:          860 !default;
$zindex-navbar-fixed:     870 !default;
$zindex-modal-bg:         1000 !default;
$zindex-modal:            1050 !default;

// Component width / height
// -------------------------
$mag-navbar-height: 50px;
$mag-navbar-height-medium: 72px;
$mag-navbar-height-big: 112px;
$mag-search-form-height: 162px;
$mag-search-form-height-tablet: 142px;

