{% embed "@templates/_topic.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <header class="basic-header topic-page__header">
      <h2 class="topic-page__eyebrow">Topic</h2>
      <h1>Committed to the City</h1>
    </header>

    <div class="topic-content">
      <p>UCSF's mission is to advance health worldwide, starting with the city we call home.</p>

      <p>Check out an event, and explore stories below about how we’re sharing our medical, scientific and human resources with our neighbors in San Francisco and the greater Bay Area.</p>

      <p><a class="link link--cta" href="">Learn more about UCSF's community impact</a></p>
    </div>

    <div class="promo-list">
    <h2 class="promo-list__heading">Our Goals</h2>
    <ul class="promo-list__cards card-three-up">
      <li class="promo-list__card overlay-purple" style="background-image: url('../../images/promo-cards/promo-card-bk-1.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Patients</h3>
          <p class="promo-list__card-content">UCSF holds over 1,890 active patents that raise more than $24.4M a year, helping us fund cutting-edge research.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
      <li class="promo-list__card overlay-teal" style="background-image: url('../../images/promo-cards/promo-card-bk-2.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Discoveries</h3>
          <p class="promo-list__card-content">UCSF’s research discoveries have transformed the landscape of human health.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
      <li class="promo-list__card overlay-blue" style="background-image: url('../../images/promo-cards/promo-card-bk-3.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Innovation</h3>
          <p class="promo-list__card-content">Since the days of the Gold Rush, UCSF’s pioneering spirit has been an integral part of its success.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
    </ul>
    </div>

    <div class="lastest-events-list">
      <div class="lastest-events-list__header">
        <h2 class="lastest-events-list__heading">Events</h2>

        <p class="lastest-events-list__view-all"><a href="" class="link link--cta">View all events</a></p>
      </div>

    	<ul class="lastest-events-list__cards card-three-up">
    		<li class="event-card">
    			<ul class="event-card__icon">
    			  <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
    			  <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
    			</ul>

          <div class="event-card__content">
      			<h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

      			<ul class="event-card__date-location">
      			  <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
      			  <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
      			</ul>
          </div>
    		</li>
    		<li class="event-card">
    			<ul class="event-card__icon">
    			  <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
    			  <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
    			</ul>

          <div class="event-card__content">
      			<h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
      			  <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
      			  <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
      			</ul>
          </div>
    		</li>
    		<li class="event-card">
    			<ul class="event-card__icon">
    			  <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
    			  <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
    			</ul>

          <div class="event-card__content">
      			<h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
      			  <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
      			  <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
      			</ul>
          </div>
    		</li>
    	</ul>
    </div>

    <ul class="card-three-up">
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
            </header>
          </a>
        </article>
      </li>
    </ul>

    <p class="view-more"><a href="" class="button--alt">View More</a></p>

  {% endblock %}


{% endembed %}
