@charset "UTF-8";
:root {
  --black: #000;
  --c-navy: #052049;
  --c-blue: #007cbe;
  --c-print-blue: #178ccb;
  --c-blue-dark: #064260;
  --c-gray-blue: #506380;
  --c-green-cool: #00483A;
  --c-green-warm: #006400;
  --c-print-green: #90bd31;
  --c-teal: #058488;
  --c-teal-dark: #0E5258;
  --c-purple: #716fb2;
  --c-purple-dark: #2E2872;
  --c-yellow: #fd0;
  --c-violet-dark: #461850;
  --c-magenta-dark: #561038;
  --c-gray-darkest: #21272A; }

.image-2014_wysiwyg_full p,
.ckimagebox p {
  font-size: 14px;
  color: #506380;
  padding-top: 16px;
  font-family: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0; }

figure.image-2014_inline_2-col,
figure.image-2014_inline_4-col,
figure.image-2014_inline_5-col,
.image-2014_wysiwyg_full {
  display: table;
  margin: 40px;
  margin-top: 0;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    figure.image-2014_inline_2-col,
    figure.image-2014_inline_4-col,
    figure.image-2014_inline_5-col,
    .image-2014_wysiwyg_full {
      width: 100% !important;
      margin-left: 0;
      margin-right: 0; }
      figure.image-2014_inline_2-col img,
      figure.image-2014_inline_4-col img,
      figure.image-2014_inline_5-col img,
      .image-2014_wysiwyg_full img {
        width: 100%; } }
  figure.image-2014_inline_2-col figcaption,
  figure.image-2014_inline_4-col figcaption,
  figure.image-2014_inline_5-col figcaption,
  .image-2014_wysiwyg_full figcaption {
    display: table-caption;
    caption-side: bottom; }

.image-2014_wysiwyg_full[style~="float:right"], .image-2014_wysiwyg_full[style*="float:right"], .image-2014_wysiwyg_full[style~="right;"], .image-2014_wysiwyg_full[style~="float:right;"],
.ckimagebox[style~="float:right"],
.ckimagebox[style*="float:right"],
.ckimagebox[style~="right;"],
.ckimagebox[style~="float:right;"],
.wysiwyg-full[style~="float:right"],
.wysiwyg-full[style*="float:right"],
.wysiwyg-full[style~="right;"],
.wysiwyg-full[style~="float:right;"],
.ckgreybox[style~="float:right"],
.ckgreybox[style*="float:right"],
.ckgreybox[style~="right;"],
.ckgreybox[style~="float:right;"] {
  margin: 40px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .image-2014_wysiwyg_full[style~="float:right"], .image-2014_wysiwyg_full[style*="float:right"], .image-2014_wysiwyg_full[style~="right;"], .image-2014_wysiwyg_full[style~="float:right;"],
    .ckimagebox[style~="float:right"],
    .ckimagebox[style*="float:right"],
    .ckimagebox[style~="right;"],
    .ckimagebox[style~="float:right;"],
    .wysiwyg-full[style~="float:right"],
    .wysiwyg-full[style*="float:right"],
    .wysiwyg-full[style~="right;"],
    .wysiwyg-full[style~="float:right;"],
    .ckgreybox[style~="float:right"],
    .ckgreybox[style*="float:right"],
    .ckgreybox[style~="right;"],
    .ckgreybox[style~="float:right;"] {
      width: 100% !important;
      margin-left: 0;
      margin-right: 0; }
      .image-2014_wysiwyg_full[style~="float:right"] img, .image-2014_wysiwyg_full[style*="float:right"] img, .image-2014_wysiwyg_full[style~="right;"] img, .image-2014_wysiwyg_full[style~="float:right;"] img,
      .ckimagebox[style~="float:right"] img,
      .ckimagebox[style*="float:right"] img,
      .ckimagebox[style~="right;"] img,
      .ckimagebox[style~="float:right;"] img,
      .wysiwyg-full[style~="float:right"] img,
      .wysiwyg-full[style*="float:right"] img,
      .wysiwyg-full[style~="right;"] img,
      .wysiwyg-full[style~="float:right;"] img,
      .ckgreybox[style~="float:right"] img,
      .ckgreybox[style*="float:right"] img,
      .ckgreybox[style~="right;"] img,
      .ckgreybox[style~="float:right;"] img {
        width: 100%; } }
  @media (min-width: 769px) {
    .image-2014_wysiwyg_full[style~="float:right"], .image-2014_wysiwyg_full[style*="float:right"], .image-2014_wysiwyg_full[style~="right;"], .image-2014_wysiwyg_full[style~="float:right;"],
    .ckimagebox[style~="float:right"],
    .ckimagebox[style*="float:right"],
    .ckimagebox[style~="right;"],
    .ckimagebox[style~="float:right;"],
    .wysiwyg-full[style~="float:right"],
    .wysiwyg-full[style*="float:right"],
    .wysiwyg-full[style~="right;"],
    .wysiwyg-full[style~="float:right;"],
    .ckgreybox[style~="float:right"],
    .ckgreybox[style*="float:right"],
    .ckgreybox[style~="right;"],
    .ckgreybox[style~="float:right;"] {
      margin-left: 80px; } }

.image-2014_wysiwyg_full[style~="float:left"], .image-2014_wysiwyg_full[style*="float:left"], .image-2014_wysiwyg_full[style~="left;"], .image-2014_wysiwyg_full[style~="float:left;"],
.ckimagebox[style~="float:left"],
.ckimagebox[style*="float:left"],
.ckimagebox[style~="left;"],
.ckimagebox[style~="float:left;"],
.wysiwyg-full[style~="float:left"],
.wysiwyg-full[style*="float:left"],
.wysiwyg-full[style~="left;"],
.wysiwyg-full[style~="float:left;"],
.ckgreybox[style~="float:left"],
.ckgreybox[style*="float:left"],
.ckgreybox[style~="left;"],
.ckgreybox[style~="float:left;"] {
  margin: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .image-2014_wysiwyg_full[style~="float:left"], .image-2014_wysiwyg_full[style*="float:left"], .image-2014_wysiwyg_full[style~="left;"], .image-2014_wysiwyg_full[style~="float:left;"],
    .ckimagebox[style~="float:left"],
    .ckimagebox[style*="float:left"],
    .ckimagebox[style~="left;"],
    .ckimagebox[style~="float:left;"],
    .wysiwyg-full[style~="float:left"],
    .wysiwyg-full[style*="float:left"],
    .wysiwyg-full[style~="left;"],
    .wysiwyg-full[style~="float:left;"],
    .ckgreybox[style~="float:left"],
    .ckgreybox[style*="float:left"],
    .ckgreybox[style~="left;"],
    .ckgreybox[style~="float:left;"] {
      width: 100% !important;
      margin-left: 0;
      margin-right: 0; }
      .image-2014_wysiwyg_full[style~="float:left"] img, .image-2014_wysiwyg_full[style*="float:left"] img, .image-2014_wysiwyg_full[style~="left;"] img, .image-2014_wysiwyg_full[style~="float:left;"] img,
      .ckimagebox[style~="float:left"] img,
      .ckimagebox[style*="float:left"] img,
      .ckimagebox[style~="left;"] img,
      .ckimagebox[style~="float:left;"] img,
      .wysiwyg-full[style~="float:left"] img,
      .wysiwyg-full[style*="float:left"] img,
      .wysiwyg-full[style~="left;"] img,
      .wysiwyg-full[style~="float:left;"] img,
      .ckgreybox[style~="float:left"] img,
      .ckgreybox[style*="float:left"] img,
      .ckgreybox[style~="left;"] img,
      .ckgreybox[style~="float:left;"] img {
        width: 100%; } }
  @media (min-width: 769px) {
    .image-2014_wysiwyg_full[style~="float:left"], .image-2014_wysiwyg_full[style*="float:left"], .image-2014_wysiwyg_full[style~="left;"], .image-2014_wysiwyg_full[style~="float:left;"],
    .ckimagebox[style~="float:left"],
    .ckimagebox[style*="float:left"],
    .ckimagebox[style~="left;"],
    .ckimagebox[style~="float:left;"],
    .wysiwyg-full[style~="float:left"],
    .wysiwyg-full[style*="float:left"],
    .wysiwyg-full[style~="left;"],
    .wysiwyg-full[style~="float:left;"],
    .ckgreybox[style~="float:left"],
    .ckgreybox[style*="float:left"],
    .ckgreybox[style~="left;"],
    .ckgreybox[style~="float:left;"] {
      margin-right: 80px; } }

.image-2014_wysiwyg_full {
  margin-left: 0;
  margin-right: 0; }

.size--half {
  width: 50%; }

.ckgreybox {
  background-color: #f2f4f6;
  padding: 32px; }
  .ckgreybox h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase; }
    .ckgreybox h3::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }

.align--left {
  float: left;
  margin-left: 0;
  margin-top: 0;
  margin-right: 80px; }

.align--right {
  float: right;
  margin-right: 0;
  margin-top: 0;
  margin-left: 80px; }

.about-cta-right {
  margin-top: 0;
  float: right;
  margin: 80px;
  margin-right: 0; }

.wysiwyg_cta,
.about-cta {
  background: #f2f4f6;
  margin-top: 0;
  margin-bottom: 32px;
  width: calc(100% + 20px);
  padding: 40px; }
  @media (min-width: 769px) {
    .wysiwyg_cta,
    .about-cta {
      padding: 80px 10%; } }
  .wysiwyg_cta.align--left, .wysiwyg_cta.about-cta-left,
  .about-cta.align--left,
  .about-cta.about-cta-left {
    margin-left: -20px;
    margin-right: 0; }
    @media (min-width: 769px) {
      .wysiwyg_cta.align--left, .wysiwyg_cta.about-cta-left,
      .about-cta.align--left,
      .about-cta.about-cta-left {
        margin-left: -20%;
        width: 50%; } }
    @media (min-width: 769px) {
      .wysiwyg_cta.align--left, .wysiwyg_cta.about-cta-left,
      .about-cta.align--left,
      .about-cta.about-cta-left {
        margin-right: 10%; } }
  .wysiwyg_cta.align--right, .wysiwyg_cta.about-cta-right,
  .about-cta.align--right,
  .about-cta.about-cta-right {
    margin-right: -20px;
    margin-left: 0; }
    @media (min-width: 769px) {
      .wysiwyg_cta.align--right, .wysiwyg_cta.about-cta-right,
      .about-cta.align--right,
      .about-cta.about-cta-right {
        margin-right: -20%;
        width: 50%; } }
    @media (min-width: 769px) {
      .wysiwyg_cta.align--right, .wysiwyg_cta.about-cta-right,
      .about-cta.align--right,
      .about-cta.about-cta-right {
        margin-left: 10%; } }
  .wysiwyg_cta .wysiwyg_cta__image,
  .about-cta .wysiwyg_cta__image {
    padding-bottom: 24px; }
  .wysiwyg_cta h3,
  .about-cta h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase; }
    .wysiwyg_cta h3::after,
    .about-cta h3::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
  .wysiwyg_cta .readmore,
  .about-cta .readmore {
    display: inline-block;
    background: url("../images/cta-arrow.svg") right center no-repeat transparent;
    background-size: 14px 10px;
    padding-right: 24px;
    text-decoration: none;
    font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif; }

.wysiwyg_twocols .wysiwyg_twocols--first, .wysiwyg_twocols .wysiwyg_twocols--second, .layout--50-50 .wysiwyg_twocols--first, .layout--50-50 .wysiwyg_twocols--second {
  float: left;
  width: 48%;
  margin-right: 2%; }

.wysiwyg_twocols .wysiwyg_twocols--second, .layout--50-50 .wysiwyg_twocols--second {
  float: right;
  margin-right: 0; }

.wysiwyg_twocols {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 40px; }
  .wysiwyg_twocols.layout--60-40 .wysiwyg_twocols--first {
    width: 58%;
    margin-right: 2%; }
  .wysiwyg_twocols.layout--60-40 .wysiwyg_twocols--second {
    width: 38%;
    margin-left: 2%; }
    .wysiwyg_twocols.layout--60-40 .wysiwyg_twocols--second .cke-videolightbox-wrapper.align--right {
      margin: 0; }

.ckpullquote,
.wysiwyg_quote {
  background: #f2f4f6; }
  .ckpullquote--half-left, .ckpullquote--half-right, .ckpullquote.ckpullquote-left, .ckpullquote.ckpullquote-right, .ckpullquote.align--left, .ckpullquote.align--center,
  .wysiwyg_quote--half-left,
  .wysiwyg_quote--half-right,
  .wysiwyg_quote.ckpullquote-left,
  .wysiwyg_quote.ckpullquote-right,
  .wysiwyg_quote.align--left,
  .wysiwyg_quote.align--center {
    float: left;
    width: calc(100% + 20px);
    left: auto;
    padding-top: 0;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 0; }
  .ckpullquote .ckpullquote--quote,
  .ckpullquote .wysiwyg_quote--content,
  .wysiwyg_quote .ckpullquote--quote,
  .wysiwyg_quote .wysiwyg_quote--content {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "GranjonLTW01-Roman", "Garamond", "Times New Roman", serif;
    font-size: 31px;
    line-height: 1.2em;
    letter-spacing: -0.6px;
    font-size: 31px;
    line-height: 1.2em;
    padding: 56px 80px 0 0;
    padding-right: 15%;
    margin-top: 0; }
    @media (min-width: 600px) {
      .ckpullquote .ckpullquote--quote,
      .ckpullquote .wysiwyg_quote--content,
      .wysiwyg_quote .ckpullquote--quote,
      .wysiwyg_quote .wysiwyg_quote--content {
        font-size: 40px;
        letter-spacing: -1px; } }
    .ckpullquote .ckpullquote--quote::before,
    .ckpullquote .wysiwyg_quote--content::before,
    .wysiwyg_quote .ckpullquote--quote::before,
    .wysiwyg_quote .wysiwyg_quote--content::before {
      content: '“ ';
      display: inline-block;
      margin-left: -24px;
      padding-right: 12px;
      font-family: "GranjonLTW01-Roman", "Garamond", "Times New Roman", serif; }
      @media (min-width: 600px) {
        .ckpullquote .ckpullquote--quote::before,
        .ckpullquote .wysiwyg_quote--content::before,
        .wysiwyg_quote .ckpullquote--quote::before,
        .wysiwyg_quote .wysiwyg_quote--content::before {
          padding-right: 8px; } }
    @media (max-width: 768px) {
      .ckpullquote .ckpullquote--quote,
      .ckpullquote .wysiwyg_quote--content,
      .wysiwyg_quote .ckpullquote--quote,
      .wysiwyg_quote .wysiwyg_quote--content {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0; } }
  .ckpullquote .ckpullquote--author,
  .ckpullquote .wysiwyg_quote--author,
  .wysiwyg_quote .ckpullquote--author,
  .wysiwyg_quote .wysiwyg_quote--author {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase;
    font-style: normal;
    padding-right: 15%; }
    .ckpullquote .ckpullquote--author::after,
    .ckpullquote .wysiwyg_quote--author::after,
    .wysiwyg_quote .ckpullquote--author::after,
    .wysiwyg_quote .wysiwyg_quote--author::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }
    @media (max-width: 768px) {
      .ckpullquote .ckpullquote--author,
      .ckpullquote .wysiwyg_quote--author,
      .wysiwyg_quote .ckpullquote--author,
      .wysiwyg_quote .wysiwyg_quote--author {
        padding-left: 40px; } }
  .ckpullquote .ckpullquote--org,
  .wysiwyg_quote .ckpullquote--org {
    font-size: 14px;
    padding-right: 15%; }
  .ckpullquote.ckpullquote-right, .ckpullquote.align--right,
  .wysiwyg_quote.ckpullquote-right,
  .wysiwyg_quote.align--right {
    float: right;
    right: auto;
    margin-right: -20px;
    margin-left: 0; }
    .ckpullquote.ckpullquote-right .ckpullquote--quote,
    .ckpullquote.ckpullquote-right .wysiwyg_quote--content, .ckpullquote.align--right .ckpullquote--quote,
    .ckpullquote.align--right .wysiwyg_quote--content,
    .wysiwyg_quote.ckpullquote-right .ckpullquote--quote,
    .wysiwyg_quote.ckpullquote-right .wysiwyg_quote--content,
    .wysiwyg_quote.align--right .ckpullquote--quote,
    .wysiwyg_quote.align--right .wysiwyg_quote--content {
      padding-right: 0;
      padding-left: 15%; }
      @media (max-width: 768px) {
        .ckpullquote.ckpullquote-right .ckpullquote--quote,
        .ckpullquote.ckpullquote-right .wysiwyg_quote--content, .ckpullquote.align--right .ckpullquote--quote,
        .ckpullquote.align--right .wysiwyg_quote--content,
        .wysiwyg_quote.ckpullquote-right .ckpullquote--quote,
        .wysiwyg_quote.ckpullquote-right .wysiwyg_quote--content,
        .wysiwyg_quote.align--right .ckpullquote--quote,
        .wysiwyg_quote.align--right .wysiwyg_quote--content {
          padding-top: 40px;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 0; } }
    .ckpullquote.ckpullquote-right .ckpullquote--author,
    .ckpullquote.ckpullquote-right .ckpullquote--org,
    .ckpullquote.ckpullquote-right .wysiwyg_quote--author, .ckpullquote.align--right .ckpullquote--author,
    .ckpullquote.align--right .ckpullquote--org,
    .ckpullquote.align--right .wysiwyg_quote--author,
    .wysiwyg_quote.ckpullquote-right .ckpullquote--author,
    .wysiwyg_quote.ckpullquote-right .ckpullquote--org,
    .wysiwyg_quote.ckpullquote-right .wysiwyg_quote--author,
    .wysiwyg_quote.align--right .ckpullquote--author,
    .wysiwyg_quote.align--right .ckpullquote--org,
    .wysiwyg_quote.align--right .wysiwyg_quote--author {
      padding-left: 15%; }
      @media (max-width: 768px) {
        .ckpullquote.ckpullquote-right .ckpullquote--author,
        .ckpullquote.ckpullquote-right .ckpullquote--org,
        .ckpullquote.ckpullquote-right .wysiwyg_quote--author, .ckpullquote.align--right .ckpullquote--author,
        .ckpullquote.align--right .ckpullquote--org,
        .ckpullquote.align--right .wysiwyg_quote--author,
        .wysiwyg_quote.ckpullquote-right .ckpullquote--author,
        .wysiwyg_quote.ckpullquote-right .ckpullquote--org,
        .wysiwyg_quote.ckpullquote-right .wysiwyg_quote--author,
        .wysiwyg_quote.align--right .ckpullquote--author,
        .wysiwyg_quote.align--right .ckpullquote--org,
        .wysiwyg_quote.align--right .wysiwyg_quote--author {
          padding-left: 40px; } }
  @media (min-width: 769px) {
    .ckpullquote--half-left, .ckpullquote.ckpullquote-left, .ckpullquote.align--left, .ckpullquote.align--center,
    .wysiwyg_quote--half-left,
    .wysiwyg_quote.ckpullquote-left,
    .wysiwyg_quote.align--left,
    .wysiwyg_quote.align--center {
      margin-left: -14%;
      margin-right: 80px;
      padding-left: 56px;
      width: 50%; }
    .ckpullquote--half-right, .ckpullquote.ckpullquote-right, .ckpullquote.align--right,
    .wysiwyg_quote--half-right,
    .wysiwyg_quote.ckpullquote-right,
    .wysiwyg_quote.align--right {
      margin-right: -14%;
      margin-left: 80px;
      padding-right: 56px;
      width: 50%; } }
  @media (min-width: 1050px) {
    .ckpullquote--half-left, .ckpullquote.ckpullquote-left, .ckpullquote.align--left, .ckpullquote.align--center,
    .wysiwyg_quote--half-left,
    .wysiwyg_quote.ckpullquote-left,
    .wysiwyg_quote.align--left,
    .wysiwyg_quote.align--center {
      margin-left: -20%;
      padding-left: 0; }
    .ckpullquote--half-right, .ckpullquote.ckpullquote-right, .ckpullquote.align--right,
    .wysiwyg_quote--half-right,
    .wysiwyg_quote.ckpullquote-right,
    .wysiwyg_quote.align--right {
      margin-right: -20%;
      padding-right: 0; } }

.ckpullquote {
  padding-bottom: 50px;
  margin-bottom: 24px; }

.ckpullquote--author,
.wysiwyg_quote--author {
  margin-top: 2rem; }

.wysiwyg_quote {
  margin-bottom: 32px; }

.wysiwyg_quote--author {
  margin-bottom: 50px; }

.wysiwyg_quote--org {
  margin-top: -55px;
  margin-bottom: 50px;
  font-size: 16px;
  padding-right: 15%;
  padding-left: 15%; }
  @media (max-width: 768px) {
    .wysiwyg_quote--org {
      padding-left: 40px;
      padding-right: 40px; } }

.cd-container {
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  content: '';
  display: table;
  clear: both; }

@media only screen and (min-width: 769px) {
  .page-node-type-article .cd-container {
    width: 100%; } }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed; }

@media only screen and (min-width: 769px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 769px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; } }

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #d7e4ed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px #d7e4ed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture {
  background: #90BD31; }

.cd-timeline-img.cd-movie {
  background: #18A3AC; }

.cd-timeline-img.cd-location {
  background: #716FB2; }

@media only screen and (min-width: 769px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s; } }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #f9f9f9;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
          box-shadow: 0 3px 0 #d7e4ed; }
  .cd-timeline-content img {
    padding: 5px 10px; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content h2 {
  color: #303e49;
  font-weight: bold;
  letter-spacing: 1px; }

.cd-timeline-content p,
.cd-timeline-content .cd-read-more {
  font-size: 13px; }

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: var(--c-blue);
  color: white;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: var(--c-navy); }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  color: #666666; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
  border-left-color: #f9f9f9; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px; }
  .cd-timeline-content p {
    font-size: 16px; }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 15px; } }

@media only screen and (min-width: 769px) {
  .cd-timeline-content {
    margin-left: 10px;
    padding: 1.6em;
    width: 45%; }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #f9f9f9; }
  .cd-timeline-content .cd-read-more {
    float: left; }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 18px; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    margin-right: 10px; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #f9f9f9; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s; } }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

[style~="color:#8D8580"],
[style~="color:#729ABD"],
[style~="color:rgb(114, 154, 189)"],
[style="color:rgb(114, 154, 189)"] {
  color: #052049 !important; }

/*# sourceMappingURL=legacy_node_components.css.map */
