:root {
  --c-red: #E61048;
  --c-orange: #FE8638;
  --c-yellow: #FEB80A;
  --c-yellow-light: #FED658;
  --c-green-cool: #00483A;
  --c-green-alt: #007242;
  --c-green: #2C8A1A;
  --c-light-green-cool: #32A03E;
  --c-green-warm: #006400;
  --c-print-green: #90bd31;
  --c-teal: #058488;
  --c-teal-alt: #16A0AC;
  --c-teal-medium: #14828C;
  --c-teal-dark: #0E5258;
  --c-blue:#4896E8;
  --c-blue-light: #178ccb;
  --c-blue-warm: #086290;
  --c-blue-dark: #064260;
  --c-blue-medium: #0F388A;
  --c-navy: #052049;
  --c-purple-dark: #2E2872;
  --c-purple-medium: #443E8C;
  --c-purple: #6C62D0;
  --c-violet-dark: #461850;
  --c-violet-medium: #6C247C;
  --c-violet: #A238BA;
  --c-magenta: #C42882;
  --c-magenta-medium: #821A56;
  --c-magenta-dark: #561038;
  --c-gray-blue: #506380;
  --c-gray: #9BA6B6;
  --c-gray-darkest: #21272A;
  --black: #000; }

.block-views-exposed-filter-blocknews-filter-page-1 {
  background: #f2f3f4; }
  .block-views-exposed-filter-blocknews-filter-page-1 .form--inline .form-item {
    margin: 0; }
  .block-views-exposed-filter-blocknews-filter-page-1 form {
    background: #f2f3f4; }
    @media (min-width: 850px) {
      .block-views-exposed-filter-blocknews-filter-page-1 form {
        padding: 0 80px; } }
  .block-views-exposed-filter-blocknews-filter-page-1 label[for=edit-combine--2] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal; }
  .block-views-exposed-filter-blocknews-filter-page-1 .search-filter__advanced {
    background: url("/themes/custom/ucsf/assets/images/filter.svg") no-repeat left transparent;
    background-size: 24px 24px;
    position: absolute;
    right: 16px;
    text-indent: -999px;
    top: 55px;
    height: 32px;
    width: 24px;
    font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif; }
    .block-views-exposed-filter-blocknews-filter-page-1 .search-filter__advanced:hover {
      background: url("/themes/custom/ucsf/assets/images/filter-blue-hover.svg") no-repeat left transparent;
      background-size: 24px 24px;
      text-decoration: underline;
      text-decoration-thickness: 2px; }
    @media (min-width: 600px) {
      .block-views-exposed-filter-blocknews-filter-page-1 .search-filter__advanced {
        padding-left: 32px;
        right: 23px;
        text-indent: 0;
        top: 145px;
        width: auto; } }
    @media (min-width: 850px) {
      .block-views-exposed-filter-blocknews-filter-page-1 .search-filter__advanced {
        right: 18px;
        top: 185px; } }
    @media (min-width: 1050px) {
      .block-views-exposed-filter-blocknews-filter-page-1 .search-filter__advanced {
        left: 709px;
        right: auto; } }
  .block-views-exposed-filter-blocknews-filter-page-1 .form-item-combine {
    margin: 0; }
  .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"] {
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    color: #506380;
    font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    height: 52px;
    margin-bottom: 16px;
    width: calc(100% - 52px); }
    @media (min-width: 600px) {
      .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"] {
        height: 96px;
        width: 100%; } }
    @media (min-width: 1050px) {
      .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"] {
        max-width: 827px; } }
    .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"]::-webkit-input-placeholder {
      color: #506380; }
    .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"]::-moz-placeholder {
      color: #506380; }
    .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"]::-ms-input-placeholder {
      color: #506380; }
    .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-combine"]::placeholder {
      color: #506380; }
  .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-actions"] {
    margin: 0; }
  .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-reset"] {
    display: none; }
  .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-count"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 500;
    font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 1.4em;
    color: #052049;
    text-transform: uppercase; }
    .block-views-exposed-filter-blocknews-filter-page-1 [data-drupal-selector="edit-count"]::after {
      content: ' ';
      display: inline-block;
      width: 40px;
      height: 1px;
      background: #052049;
      margin: 0 5px 3px; }

.search-filter__top {
  background: #f2f3f4;
  position: relative;
  padding: 40px 20px;
  padding-bottom: 80px; }
  @media (min-width: 850px) {
    .search-filter__top {
      margin: 0 auto;
      max-width: 1280px;
      padding: 80px 0 74px;
      padding-bottom: 160px; } }
  @media (min-width: 1050px) {
    .search-filter__top {
      padding: 80px 0 74px;
      padding-bottom: 160px; } }
  .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
    background: url("/themes/custom/ucsf/assets/images/magnifier.svg") no-repeat center transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-size: 23px;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 24px;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: absolute;
    right: 90px;
    text-indent: -9999px;
    top: 56px;
    width: 24px; }
    .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"]:hover {
      background: url("/themes/custom/ucsf/assets/images/magnifier-hover.svg") no-repeat center transparent;
      background-size: 23px; }
    @media (min-width: 600px) {
      .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
        background-size: 28px;
        height: 80px;
        right: 23px;
        top: 47px;
        width: 45px; }
        .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"]:hover {
          background-size: 28px; } }
    @media (min-width: 850px) {
      .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
        right: 44px;
        top: 90px; } }
    @media (min-width: 1050px) {
      .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
        left: 757px;
        right: auto;
        top: 90px; } }
    .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"]:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent; }

.alias-news-filter .page {
  background: #f2f3f4; }

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08); }
  .scrolled.block-views-exposed-filter-blocknews-filter-page-1 form {
    padding: 0; }
  .scrolled .search-filter__top {
    padding: 0;
    max-width: 1440px; }
    .scrolled .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
      top: 8px;
      left: calc(100% - 245px); }
      @media (max-width: 599px) {
        .scrolled .search-filter__top [data-drupal-selector="edit-submit-news-filter-2"] {
          top: 12px;
          left: calc(100% - 96px); } }
    .scrolled .search-filter__top [data-drupal-selector="edit-combine"] {
      max-width: calc(100% - 168px);
      padding-right: 80px;
      margin-bottom: 0; }
      @media (max-width: 599px) {
        .scrolled .search-filter__top [data-drupal-selector="edit-combine"] {
          max-width: 100%;
          padding-right: 40px; } }
    .scrolled .search-filter__top .search-filter__advanced {
      left: auto;
      right: 24px;
      top: 32px;
      margin-left: 24px; }
      @media (max-width: 599px) {
        .scrolled .search-filter__top .search-filter__advanced {
          right: 16px;
          top: 12px;
          margin-left: 8px; } }
    .scrolled .search-filter__top [data-drupal-selector="edit-count"] {
      height: 32px;
      padding: 0 20px;
      padding-bottom: 8px;
      display: none; }
  .scrolled + #block-ucsf-content,
  .scrolled + #block-ucsf-mag-content {
    padding-top: 365px; }
    @media (max-width: 599px) {
      .scrolled + #block-ucsf-content,
      .scrolled + #block-ucsf-mag-content {
        padding-top: 200px; } }

.desktop-results {
  display: none; }
  @media (min-width: 769px) {
    .desktop-results {
      display: inline; } }

.form-item-field-primary-area-target-id-1011 {
  display: none; }

.form-item-field-primary-area-target-id-1016 {
  display: none; }

.form-item-field-primary-area-target-id-1021 {
  display: none; }

.form-item-field-primary-area-target-id-1026 {
  display: none; }

.js-search_filter__top-open {
  height: 90px;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100; }
  @media (min-width: 600px) {
    .js-search_filter__top-open {
      height: 129px; } }
  @media (min-width: 600px) {
    .js-search_filter__top-open [data-drupal-selector="edit-combine"] {
      max-width: none;
      padding-left: 118px;
      width: calc(100% - 189px); } }
  .js-search_filter__top-open [data-drupal-selector="edit-submit-news-filter-2"] {
    right: 64px;
    top: 16px; }
    @media (min-width: 600px) {
      .js-search_filter__top-open [data-drupal-selector="edit-submit-news-filter-2"] {
        left: 80px;
        right: auto;
        top: 8px; } }
  .js-search_filter__top-open [data-drupal-selector="edit-count"] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal; }
  .js-search_filter__top-open .search-filter__advanced {
    background: url("/themes/custom/ucsf/assets/images/x-large.svg") no-repeat left transparent;
    right: 12px;
    top: 16px;
    background-size: 18px; }
    .js-search_filter__top-open .search-filter__advanced:hover {
      background: url("/themes/custom/ucsf/assets/images/x-large-hover.svg") no-repeat left transparent;
      background-size: 18px; }
    @media (min-width: 600px) {
      .js-search_filter__top-open .search-filter__advanced {
        left: auto;
        right: 28px;
        top: 39px; } }

.search-filter__dropdown {
  -webkit-transition: .2s ease-out all;
  transition: .2s ease-out all;
  background: #f2f3f4;
  height: 0;
  width: 100%;
  visibility: hidden; }
  @media (min-width: 600px) {
    .search-filter__dropdown [data-drupal-selector="edit-pub-year"] {
      grid-column: 3/5; } }
  @media (min-width: 600px) {
    .search-filter__dropdown [data-drupal-selector="edit-tid-1"] {
      grid-column: 1/4; }
      .search-filter__dropdown [data-drupal-selector="edit-tid-1"] #edit-tid-1--4 {
        -webkit-columns: 3 12em;
           -moz-columns: 3 12em;
                columns: 3 12em; } }
  .search-filter__dropdown.js-search_filter__dropdown-open {
    height: auto;
    padding: 0 16px 40px;
    position: absolute;
    top: 90px;
    visibility: visible; }
    @media (min-width: 600px) {
      .search-filter__dropdown.js-search_filter__dropdown-open {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-row-gap: 55px;
        height: auto;
        padding: 64px 80px 85px;
        top: 129px; } }
    @media (min-width: 600px) {
      .search-filter__dropdown.js-search_filter__dropdown-open .fieldset-wrapper {
        height: auto;
        max-height: none;
        visibility: visible;
        overflow: visible; } }
  .search-filter__dropdown fieldset legend {
    border-bottom: 2px solid #052049;
    display: block;
    padding: 9px 0;
    width: 100%; }
    @media (min-width: 600px) {
      .search-filter__dropdown fieldset legend {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        font-weight: 500;
        font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        letter-spacing: 1.6px;
        line-height: 1.4em;
        color: #052049;
        text-transform: uppercase;
        border: 0; }
        .search-filter__dropdown fieldset legend::after {
          content: ' ';
          display: inline-block;
          width: 40px;
          height: 1px;
          background: #052049;
          margin: 0 5px 3px; } }
    .search-filter__dropdown fieldset legend span {
      font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      letter-spacing: 1.6px;
      line-height: 16px;
      text-transform: uppercase; }
  .search-filter__dropdown .fieldset-wrapper {
    -webkit-transition: .2s ease-out all;
    transition: .2s ease-out all;
    height: 0;
    max-height: 192px;
    overflow: auto;
    visibility: hidden; }
    .search-filter__dropdown .fieldset-wrapper.js-search_filter__category-open {
      height: auto;
      visibility: visible; }
    .search-filter__dropdown .fieldset-wrapper .form-type-radio,
    .search-filter__dropdown .fieldset-wrapper .form-type-checkbox {
      border-bottom: 2px solid #052049;
      margin-right: 20px;
      padding: 7px 0; }
      @media (min-width: 600px) {
        .search-filter__dropdown .fieldset-wrapper .form-type-radio,
        .search-filter__dropdown .fieldset-wrapper .form-type-checkbox {
          border: 0;
          max-height: none;
          padding: 0;
          visibility: visible;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          -moz-column-break-inside: avoid;
               break-inside: avoid; } }
      .search-filter__dropdown .fieldset-wrapper .form-type-radio label,
      .search-filter__dropdown .fieldset-wrapper .form-type-checkbox label {
        font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
        font-size: 14px;
        letter-spacing: .16px;
        line-height: 14px; }
  @media (min-width: 600px) {
    .search-filter__dropdown [data-drupal-selector="edit-actions"] {
      grid-column: 1/-1;
      margin-top: 0; } }
  .search-filter__dropdown [data-drupal-selector="edit-actions"] input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; }
  .search-filter__dropdown ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0; }
    .search-filter__dropdown ul li input {
      margin-right: 5px; }
    .search-filter__dropdown ul li ul {
      padding-left: 20px; }

.view-news-filter {
  background: #fff;
  background: #f2f3f4; }
  .view-news-filter .view-header {
    display: none; }
  .view-news-filter:not(.contextual-region) {
    position: relative; }
  .view-news-filter .view-content {
    max-width: 1440px;
    background: url("../images/gray-sq.svg") right top no-repeat #fff;
    background-size: 16px;
    margin: 0 auto;
    margin-top: -40px;
    padding-top: 40px;
    position: relative; }
    @media (min-width: 850px) {
      .view-news-filter .view-content {
        background: url("../images/gray-sq.svg") left top no-repeat #fff;
        background-size: 80px;
        margin-top: -80px;
        padding-top: 80px; } }
  .view-news-filter ul {
    margin: 0;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 827px; }
    .view-news-filter ul ul {
      margin: 0; }
    .view-news-filter ul li {
      margin: 0; }
    .view-news-filter ul ul,
    .view-news-filter ul li {
      line-height: inherit;
      list-style: none;
      padding: 0; }
  .view-news-filter .pager,
  .view-news-filter .view-empty {
    max-width: 1440px;
    margin: 0 auto;
    background: #fff; }
  .view-news-filter .view-empty {
    margin-top: -80px;
    position: relative; }
    @media (min-width: 850px) {
      .view-news-filter .view-empty {
        padding-left: 80px; } }
    .view-news-filter .view-empty::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      background-color: #f2f3f4; }
      @media (min-width: 850px) {
        .view-news-filter .view-empty::before {
          width: 80px;
          height: 80px;
          left: 0; } }
    .view-news-filter .view-empty__text {
      padding: 40px 16px;
      margin-bottom: 0; }
      @media (min-width: 850px) {
        .view-news-filter .view-empty__text {
          padding: calc(80px + 16px) 16px;
          margin: 0 auto;
          max-width: 827px; } }

.search-filter__indicator-list {
  font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 827px; }
  .search-filter__indicator-list label {
    display: inline-block;
    padding: 16px; }
  .search-filter__indicator-list ul {
    margin: 0; }
    .search-filter__indicator-list ul ul {
      margin: 0; }
    .search-filter__indicator-list ul li {
      margin: 0; }
    .search-filter__indicator-list ul ul,
    .search-filter__indicator-list ul li {
      line-height: inherit;
      list-style: none;
      padding: 0; }
    @media (min-width: 600px) {
      .search-filter__indicator-list ul {
        padding-left: 0; } }
  .search-filter__indicator-list li {
    display: inline-block; }
  .search-filter__indicator-list a {
    background: #d5d9de;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 24px 5px 0;
    padding: 5px 24px; }
    .search-filter__indicator-list a:hover {
      background: #7f8b9b; }
  .search-filter__indicator-list .small-text {
    margin: 0 0 0 16px;
    text-transform: none; }
    .search-filter__indicator-list .small-text a {
      background: none;
      padding: 0;
      text-decoration: underline; }

.js-search_filter__is-open .block-system-main-block,
.js-search_filter__is-open .footer-region {
  display: none; }

.js-search_filter__is-open .contextual-region,
.js-search_filter__is-open .scrolled {
  position: inherit;
  top: auto; }

.js-search_filter__is-open form {
  padding: 0; }

@media (min-width: 1027px) {
  label[for=edit-field-date-and-time-value-1--2],
  label[for=edit-field-date-and-time-value-2--2] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal; } }

@media (min-width: 1027px) {
  .form-item-field-date-and-time-value-1,
  .form-item-field-date-and-time-value-2 {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal; } }

.view-press-releases .more-link {
  text-align: initial; }

.view-press-releases .campus-news-card__title {
  font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.3px; }
  @media (min-width: 600px) {
    .view-press-releases .campus-news-card__title {
      font-size: 20px; } }

.view-press-releases .news-card__link:hover .campus-news-card__title {
  color: #006BE9; }

/*# sourceMappingURL=view_news_filter.css.map */
