// Exposed Filter
.block-views-exposed-filter-blocknews-filter-page-1 {

  .form--inline .form-item {
    margin: 0;
  }

  .search-filter__top {
    background: $c-grey-pale;
    position: relative;
    padding: 40px 16px;
  }

  label[for=edit-combine] {
    @include visually-hidden;
  }

  .search-filter__advanced {
    @include background-image('filter.svg', left);
    background-size: 24px 24px;
    position: absolute;
    right: 16px;
    text-indent: -999px;
    top: 55px;
    height: 24px;
    width: 24px;
  }

  .form-item-combine {
    margin: 0;
  }

  // Text Input.
  [data-drupal-selector="edit-combine"] {
    border: 1px solid $near-white;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    color: $gray-blue;
    font-family: $font-helvetica-neue-light;
    font-size: $font-size;
    height: 52px;
    margin-bottom: 16px;
    width: calc(100% - 52px);

    &::placeholder {
      color: $gray-blue;
    }
  }

  // Actions wrapper.
  [data-drupal-selector="edit-actions"] {
    margin: 0;
  }

  // Submit button.
  [data-drupal-selector="edit-submit-news-filter"] {
    @include background-image('magnifier.svg', center);
    appearance: none;
    background-size: 24px 24px;
    border: 0;
    box-shadow: none;
    height: 24px;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: absolute;
    right: 84px;
    text-indent: -9999px;
    top: 56px;
    width: 24px;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
    }
  }

  // Results count.
  [data-drupal-selector="edit-count"] {
    @include eyebrow;
  }

  // Reset button.
  [data-drupal-selector="edit-reset"] {
    display: none;
  }
}

// Dropdown filters.
.search-filter__dropdown {
  @include transition;
  height: 0;
  visibility: hidden;
  padding: 30px 16px 40px;

  &.js-search_filter__dropdown-open {
    height: auto;
    visibility: visible;
  }

  .fieldset-wrapper {
    @include transition;
    height: 0;
    visibility: hidden;

    &.js-search_filter__category-open {
      height: auto;
      visibility: visible;
    }
  }
}

// Results
.view-news-filter {
  margin: 0 auto;
  max-width: 827px;

  .view-header { // @todo Remove from view.
    display: none;
  }

  ul {
    @include ul-item-list-reset;
    padding: 0 16px;
  }
}
