.view-articles-by-term { // .recommended-articles_list
  background: $white;
  padding: 0 $space-ten;
  margin-top: $space-two;

  .view-content { // PL: .card-three-up
    @include card-three-up;
    @include card-three-up-constrained;

    .news-card__copy {
      padding-bottom: 0;
    }
  }
}

.has-recommended-article .view-articles-by-term { // .recommended-articles_list
  padding: 0 90px;
  margin-top: 0;

  .view-content {
    margin-top: $space-ten;
    padding-top: 0;
  }
}
