[data-drupal-views-infinite-scroll-pager] {
  margin: 0;
  padding-bottom: 0;

  .view-more {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: $space-ten;
    margin-top: 0;
    
    @include breakpoint($new-small-max) {
      a {
        display: block;
      }
    }
  }
}
