.author-page {
  .views-element-container {
    grid-column: 1/-1;
  }
}

.view-articles-by-author,
.view-articles-for-news-center,
.view-topics-tags-news-articles,
.view-all-campus-news {
  .views-infinite-scroll-content-wrapper > .item-list > ul {
    @include card-three-up;
  }

  article {
    margin-bottom: 40px;
  }
}

.view-articles-for-news-center .views-infinite-scroll-content-wrapper > .item-list > ul {
    margin: 0 auto !important;
    margin-top: 40px !important;
    max-width: $bp-xl;
  }
  
.view-all-campus-news .views-infinite-scroll-content-wrapper > .item-list > ul,
.view-topics-tags-news-articles .views-infinite-scroll-content-wrapper > .item-list > ul{
  margin-top: 0;
}