// Exposed Filter
.block-views-exposed-filter-blocknews-filter-page-1 {

  .form--inline .form-item {
    margin: 0;
  }

  label[for=edit-combine] {
    @include visually-hidden;
  }

  .search-filter__advanced {
    @include background-image('filter.svg', left);
    background-size: 24px 24px;
    position: absolute;
    right: 16px;
    text-indent: -999px;
    top: 55px;
    height: 24px;
    width: 24px;

    @include breakpoint($bp-medium) {
      padding-left: 32px;
      right: 70px;
      text-indent: 0;
      top: 190px;
      width: auto;
    }

    @include breakpoint($bp-medium-plus) {
      left: 776px;
    }
  }

  .form-item-combine {
    margin: 0;
  }

  // Text Input.
  [data-drupal-selector="edit-combine"] {
    border: 1px solid $near-white;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    color: $gray-blue;
    font-family: $font-helvetica-neue-light;
    font-size: $font-size;
    height: 52px;
    margin-bottom: 16px;
    width: calc(100% - 52px);

    @include breakpoint($bp-medium) {
      height: 96px;
      max-width: 827px;
      width: 100%;
    }

    &::placeholder {
      color: $gray-blue;
    }
  }

  // Actions wrapper.
  [data-drupal-selector="edit-actions"] {
    margin: 0;
  }

  // Results count.
  [data-drupal-selector="edit-count"] {
    @include eyebrow;
  }

  // Reset button.
  [data-drupal-selector="edit-reset"] {
    display: none;
  }
}

// Top of Filter.
.search-filter__top {
  background: $c-grey-pale;
  position: relative;
  padding: 40px 16px;

  @include breakpoint($bp-medium) {
    padding: 80px 70px;
  }

  // Submit button.
  [data-drupal-selector="edit-submit-news-filter"] {
    @include background-image('magnifier.svg', center);
    appearance: none;
    background-size: 24px 24px;
    border: 0;
    box-shadow: none;
    height: 24px;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: absolute;
    right: 84px;
    text-indent: -9999px;
    top: 56px;
    width: 24px;

    @include breakpoint($bp-medium) {
      background-size: 32px 32px;
      height: 32px;
      right: 84px;
      top: 110px;
      width: 32px;
    }

    @include breakpoint($bp-medium-plus) {
      left: 827px;
    }

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

// Top filter - Open.
.js-search_filter__top-open {
  height: 90px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-news-search-filter;

  @include breakpoint($bp-medium) {
    height: 129px;
  }

  // Text Input.
  [data-drupal-selector="edit-combine"] {
    @include breakpoint($bp-medium) {
      max-width: none;
      padding-left: 118px;
      width: calc(100% - 189px);
    }
  }

  // Submit button.
  [data-drupal-selector="edit-submit-news-filter"] {
    right: 64px;
    top: 16px;

    @include breakpoint($bp-medium) {
      left: 80px;
      right: auto;
      top: 32px;
    }
  }

  // Results count.
  [data-drupal-selector="edit-count"] {
    @include visually-hidden;
  }

  .search-filter__advanced {
    @include background-image('x-large.svg', left);
    right: 12px;
    top: 16px;

    @include breakpoint($bp-medium) {
      left: auto;
      right: 28px;
      top: 39px;
    }
  }
}


// Dropdown filters.
.search-filter__dropdown {
  @include transition;
  background: $c-grey-pale;
  height: 0;
  visibility: hidden;

  [data-drupal-selector="edit-pub-year"] { // Year of Publication.
    @include breakpoint($bp-medium) {
      grid-column: 3/5;
    }
  }

  [data-drupal-selector="edit-tid-1"] { // Health and Science Topics.
    @include breakpoint($bp-medium) {
      columns: 3;
      grid-column: 1/4;
    }
  }

  &.js-search_filter__dropdown-open {
    height: auto;
    padding: 0 16px 40px;
    visibility: visible;

    @include breakpoint($bp-medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 55px;
      height: auto;
      padding: 64px 80px 85px;
      position: absolute;
    }

    .fieldset-wrapper {
      @include breakpoint($bp-medium) {
        height: auto;
        max-height: none;
        visibility: visible;
      }
    }
  }

  fieldset legend {
    border-bottom: 2px solid $c-navy;
    display: block;
    padding: 9px 0;
    width: 100%;

    @include breakpoint($bp-medium) {
      @include eyebrow;
      border: 0;
    }

    span {
      @include fs-filter-label;
    }
  }

  .fieldset-wrapper {
    @include transition;
    height: 0;
    max-height: 192px;
    overflow: auto;
    visibility: hidden;

    &.js-search_filter__category-open {
      height: auto;
      visibility: visible;
    }

    .form-type-radio,
    .form-type-checkbox {
      border-bottom: 2px solid $c-navy;
      margin-right: 20px;
      padding: 7px 0;

      @include breakpoint($bp-medium) {
        border: 0;
        max-height: none;
        padding: 0;
        visibility: visible;
      }

      label {
        @include fs-option-label;
      }
    }
  }

  // Submit button.
  [data-drupal-selector="edit-actions"] {
    @include breakpoint($bp-medium) {
      grid-column: 1/-1;
      margin-top: 0;
    }

    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
  }
}

// Results
.view-news-filter {
  margin: 0 auto;
  max-width: 827px;

  .view-header { // @todo Remove from view.
    display: none;
  }

  ul {
    @include ul-item-list-reset;
    padding: 0 16px;
  }
}
