.footer-region {
  background: $navy;
  color: $white;
  padding: $space-double 0;

  a {
    color: $white;
  }
}

.footer {
  clear: both;
  margin-bottom: 0;
  padding-top: $space-decuple;
  font-size: $font-size-xsm;

  h2 {
    @include eyebrow;

    color: $white;
  }

  .grid__item {
    ul {
      list-style: none;
      margin-left: 0;
      padding: 0;

      li {
        margin-top: $space;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.footer-logo {
  width: 100px;
  margin-bottom: $space-quadruple;
}

.follow {
  ul {
    margin-left: 0;
    margin-top: $space;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        font-size: 24px;

        .indent-text {
          position: absolute;
          left: -9999px;
          display: block;
        }
      }
    }
  }
}

.footer-bottom {
  border-top: 1px solid $gray-blue;
  margin-top: $space-decuple;
  padding-top: $space-double;

  p {
    margin: 0;
    margin-top: $space;
  }

  ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: $space-triple;
    }
  }
}
