@use "../0_tools" as *;
body.page-node-type-magazine-article,
.magazine-topic-issue-page {
  background: $c-white;





  // Possibly HTML nesting bug .recommended-articles is a sibling of #block-ucsf-content
  // instead of being it's child element on following page
  //  /magazine/seeking-immunity-what-will-it-take-get-vaccine
  .recommended-articles__title,
  .news-card__copy h2 {
    color: $c-dark-navy;
  }

  .recommended-articles .news-card__copy .article-affiliation {
    color: $magazine-gray-blue;
  }

  .recommended-articles .news-card__copy .article-affiliation:before {
    &::before {
      background-color: $magazine-gray-blue;
    }
  }

  // RECOMMENDED READING
  .has-recommended-article {
    // moving title closer to the image
    @include breakpoint($bp-large) {
      .recommended-articles__banner {
        grid-template-rows: auto;
      }
    }

    .recommended-articles__title {
      padding-top: 0;

      @include breakpoint($bp-large) {
        margin: $space-two 0 $space-five 0;
        color: $c-dark-navy;
      }
    }
  }

  .paragraph-text-block {
    background-color: transparent;
  }

  .news-card__copy {
    //removing notch treatment
    margin-left: 0;
    margin-right: 0;
  }

  .news-card__copy {
    @media ($above-s) {
      margin-top: 0;
      padding-left: 0;
    }
  }

  .article-affiliation {
    // force whole line of text to shift down if screen size is too small
    overflow: hidden;
    white-space: nowrap;
  }

  .recommended-article__bg {
    display: none;
  }

  .link--cta {
    @include link-bg-image-hover();
    &:hover {
      padding-right: $space-three;
    }
  }

  [style*="background-color:#dedeed"] .link--cta {
    color: #121a31;
    @include link-bg-image('cta-arrow-navy.svg');
    background-image: url('/themes/custom/ucsf/assets/images/cta-arrow-navy.svg');
  }

  .article-art-credit {
    font-style: italic;
  }

  // Footer
  .footer-ctas-wrapper {
    button {
      color: $c-dark-navy;
      border-color: $c-dark-navy;
      &:hover {
        color: $c-white;
        border-color: $c-blue;
      }
    }

    #email {
      font-family: $font-helvetica-neue-light;
    }
  }

  //magazine two-up support banner
  .magazine-feature-two-support {
    margin-bottom: $space-five;
    border-bottom: 1px solid $k3-gray;

    .magazine-feature-support__articles {
      .field-supporting-feature-article {
        & > .field__item {
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }

    @include breakpoint($bp-large) {
      margin-bottom: $space-ten;

      .magazine-feature-support__articles {
        .field-supporting-feature-article {
          & > .field__item {
            width: 48%;

            &:nth-of-type(2) {
              margin-right: 0;
              margin-left: 2%;
            }
          }
        }
      }
    }

    @include breakpoint($new-large) {
      @include grid;

      .field-feature-article {
        grid-column: 1/9;
      }

      .magazine-home-feature {
        display: block;

        .card-row__copy {
          padding: 32px 80px 0;
        }
      }

      .magazine-feature-support__articles {
        padding: 0;
        grid-column: 9/-1;
        padding-right: 15%;
        margin-bottom: 0;

        .field-supporting-feature-article {
          display: block;

          & > .field__item {
            width: 100%;
          }

          article {
            margin-bottom: $space-ten;
          }
        }
      }
    }
  }

  // needed to center "View more" button
  .layout-columns__1 {
    float: none;
  }
}

body.page-node-type-magazine-article #block-ucsf-mag-content {
  @include fs-body-magazine;

  strong {
    font-family: $font-ivar;
    font-weight: $fw-bold;
  }

  em {
    font-family: $font-ivar-italic;
    font-style: normal;
  }

  h1 em {
    font-family: $font-granjon;
    font-style: italic;
  }

  strong em {
    font-weight: $fw-bold;
  }

  .small-text {
    em,
    strong {
      font-family: $font-helvetica-neue-roman;
    }
  }

  .small-text {
    em {
      font-style: italic;
    }
  }

  //updating font
  .article-header .field-sub-title,
  .field-blockquote-source-org,
  p.feature-text,
  p.feature-text a {
    font-family: $font-helvetica-neue-light;
  }

  // Overwriting default strong and em font
  // dom-twocolumn-layout,
  .layout__heading,
  .paragraph--type--column-content h2,
  .caption-drupal-entity,
  .field-image-caption,
  .field-video-caption,
  .ucsfcallout,
  .embedded-entity,
  .footer-ctas-wrapper,
  h2,
  h3,
  .font-h3,
  h2.font-h3,
  p.feature-text,
  .article-header .field-sub-title {
    strong {
      font-family: $font-helvetica-neue-medium;
      font-weight: normal;
    }
  }

  // dom-twocolumn-layout,
  .layout__heading,
  .paragraph--type--column-content h2,
  .ucsfcallout,
  .blockquote,
  .footer-ctas-wrapper,
  h2,
  h3,
  p.feature-text,
  .article-header .field-sub-title {
    em {
      font-family: $font-helvetica-neue-light;
      font-style: italic;
    }
  }


  .ucsfcallout .small-text em {
    font-family: $font-helvetica-neue-roman;
    font-style: italic;
  }

  @for $column-number from 1 through 4 {
    .layout-columns__#{$column-number} {
      // In column layout use Ivar if italic/bold text is not modified.
      strong {
        font-family: $font-ivar;
        font-weight: $fw-bold;
      }

      em {
        font-family: $font-ivar-italic;
        font-style: normal;
      }

      // In column layout - use Helvetica if bold/italic text has been modified:
      // such as - used as image caption, used as small text.
      // Also if it is a title
      .field-image-caption strong,
      figcaption strong,
      .small-text strong {
        font-family: $font-helvetica-neue-medium;
        font-weight: normal;
      }

      .field-image-caption em,
      figcaption em,
      .small-text em {
        font-family: $font-helvetica-neue-roman;
        font-style: italic;
      }

      // Added this in as part of MAG-224 ticket
      @for $heading-number from 1 through 4 {
        h#{$heading-number} {
          strong {
            font-family: $font-helvetica-neue-medium;
            font-weight: normal;
          }

          em {
            font-family: $font-helvetica-neue-roman;
            font-style: italic;
          }
        }
      }
    }
  }

  .caption-drupal-entity,
  .field-image-caption,
  .field-video-caption {
    em {
      font-family: $font-helvetica-neue-roman;
      font-style: italic;
    }
  }

  blockquote,
  .blockquote-content__text {
    em {
      font-family: $font-granjon;
    }
  }

  .blockquote,
  .blockquote-content__text {
    strong {
      font-family: $font-granjon;
    }
  }

  //updating colors
  p.feature-text,
  .article-art-credit,
  .field-image-caption,
  figcaption,
  .topics-list__description,
  .field-featured-media-article .news-card__date,
  .media-coverage__list-date,
  .field-featured-media-article .news-card__date::before,
  .media-coverage__list-date::before,
  .tags-menu-region .tags-menu .tags-menu__item::before,
  figure.half-image-left figcaption,
  figure.half-image-right figcaption,
  .article-header__author,
  .article-header__author a,
  .basic-header__subheading,
  .article-header .field-sub-title,
  .article-affiliation::before,
  .article-header__byline.media,
  .news-card__byline.media,
  .news-card__copy .article-header__date,
  .news-card__copy .field--type-datetime {
    color: $magazine-gray-blue;
  }

  .article-header__date,
  .article-header__byline .article-header__date,
  .article-header .field--name-title,
  .recommended-article__copy .field--name-title,
  .news-card__copy .field--name-title,
  .blockquote-content__cite,
  .field-blockquote-source,
  .article-header__byline .article-affiliation,
  .recommended-articles__title,
  .tags-menu__title,
  .eyebrow-title,
  .bg-gray .layout__heading,
  .footer-ctas-wrapper h2,
  h1,
  h2 {
    color: $c-dark-navy;
  }

  [data-primary-area^="pa-"] + .news-card__date,
  [data-primary-area^="pa-"] + .article-header__date,
  .article-header__date,
  .article-header__byline .article-affiliation {
    &::before {
      background-color: $magazine-gray-blue;
    }
  }

  .blockquote-content__cite,
  .field-blockquote-source,
  .eyebrow-title {
    &::after {
      color: $c-dark-navy;
      background-color: $c-dark-navy;
    }
  }

  .col-white-text h2,
  .scrolly-gallery .eyebrow-title {
    color: $c-white;
  }

  .col-white-text .layout__heading,
  .featureoverlaydark .field--name-title,
  .featureoverlaydark .field-html-title ,
  .featureoverlaydark .article-header__author a {
    @include breakpoint($new-large) {
      color: $c-white;
    }
  }

  .featureoverlaydark .article-affiliation::before {
    @include breakpoint($new-large) {
      background-color: $white;
    }
  }

  .twocolleftdark,
  .twocolrightdark {
    background: $c-black;

    .article-twocol-header {
      background: $c-black;
      width: 100%;

      h1,
      .field-sub-title,
      .article-header__author,
      .field--name-title {
        color: $c-white;

        a {
          color: $c-white;
          border-bottom: 1px solid $c-white;

          &:hover {
            background: transparent;
            border-bottom: none;
          }
        }
      }

      .article-header__byline {
        .article-header__primary-area,
        .article-header__date {
          color: $c-white;

          &::before {
            background: $c-white;
          }
        }
      }

      .article-affiliation {
        color: $c-white;

        &::before {
          background: $c-white;
        }
      }
    }
  }

  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .field-sub-title,
  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .article-header__author,
  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .article-topic-area,
  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .article-affiliation,
  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .article-issue,
  .article-feature-overlay-banner.featureoverlaydark
    .article-feature-overlay-header
    .article-art-credit {
    @include breakpoint($new-large) {
      color: $c-white;
    }
  }

  .twocolleftdark .article-twocol-header .article-art-credit,
  .twocolrightdark .article-twocol-header .article-art-credit {
    @include breakpoint($new-large-max) {
      color: $c-white;
    }
  }

  .paragraph-text-block {
    background-color: transparent;
  }

  .article-header__author a {
    border-bottom-color: $magazine-gray-blue;

    &:hover {
      border-bottom-color: $c-blue-link-rollover;
    }
  }

  .scrolly-gallery .eyebrow-title::after {
    background-color: $c-white;
  }

  //fixing width | positioning

  .article-no-banner {
    background: none;
    text-align: center;
    color: $c-dark-navy;

    @media ($above-mag-s) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    @include breakpoint($new-large) {
      background: $c-white;
      grid-column: 2 / -2;
    }

    @media ($above-xxl) {
      grid-column: 5 / -5;
    }

    // color changes
    h1,
    .article-header__author {
      color: $c-dark-navy;
    }

    .article-header__author,
    .article-header__subheading {
      color: $magazine-gray-blue;
    }
  }

  .article-header__author {
    width: 100%;
  }

  .page_narrow {
    @include breakpoint($new-large) {
      background: $c-white;
    }
  }

  .page_narrow,
  .paragraph-text-block {
    @media ($above-mag-s) {
      max-width: 600px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 1px;
    }

    @include breakpoint($new-large) {
      grid-column: 2 / -2;
      width: 100%; // MAG-263 / MAG-265 jira ticket
    }

    @media ($above-xxl) {
      grid-column: 5 / -5;
    }

    &.gallery-background-fill {
      display: none;
    }
  }

  .paragraph--type--gallery {
    margin-top: 40px;

    strong {
      font-family: $font-helvetica-neue-medium;
      font-weight: normal;
    }

    em {
      font-family: $font-helvetica-neue-roman;
      font-style: italic;
    }
  }

  .field-column-content-content {
    .paragraph-text-block {
      margin: 0;
      max-width: none;
    }
  }

  figure,
  .embedded-entity {
    @media ($above-xxl) {
      &.half-image-right {
        margin-right: -35%;

        figcaption {
          padding-right: 44%;
        }
      }

      &.half-image-left {
        margin-left: -35%;

        figcaption {
          padding-left: 44%;
        }
      }

      &.half-image-right-full {
        margin-right: -60%;

        figcaption {
          padding-right: 53%;
        }
      }

      &.half-image-left-full {
        margin-left: -60%;

        figcaption {
          padding-left: 53%;
        }
      }
    }
  }

  // match the width of news article full bleed image
  .full-bleed-image {
    @media ($above-xxl) {
      margin-left: -53%;
      margin-right: -53%;
      img {
        max-width: 100%;
      }
    }
  }

  .ucsfcallout {
    font-family: $font-helvetica-neue-light;

    @include breakpoint($bp-large) {
      &.callout-left {
        margin-left: -20%;
      }

      &.callout-right {
        margin-right: -20%;
      }
    }

    @include breakpoint($new-large) {
      width: 60%;
      padding: 64px;

      &.callout-left {
        margin-left: -30%;
      }

      &.callout-right {
        margin-right: -30%;
      }
    }

    @media ($above-xxl) {
      width: 75%;
      padding: 64px;

      &.callout-left {
        margin-left: -50%;
      }

      &.callout-right {
        margin-right: -50%;
      }
    }

    .link--cta {
      @include link-bg-image-hover();
      &:hover {
        padding-right: $space-three;
      }
    }
  }

  .blockquote {
    background: $c-white;

    @media ($above-xxl) {
      width: 75%;

      &.blockquote--half-right {
        margin-right: -50%;
      }

      &.blockquote--half-left {
        margin-left: -50%;
      }

      &.blockquote--full-right {
        width: 100%;
      }
    }
  }

  .blockquote.blockquote-full-width {
    width: 100%;

    .blockquote-content {
      background: $c-white;
    }

    .field-blockquote-image {
      @media ($below-s) {
        margin-top: -15%;
      }
    }
  }

  .article-header__mag-topic-area {
    color: $c-dark-navy;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-family: $font-helvetica-neue-bold;
    font-weight: $fw-medium;

    &::before {
      display: none;
    }
  }

  .article-twocol-banner {
    // overwriting default video ratio.
    .video-embed-field-responsive-video {
      padding-bottom: 108.33%;
      height: 0;
    }
  }
}

.magazine-card__byline .article-issue {
  color: $magazine-gray-blue;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
  letter-spacing: 0.2px;
  font-weight: 500;
}

body.page-node-type-magazine-article {
  .tags-menu__title {
    &::after {
      content: ' ';
      display: inline-block;
      width: 0;
      height: 20px;
      margin: 0;
      margin-right: 20px;
      margin-bottom: -5px;
      padding-right: 30px;
      background: url("../images/ext-link-gray.svg") right center no-repeat transparent;
      background-size: 20px;
    }
  }

  #block-ucsf-mag-content {
    .paragraph-text-block {
      &.paragraph-responsive-areas-fullwidth {
        max-width: 100%;

        @include breakpoint($new-large) {
            grid-column: 1 / -1;
            max-width: 100%;
            margin-bottom: $space-ten;
        }
      }
    }

    .page_narrow--scrolly {
      grid-column: 1 / -1;
      max-width: 100%;
    }
  }

}

.font-h3,
h2.font-h3 {
  letter-spacing: 0.4px;
}

body.page-node-type-magazine-article #block-ucsf-mag-content .recommended-articles {
  a:hover .field--name-title {
    color: $c-blue-link;
  }
}
