body.page-node-type-magazine-homepage h1 {
  @include fs-heading ($c-dark-navy);
  display: block;
  margin-top: 20px;
  margin-bottom: 0;

  @include breakpoint($new-large) {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 0;
  }
}
