.page-node-type-magazine-homepage {
  .logo__img {
    height: 196px;
    width: 272px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $c-dark-navy; //debugging
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;
  }

  .magazine-homepage-banner {
    display: none;
  }

  // Overwriting emergency alert because logo is bigger
  .emergency-alert__header {
    // margin-top: 2.5rem;
    padding-left: calc(272px + 32px);
  }

  .emergency-alert__content {
    padding-left: calc(272px + 52px);
  }

  // Overwriting navigation because logo is bigger
  .fixed-nav--pre-hidden,
  .fixed-nav--visible,
  .fixed-nav--hidden {
    .logo__img {
      height: 64px;
      width: 270px;
    }
  }
}