{% embed "@templates/_author.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <header class="basic-header author-page__header">
      <h1>Nicholas Weiler</h1>

      <p class="basic-header__subheading">Senior Public Information Representative</p>
    </header>

    <div class="author-card has-image">
        <picture class="author-card__image">
          <img src="../../images/card/nicholas-weiler.jpg" alt="This is the card image's alt text">
        </picture>

        <div class="author-card__copy">
          <p>
              Nicholas Weiler joined the news team in 2015 and covers a wide array of basic and translational research at UCSF. His beats include cancer research, neuroscience, stem cells and regenerative medicine, genetics, pharmacology, diabetes and metabolic disorders, aging, immunology, and cell biology.
          </p>

          <p>
              Nicholas Weiler joined the news team in 2015 and covers a wide array of basic and translational research at UCSF. His beats include cancer research, neuroscience, stem cells and regenerative medicine, genetics, pharmacology, diabetes and metabolic disorders, aging, immunology, and cell biology.
          </p>

          <ul class="author-card__links">
            <li><a class="link link--cta" href="">Email Nick Weiler</a></li>
            <li><a class="link link--cta" href="">Follow on Twitter</a></li>
          </ul>
        </div>
    </div>

    <ul class="card-three-up">
    <li>
    <article data-history-node-id="722656" role="article" class="contextual-region news-card" about="/node/722656" typeof="schema:Article">
      <a href="/node/722656" class="news-card__link">
        <figure data-primary-area="pa-campus-news">
          <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
            <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
          </picture>
        </figure>
        <header class="news-card__copy">
          <ul class="article-header__byline">
            <li class="article-header__primary-area" data-primary-area="pa-campus-news">Campus News</li>
            <li class="article-header__date">
              <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                <time datetime="2019-02-21T01:18:26Z" class="datetime">February 20, 2019</time>
              </div>
            </li>
          </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Testing Article</span></h2>
        </header>
      </a>
    </article>
    </li>
    <li>
      <article data-history-node-id="431756" role="article" class="contextual-region news-card" about="/article" typeof="schema:Article">
        <a href="/article" class="news-card__link">
          <figure data-primary-area="pa-about">
            <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
              <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
            </picture>
          </figure>
          <header class="news-card__copy">
            <ul class="article-header__byline">
              <li class="article-header__primary-area" data-primary-area="pa-about">
                <div class="field field-primary-area field--type-entity-reference field--label-hidden field__item">About</div>
              </li>
              <li class="article-header__date">
                <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                  <time datetime="2019-01-09T23:30:44Z" class="datetime">January 9, 2019</time>
                </div>
              </li>
            </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Scientists Explain What We Do and Don’t Know - c3Test Article</span></h2>
        </header>
      </a>
    </article>
    </li>
    <li>
      <article data-history-node-id="431756" role="article" class="contextual-region news-card" about="/article" typeof="schema:Article">
        <a href="/article" class="news-card__link">
          <figure data-primary-area="pa-education">
            <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
              <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
            </picture>
          </figure>
          <header class="news-card__copy">
            <ul class="article-header__byline">
              <li class="article-header__primary-area" data-primary-area="pa-education">
                <div class="field field-primary-area field--type-entity-reference field--label-hidden field__item">Education</div>
              </li>
              <li class="article-header__date">
                <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                  <time datetime="2019-01-09T23:30:44Z" class="datetime">January 9, 2019</time>
                </div>
              </li>
            </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Scientists Explain What We Do and Don’t Know - c3Test Article</span></h2>
        </header>
      </a>
    </article>
    </li>



    <li>
    <article data-history-node-id="722656" role="article" class="contextual-region news-card" about="/node/722656" typeof="schema:Article">
      <a href="/node/722656" class="news-card__link">
        <figure data-primary-area="pa-patient-care">
          <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
            <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
          </picture>
        </figure>
        <header class="news-card__copy">
          <ul class="article-header__byline">
            <li class="article-header__primary-area" data-primary-area="pa-patient-care">Patient Care</li>
            <li class="article-header__date">
              <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                <time datetime="2019-02-21T01:18:26Z" class="datetime">February 20, 2019</time>
              </div>
            </li>
          </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Testing Article</span></h2>
        </header>
      </a>
    </article>
    </li>
    <li>
      <article data-history-node-id="431756" role="article" class="contextual-region news-card" about="/article" typeof="schema:Article">
        <a href="/article" class="news-card__link">
          <figure data-primary-area="pa-research">
            <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
              <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
            </picture>
          </figure>
          <header class="news-card__copy">
            <ul class="article-header__byline">
              <li class="article-header__primary-area" data-primary-area="pa-research">
                <div class="field field-primary-area field--type-entity-reference field--label-hidden field__item">Research</div>
              </li>
              <li class="article-header__date">
                <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                  <time datetime="2019-01-09T23:30:44Z" class="datetime">January 9, 2019</time>
                </div>
              </li>
            </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Scientists Explain What We Do and Don’t Know - c3Test Article</span></h2>
        </header>
      </a>
    </article>
    </li>
    <li>
      <article data-history-node-id="431756" role="article" class="contextual-region news-card" about="/article" typeof="schema:Article">
        <a href="/article" class="news-card__link">
          <figure data-primary-area="pa-locations">
            <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
              <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
            </picture>
          </figure>
          <header class="news-card__copy">
            <ul class="article-header__byline">
              <li class="article-header__primary-area" data-primary-area="pa-locations">
                <div class="field field-primary-area field--type-entity-reference field--label-hidden field__item">Locations</div>
              </li>
              <li class="article-header__date">
                <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                  <time datetime="2019-01-09T23:30:44Z" class="datetime">January 9, 2019</time>
                </div>
              </li>
            </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Scientists Explain What We Do and Don’t Know - c3Test Article</span></h2>
        </header>
      </a>
    </article>
    </li>












    <li>
      <article data-history-node-id="431756" role="article" class="contextual-region news-card" about="/article" typeof="schema:Article">
        <a href="/article" class="news-card__link">
          <figure data-primary-area="pa-news-center">
            <picture class="field field-card-image field--type-entity-reference field--label-hidden field__item">
              <img src="../../images/transparent-news-card.png" alt="Sunset" typeof="foaf:Image" width="400" height="225">
            </picture>
          </figure>
          <header class="news-card__copy">
            <ul class="article-header__byline">
              <li class="article-header__primary-area" data-primary-area="pa-news-center">
                <div class="field field-primary-area field--type-entity-reference field--label-hidden field__item">News Center</div>
              </li>
              <li class="article-header__date">
                <div class="field field-date-and-time field--type-datetime field--label-hidden field__item">
                  <time datetime="2019-01-09T23:30:44Z" class="datetime">January 9, 2019</time>
                </div>
              </li>
            </ul>
          <h2><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Scientists Explain What We Do and Don’t Know - c3Test Article</span></h2>
        </header>
      </a>
    </article>
    </li>

      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
            </header>
          </a>
        </article>
      </li>
    </ul>

    <p class="view-more"><a href="" class="button--alt">View More</a></p>

  {% endblock %}


{% endembed %}
