{% embed "@templates/_achievements.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <div class="full-bleed-subbanner">
      <div class="full-bleed-subbanner__image subbanner-right" style="background: url(../../images/achievements/honors-bg.jpg) top left no-repeat transparent;">
        <div class="full-bleed-subbanner__content">
          <h2 class="full-bleed-subbanner__title">Honors & Awards</h2>

          <p class="full-banner-subbanner__subtitle">UCSF has won nearly every leading prize in the health sciences, and our faculty members have been honored with inclusion in the world’s most esteemed scientific organizations.</p>
        </div>
      </div>
    </div>

    <div class="layout-columns__four">
      <div class="layout-column">
        <div class="nobel-card">
          <picture class="nobel-card__image">
            <img class="img" src="../../images/achievements/noble-prize-yamanaka.jpg">
          </picture>
          <p class="nobel-card__date">2012</p>
          <h3 class="nobel-card__title">Shinya Yamanaka, MD, PhD</h3>
          <p class="nobel-card__content">For discovery of how to transform ordinary adult skin cells into cells that, like embryonic stem cells, are capable of developing into any cell in the human body.</p>
        </div>
      </div>
      <div class="layout-column">
        <div class="nobel-card">
          <picture class="nobel-card__image">
            <img class="img" src="../../images/achievements/noble-prize-blackburn.jpg">
          </picture>
          <p class="nobel-card__date">2009</p>
          <h3 class="nobel-card__title">Elizabeth Blackburn, PhD</h3>
          <p class="nobel-card__content">For discovery of an enzyme that plays a key role in normal cell function as well as in cell aging and most cancers. The enzyme, called telomerase, produces tiny units of DNA that seal off the ends of chromosomes, which contain the body’s genes.</p>
        </div>
      </div>
      <div class="layout-column">
        <div class="nobel-card">
          <picture class="nobel-card__image">
            <img class="img" src="../../images/achievements/noble-prize-prusiner.jpg">
          </picture>
          <p class="nobel-card__date">1997</p>
          <h3 class="nobel-card__title">Stanley Prusiner, MD</h3>
          <p class="nobel-card__content">For discovery of prions, an entirely new biological principle of infection and disease. Prions cause degenerative brain disorders, including Creutzfeldt-Jakob disease in people and mad cow disease.</p>
        </div>
      </div>
      <div class="layout-column">
        <div class="nobel-card">
          <picture class="nobel-card__image">
            <img class="img" src="../../images/achievements/noble-prize-bishop-varmus.jpg">
          </picture>
          <p class="nobel-card__date">1989</p>
          <h3 class="nobel-card__title">J. Michael Bishop, MD, & Harold Varmus, MD</h3>
          <p class="nobel-card__content">For discovery of proto-oncogenes, showing that normal cellular genes can be converted to cancer genes.</p>
        </div>
      </div>
    </div>

    <div class="js-tabs vertical-tab layout-left-30-70 vertical-tab-alt">
        <ul class="js-tablist vertical-tab__title tabs__list layout-30" data-hx="h2" role="tablist">
            <li class="js-tablist__item tabs__item" role="presentation">
                <h2><a id="label_id_first" class="js-tablist__link tabs__link" role="tab" aria-controls="id_first" tabindex="0" aria-selected="true">Lasker Awards</a></h2>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <h2><a id="label_id_second" class="js-tablist__link tabs__link" role="tab" aria-controls="id_second" tabindex="-1" aria-selected="false">National Medals of Science</a></h2>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <h2><a id="label_id_third" class="js-tablist__link tabs__link" role="tab" aria-controls="id_third" tabindex="-1" aria-selected="false">Shaw Prizes</a></h2>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <h2><a id="label_id_fourth" class="js-tablist__link tabs__link" role="tab" aria-controls="id_fourth" tabindex="-1" aria-selected="false">Breakthrough Prize in Life Science</a></h2>
            </li>
        </ul>
        <div id="id_first" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-labelledby="label_id_first">
          <p>Since 1945, The Lasker Foundation has recognized the contributions of scientists, physicians and public servants who have made major advances in the understanding, diagnosis, treatment, cure, and prevention of human disease. UCSF has won a total of 11 awards, including the Albert Lasker Basic Medical Research Award and Lasker-DeBakey Clinical Medical Research Award.</p>

          <ul class="award-winners">
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
            <li class="award-winners__winner">
              <picture class="award-winners__image">
                <img class="img" src="https://placeimg.com/80/80/people">
              </picture>
              <h3 class="award-winners__date">2016</h3>
              <p class="award-winners__name"><a href="">Bruce Alberts, PhD</a></p>
            </li>
          </ul>
        </div>

        <div id="id_second" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_second"><h2>This is the second tab</h2>
          <p>This is the body of the second tab</p>
        </div>

        <div id="id_third" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_third"><h2>This is the third tab</h2>
          <p>And this is the body of the third tab.</p>
        </div>
    </div>

    <div class="memberships">
    <div class="memberships__content">
      <h2 class="memberships__title">Esteemed Memberships</h2>
      <p class="memberships__subtitle">The number of UCSF faculty who are current members or fellows of the following prestigious scientific honorary organizations</p>
    </div>

    <ul class="memberships-cards">
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">65</h3>
        <p class="memberships-cards__subtitle">American Academy of Arts and Sciences</p>
      </li>
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">68</h3>
        <p class="memberships-cards__subtitle">American Association for the Advancement of Science</p>
      </li>
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">17</h3>
        <p class="memberships-cards__subtitle">Howard Hughes Medical Institute</p>
      </li>
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">100</h3>
        <p class="memberships-cards__subtitle">National Academy of Medicine</p>
      </li>
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">53</h3>
        <p class="memberships-cards__subtitle">National Academy of Sciences</p>
      </li>
      <li class="memberships-cards__card">
        <h3 class="memberships-cards__title">09</h3>
        <p class="memberships-cards__subtitle">The Royal Society</p>
      </li>
    </ul>
    </div>

    <div class="full-bleed-subbanner">
      <div class="full-bleed-subbanner__image subbanner-left" style="background: url(../../images/achievements/rankings-bg.jpg) top left no-repeat transparent;">

        <div class="full-bleed-subbanner__content">
          <h2 class="full-bleed-subbanner__title">Rankings</h2>

          <p class="full-banner-subbanner__subtitle">By many measures, UCSF is among the best in the world in research, patient care and education. Here are some highlights from some of the leading benchmarks.</p>
        </div>
      </div>
    </div>

    <div class="layout-columns__three fact-cards">
      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-awards"></div>
          <h3>U.S. News Best Graduate Schools</h3>
          <ul class="no-bullets">
            <li>#5 School of Medicine, Research (2018 latest ranking)</li>
            <li>#2 School of Medicine, Primary Care (2018 latest ranking)</li>
            <li>#11 School of Nursing, Master’s Program (2018 latest ranking)</li>
            <li>#3 School of Pharmacy (2016 latest ranking)</li>
            <li>#6 Graduate Program in Biological Sciences (2018 latest ranking)</li>
          </ul>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-awards"></div>
          <h3>2017-18 U.S. News Best Global Universities</h3>
          <ul class="no-bullets">
            <li>#15 Overall</li>
            <li>#2 – Immunology</li>
            <li>#2 – Clinical Medicine</li>
            <li>#4 – Neuroscience & Behavior</li>
            <li>#4 – Pharmacology & Toxicology</li>
            <li>#5 – Biology & Biochemistry</li>
            <li>#5 – Molecular Biology & Genetics</li>
            <li>#7 – Microbiology</li>
            <li>#17 – Social Sciences & Public Health</li>
            <li>#36 – Psychiatry/Psychology</li>
          </ul>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-awards"></div>
          <h3>2017 National Institutes of Health Research Funding</h3>
          <ul class="no-bullets">
            <li>#2 Overall most-funded university</li>
            <li>#1 School of Medicine</li>
            <li>#1 School of Pharmacy</li>
            <li>#2 School of Dentistry</li>
            <li>#2 School of Nursing</li>
          </ul>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-caduceus"></div>
          <h3>2018-19 U.S. News Best Hospitals Survey</h3>
          <ul class="no-bullets">
            <li>#6 Best Hospital overall</li>
            <li>#1 in California</li>
            <li>Ranked in 15 specialties</li>
          </ul>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-caduceus"></div>
          <h3>2018-19 U.S. News Best Children’s Hospitals Survey</h3>
          <p>Ranked in 10 pediatric specialties, including 6 that are best in Northern California</p>
        </div>
      </div>
    </div>

    <div class="promo-list">
    <h2 class="promo-list__heading">Our Innovations</h2>
    <ul class="promo-list__cards card-three-up">
      <li class="promo-list__card overlay-purple" style="background-image: url('../../images/promo-cards/promo-card-bk-1.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Patents</h3>
          <p class="promo-list__card-content">UCSF holds over 1,890 active patents that raise more than $24.4M a year, helping us fund cutting-edge research.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
      <li class="promo-list__card overlay-teal" style="background-image: url('../../images/promo-cards/promo-card-bk-2.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Discoveries</h3>
          <p class="promo-list__card-content">UCSF’s research discoveries have transformed the landscape of human health.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
      <li class="promo-list__card overlay-blue" style="background-image: url('../../images/promo-cards/promo-card-bk-3.jpg');">
        <a href="">
          <h3 class="promo-list__card-title">Innovation</h3>
          <p class="promo-list__card-content">Since the days of the Gold Rush, UCSF’s pioneering spirit has been an integral part of its success.</p>
          <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
        </a>
      </li>
    </ul>
    </div>

  {% endblock %}


{% endembed %}
