
// When it is just a link inside the article/page body
.narrow-page {
  a {
    font-family: $font-ivar;
  }

  // When it is a link inside the heading of article/page body
  @for $heading-level from 1 through 4 {
  h#{$heading-level} a {
    font-family: $font-helvetica-neue-light;
    }
  }

  // @todo, ask if h5 should be helvetica medium
  h5 a {
    font-family: $font-helvetica-neue-medium;
  }
}

.view-more a,
.tags-menu__item a {
  font-family: $font-helvetica-neue-medium;
}

.text-formatted a:link,
a:hover,
a:link,
.node--view-mode-search-index h2 a:hover,
.magazine-home-feature:hover .card-row__copy h2 a,
.page-node-type-magazine-article #block-ucsf-mag-content .recommended-article__link:hover .field--name-title {
  color: $c-blue-link;
}

.narrow-page a,
.article-header a,
.full-width-page-wrapper a,
.full-width-page-banner a,
.fact-card a {
  color: $c-blue-link;
  font-weight: $fw-medium;
  border-bottom: 1px solid $c-blue-link;
}

.narrow-page a:hover,
.article-header a:hover,
.full-width-page-wrapper a:hover,
.full-width-page-banner a:hover,
.fact-card a:hover,
.topic-card a:hover {
  color: $c-blue-link;
  border-bottom-color: $c-blue-link-rollover;
  background-color: $c-blue-link-rollover;
}

.link--cta,
a.link--cta,
.narrow-page a.link--cta,
.full-width-page-wrapper a.link--cta,
.link--cta a,
.full-width-page-banner__header a.link--cta {
  @include link-bg-image('cta-arrow-0071ad.svg');
  @include link-bg-image-hover();
  @include transition;
  display: inline-block;
  padding-right: $space-three;
  background-size: 14px 10px;
  text-decoration: none;
  // font-family: $font-helvetica-neue-medium;
  border-bottom: none;
  color: $c-blue-link;
  font-weight: $fw-medium;

  &:hover {
    @include link-bg-image('cta-arrow-0071ad.svg');
    background-size: 14px 10px;
    color: $c-blue-link;
  }
}
.mag-submenu__link[href*="http"]:hover::after,
.magazine-hub-inside__inside-more a[href*="//"] {
  background-image: url('../images/external-link-hover.svg') !important;
  &:hover {
    background-image: url('../images/external-link-hover.svg') !important;
  }
}

.magazine-hub-inside__inside-more a[href*="//"] {
  background-size: 20px;
  padding-right: 35px;

  &:hover {
    background-size: 20px;
    padding-right: 35px;
  }
}

.button--alt,
.full-width-page-wrapper .button--alt,
.full-width-page-wrapper .button--alt:first-child,
.full-width-page-wrapper .button--alt:last-child,
.narrow-page .button--alt,
.layout-column .button--alt:first-child,
.layout-column .button--alt:last-child {
  border-color: $c-blue-link;

  &:hover {
    background-color: $c-blue-link;
    border-color: $c-blue-link;
  }
}

.button:hover,
.button:link:hover,
.full-width-page-wrapper .button:hover,
.full-width-page-wrapper .button:first-child:hover,
.full-width-page-wrapper .button:last-child:hover,
.layout-column .button:first-child:hover,
.layout-column .button:last-child:hover,
.narrow-page .button:hover {
  background-color: #0071ad;
  border-color: #0071ad;
}

form button:hover {
  background-color: $c-blue-link;
  border-color: $c-blue-link;
}

a.mag-nav__ucsf-give {
  color: $c-white;
  &:hover {
   color: $c-white;
  }
}

.article-meta-share a {
  border-bottom: none;
}

input[type="submit"].button {
  &:hover {
    border-color: $c-blue-link;
    background-color: $c-blue-link;
  }
}


.search-filter__radio:checked + .search-filter__label {
  background-color: $c-background-gray;
  color: $c-blue-link;

  .search-filter__option {
    background-color: $c-blue-link;
    border-color: $c-blue-link;
  }
}

ul#universalSearchTabs li.active {
  border-bottom-color: $c-blue-link;
}

.eyebrow-title,
.eyebrow-title a {
  font-family: $font-helvetica-neue-bold !important;
}

.small-text a,
.article-header__author a {
  font-family: $font-helvetica-neue-regular;
}

.quote-style {
  @include fs-heading-blockquote;
  a {
    @include fs-heading-blockquote;
  }
}
