{% embed "@templates/_cgr-subpage.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

        <div class="layout-left-70-30">
          <div class="layout-70">
            <h2>Mission Bay and Dogpatch</h2>
            <p>Mission Bay and Dogpatch are critical neighborhoods to UCSF, and we’re well aware of the impact, both positive and negative, that UCSF has on this community. We try to lessen the impact of ongoing construction, work with neighborhood organizations to improve what it’s like to live and work here, and talk with neighbors about their concerns.</p>

            <p>We also try to inform the community about ongoing resources that are available to them. There are farmer’s markets, movie screenings, restaurants, job fairs, medical services, lectures and more.</p>

            <h3 class="small-title">Current Neighborhood Projects</h3>
            <ul class="cta--list">
              <li><a href="">777 Mariposa Street Acquisition</a></li>
              <li><a href="">Child, Teen and Family Center and Department of Psychiatry Building</a></li>
              <li><a href="">Dogpatch Community Task Force</a></li>
              <li><a href="">Joan and Sanford I. Weill Neurosciences Building</a></li>
              <li><a href="">Minnesota St. Graduate Student and Trainee Housing</a></li>
              <li><a href="">Precision Cancer Medicine Building</a></li>
              <li><a href="">UCSF Benioff Children’s Hospital Helipad</a></li>
              <li><a href="">UCSF Center for Vision Neuroscience (formerly Block 33)</a></li>
            </ul>
          </div>

          <div class="layout-30">
            <p>{% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/750/500/nature',
              img_alt: 'Place image',
            } %}</p>

            <h3 class="small-title">Farmer’s Market</h3>
            <p>Every Wednesday from 10:00AM - 2:00PM<br />
            Gene Friend Way</p>

            <h3 class="small-title">Bakar Fitness and Recreation Center</h3>
            <p>Monday through Friday, 5:30AM - 10:00PM<br />
            Saturday and Sunday, 7:30AM - 8:00PM<br />
            1675 Owens Street</p>

            <h3 class="small-title">Recurring Event or Key Resource</h3>
            <p>Every Wednesday at 7:00PM<br />
            601 Mission Bay Blvd North</p>

            <h3 class="small-title">Recurring Event or Key Resource</h3>
            <p>Every Tuesday and Thursday at 6:00PM<br />
            Address Here</p>

            <p><a href="" class="link--cta">View upcoming events</a></p>
          </div>
        </div>

        <div class="layout-left-70-30">
          <div class="layout-70">
            <h2>Parnassus Heights</h2>
            <p>Parnassus Heights is UCSF’s oldest campus, and our relationship with this community extends back to the birth of San Francisco. Working with neighbors, we try to lessen the impact of ongoing construction, work with neighborhood organizations to improve what it’s like to live and work here, and talk with neighbors about their concerns.</p>

            <p>We also try to inform the community about ongoing resources that are available to them. There are farmer’s markets, movie screenings, restaurants, job fairs, medical services, lectures and more.</p>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <h3 class="small-title">Current Neighborhood Projects</h3>
            <ul class="cta--list">
              <li><a href="">Fifth and Kirkham Traffic Calming</a></li>
              <li><a href="">Mount Sutro Open Space Reserve</a></li>
              <li><a href="">Parnassus Renovation Projects</a></li>
              <li><a href="">Parnassus Heights Re-Envisioning Process</a></li
            </ul>
          </div>

          <div class="layout-30">
            <p>{% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/750/500/nature',
              img_alt: 'Place image',
            } %}</p>

            <h3 class="small-title">UCSF Library</h3>
            <p>Monday through Friday, 8:00AM - 6:00PM<br />
            Saturday and Sunday, 10:00AM - 6:00PM<br />
            530 Parnassus Avenue</p>

            <h3 class="small-title">Milberry Fitness and Recreation Center</h3>
            <p>Monday through Friday, 5:30AM - 10:00PM<br />
            Saturday and Sunday, 7:30AM - 8:00PM<br />
            1675 Owens Street</p>

            <h3 class="small-title">Farmer’s Market</h3>
            <p>Every Wednesday from 10:00AM - 3:00PM<br />
            505 Parnassus Avenue</p>

            <p><a href="" class="link--cta">View upcoming events</a></p>
          </div>
        </div>

        <div class="layout-left-70-30">
          <div class="layout-70">
            <h2>Oakland</h2>
            <p>Parnassus Heights is UCSF’s oldest campus, and our relationship with this community extends back to the birth of San Francisco. Working with neighbors, we try to lessen the impact of ongoing construction, work with neighborhood organizations to improve what it’s like to live and work here, and talk with neighbors about their concerns.</p>

            <p>We also try to inform the community about ongoing resources that are available to them. There are farmer’s markets, movie screenings, restaurants, job fairs, medical services, lectures and more.</p>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>
          </div>

          <div class="layout-30">
            <p>{% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/750/500/nature',
              img_alt: 'Place image',
            } %}</p>

            <h3 class="small-title">Pilates for Young Athletes</h3>
            <p>Monday 7:00PM - 8:00PM, Oakland<br />
            Saturday 9:00AM - 10:00AM, Walnut Creek</p>

            <p><a href="" class="link--cta">View upcoming events</a></p>
          </div>
        </div>

        <div class="layout-left-70-30">
          <div class="layout-70">
            <h2>Zuckerberg San Francisco General (ZSFG)</h2>
            <p>Parnassus Heights is UCSF’s oldest campus, and our relationship with this community extends back to the birth of San Francisco. Working with neighbors, we try to lessen the impact of ongoing construction, work with neighborhood organizations to improve what it’s like to live and work here, and talk with neighbors about their concerns.</p>

            <p>We also try to inform the community about ongoing resources that are available to them. There are farmer’s markets, movie screenings, restaurants, job fairs, medical services, lectures and more.</p>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <h3 class="small-title">Current Neighborhood Projects</h3>
            <ul class="cta--list">
              <li><a href="">UCSF Research and Academic Building at ZSFG</a></li
            </ul>
          </div>

          <div class="layout-30">
            <p>{% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/750/500/nature',
              img_alt: 'Place image',
            } %}</p>

            <h3 class="small-title">ZSFG Library</h3>
            <p>Monday through Friday, 8:00AM - 6:00PM<br />
            Saturday and Sunday, 10:00AM - 6:00PM<br />
            1001 Potrero Avenue</p>

            <p><a href="" class="link--cta">View upcoming events</a></p>
          </div>
        </div>

        <div class="layout-left-70-30">
          <div class="layout-70">
            <h2>Mount Zion</h2>
            <p>Parnassus Heights is UCSF’s oldest campus, and our relationship with this community extends back to the birth of San Francisco. Working with neighbors, we try to lessen the impact of ongoing construction, work with neighborhood organizations to improve what it’s like to live and work here, and talk with neighbors about their concerns.</p>

            <p>We also try to inform the community about ongoing resources that are available to them. There are farmer’s markets, movie screenings, restaurants, job fairs, medical services, lectures and more.</p>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>
          </div>

          <div class="layout-30">
            <p>{% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/750/500/nature',
              img_alt: 'Place image',
            } %}</p>

            <h3 class="small-title">Laughter Yoga</h3>
            <p>Monday through Friday, 8:00AM - 6:00PM<br />
            Saturday and Sunday, 10:00AM - 6:00PM<br />
            1545 Divisadero Street</p>

            <p><a href="" class="link--cta">View upcoming events</a></p>
          </div>
        </div>

  {% endblock %}


{% endembed %}
