{% embed "@templates/_landing.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <div class="layout-left-30-70 bg-gray">
      <div class="layout-30">
        {% include "@atoms/04-images/00-image/figure.twig" with {
          img_src: 'https://placeimg.com/400/500/nature',
          img_alt: 'Place image',
        } %}
      </div>

      <div class="layout-70">
        <h2>Uniting With Neighbors, Empowering Lives</h2>

        <p>The Community Relations staff engages our neighbors in planning issues, listens to feedback and works with campus decision-makers to incorporate community input into the University’s development and initiatives. They also lead outreach efforts, including workforce development programs that provide job training for local residents; health fairs that connect our clinicians and trainees with those who may need access to health care the most; and volunteer events that invite our whole community to join us to help make our city a great place to live.</p>

        <p>The Government Relations staff serves as liaison to our local, state and federal elected officials and government agencies. They advocate for UCSF’s research, educational and patient care efforts, and facilitate ways for UCSF to partner with government to accelerate health sciences innovation and improve public access to the best care.</p>
      </div>
    </div>

    <div class="layout-columns__three">
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
    </div>

    <div class="promo-list">
      <ul class="promo-list__cards card-three-up">
        <li class="promo-list__card overlay-gray accent-blue">
          <a href="">
            <h3 class="promo-list__card-title">Community Relations</h3>
            <p class="promo-list__card-content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
        <li class="promo-list__card overlay-gray accent-teal">
          <a href="">
            <h3 class="promo-list__card-title">Government Relations</h3>
            <p class="promo-list__card-content">UCSF’s Government Relations serves as a liaison to elected and appointed officials at the federal, state and local level to promote UCSF’s research, education, patient care and public services activities in City Hall, Sacramento and Washington, D.C.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
        <li class="promo-list__card overlay-gray accent-purple">
          <a href="">
            <h3 class="promo-list__card-title">Workforce Development Programs</h3>
            <p class="promo-list__card-content">UCSF is the second largest employer in San Francisco and is committed to providing jobs to local residents. To this end, UCSF has implemented various workforce development programs aimed at providing training, internship and employment opportunities in various fields.</p>
            <p class="promo-list__card-more"><span href="" class="link link--cta">Learn more</span></p>
          </a>
        </li>
      </ul>
    </div>

    <div class="js-tabs vertical-tab layout-left-30-70">
        <ul class="js-tablist vertical-tab__title tabs__list layout-30" data-hx="h2" role="tablist">
            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_first" class="js-tablist__link tabs__link" role="tab" aria-controls="id_first" tabindex="0" aria-selected="true">Projects</a>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_second" class="js-tablist__link tabs__link" role="tab" aria-controls="id_second" tabindex="-1" aria-selected="false">Community Resources</a>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_third" class="js-tablist__link tabs__link" role="tab" aria-controls="id_third" tabindex="-1" aria-selected="false">Team Members</a>
            </li>
        </ul>
        <div id="id_first" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-labelledby="label_id_first">
          <h2 class="small-title">Mission Bay and Dogpatch</h2>
          <ul class="cta--list">
            <li><a href="">777 Mariposa Street Acquisition</a></li>
            <li><a href="">Child, Teen and Family Center and Department of Psychiatry Building</a></li>
            <li><a href="">Dogpatch Community Task Force</a></li>
            <li><a href="">Joan and Sanford I. Weill Neurosciences Building</a></li>
            <li><a href="">Minnesota St. Graduate Student and Trainee Housing</a></li>
            <li><a href="">Precision Cancer Medicine Building</a></li>
            <li><a href="">UCSF Benioff Children’s Hospital Helipad</a></li>
            <li><a href="">UCSF Center for Vision Neuroscience (formerly Block 33)</a></li>
          </ul>

          <h2 class="small-title">Parnassus Heights Re-Envisioning Process</h2>
          <ul class="ext--list">
            <li><a href="">Fifth and Kirkham Traffic Calming</a></li>
            <li><a href="">Mount Sutro Open Space Reserve</a></li>
            <li><a href="">Parnassus Renovation Projects</a></li>
            <li><a href="">Parnassus Heights Re-Envisioning Process</a></li>
          </ul>
        </div>

        <div id="id_second" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_second"><h2>This is the second tab</h2>
          <p>This is the body of the second tab</p>
        </div>

        <div id="id_third" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_third"><h2>This is the third tab</h2>
          <p>And this is the body of the third tab.</p>
        </div>
    </div>

    <div class="layout-left-70-30">
      <div class="layout-70">
        <h2>Uniting With Neighbors, Empowering Lives</h2>

        <p>The Community Relations staff engages our neighbors in planning issues, listens to feedback and works with campus decision-makers to incorporate community input into the University’s development and initiatives. They also lead outreach efforts, including workforce development programs that provide job training for local residents; health fairs that connect our clinicians and trainees with those who may need access to health care the most; and volunteer events that invite our whole community to join us to help make our city a great place to live.</p>

        <p>The Government Relations staff serves as liaison to our local, state and federal elected officials and government agencies. They advocate for UCSF’s research, educational and patient care efforts, and facilitate ways for UCSF to partner with government to accelerate health sciences innovation and improve public access to the best care.</p>
      </div>

      <div class="layout-30">
        {% include "@atoms/04-images/00-image/figure.twig" with {
          img_src: 'https://placeimg.com/400/500/nature',
          img_alt: 'Place image',
        } %}
      </div>
    </div>

    <div class="layout-columns__two">
      <div class="layout-column">
      <h2>Community & Government Relations Projects</h2>
      <p><a href="" class="link--cta">View all projects</a></p>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
    </div>

    <div class="layout-columns__four">
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
    </div>

    <div class="layout-columns__three fact-cards">
      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-awards"></div>
          <h3>Top Ranking Hospital</h3>
          <p>UCSF Medical Center and UCSF Benioff Children’s Hospitals consistently rank among the nation’s top hospitals, according to U.S. News & World Report.</p>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <p class="fact-stat">1.7MM</p>
          <h3 class="small-title">Annual Outpatient Visits</h3>
          <p>Combined, UCSF Medical Center and UCSF Benioff Children’s Hospitals see about 45,000 hospital admissions and 1.7 million outpatient visits annually.</p>
        </div>
      </div>

      <div class="layout-column">
        <div class="fact-card">
          <div class="icon-support"></div>
          <h3>Healthcare Driven by Public Mission</h3>
          <p>We provide care to the city’s underserved populations at affiliate institutions Zuckerberg San Francisco General Hospital and Trauma Center (a partnership started in 1873) and the San Francisco Veteran Affairs Medical Center.</p>
        </div>
      </div>
    </div>

    <div class="layout-columns__four bg-gray">
      <div class="layout-column">
        <h2>This is a bunch of stuffs</h2>
        <p><a href="" class="link--cta">View all projects</a></p>
      </div>

      <div class="layout-column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas ultricies velit nec fermentum. Vivamus id interdum ante. Aenean hendrerit semper tortor id iaculis. Integer in quam massa.</p>
      </div>

      <div class="layout-column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas ultricies velit nec fermentum. Vivamus id interdum ante. Aenean hendrerit semper tortor id iaculis. Integer in quam massa.</p>
      </div>

      <div class="layout-column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas ultricies velit nec fermentum. Vivamus id interdum ante. Aenean hendrerit semper tortor id iaculis. Integer in quam massa.</p>
      </div>
    </div>

  {% endblock %}


{% endembed %}
