{# @todo Module coming #}
<div class="twitter-wrapper">
  <div class="twitter">
    <h2 class="twitter__title">On Twitter</h2>
    <p class="twitter__follow"><a href="https://twitter.com/ucsf" class="link link--cta"><span class="fab fa-twitter"> </span> Follow</a></p>
    <ol class="twitter__tweets">
      <li>This will be pulled from Twitter API</li>
      <li>This will be pulled from Twitter API</li>
      <li>This will be pulled from Twitter API</li>
    </ol>
  </div>
</div>
