<div class="twitter-background">
  <div class="twitter-wrapper">
    <div class="twitter-info">
      <h2 class="twitter__title eyebrow-title">On Twitter</h2>
      <p class="twitter__follow"><a href="https://twitter.com/ucsf" class="link link--cta"><span class="fab fa-twitter"> </span> Follow</a></p>
    </div>

    <ol class="twitter__tweets">
      {{ drupal_block('twittertweets') }}
    </ol>
  </div>
</div>
