
<ul class="news-card__byline">
  <li class="magazine-alumni__topic">
    {{ drupal_field('field_magazine_topic_area', 'node', paragraph.field_news_article.target_id) }}
  </li>
  <li class="news-card__date article-header__date magazine-alumni__date">
    {{ drupal_field('field_date_and_time', 'node', paragraph.field_news_article.target_id) }}
  </li>
</ul>
