// fs: font-style
// Listed in alpha order.
// Only apply font family when serif.
// Only apply colors other than textgrey.

@mixin fs-cta {
  @include transition;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 13px;
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/cta/cta-triangle.svg") no-repeat;
  }

  &:hover::after {
    background: url("../../images/cta/cta-triangle-textgrey.svg") no-repeat;
  }
}

@mixin fs-body {
  font-family: $font-helvetica-neue-light;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: $c-navy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 500;
}

@mixin fs-h1 {
  color: $c-navy;
  font-family: $font-granjon;
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 82px;
}

@mixin fs-article-medium-h1 {
  @include fs-heading-sm;

  @include font-large {
    @include fs-heading-two-md;
  }
}

@mixin fs-heading {
  @include font-smooth;

  font-family: $font-helvetica-neue-light;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: $navy;

  @include font-large {
    font-size: 56px;
    letter-spacing: -1.2px;
  }
}

@mixin fs-heading-blockquote-md {
  font-size: 40px;
  letter-spacing: -1px;
}

@mixin fs-heading-sm {
  @include font-smooth;
  font-family: $font-granjon;
  font-size: 31px;
  line-height: 1.2em;
  letter-spacing: -0.6px;
}

@mixin fs-heading-blockquote {
  @include fs-heading-sm;

  @include font-large {
    @include fs-heading-blockquote-md;
  }
}

@mixin fs-heading-two-md {
  font-size: 56px;
  letter-spacing: -1.2px;
}

@mixin fs-heading-two-sm {
  @include font-smooth;
  font-family: $font-granjon;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.6px;
  color: $c-navy;
}

@mixin fs-heading-two {
  @include fs-heading-two-sm;

  @include font-large {
    @include fs-heading-two-md;
  }
}

@mixin fs-heading-three {
  color: $c-navy;
  font-family: $font-granjon;
  font-size: 28px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.3px;

  @include font-large {
    letter-spacing: -0.3px;
  }
}

@mixin fs-articles-title {
  font-family: $font-helvetica-neue-light;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.8px;

  @include font-large {
    font-size: 36px;
  }
}

@mixin fs-articles-title-hthree {
  font-family: $font-helvetica-neue-light;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;

  @include font-large {
    font-size: 28px;
  }
}

@mixin fs-articles-title-hfour {
  font-family: $font-helvetica-neue-light;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.3px;

  @include font-large {
    font-size: 24px;
  }
}

@mixin fs-articles-title-hfive {
  font-family: $font-helvetica-neue-medium;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.3px;

  @include font-large {
    font-size: 20px;
  }
}

@mixin fs-articles-title-hsix {
  font-family: $font-helvetica-neue-medium;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.3px;

  @include font-large {
    font-size: 18px;
  }
}

@mixin fs-display {
  @include font-smooth;

  font-family: $font-granjon;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;

  @include font-large {
    font-size: 82px;
    letter-spacing: -2px;
  }
}

@mixin fs-filter-label {
  font-family: $font-helvetica-neue-bold;
  font-size: 12px;
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin fs-option-label {
  font-family: $font-helvetica-neue-light;
  font-size: 14px;
  letter-spacing: .16px;
  line-height: 14px;
}

@mixin fs-small-title {
  font-family: $font-helvetica-neue-medium;
  font-size: $font-size;
  margin-top: $space;
  letter-spacing: -0.2px;

  & + * {
    margin-top: 0;
  }
}

@mixin fs-small-body {
  font-family: $font-helvetica-neue-roman;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
}

@mixin fs-trending-md {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 16px;
}

@mixin fs-trending {
  @include fs-heading-sm;

  @include font-large {
    @include fs-trending-md;
  }
}

@mixin fs-universal-header {
  color: $c-white;
  font-size: 14px;
  font-family: $font-helvetica-neue-regular;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: .3px;
  -webkit-font-smoothing: antialiased;
}
