// fs: font-style
// Listed in alpha order.
// Only apply font family when serif.
// Only apply colors other than textgrey.

@mixin fs-cta {
  @include transition;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 13px;
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/cta/cta-triangle.svg") no-repeat;
  }

  &:hover::after {
    background: url("../../images/cta/cta-triangle-textgrey.svg") no-repeat;
  }
}

@mixin fs-cta-directions {
  @include link-colors($c-orange, $c-textgrey);
  @include fs-text-link-orange;
  @include fa-icon-before('\f3c5');
}

@mixin fs-cta-white {
  @include fs-cta;
  @include link-colors($c-white, $c-orange);
  &:hover::after {
    background: url("../../images/cta/cta-triangle-white.svg") no-repeat;
  }
}

@mixin fs-display-title-orange {
  color: $c-orange;
  font-weight: $fw-bold;
  font-size: 14px;
  text-transform: uppercase;
}

@mixin fs-h1 {
  font-weight: $fw-book;
  font-size: 36px;
  line-height: 50px;
}

@mixin fs-h1-hero-default {
  color: $c-white;
  font-size: 36px;
  font-weight: $fw-book;
  line-height: 50px;
}

@mixin fs-h2 {
  font-weight: $fw-book;
  font-size: 28px;
  line-height: 35px;
}

@mixin fs-h3 {
  font-weight: $fw-medium;
  font-size: 22px;
  line-height: 26px;
}

@mixin fs-h4 {
  font-weight: $fw-medium;
  font-size: 18px;
  line-height: 26px;
}

@mixin fs-footer-body {
  font-size: 15px;
  font-weight: $fw-book;
  line-height: 22px;
  color: $c-beige;

  &:hover {
    text-decoration: none;
  }
}

@mixin fs-job-title {
  font-size: 14px;
  font-weight: $fw-book;
  line-height: 22px;
}

@mixin fs-label {
  font-size: 18px;
  font-weight: $fw-medium;
  line-height: 26px;
}

@mixin fs-project-teaser-title {
  font-size: 18px;
  font-weight: $fw-medium;
  line-height: 26px;
}

@mixin fs-pull-quote {
  font-family: $ff-serif;
  font-size: 25px;
  line-height: 32px;
}

@mixin fs-sub-category {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 13px;
  text-transform: uppercase;
}

@mixin fs-tag {
  font-weight: $fw-medium;
  font-size: 14px;
  font-family: $ff-sans;
  line-height: 24px;
  color: $c-grey-medium;
}

@mixin fs-text-link-orange {
  font-size: 14px;
  font-weight: $fw-medium;
  line-height: 13px;
  color: $c-orange;
}
