@mixin grid-base {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5%;
  grid-row-gap: 0;
}

@mixin grid {
  @include grid-base;

  @include breakpoint($bp-medium) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin grid-two {
  @include grid-base;

  @include breakpoint($bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin grid-two-auto {
  @include grid-base;

  @include breakpoint($bp-medium) {
    grid-template-columns: repeat(2, auto);
  }
}

@mixin grid-three {
  @include grid-base;

  @include medium {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin grid-four {
  @include grid-base;

  @include breakpoint($bp-medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin grid-fifteen {
  @include grid-base;

  @include breakpoint($bp-medium) {
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 0;
  }
}

@mixin grid-eighteen {
  @include grid-base;

  @include medium {
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 0;
  }
}
