// fs: font-style
// Listed in alpha order.
// Only apply font family when serif.
// Only apply colors other than textgrey.

@mixin fs-cta {
  @include transition;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 13px;
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/cta/cta-triangle.svg") no-repeat;
  }

  &:hover::after {
    background: url("../../images/cta/cta-triangle-textgrey.svg") no-repeat;
  }
}

@mixin fs-cta-directions {
  @include link-colors($c-orange, $c-textgrey);
  @include fs-text-link-orange;
  @include fa-icon-before('\f3c5');
}

@mixin fs-cta-white {
  @include fs-cta;
  @include link-colors($c-white, $c-orange);
  &:hover::after {
    background: url("../../images/cta/cta-triangle-white.svg") no-repeat;
  }
}

@mixin fs-universal-header {
  color: $c-orange;
  font-size: 14px;
}
