//------------------------------------------------------------------------------
// Shame file to reconcile theme with pattern lab mixins for faster theming.
//------------------------------------------------------------------------------
// @todo Don't do this.

@mixin xs {
  @include breakpoint($xs) {
    @content;
  }
}

@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

@mixin font-large {
  @include breakpoint($font-large) {
  @content;
}

}
@mixin large {
  @include breakpoint($large) {
    @content;
  }
}

@mixin xl {
  @include breakpoint($xl) {
    @content;
  }
}

@mixin max-width {
  @include breakpoint($max-width) {
    @content;
  }
}

@mixin card-three-up {
  // @todo - Modified by ZK for responsive.
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: $space-ten;

  @include breakpoint($new-large) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5%;
    grid-row-gap: 0;
  }
}

@mixin card-three-up-constrained {
  margin: 0 auto;
  max-width: $xl;
  margin-top: 0;
  padding-top: $space-five;
}

@mixin eyebrow {
  @include font-smooth;

  font-family: $font-helvetica-neue-bold;
  font-size: 12px;
  letter-spacing: 1.6px;
  line-height: 1.4em;
  color: $navy;
  text-transform: uppercase;

  &::after {
    content: ' ';
    display: inline-block;
    width: 40px;
    height: 1px;
    background: $navy;
    margin: 0 5px 3px;
    //animation: fade 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s both;
  }
}

@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 500;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin grid-sixteen {
  @include grid-base;

  @include medium {
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;
  }
}

@mixin no-bottom {
  margin-bottom: 0;
}
