//------------------------------------------------------------------------------
// Shame file to reconcile theme with pattern lab mixins for faster theming.
//------------------------------------------------------------------------------
// @todo Don't do this.

@mixin xs {
  @include breakpoint($xs) {
    @content;
  }
}

@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

@mixin large {
  @include breakpoint($large) {
    @content;
  }
}

@mixin xl {
  @include breakpoint($xl) {
    @content;
  }
}

@mixin max-width {
  @include breakpoint($max-width) {
    @content;
  }
}

@mixin eyebrow {
  @include font-smooth;

  font-family: $font-helvetica-neue-bold;
  font-size: 12px;
  letter-spacing: 1.6px;
  color: $navy;
  text-transform: uppercase;

  &::after {
    content: ' ';
    display: inline-block;
    width: 40px;
    height: 1px;
    background: $navy;
    margin: 0 5px 3px;
  }
}

@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 500;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
