//------------------------------------------------------------------------------
// Shame file to reconciling theme vars with pattern lab for faster theming.
//------------------------------------------------------------------------------
// @todo Don't do this.
$font-size-bg: 24px;
$font-size: 18px;
$font-size-sm: 16px;
$font-size-xsm: 14px;
$font-size-xxsm: 12px;

$xs: $bp-xs;
$small: $bp-small;
$medium: $new-medium;
$large: $bp-large;
$page-narrow: $bp-page-narrow;
$xl: $bp-xl;
$full: $bp-full;
$max-width: $full;
$main-menu-medium: $bp-main-menu-medium;
