//------------------------------------------------------------------------------
// Shame file to reconciling theme vars with pattern lab for faster theming.
//------------------------------------------------------------------------------
// @todo Don't do this.
$background-gray: $c-background-gray;
$blue: $c-blue;
$black: $c-black;
$dark-navy: $c-dark-navy;
$gray: $c-gray;
$gray-blue: $c-gray-blue;
$gray-dark: $c-gray-dark;
$gray-lightest: $c-gray-lightest;
$gray-lighter: $c-gray-lighter;
$gray-light: $c-gray-light;
$navy: $c-navy;
$near-medium: $c-near-medium;
$near-white: $c-near-white;
$print-teal: $c-print-teal;
$print-blue: $c-print-blue;
$print-green: $c-print-green;
$print-orange: $c-print-orange;
$print-red: $c-print-red;
$teal: $c-teal;
$white: $c-white;
$twitter-blue: $c-twitter-blue;

$font-size-bg: 24px;
$font-size: 18px;
$font-size-sm: 16px;
$font-size-xsm: 14px;
$font-size-xxsm: 12px;

$xs: $bp-xs;
$small: $bp-small;
$medium: $new-medium;
$large: $bp-large;
$page-narrow: $bp-page-narrow;
$xl: $bp-xl;
$full: $bp-full;
$max-width: $full;
$main-menu-medium: $bp-main-menu-medium;
