// Spacing
$space: 8px;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;
$space-octuple: $space*8;
$space-nonuple: $space*9;
$space-decuple: $space*10;

$space-two: $space*2;
$space-three: $space*3;
$space-four: $space*4;
$space-five: $space*5;
$space-six: $space*6;
$space-seven: $space*7;
$space-eight: $space*8;
$space-nine: $space*9;
$space-ten: $space*10;
$space-eleven: $space*11;
$space-twelve: $space*12;
$space-thirteen: $space*13;
$space-fourteen: $space*14;
$space-fifteen: $space*15;
$space-sixteen: $space*16;
$space-seventeen: $space*17;
$space-eighteen: $space*18;
$space-nineteen: $space*19;
$space-twenty: $space*20;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
