// Breakpoints.
// Documentation: https://breakpoint-sass.com/
//------------------------------------------------------------------------------

$new-x-small: 600px;
$magazine-small: 650px;
$new-x-small-max: max-width 599px;
$new-small: 769px;
$new-small-max: max-width 768px;
$new-medium: 850px;
$new-medium-max: max-width 849px;
$new-large: 1050px;
$new-large-max: max-width 1049px;
$new-xl: 1280px;
$new-xl-max: max-width 1280px;
$full-width-elements: $new-xl + 40px;
$font-large: 600px;
$font-large-max: 599px;
$bp-until-large: max-width 849px; // used to hide top menus

//phones should really be 320-500, the One Plus 3 being 480 viewport size
$bp-xs: 320px; //should be used for older android phones still, this is like baseline, Galaxy S5 is 360 viewport.
$bp-xs-medium: 375px;  //use for iPhone X other iPhones are 414 viewport,    Galaxy note 9 is 414 viewport.
$bp-small: 480px; // used in gallery
$bp-medium: 600px; //used all over the place -- keep
$bp-medium-plus: 970px; // Needs a better name. Used in the News Search filter

$bp-large: $new-medium; //was 900px
$bp-page-narrow: 1050px;
$bp-xl: $new-xl;
$bp-menu: 1360px; // Needs a better name.
$bp-full: 1440px;

$bp-main-menu-medium: 43em;

// Colors
//------------------------------------------------------------------------------
// @todo replace all $c-green, with $c-green-worm
:root {
  --c-red: #E61048;
  --c-orange: #FE8638;
  --c-yellow: #FEB80A;
  --c-yellow-light: #FED658;
  --c-green-cool: #00483A;
  --c-green-alt: #007242;
  --c-green-2023: #2C8A1A;
  --c-light-green-cool: #32A03E;
  --c-green-warm: #006400;
  --c-print-green: #90bd31;
  --c-teal: #058488;
  --c-teal-alt: #16A0AC;
  --c-teal-medium: #14828C;
  --c-teal-dark: #0E5258;
  // --c-blue: #007cbe;
  --c-blue:#4896E8;
  --c-blue-light: #178ccb;
  --c-blue-alt: #086290;
  --c-blue-dark: #064260;
  --c-blue-medium: #0F388A;
  --c-navy: #052049;
  --c-purple-dark: #2E2872;
  --c-purple-medium: #443E8C;
  --c-purple: #6C62D0;
  --c-violet-dark: #461850;
  --c-violet-medium: #6C247C;
  --c-violet: #A238BA;
  --c-magenta: #C42882;
  --c-magenta-medium: #821A56;
  --c-magenta-dark: #561038;
  --c-gray-blue: #506380;
  --c-gray: #9BA6B6; // aka "Cool Gray"
  --c-gray-darkest: #21272A;
  --black: #000;
}
// Red
$c-red: #E61048;
// Orange
$c-orange: #FE8638;
// Yellow
$c-yellow: #FEB80A;
$c-yellow-light: #FED658;
// Teal
$c-teal: #058488;
$c-teal-alt: #16A0AC;
$c-teal-medium: #14828C;
$c-teal-dark: #0E5258;
// Green
$c-green-alt: #007242; // aka Cool green
$c-green: #2C8A1A;
$c-green-cool: #00483A; // Scrolly cool green
$c-light-green-cool: #32A03E; // also called Cool green in ui
$c-green-warm: #006400; // Warm Green

// Blue
// $c-blue: #007cbe;
$c-blue:#4896E8;
$c-blue-warm: #086290;
$c-blue-medium: #0F388A;
$c-blue-dark: #064260;

// Navy
$c-navy: #052049;
$c-dark-navy: #121a31;

// Purple
$c-purple: #6C62D0;
$c-purple-medium: #443E8C;
$c-purple-dark: #2E2872;

// Violet
$c-violet: #A238BA;
$c-violet-dark: #461850;
$c-violet-medium: #6C247C;

// Magenta
$c-magenta: #C42882;
$c-magenta-medium: #821A56;
$c-magenta-dark: #561038;

$c-blue-link: #0071ad;
$c-blue-link-rollover: #e8f4fa;
$c-unpublished: #fdecf0;

$c-black: #000;
$c-white: #fff;
$white: $c-white;
$black: $c-black;
$c-near-white: #efefef;
$c-grey-pale: #f2f4f6;
$c-gray-lightest: #ddd;
$c-gray-lighter: #d1d3d3;
$c-gray-light: #b4b9bf;
$c-near-medium: #939393;
$c-gray: #9ba6b6; // aka "Cool Gray"
$c-gray-darkest: #21272A;
$c-gray-dark: #666;
$c-gray-darker: #525860;
$c-gray-blue: #506380;
$c-background-gray: #f2f4f6;
$c-twitter-blue: #f0faff;
$c-border-grey-blue: #d5d9de;

$bk-color-teal: #e8f6f7;
$bk-color-blue: #e8f4fa;
$bk-color-white: $c-white;

$c-blue-light: #178ccb;
$c-print-teal: #18a3ac;
$c-print-green: #90bd31;
$c-print-orange: #f48024;
$c-print-red: #ec1848;


//brand colors
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$reddit-color: #ff4500;

//Magazine
$magazine-gray-blue: #384559;


// List of areas/topics and colors associated with them
// @param $area - string of text used to create css selector.
// @param $color1 - color for the background
// @param $color2 - color for the text
$areas: (
  // ($area, $color1, $color2),
  ("about", $c-purple, $c-purple),
  ("about-menu", $c-navy, $c-navy),
  ("campus-news", $c-navy, $c-navy),
  ("education", $c-light-green-cool, $c-green-alt),
  ("news-center", $c-purple, $c-purple),
  ("news--media", $c-purple, $c-purple),
  ("patient-care", $c-blue-light, $c-blue-warm),
  ("research", $c-teal-alt, $c-teal-medium),
  ("ucsf-magazine", $c-purple, $c-purple),
);

$areas-nav: (
  about-menu: $c-navy,
  education: $c-green-warm,
  news--media: $c-purple,
  patient-care: $c-blue,
  research: $c-teal-medium,
);



// Blue: #4896E8 – Maps to current Blue selection
// Light Blue: #178CCB
// Teal: #16A0AC – Maps to current Teal selection
// Cool Green: #32A03E
// Warm Green: #2C8A1A – Maps to current Green selection
// Purple: #6C62D0 – Maps to current Purple selection
// Violet: #A238BA
// Magenta: #C42882
// Gray: #9BA6B6 – Maps to current Gray selection
// Navy: #052049 – Maps to current Navy selection
// Yellow: #FEB80A – Maps to current Yellow selection
// Dark Gray: #21272A – Maps to current Black selection

$color-map: (
  black: $c-black,
  red: $c-red,
  orange: $c-orange,
  yellow: $c-yellow,
  yellow-light: $c-yellow-light,
  green: $c-green,
  green-alt: $c-green-alt,
  green-warm: $c-green-warm,
  green-cool: $c-green-cool,
  light-green-cool: $c-light-green-cool,
  teal: $c-teal-alt,
  teal-medium: $c-teal-medium,
  teal-dark: $c-teal-dark,
  navy: $c-navy,
  blue: $c-blue,
  blue-warm: $c-blue-warm,
  blue-light: $c-blue-light,
  blue-medium: $c-blue-medium,
  blue-dark: $c-blue-dark,
  magenta:$c-magenta,
  magenta-dark: $c-magenta-dark,
  violet: $c-violet,
  violet-medium: $c-violet-medium,
  violet-dark: $c-violet-dark,
  purple: $c-purple,
  purple-medium: $c-purple-medium,
  purple-dark: $c-purple-dark,
  gray: $c-gray-blue,
  cool-gray: $c-gray,
  gray-darkest: $c-gray-darkest
);

// Font Families
//------------------------------------------------------------------------------

$font-helvetica-neue-light: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-helvetica-neue-roman: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-helvetica-neue-medium: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-helvetica-neue-bold: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-granjon: "GranjonLTW01-Roman", "Garamond", "Times New Roman", serif;
$font-helvetica-neue-regular: $font-helvetica-neue-roman;
$font-ivar: "Ivar-Regular", "Georgia", "Times New Roman", serif;
$font-ivar-italic: "Ivar-Italic", "Georgia", "Times New Roman", serif;

// Font Sizes
// -----------------------------------------------------------------------------
$font-size-bg: 24px;
$font-size: 18px;
$font-size-sm: 16px;
$font-size-xsm: 14px;
$font-size-xxsm: 12px;

// Font Weights
//------------------------------------------------------------------------------

$fw-light: 200;
$fw-book: 300;
$fw-medium: 500;
$fw-bold: 700;

// Grid
//------------------------------------------------------------------------------

$grid-container: 1400px;
$grid-columns: 12;
$grid-column-gap: 33.818181818px; // ((1400-(34*2))-(80*12))/11 = 33.818181818
$grid-row-gap: 40px;
$grid-gutter: $grid-row-gap $grid-column-gap;
$grid-gutter-susy: $grid-column-gap;

// Grid Debugging
//------------------------------------------------------------------------------

// Setting $grid-debug to true shows the grid lines via @page-container.
$grid-debug: false;
// Setting $grid-disable disables grid to test fallbacks.
$grid-disable: false;

// Susy Layouts
//------------------------------------------------------------------------------

$susy: (
  'svg-grid-colors': hsl(180, 50%, 80%),
  'columns': susy-repeat($grid-columns),
  'gutters': $grid-gutter-susy,
  'container-spread': 'wider'
);
$susy-narrow: (
  'columns': susy-repeat(($grid-columns - 2)),
  'gutters': $grid-gutter-susy,
  'container-spread': 'narrow'
);
$susy-two: (
  'columns': susy-repeat(2),
  'gutters': 0,
  'container-spread': 'narrow'
);
$susy-three: (
  'columns': susy-repeat(3),
  'gutters': 0,
  'container-spread': 'narrow'
);
$susy-four: (
  'columns': susy-repeat(4),
  'gutters': 0,
  'container-spread': 'narrow'
);

// !DO NOT add other align options it will break css.
// $direction - should be either "left" or "right",  they are used to create selectors and css declarations.
// See _align-media.scss
$align-directions: left, right;

// Z-indices
//------------------------------------------------------------------------------
$z-slicknav-panel-open: 2;
$z-footer: 500;
$z-gallery: 700;
$z-quicklinks-open-page: 780;
$z-quicklinks: 800;
$z-quicklinks-menu: 900;
$z-dropdown: 1000;
$z-news-search-filter: 1100;

// Animation transitions
//------------------------------------------------------------------------------
$transition-type: cubic-bezier(0.33,0.66,0.66,1);
$transition-time: .3s;
$transition-time-short: .2s;
$transition-time-long: .5s;

// Article container values. Used to align images/videos to the edges
//------------------------------------------------------------------------------
$article-gutter: 20px; // narrow page padding small screen
// This number is based on page narrow padding at 769px screen size.
$article-gutter-bp-new-small: 14.1%;
$page-gutter: $article-gutter;
