// Documentation: http://breakpoint-sass.com/
$bp-until-narrow: max-width 1023px;
$bp-tiny: 480px;
$bp-narrow: 1024px;
$bp-medium: 1200px;
$bp-large: 1400px;

// Colors
//------------------------------------------------------------------------------

$c-navy: #052049;
$c-teal: #058488;
$c-blue: #007cbe;
$c-purple: #716fb2;
$c-grey-charcoal: #4c4c4f;
$c-grey-slate: #555559;
$c-grey-medium: #808184;
$c-beige: #c9c8c7;
$c-grey-light: #dedede;
$c-grey-lighter: #eee;
$c-grey-input-border: #d1d1d1;
$c-grey-input-border-webform: #979797;
$c-white: #fff;

// Font Families
//------------------------------------------------------------------------------

$ff-sans: HelveticaNeueLTW04-45Light,HelveticaNeue,Helvetica,Arial,sans-serif;
$ff-serif:  GranjonLTW01-Roman,Garamond,"Times New Roman",serif;

// Font Weights
//------------------------------------------------------------------------------

$fw-light: 200;
$fw-book: 300;
$fw-medium: 500;
$fw-bold: 700;

// Grid
//------------------------------------------------------------------------------

$grid-container: 1400px;
$grid-columns: 12;
$grid-column-gap: 33.818181818px; // ((1400-(34*2))-(80*12))/11 = 33.818181818
$grid-row-gap: 40px;
$grid-gutter: $grid-row-gap $grid-column-gap;
$grid-gutter-susy: $grid-column-gap;

// Grid Debugging
//------------------------------------------------------------------------------

// Setting $grid-debug to true shows the grid lines via @page-container.
$grid-debug: false;
// Setting $grid-disable disables grid to test fallbacks.
$grid-disable: false;

// Susy Layouts
//------------------------------------------------------------------------------

$susy: (
  'svg-grid-colors': hsl(180, 50%, 80%),
  'columns': susy-repeat($grid-columns),
  'gutters': $grid-gutter-susy,
  'container-spread': 'wider'
);
$susy-narrow: (
  'columns': susy-repeat(($grid-columns - 2)),
  'gutters': $grid-gutter-susy,
  'container-spread': 'narrow'
);
$susy-two: (
  'columns': susy-repeat(2),
  'gutters': 0,
  'container-spread': 'narrow'
);
$susy-three: (
  'columns': susy-repeat(3),
  'gutters': 0,
  'container-spread': 'narrow'
);
$susy-four: (
  'columns': susy-repeat(4),
  'gutters': 0,
  'container-spread': 'narrow'
);

// Z-indices
//------------------------------------------------------------------------------
$z-footer: 500;
$z-dropdown: 600;
$z-top: 700;
