@import "mixins/navbar-mixins";

.menu--main {
  // Base
  font-size: 14px;
  line-height: 1.2;

  @include breakpoint($bp-narrow) {
    // 28px in between logo and menu - 9px left padding/margin on link.
    margin-left: 19px;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  @include breakpoint($medium-screen) {
    // 22px in between logo and menu - 12.5px left padding/margin on link.
    margin-left: 9.5px;
  }

  @include breakpoint($large-screen) {
    // 39px in between logo and menu - 20px left padding/margin on link.
    margin-left: 19px;
  }

  ul {
    @include ul-menu;
  }

  li {
    @include breakpoint($bp-narrow) {
      display: inline-block;
    }
  }


  // Level One Links
  > ul {
    @include breakpoint($bp-narrow) {
      left: auto;
      position: relative;
      top: auto;
    }
  }

  > ul > li {
    position: relative;

    &:hover {
      > a {
        @include main-menu-underline;
      }
    }

    > a {
      display: block;
      font-weight: $fw-bold;
      text-transform: uppercase;
      position: relative;
      white-space: nowrap;

      @include breakpoint($bp-narrow) {
        // 18px in between each:
        // 4.5px padding + 4.5px margin on each side.
        padding: 20px 4.5px;
        margin: 0 4.5px;
      }
      @include breakpoint($medium-screen) {
        // 25px in between each:
        // 6.25px padding + 6.25px margin on each side.
        padding: 20px 6.25px;
        margin: 0 6.25px;
      }
      @include breakpoint($large-screen) {
        // 40px in between each:
        // 10px padding + 10px margin on each side.
        padding: 20px 10px;
        margin: 0 10px;
      }
    }

    // hover/active state
    &.menu-item--active-trail > a,
    > a.is-active {
      text-decoration: none;
    }

    > a:hover {
      @include main-menu-underline;
      text-decoration: none;
    }

    &.open > a,
    > a.is-active,
    &.menu-item--active-trail > a {
      @include main-menu-underline;
    }
  }

  // Level Two - Dropdowns
  ul ul > li > a {
    font-weight: $fw-book;
  }
  .menu-item--expanded {
    @include breakpoint($bp-narrow) {
      @include dropdown;
    }

  }

  .user-logged-in & .login {
    @include breakpoint($bp-narrow) {
      display: none;
    }
  }
}


@include breakpoint($bp-narrow) {
  a.ohm-mobile-toggle {
    display: none !important;
    padding: 0 !important;
  }
}
