.secondary-nav {

  // --- Global styles --- //
  .menu--main {
    > h2 {
      display: none;
    }
    li.menu-item {
      a {
        position: relative;
        font-weight: $fw-medium;
        color: $c-white;
        text-transform: initial;
        &::after {
          @include breakpoint($narrow-screen) {
            position: absolute;
            bottom: 0;
            width: calc(100% + 10px);
            left: -5px;
          }
        }
      }
      &.menu-item--active-trail {
        background: $c-textgrey;
      }
    }
  }

  // --- Mobile styles --- //
  @include breakpoint($mobile-screen-only) {
    .menu--main {
      ul.menu {
        display: inline;
        @supports (display: grid) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        border-top: 1px solid $c-textgrey;

        // Borders.
        li.menu-item {
          border-bottom: 1px solid $c-textgrey;
          &:nth-child(even) {
            border-left: 1px solid $c-textgrey;
          }
        }

        li.menu-item {
          &.menu-item--active-trail {
            position: relative;
          }
          a {
            background-color: $c-grey-slate;
            padding: 15px;
            text-align: center;
            &.is-active {
              background: $c-textgrey;
            }
          }
        }

        li.menu-item.menu-item--active-trail {
          a::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: calc(100% + 10px);
            left: -5px;
            background: $c-orange;
            height: 3px;
          }
        }

      }
    }
  }


  // --- Desktop styles --- //
  @include breakpoint($narrow-screen) {
    background: $c-grey-slate;

    .menu--main {
      ul.menu {
        flex-wrap: wrap;
      }
    }
  }

}
