<div class="lastest-events-list__header">
  <h2 class="lastest-events-list__heading">{{ "Events"|t }}</h2>
  <p class="lastest-events-list__view-all"><a href="" class="link link--cta">{{ "View all events"|t }}</a></p>
</div>