<div class="video-list">
  <div class="video-list__header">
    <h2 class="video-list__title">Videos</h2>
    <p class="video-list__youtube"><a href="https://www.youtube.com/ucsf" class="link link--cta" target="_blank"><span class="fab fa-youtube"></span> Subscribe <span class="visually-hidden">to UC San Francisco Youtube channel</span></a></p>
  </div>

  <div class="video-list__videos">
    {{ drupal_entity('block', 'youtubegallery') }}
  </div>
</div>
