<div class="video-list">
  <div class="video-list__header">
    <h2 class="video-list__title">Video</h2>
    <p class="video-list__youtube"><a href="" class="link link--cta"><span class="fab fa-youtube"></span> Subscribe</a></p>
  </div>

  <div class="video-list__videos">
    {{ drupal_block('youtubegallery') }}
  </div>
</div>
