.paragraph--accordion-group {
  @include breakpoint($mobile-screen-only) {
    padding: 0 23px;
  }
  h4.ui-accordion-header {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 14px 0;
    span.ui-accordion-header-icon {
      position: absolute;
      right: 10px;
      top: 15px;
      display: block;
      height: 30px;
      width: 30px;
      content: ' ';
      background: url("../images/accordion/accordion-arrow-down.svg") no-repeat;

    }
    &.ui-state-active {
      span.ui-accordion-header-icon {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
      }
    }
  }
  .ui-accordion-content-active {
    padding-bottom: 43px;
    border-bottom: 1px solid $c-beige;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .ui-accordion-header-collapsed {
    border-bottom: 1px solid $c-beige;
  }

  // -- center -- //
  &.center {
    @include padding-container-mobile-desktop;
  }
}

.accordion-title-text {

  [data-layout="center"] & {
    h1 {
      @include fs-display-title-orange;
      text-align: center;
    }
  }
  h1 {
    line-height: 45px;
  }
}

