.field--name-field-display-title {
  @include fs-display-title-orange;
  padding-bottom: 39px;
  text-align: center;
}

.paragraph--projects.paragraph--view-mode--default {
  padding-bottom: 10px;
  @include breakpoint($narrow-screen) {
    padding-bottom: 40px;
  }
}
