.paragraph--type--gallery {
  background: $c-white;
  overflow: hidden;

  .gallery-container {
    background: $c-white;
    overflow: hidden;
    padding-right: 16px;
    min-width: 0;
    min-height: 0;
  }

  @include breakpoint($new-large) {
    @include grid-fifteen;
    background: transparent;
    grid-column: 1 / -1;

    .gallery-container {
        grid-column: 2 / -2;
      overflow: visible;
      padding: 0 11%;
    }
  }
  @include breakpoint($new-xl) {
    .gallery-container {
      grid-column: 3 / -3;
    }
  }
}

.field-gallery-items {
  @include slick-buttons;
  .slick-list {
    overflow: visible;
  }

  img {
    filter: blur(3px);
    margin: 0 auto;
    padding-right: 16px;
    width: 961px;

    @include breakpoint($new-small) {
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  figcaption {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }

  .slick-active {
    img {
      filter: blur(0);
    }

    figcaption {
      position: relative;
      clip: auto;
      overflow: visible;
      padding-left: 16px;
      height: auto;
      width: auto;

      @include breakpoint($bp-small) {
        margin: 0 auto;
        padding-left: 13%;
        padding-right: 13%;
      }

      @include breakpoint($new-small) {
        max-width: 800px;
      }

      @include breakpoint($new-large) {
        max-width: 602px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
