.card-with-offset-color {
  .card__title {
    @include fs-heading-three;
    transition: $transition-time ease-out all;
  }

  a:hover {
    .card__title {
      color: $c-blue-link;
    }

    img {
      transform: scale(1.1);
    }
  }
}

.offset-frame {
  @include colored('background');
  $offset-margin: 2rem;
  margin-left: $offset-margin;
  margin-bottom: calc(#{$offset-margin} + 1rem);

  .field-image-media {
    transform: translate(-$offset-margin, $offset-margin);
    overflow: hidden;
  }

  img {
    transition: $transition-time-short ease-out all;
  }
}
