.promo-list__card {
  color: $white;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 32px;
    height: 32px;
  }

  .homepage &::after {
    background: transparent;
  }

  a.promo-list__card-link {
    color: $white;
    text-decoration: none;
    display: block;
    padding: $space-ten $space-four;

    &:hover {
      .link--cta {
        text-decoration: underline;
        padding-right: 32px !important;
      }
    }
  }

  .field-promo-text { // PL: .promo-list__card-content
    font-size: 24px;
    font-family: $font-helvetica-neue-medium;
    margin: 1em 0;
  }

  .promo-list__card-more {
    font-family: $font-helvetica-neue-medium;
    margin: 1em 0;
    line-height: 1;
    margin-bottom: $space-three;

    a {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    .link--cta {
      @include background-image('cta-arrow-white.svg', right center, transparent);
      background-size: 14px 10px;
      color: $white;
    }
  }

  .promo-list__card-title {
    @include eyebrow;

    margin: 0;
    color: $white;
    font-size: 12px;

    &::after {
      background-color: $white;
    }
  }

  &.overlay-yellow {
    .promo-list__card-link {
      color: $c-navy;
    }

    .promo-list__card-title {
      @include eyebrow;
      display: inline-block;
      color: $c-navy;

      &::after {
        display: inline-block;
        background-color: $c-navy;
      }
    }

    .link--cta {
      background-image: url("../images/cta-arrow-navy.svg");
      color: $c-navy;
    }
  }
}

