.paragraph--type--gallery {
  background: $c-white;
  padding: 0 11%;
  grid-column: 3 / -3;
}

.field-gallery-items {

  .slick-list {
    overflow: visible;
  }

  img { // @todo Padding and width should be responsive.
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
    width: 961px;
  }
}
