// General styles, so that editor can forget to provide color and images still look normal.
.news-package-card {
  .card__title {
    @include fs-heading-three;
    margin-top: 1rem;
    transition: $transition-time ease-out all;
  }

  .card__image {
    margin-left: -$page-gutter;
    margin-right: -$page-gutter;

    @include breakpoint($new-medium) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .card__image-wrapper {
    display: block;
    overflow: hidden;
  }

  img {
    transition: $transition-time-short ease-out all;
    width: 100%;
  }

  a:hover {
    .card__title {
      color: $c-blue-link;
    }

    img {
      transform: scale(1.1);
    }
  }
}

// styles that kick in when color is selected for the offset frame
.card-with-offset-color {
  $offset-frame: 10px; // calc($page-gutter / 2)
  $offset-frame-desktop: 1.1rem;

  .offset-frame {
    margin-bottom: calc(#{$offset-frame} + 1rem);
    margin-left: -$offset-frame;

    @include breakpoint($new-medium) {
      margin-left: $offset-frame-desktop;
      margin-bottom: calc(#{$offset-frame-desktop} + 1rem);
    }
  }

  .card__image-wrapper {
    transform: translate(-$offset-frame, $offset-frame);

    @include breakpoint($new-medium) {
      transform: translate(-$offset-frame-desktop, $offset-frame-desktop);
    }
  }
}
