.alert-content {
  color: $white;
  padding: $space-five;
  text-align: center;
  clear: both;
  margin-top: $space-five;

  p {
    font-family: $font-granjon;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.3px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a, p a {
    margin: 0 10px;
    font-size: $font-size;
  }

  @include breakpoint($new-large) {
    margin-top: $space-ten;
  }

}
