.card-with-offset-color {
  .card__title {
    @include fs-heading-three;
    transition: $transition-time ease-out all;
  }

  a:hover {
    .card__title {
      color: $c-blue-link;
    }

    img {
      transform: scale(1.1);
    }
  }
}

.offset-frame {
  $offset-frame: 10px; // calc($page-gutter / 2)
  $offset-frame-desktop: 1.1rem;
  @include colored('background');
  margin-left: -$offset-frame;
  margin-right: -$page-gutter;
  margin-bottom: calc(#{$offset-frame} + 1rem);

  @include breakpoint($new-small) {
    margin-left: $offset-frame-desktop;
    margin-right: 0;
    margin-bottom: calc(#{$offset-frame-desktop} + 1rem);
  }

  .field-image-media {
    transform: translate(-$offset-frame, $offset-frame);
    overflow: hidden;

    @include breakpoint($new-small) {
      $offset-frame: 1rem;
      transform: translate(-$offset-frame-desktop, $offset-frame-desktop);
    }

  }

  img {
    transition: $transition-time-short ease-out all;
  }
}
