@use "../0_tools" as *;
.latest-events-list { //PL: .lastest-events-list
  float: left;
  width: 100%;
  margin-top: 0;
  padding: 0 20px;
  padding-top: 20px;

  @media ($above-s) {
    padding: $space-five;
    padding-top: $space-five;
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
    padding-top: $space-ten;
    grid-column: 1/-1;
    float: none;
  }

  & + * {
    clear: both;
  }
}

.lastest-events-list__header {
  margin: 0 auto;
  max-width: $bp-xxl;
}

.lastest-events-list__heading {
  @include fs-articles-title;
  margin-top: 0;
  margin-bottom: 0;

  @media ($above-s) {
    float: left;
    margin-bottom: $space-four;
  }
}

.lastest-events-list__view-all {
  margin: 0;
  margin-top: $space;
  margin-bottom: $space-four;

  @media ($above-s) {
    float: right;
    margin-bottom: 0;
  }
}

.lastest-events-list__cards {
  clear: both;
  margin: 0 auto;
  max-width: $bp-xxl;
  list-style: none;
  padding: 0;

  @include breakpoint($bp-until-large) {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  &.card-three-up {
    display: block;
    margin-top: 0;

    @include breakpoint($new-large) {
      @include card-three-up;
      white-space: normal;
    }
  }
}

.event-card {
  padding-bottom: $space-four;
  float: left;
  width: 100%;
  padding-right: $space-five;
  vertical-align: top;

  @include breakpoint($bp-until-large) {
    padding-right: 20px;
    max-width: 300px;
    min-width: 275px;
    display: inline-block;
    float: none;
  }

  @media ($above-s) {
    padding-right: 5%;
    width: 33%;
  }

  @include breakpoint($new-large) {
    float: none;
    padding-right: 15%;
    width: 100%;
  }
}

.event-card__icon {
  float: left;
  width: 20%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.event-card__month {
  font-size: $font-size-xxsm;
  font-family: $font-helvetica-neue-bold;
  border-bottom: 1px solid $a1-navy;
  text-transform: uppercase;
}

.event-card__icon-date {
  @include fs-heading-two;

  margin-top: $space;
}

.event-card__content {
  float: right;
  width: 75%;
  letter-spacing: 0.2px;
  white-space: normal;
  padding-left: 10px;
}

.event-card__title {
  margin: 0;
  font-size: $font-size;
  font-family: $font-helvetica-neue-medium;
  font-weight: 500;
  margin-bottom: $space;
  line-height: 1.4;
  letter-spacing: 0.2px;

  a {
    @include link-colors($a1-navy, $c-blue-link);
    text-decoration: none;
  }
}

.event-card__date-location {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $font-size-xsm;
  color: $c-gray-blue;
  line-height: 1.6;
}

.bg-gray {
  .event-card__date-location {
    color: $a1-navy;
  }
}

.event-card__date,
.event-card__location {
  padding-left: 25px;

  span {
    margin-left: -30px;
    display: inline-block;
    width: 25px;
    text-align: center;
    font-size: $font-size-xxsm;
  }
}

#lclst_widget_footer {
  display: none;
}
