// This is a hack so we don't have to worry about the gallery resizing the background color white for the section.
// which it should not be part of anyhow, should be its own grid area.
.gallery-background-fill {
  height: 800px;
  background-color: #fff;
  //border: 1px solid #00c9ff;
  z-index: -100;
  margin-bottom: -800px;
  @include breakpoint($bp-xs-medium) {
    margin-bottom: -400px;
    height: 400px;
  }
  @include breakpoint($bp-small) {
    margin-bottom: -418px;
    height: 418px;
  }
  @include breakpoint($new-x-small) {
    margin-bottom: -418px;
    height: 418px;
  }
  @include breakpoint($new-small) {
    margin-bottom: -450px;
    height: 450px;
  }
  @include breakpoint($new-medium) {
    margin-bottom: -670px;
    height: 670px;
  }
  @include breakpoint($new-large) {
    margin-bottom: -725px;
    height: 725px;
  }
  @include breakpoint($new-xl) {
    margin-bottom: -800px;
    height: 800px;
  }
}

.paragraph--type--gallery {
  //background: $c-white;
  overflow: hidden;

  .gallery-container {
    overflow: hidden;
    //padding-right: 16px;
    min-width: 0;
    min-height: 0;
    background: $c-white;
  }

  @include breakpoint($new-large) {
    @include grid-fifteen;
    background: transparent;
    grid-column: 1 / -1;

    .gallery-container {
      grid-column: 2 / -2;
      overflow: visible;
      padding: 0 11%;
    }
  }
  @include breakpoint($new-xl) {
    .gallery-container {
      grid-column: 3 / -3;
    }
  }
}

.paragraph--type--gallery {
  // Removes  fade-in from Article Gallery images
  // so that opacity can be set within .field-gallery-image
  :not(.slick-active) {
    .element-fade {
      animation: none;
    }
  }
}

.field-gallery-items {

  .slick-track {
    left: 0;
    @include breakpoint($bp-xs-medium) {
      left: -30px;
    }
    @include breakpoint($bp-small) {
      left: -30px;
    }
    @include breakpoint($new-x-small) {
      left: -30px;
    }
    @include breakpoint($new-medium) {
      left: 0;
    }
    @include breakpoint($new-large) {
      left: 0;
    }
    @include breakpoint($new-xl) {
      left: 0;
    }
  }


  @include slick-buttons;

  button {
    top: calc(50% - 100px);

    @include breakpoint($bp-small) {
        display: none;

    }
    @include breakpoint($new-x-small) {
        display: none;

    }
    @include breakpoint($new-small) {
        display: none;
    }
  }

  .slick-arrow {

    @include breakpoint($new-large) {
      height: 40px;
      width: 40px;
      background-size: 50%;

      &.slick-prev {
        left: -21%;
      }

      &.slick-next {
        right: -21%;
      }
    }


    @include breakpoint($new-xl) {
      &.slick-prev {
        left: -35%;
      }

      &.slick-next {
        right: -35%;
      }
    }

    @include breakpoint($new-small-max) {
      &.slick-prev {
        left: -9999px;
        position: absolute;
      }
    }


  }

  .slick-slide {
    margin: 0 1.5em;
    width: calc(100vw - 40px);
    //added for certain iPhones!
    @include breakpoint($bp-xs-medium) {
      margin: 0 0.5em;
      width: calc(100vw - 40px);
    }
    @include breakpoint($bp-small) {
      margin: 0 0.8em;
      width: calc(100vw - 40px);
    }
    @include breakpoint($new-x-small) {
      margin: 0 1.0em;
      width: calc(100vw - 40px);
    }
    //desktop like sizes
    @include breakpoint($new-small) {
      width: calc(100vw - 20vw);
    }
    @include breakpoint($new-medium) {
      width: calc(100vw - 20vw);
      margin: 0 1.5em;
    }
    @include breakpoint($new-large) {
      width: 823px;
      margin: 0 1.5em;
    }
    @include breakpoint($new-xl) {
      width: 823px;
      margin: 0 1.5em;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .field-gallery-image {
    //this is the white "overlay" magic
    background-color: #fff;
    //fixing the extra space at the bottom
    height: 0;
    padding-bottom: 66%; /* for a 4:3 container size */
  }

  img {
    //filter: blur(3px);
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0.25;
  }

  figcaption {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }

  .slick-active {
    img {
      filter: blur(0);
      opacity: 1.0;
      @include transitionset(1s);
    }

    figcaption {
      position: relative;
      clip: auto;
      overflow: visible;
      //padding-left: 16px;
      height: auto;
      width: auto;
      //prevent jumping of content below
      min-height: 125px;
      padding-left: 10%;
      padding-right: 0;
      //added for certain iPhones!
      @include breakpoint($bp-xs-medium) {
        padding-left: 10%;
        margin: 0 auto;
        //prevent jumping of content below
        min-height: 180px;
      }
      @include breakpoint($bp-small) {
        padding-left: 10%;
        margin: 0 auto;
        min-height: 180px;
      }
      @include breakpoint($bp-small) {
        margin: 0 auto;
        padding-left: 10%;
        min-height: 140px;
      }
      @include breakpoint($new-x-small) {
        padding-left: 10%;
      }
      @include breakpoint($new-small) {
        //max-width: 800px;
        padding-left: 13%;
        padding-right: 13%;
      }
      @include breakpoint($new-large) {
        //max-width: 602px;
        padding-left: 13%;
        padding-right: 13%;
      }
    }
  }
}
