.fact-card {
  border: 1px solid $c-gray-border;
  box-sizing: border-box;
  //min-height: 500px;
  height: 100%;
  padding: $space-eight $space-eight $space-ten $space-four;
  margin-bottom: 40px;
  //grid-template-rows: auto auto auto;
  .layout-column & {
    margin-bottom: 40px;
    padding: $space-six $space-three;

    @include breakpoint($new-small) {
      padding: $space-eight $space-four;
    }
  }

  .layout-column & {
    h2,
    h3,
    h4 {
      @include fs-heading-three;

      margin: 0;
      margin-top: $space-two;
      margin-bottom: $space;

      &.small-title {
        font-family: $font-helvetica-neue-medium;
        font-size: 18px;
        margin-top: 8px;
        letter-spacing: -0.2px;
      }
    }
  }

  // Force the height of the icons so that they don't initially load larger than
  // they will display and cause jquery to incorrectly calculate the height.
  // unset max-width because icon on  /about page is too wide in it's original size
  img {
    height: 5rem;
    max-width: none;
    width: auto;
  }

  figure.align-center {
    margin: 0 0 $space-four;
  }
}

.field-fact-card-stat { // PL: .fact-stat
  @include fs-display;
  color: $teal;
  margin-bottom: 32px;
}
