.field-content-promotional-conten { // PL: .content-card__copy
  background: $white;
  margin-right: 10%;
  margin-top: -10%;
  position: relative;
  padding: 20px $space-four 0 0;
  color: $navy;

  &:hover {
    color: $navy;
  }
}
