.field-content-promotional-conten { // PL: .content-card__copy
  &:hover {
    color: $navy;
  }

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .overlay-white & {
    background: $white;
    margin-right: 10%;
    margin-top: -10%;
    position: relative;
    padding: 20px $space-four 0 0;
    color: $navy;
  }

  .overlay-gray & { // Pl: .promo-list
    padding: 58px 40px;
    background: $background-gray;
    position: relative;
  
    &::after {
      background: #fff;
      content: ' ';
      position: absolute;
      left: auto;
      right: 0;
      bottom: -8px;
      width: $space-five;
      height: $space-five;
    }
    
    h2 {
      line-height: 1;
      margin-bottom: 32px;
      margin-top: 0;
    }

    p {
      margin: 1em 0;
    }

    .link--cta {
      margin-top: 7px;
    }
  }
}
