.paragraph--news-spotlight {

  background: url('../images/sliced-bgs/gray-dark-bottom-left.svg') no-repeat $c-grey-slate;
  margin-bottom: 20px;

  @include padding-container-mobile-desktop;

  @include breakpoint($narrow-screen) {
    padding-bottom: 103px;
  }

  @include breakpoint($narrow-screen) {
    margin-bottom: 42px;
  }
}

.node--type-insight.node--view-mode-spotlight {

  .insight--spotlight {
    > *:nth-child(2n + 1) {
      @include breakpoint($narrow-screen) {
        width: susy-span(5 narrow of 12 narrow);
        margin-left: susy-span(1 wide of 12 wide);
        float: left;
      }
    }
    > *:nth-child(2n + 2) {
      @include breakpoint($narrow-screen) {
        width: susy-span(5 narrow of 12 narrow);
        float: left;
        margin-left: susy-gutter();
      }
    }

    // fields styles.

    h1 a {
      color: $c-white;
    }

    .field--name-body {
      .trimmed {
        font-family: $ff-serif;
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 0;
        color: $c-white;
        padding-bottom: 10px;
        @include breakpoint($narrow-screen) {
          padding-bottom: 23px;
        }
      }
      .more-link {
        display: initial;
        text-align: left;


        a {
          @include fs-cta-white;
        }
      }
    }
  }
}
