/*------------------------------------*\
  // Promo List Card Homepage
\*------------------------------------*/
%card-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}

.homepage {
  .promo-list {
    &__card {
      @extend %card-bg-image;
      margin-bottom: $space-nine;
      z-index: 1;

      &:hover {
        .promo-list__card-link {
          transition: 0.2s ease-in-out box-shadow;
        }
      }

      &::after {
        background: transparent;
      }

      &-more {
        margin-bottom: 0;
        margin-top: 12px;
      }

      &-link {
        padding: $space-eight $space-five;
        align-self: center;
        width: 100%;
        height: 100%;
      }
    }


  }

  .promo-list__background-img {
    display: block;
    filter:grayscale(1);
    background-size: 100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

/*------------------------------------*\
  Promo List Card Featured
  used on ucsf.edu/about page
\*------------------------------------*/
// Featured card
.promo-list__card--featured {
  @extend %card-bg-image;

  &:hover {
    .promo-list__card-content-wrapper {
      margin-top: 90%;
      padding-bottom: 10%;
    }

    .link--cta {
      background-position: 100% center;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  a {
    display: flex;
    color: $c-white;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: transparent;
    }
  }

  .promo-list__card-content-wrapper {
    align-content: flex-end;
    margin-top: 100%;
    padding: $space-three;
    width: 100%;
    margin-top: 100%;
    @include transition;
  }


  // Overwrites of default card styles
  &.promo-list__card::after {
    background: transparent;
  }

  .field-promo-text {
    margin-top: 0;
  }

  .promo-list__card-more,
  .promo-list__card-more:first-child
  .promo-list__card-more:last-child {
    margin-top: 12px;
  }
}

/*------------------------------------*\
  Promo List Card Alternative
  used for promo cards on homepage
\*------------------------------------*/

.promo-list__card--alt {

  &:hover {
    .promo-list__card-link {
      transition: initial;
    }
  }

  .promo-list__card-link {
    padding: 0;
    color: $c-white;
    text-decoration: none;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    height: auto;

    &:hover {
      .promo-list__card-image {
        background-size: 110%;
      }
    }
  }

  .promo-list__card-content {
    margin-top: 0;
    padding: $space-three;
    width: 100%;
  }

  .promo-list__card-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    transition: 0.2s ease-out background-size;
    width: 100%;
    padding-top: 56%;

    @include breakpoint($bp-medium) {
      padding-top: 40%;
    }
  }

  // Overwrites
  // remove background image from li
  .homepage &.promo-list__card {
    background-image: none;
  }

  .field-promo-text {
    margin-top: 0;
  }
}

.promo-list__card--alt {
  @include colored('background');
}

// Background Overlay colors
@each $name, $color in $color-options-with-text {
  // create a class name based on the color name
  .promo-list__card--featured .overlay-#{$name} {
    --overlay-#{$name}-rgb: #{hex-to-rgb($color)};
    --overlay-teal-rgb: #{hex-to-rgb($c1-teal)};
    // convert hex value into rgba box-shadow
    box-shadow: inset 0 0 0 1000px rgba(var(--overlay-#{$name}-rgb), 1);

    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(var(--overlay-#{$name}-rgb), 0.95);
    }
  }
}
