.layout-left-30-70 {
  width: 100%;
  padding: 0 20px;
  padding-top: $space-five;

  .field-column-30 { // PL: .layout-30
    width: 100%;
  }

  .field-column-70 { // PL: .layout-70
    width: 100%;
  }

  &.wywiwyg-layout {
    padding: 0;
    padding-top: $space-five;
  }

  @include breakpoint($new-medium) {
    width: 100%;
    padding: 0 $space-ten;
    padding-top: $space-ten;
    .field-column-30 { // PL: .layout-30
      float: left;
      width: 30%;
    }

    .field-column-70 { // PL: .layout-70
      float: right;
      width: 70%;
      padding-left: $space-five;
    }

  }

  @include breakpoint($new-large) {
    grid-column: 1/-1;
    width: 100%;
    padding: 0 $space-ten;
    padding-top: $space-ten;

    .field-column-70 { // PL: .layout-70
      padding-left: $space-ten;
    }
  }
}

.layout-left-70-30 {
  grid-column: 1/-1;
  width: 100%;
  padding: 0 20px;
  padding-top: $space-five;

  .field-column-30 { // PL: .layout-30
    width: 100%;
  }

  .field-column-70 { // PL: .layout-70
    width: 100%;
  }

  @include breakpoint($new-medium) {
    width: 100%;
    padding: 0 $space-five;
    padding-top: $space-five;

    .field-column-30 { // PL: .layout-30
      float: right;
      width: 30%;

      & > :first-child {
        margin-top: 0;
        padding-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .field-column-70 { // PL: .layout-70
      float: left;
      width: 70%;
      padding-right: $space-five;

      & > :first-child {
        margin-top: 0;
        padding-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  @include breakpoint($new-large) {
    grid-column: 1/-1;
    width: 100%;
    padding: 0 $space-ten;
    padding-top: $space-ten;

    .field-column-70 { // PL: .layout-70
      padding-right: $space-ten;
    }
  }
}

.layout-left-40-60 {
  grid-column: 1/-1;
  float: left;
  width: 100%;
  padding: 0;
  padding-top: $space-five;

  .layout-40 {
    float: left;
    width: 40%;

    & > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .layout-60 {
    float: right;
    width: 60%;
    padding-left: $space-five;

    & > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.layout-columns__1 {
  padding: $space-five 20px;
  padding-bottom: 0;
  clear: both;
  float: left;

  .layout__heading {
    margin-bottom: $space-four;
  }

  .field-content-wrapper-content { // PL: .layout-columns__two
    list-style: none;
    clear: both;

    .layout-column {
      clear: both;
      margin-top: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 0;
  }

  @include breakpoint($new-large) {
    float: none;
    padding: $space-ten;
    padding-bottom: 0;

    .field-content-wrapper-content {
      float: none;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      grid-gap: 0;
      grid-row-gap: 0;
    }
  }

}

.layout-columns__2 {
  padding: $space-five 20px;
  padding-bottom: 40px;
  padding-bottom: 0;
  clear: both;
  float: left;

  .layout__heading {
    margin-bottom: $space-four;
    padding-bottom: 0;
  }

  .field-content-wrapper-content { // PL: .layout-columns__two
    list-style: none;
    clear: both;

    > .layout-column {
      clear: both;
      margin-top: $space-five;
      padding-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 0;

    .field-content-wrapper-content {
      clear: none;
      float: left;

      > .layout-column {
        clear: none;
        float: left;
        width: 48%;
        margin-right: 2%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 2%;
        }
      }
    }
  }

  @include breakpoint($new-large) {
    float: none;
    padding: $space-ten;
    padding-bottom: 0;

    .field-content-wrapper-content {
      float: none;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-gap: 5%;
      grid-row-gap: 0;

      > .layout-column {
        float: none;
        width: auto;
        margin-right: 0;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

.layout-columns__3 {
  padding: $space-five 20px;
  padding-bottom: 0;
  float: left;
  width: 100%;

  .layout__heading {
    margin-bottom: $space-four;
  }

  .field-content-wrapper-content { // PL: .layout-columns__three
    list-style: none;

    > .layout-column {
      margin-bottom: 2em;
    }
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 0;

    .field-content-wrapper-content {
      clear: none;

      > .layout-column {
        clear: none;
        float: left;
        width: 31%;
        margin-right: 2%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 2%;
        }
      }
    }
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
    padding-bottom: 0;
    float: none;
    width: auto;

    .field-content-wrapper-content { // PL: .layout-columns__three
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-gap: 5%;
      grid-row-gap: 0;

      > .layout-column {
        float: none;
        width: auto;
        margin-right: 0;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

.layout-columns__4 {
  padding: $space-five 20px;
  padding-bottom: 0;
  float: left;
  width: 100%;

  .layout__heading {
    margin-bottom: $space-four;
  }

  .field-content-wrapper-content { // PL: .layout-columns__three
    list-style: none;

    > .layout-column {
      margin-bottom: 2em;
    }
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 0;

    .field-content-wrapper-content {
      clear: none;

      > .layout-column {
        clear: none;
        float: left;
        width: 23%;
        margin-right: 2%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 2%;
        }
      }
    }
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
    padding-bottom: 0;
    float: none;
    width: auto;

    .field-content-wrapper-content { // PL: .layout-columns__three
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      grid-gap: 5%;
      grid-row-gap: 0;

      > .layout-column {
        float: none;
        width: auto;
        margin-right: 0;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

.layout__heading {
  @include breakpoint($new-small-max) {
    padding-top: 32px;
  }
}

.layout-column {
  margin-bottom: 0;

  > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}

.two-columns,
.three-columns {
  float: left;
  padding-bottom: $space-ten;
  width: 100%;

  .content-column {
    float: left;
    width: 50%;

    &:last-child {
      padding-left: $space-ten;
    }

    & > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .cta--list,
    .ext--list,
    .inline--list {
      margin-bottom: 0;
    }
  }

  & + * {
    clear: both;
  }
}

.two-columns {
  .content-column:first-child {
    padding-right: $space-five;
  }

  .content-column:last-child {
    padding-left: $space-five;
  }
}

.three-columns {
  .content-column {
    width: 33%;
    padding-left: $space-three;
    padding-right: $space-three;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $space-three;
    }
  }
}

.bg-gray {
  background: $background-gray;
  padding-bottom: $space-five;
  margin-top: $space-five;

  @include breakpoint($new-large) {
    padding-bottom: $space-ten;
    margin-top: $space-ten;
  }
}

.bg-white {
  background: $white;
}

@each $name, $color in $color-map {
  // create a class name based on the color name
  .overlay-#{$name} {
    // convert hex value into rgba box-shadow
    box-shadow: inset 0 0 0 1000px rgba($color, 0.8);
    &:hover {
      box-shadow: inset 0 0 0 1000px rgba($color, 0.95);
    }
  }
}

.accent-purple {
  border-bottom: 8px solid $c-purple;
}

.accent-teal {
  border-bottom: 8px solid $print-teal;
}

.accent-blue {
  border-bottom: 8px solid $print-blue;
}

.nobel-card {
  img {
    margin: 0 auto;
  }
}
.nobel-card__date {
  @include eyebrow;

  margin-bottom: $space-two;
  padding-top: $space-two;
  line-height: 1;
}

.nobel-card__title {
  font-size: 28px;
  letter-spacing: -.3px;
  font-family: $font-granjon;
  font-weight: normal;
  margin-bottom: $space-two;
}

// JANK REMOVE LATER!!!
.alias-achievements {
  .layout-columns__4 {
    h2 {
      font-family: $font-granjon;
      font-size: 40px;
    }
  }
}

.memberships {
  padding: 20px;
  padding-bottom: 0;

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 0;
  }

  @include breakpoint($new-large) {
    @include grid;

    grid-column: 1/-1;
    padding: $space-ten;
    padding-bottom: 0;
  }
}

.memberships__content {


  @include breakpoint($new-large) {
    grid-column: 9/-1;
    grid-row: 1/-1;
  }
}

.memberships__title,
.page-node-type-full-width-page h2.memberships__title {
  font-family: $font-granjon;
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 44px;
  letter-spacing: -1px;
}

.memberships-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 1;

  @include breakpoint($new-small-max) {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    float: none;
  }

  @include breakpoint($new-small) {
    columns: 2;
  }

  @include breakpoint($new-medium) {
    columns: 3;
  }

  @include breakpoint($new-large) {
    @include grid-three;

    grid-column: 1/9;
    grid-row: 1/-1;
  }
}

.memberships-cards__card {
  border: 1px solid $c-gray-border;
  margin-right: $space-three;
  padding: $space-four;
  min-height: 285px;
  margin-bottom: $space-five;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  vertical-align: top;

  @include breakpoint($new-small-max) {
    padding-right: 40px;
    max-width: 240px;
    min-width: 200px;
    display: inline-block;
    float: none;
  }

  @include breakpoint($new-large) {
    padding: 10%;
  }
}

.memberships-cards__title,
.memberships-cards__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
}

.memberships-cards__title {
  @include fs-display;

  color: $teal;
  margin-bottom: $space-four;
}

.memberships-cards__subtitle {
  font-family: $font-helvetica-neue-medium;
  line-height: 1.4;
}

#block-instagramblock {
  margin-top: $space-two;
  .group {
    display: inline-block;
    overflow: hidden;
    max-height: 30%;
    max-width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.block-socialfeed {
  margin-top: $space-two;

  @include breakpoint($new-medium) {
    margin-right: 2.3rem;
  }
  .item-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    list-style: none;
    padding: 0;
  }

  .post {
    display: block;
    // hack for responsive images, height is controlled by padding-bottom
    height: 0;
    padding-bottom: 100%; // aspect ratio of 1:1
    overflow: hidden;
  }
}

.layout-columns__1,
.layout-columns__2,
.layout-columns__3,
.layout-columns__4,
.layout-left-30-70,
.layout-left-70-30 {
  &.remove-top-space {
    padding-top: 0;
  }
}

// For 1-4 column used in middle of News Articles
.main-content.narrow-page {
  .layout-columns__1,
  .layout-columns__2,
  .layout-columns__3,
  .layout-columns__4 {
    padding-bottom: $space-five;

    @include breakpoint($new-large) {
      grid-column: 1 / -1;
      padding-bottom: $space-ten;
    }

    .paragraph-text-block {
      background: transparent;
      padding-left: 0;
      padding-right: 0;

      &> :first-child {
        padding-top: 0;
      }
    }

    &.col-white-text {
      p, li, h2, h3, h4, h5, a {
        color: $c-white;
      }

      a, a:visited {
        color: $c-white;
        border-bottom: 1px solid $c-white;

        &:hover {
          background: $c-white;
          border-bottom: 1px solid $c-white;
          color: $c-navy;
        }
      }
    }

    &.bg-gray {
      margin-top: 0;
    }
  }

}
