.paragraph--columns-3.paragraph--view-mode--default {
  @include padding-container-mobile-desktop;

  .paragraph--column {
    .field--name-field-display-title {
      @include fs-h3;
      color: $c-textgrey;
      text-transform: initial;
      text-align: left;
      padding: 20px 0;
      @include breakpoint($narrow-screen) {
        padding: 29px 0 20px;
      }
    }
  }
}
