.fact-card {
  border: 1px solid $c-gray-border;
  //min-height: 600px;
  height: 100%;
  padding: $space-eight $space-eight $space-ten $space-four;
  margin-bottom: 40px;
  //grid-template-rows: auto auto auto;
  .layout-column & {
    margin-bottom: 40px;
    padding: $space-four;
  }

  .layout-column & {
    h2,
    h3,
    h4 {
      @include fs-heading-three;

      margin: 0;
      margin-top: $space-two;
      margin-bottom: $space;

      &.small-title {
        font-family: $font-helvetica-neue-medium;
        font-size: 18px;
        margin-top: 8px;
        letter-spacing: -0.2px;
      }
    }
  }
}

.field-fact-card-stat { // PL: .fact-stat
  @include fs-display;
  color: $teal;
  margin-bottom: 32px;
}
