.blockquote {
  &.blockquote-full-width {
    grid-column: 2 / -3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: $space-four auto $space-four;
    background: $white;
    margin: 0;
  }
}
