@use "../0_tools" as *;
@use '../../node_modules/breakpoint-sass/stylesheets/breakpoint' as *;
// Exposed Filter
.block-views-exposed-filter-blocknews-filter-page-1 {
  background: $i6-gray;

  .form--inline .form-item {
    margin: 0;
  }

  form {
    background: $i6-gray;

    @include breakpoint($bp-large) {
      padding: 0 $space-ten;
    }
  }

  label[for=edit-combine--2] {
    @include visually-hidden;
  }

  // Advanced.

    .search-filter__advanced {
      @include background-image('filter.svg', left);
      background-size: 24px 24px;
      position: absolute;
      right: 16px;
      text-indent: -999px;
      top: 55px;
      height: 32px;
      width: 24px;
      font-family: $font-helvetica-neue-medium;

      &:hover {
        @include background-image('filter-blue-hover.svg', left);
        background-size: 24px 24px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }

      @include breakpoint($bp-medium) {
        padding-left: 32px;
        right: 23px;
        text-indent: 0;
        top: 145px;
        width: auto;
      }

      @include breakpoint($bp-large) {
        right: 18px;
        top: 185px;
      }

      @include breakpoint($new-large) {
        left: 709px;
        right: auto;
      }
    }
  // Advanced.
  .form-item-combine {
    margin: 0;
  }

  // Text Input.
  [data-drupal-selector="edit-combine"] {
    border: 1px solid $c-near-white;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    color: $c-gray-blue;
    font-family: $font-helvetica-neue-light;
    font-size: $font-size;
    height: 52px;
    margin-bottom: 16px;
    width: calc(100% - 52px);

    @include breakpoint($bp-medium) {
      height: 96px;
      width: 100%;
    }

    @include breakpoint($new-large) {
      max-width: 827px;
    }

    &::placeholder {
      color: $c-gray-blue;
    }
  }

  // Actions wrapper.
  [data-drupal-selector="edit-actions"] {
    margin: 0;
  }

  // Reset button.
  [data-drupal-selector="edit-reset"] {
    display: none;
  }

  // Results count.
  [data-drupal-selector="edit-count"] {
    @include eyebrow;
  }
}

// Top of Filter.
.search-filter__top {
  background: $i6-gray;
  position: relative;
  padding: 40px 20px;
  padding-bottom: 80px;

  @include breakpoint($bp-large) {
    margin: 0 auto;
    max-width: $bp-xl;
    padding: 80px 0 74px;
    padding-bottom: 160px;
  }

  @include breakpoint($new-large) {
    padding: 80px 0 74px;
    padding-bottom: 160px;
  }

  // Submit button.
  [data-drupal-selector="edit-submit-news-filter-2"] {
    @include background-image('magnifier.svg', center);
    appearance: none;
    background-size: 23px;
    border: 0;
    box-shadow: none;
    height: 24px;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: absolute;
    right: 90px;
    text-indent: -9999px;
    top: 56px;
    width: 24px;

    &:hover {
      @include background-image('magnifier-hover.svg', center);
      background-size: 23px;
    }

    @include breakpoint($bp-medium) {
      background-size: 28px;
      height: 80px;
      right: 23px;
      top: 47px;
      width: 45px;

      &:hover {
        background-size: 28px;
      }

    }

    @include breakpoint($bp-large) {
      right: 44px;
      top: 90px;
    }

    @include breakpoint($new-large) {
      left: 757px;
      right: auto;
      top: 90px;
    }

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

//for when the scroll kicks in
.alias-news-filter {
  .page {
    background: $i6-gray;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);

  &.block-views-exposed-filter-blocknews-filter-page-1 form {
    padding: 0 ;
  }

  .search-filter__top {
    padding: 0;
    max-width: 1440px;

   [data-drupal-selector="edit-submit-news-filter-2"] {
      top: 8px;
      left: calc(100% - 245px);

      @include breakpoint($new-x-small-max) {
        top: 12px;
        left: calc(100% - 96px);
      }
    }

   [data-drupal-selector="edit-combine"] {
     max-width: calc(100% - 168px);
     padding-right: 80px;
     margin-bottom: 0;

     @include breakpoint($new-x-small-max) {
       max-width: 100%;
       padding-right: 40px;
     }
   }

   .search-filter__advanced {
     left: auto;
     right: 24px;
     top: 32px;
     margin-left: 24px;

     @include breakpoint($new-x-small-max) {
       right: 16px;
       top: 12px;
       margin-left: 8px;
     }
   }

   [data-drupal-selector="edit-count"] {
     height: 32px;
     padding: 0 20px;
     padding-bottom: 8px;
     display: none;
   }
  }

  & + #block-ucsf-content,
  & + #block-ucsf-mag-content {
    padding-top: 365px;

    @include breakpoint($new-x-small-max) {
      padding-top: 200px;
    }
  }
}

//this is jank for now
.desktop-results {
  display:none;
  @include breakpoint($new-small) {
    display: inline;
  }
}


// Hide Campus News children form elements.
.form-item-field-primary-area-target-id-1011 {
  display: none;
}
.form-item-field-primary-area-target-id-1016 {
  display: none;
}
.form-item-field-primary-area-target-id-1021 {
  display: none;
}
.form-item-field-primary-area-target-id-1026 {
  display: none;
}


// Top filter - Open.
.js-search_filter__top-open {
  height: 90px;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-news-search-filter;

  @include breakpoint($bp-medium) {
    height: 129px;
  }

  // Text Input.
  [data-drupal-selector="edit-combine"] {
    @include breakpoint($bp-medium) {
      max-width: none;
      padding-left: 118px;
      width: calc(100% - 189px);
    }
  }

  // Submit button.
  [data-drupal-selector="edit-submit-news-filter-2"] {
    right: 64px;
    top: 16px;

    @include breakpoint($bp-medium) {
      left: 80px;
      right: auto;
      top: 8px;
    }
  }

  // Results count.
  [data-drupal-selector="edit-count"] {
    @include visually-hidden;
  }

  .search-filter__advanced {
    @include background-image('x-large.svg', left);
    right: 12px;
    top: 16px;
    background-size: 18px;

    &:hover {
      @include background-image('x-large-hover.svg', left);
      background-size: 18px;
    }

    @include breakpoint($bp-medium) {
      left: auto;
      right: 28px;
      top: 39px;
    }
  }
}

// Dropdown filters.
.search-filter__dropdown {
  @include transition;
  background: $i6-gray;
  height: 0;
  width: 100%;
  visibility: hidden;

  [data-drupal-selector="edit-pub-year"] { // Year of Publication.
    @include breakpoint($bp-medium) {
      grid-column: 3/5;
    }
  }

  [data-drupal-selector="edit-tid-1"] { // Health and Science Topics.
    @include breakpoint($bp-medium) {
      grid-column: 1/4;

      //had to move this to here to fix Chrome
      #edit-tid-1--4 {
        columns: 3 12em;
      }
    }
  }

  &.js-search_filter__dropdown-open {
    height: auto;
    padding: 0 16px 40px;
    position: absolute;
    top: 90px;
    visibility: visible;

    @include breakpoint($bp-medium) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-row-gap: 55px;
      height: auto;
      padding: 64px 80px 85px;
      top: 129px;
    }

    .fieldset-wrapper {
      @include breakpoint($bp-medium) {
        height: auto;
        max-height: none;
        visibility: visible;
        overflow: visible;
      }
    }
  }

  fieldset legend {
    border-bottom: 2px solid $a1-navy;
    display: block;
    padding: 9px 0;
    width: 100%;

    @include breakpoint($bp-medium) {
      @include eyebrow;
      border: 0;
    }

    span {
      @include fs-filter-label;
    }
  }

  .fieldset-wrapper {
    @include transition;
    height: 0;
    max-height: 192px;
    overflow: auto;
    visibility: hidden;

    &.js-search_filter__category-open {
      height: auto;
      visibility: visible;
    }

    .form-type-radio,
    .form-type-checkbox {
      border-bottom: 2px solid $a1-navy;
      margin-right: 20px;
      padding: 7px 0;

      @include breakpoint($bp-medium) {
        border: 0;
        max-height: none;
        padding: 0;
        visibility: visible;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }

      label {
        @include fs-option-label;
      }
    }
  }

  // Submit button.
  [data-drupal-selector="edit-actions"] {
    @include breakpoint($bp-medium) {
      grid-column: 1/-1;
      margin-top: 0;
    }

    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $space-five;
    }
  }

  // fixing unorganized list in filter
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
      input {
        margin-right: 5px;
      }

      ul {
        padding-left: 20px;
      }
    }
  }
}

// Results
.view-news-filter {
  background: $c-white;
  background: $i6-gray;

  .view-header { // @todo Remove from view.
    display: none;
  }

  &:not(.contextual-region) {
    position: relative;
  }

  .view-content {
    max-width: $bp-full;
    background: url("../images/gray-sq.svg") right top no-repeat $c-white;
    background-size: 16px;
    margin: 0 auto;
    margin-top: -$space-five;
    padding-top: $space-five;
    position: relative;

    @include breakpoint($bp-large) {
      background: url("../images/gray-sq.svg") left top no-repeat $c-white;
      background-size: 80px;
      margin-top: -$space-ten;
      padding-top: $space-ten;
    }
  }

  ul {
    @include ul-item-list-reset;
    padding: 0 $space-two;
    margin: 0 auto;
    max-width: 827px;
  }

  .pager,
  .view-empty {
    max-width: $bp-full;
    margin: 0 auto;
    background: $c-white;
  }

  .view-empty {
    margin-top: -$space-ten;
    position: relative;

    @include breakpoint($bp-large) {
      padding-left: 80px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      background-color: $i6-gray;

      @include breakpoint($bp-large) {
        width: 80px;
        height: 80px;
        left: 0;
      }
    }

    &__text {
      padding: $space-five 16px;
      margin-bottom: 0;

      @include breakpoint($bp-large) {
        padding: calc(#{$space-ten} + 16px) 16px;
        margin: 0 auto;
        max-width: 827px;
      }
    }
  }
}

// Search Indicator List
.search-filter__indicator-list {
  @include fs-filter-label;

  margin: 0 auto;
  max-width: 827px;

  label {
    display: inline-block;
    padding: 16px;
  }

  ul {
    @include ul-item-list-reset;

    @include breakpoint($bp-medium) {
      padding-left: 0;
    }
  }

  li {
    display: inline-block;
  }

  a {
    background: $c-border-grey-blue;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 24px 5px 0;
    padding: 5px 24px;

    &:hover {
      background: darken($c-border-grey-blue, 30%);
    }
  }

  .small-text {
    margin: 0 0 0 16px;
    text-transform: none;

    a {
      background: none;
      padding: 0;
      text-decoration: underline;
    }
  }
}

.search-filter__indicator-item:hover{
 color: $white;
}

.js-search_filter__is-open {

  // Hide content when filter is open.
  .block-system-main-block,
  .footer-region {
    display: none;
  }

  // Kill contextual links when filter is open.
  .contextual-region,
  .scrolled {
    position: inherit;
    top: auto;
  }

  form {
    padding: 0;
  }
}

// Publication min/max date labels
label[for=edit-field-date-and-time-value-1--2],
label[for=edit-field-date-and-time-value-2--2] {
  @include breakpoint(1027px) {
    @include visually-hidden;
  }
}

// Publication min/max date inputs
.form-item-field-date-and-time-value-1,
.form-item-field-date-and-time-value-2 {
  @include breakpoint(1027px) {
    @include visually-hidden;
  }
}

// This view is used by news-media/journalists
.view-press-releases {
  .more-link {
    text-align: initial;
  }

  .campus-news-card__title {
    @include fs-articles-title-hfive();

  }

  .news-card__link:hover .campus-news-card__title {
    color: $c-blue-link;
  }
}
