.topics {
  margin-top: $space-seven;

  h1 {
    @include display;

    margin: 0 auto;
    max-width: $xl;
    margin-bottom: 0;
  }

  .topics-list {
    margin-top: $space-three;
  }

  .topics-list__title {
    font-size: 36px;
    margin-bottom: $space-two;
  }

  .topics-list__topics {
    padding-top: 0;
  }

  .layout-columns__three {
    padding-top: 0;
  }
}

.topics-full-list {
  background: $white;
}

.topics-full-list__title {
  margin-top: 0;
  padding: 0 $space-ten;
  padding-top: $space-ten;
}
