{% embed "@templates/_news-center.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}


  {% block page_content %}
  <main role="main" class="main topics">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <h1>Topics</h1>

    <div class="topics-list">
      <div class="topics-list__header">
        <h2 class="topics-list__title">Highlights</h2>
      </div>

      <div class="topics-list__topics-wrapper">
        <div class="topics-list__topics-wrapper-space-left"> </div>
        <div class="topics-list__topics-wrapper-space-bottom"> </div>

        <ul class="topics-list__topics">
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Alzheimer’s and Dementia</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Marijuana</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Autism and Sensory Processing Disorder</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Innovations in Health</a>
          </li>
        </ul>
      </div>
    </div>

<div class="topics-full-list">
    <h2 class="topics-full-list__title">Health Conditions</h2>

    <div class="layout-columns__three">
      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">AIDS/HIV</a></li>
          <li><a href="">Aging</a></li>
          <li><a href="">Arthritis</a></li>
          <li><a href="">Asthma & Respiratory Disease</a></li>
          <li><a href="">Bone Health</a></li>
          <li><a href="">Cancer</a></li>
          <li><a href="">Children’s Health</a></li>
          <li><a href="">Consumer Health</a></li>
        </ul>
      </div>

      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">Diabetes</a></li>
          <li><a href="">Drug and Alcohol Abuse</a></li>
          <li><a href="">Genetics</a></li>
          <li><a href="">Hearing</a></li>
          <li><a href="">Heart and Vascular</a></li>
          <li><a href="">Lung and Pulmonary</a></li>
          <li><a href="">Mental Illness</a></li>
          <li><a href="">Nutrition</a></li>
        </ul>
      </div>

      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">Vision</a></li>
          <li><a href="">Women’s Health</a></li>
        </ul>
      </div>
    </div>

    <h2 class="topics-full-list__title">Fields of Study</h2>

    <div class="layout-columns__three">
      <div class="layout-column">
      <ul class="cta--list">
        <li><a href="">Aging</a></li>
        <li><a href="">Arthritis</a></li>
      </ul>
      </div>

      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">Diabetes</a></li>
          <li><a href="">Drug and Alcohol Abuse</a></li>
          <li><a href="">Genetics</a></li>
          <li><a href="">Hearing</a></li>
          <li><a href="">Heart and Vascular</a></li>
          <li><a href="">Lung and Pulmonary</a></li>
          <li><a href="">Mental Illness</a></li>
          <li><a href="">Asthma & Respiratory Disease</a></li>
          <li><a href="">Bone Health</a></li>
        </ul>
      </div>

      <div class="layout-column">
      <ul class="cta--list">
        <li><a href="">Pain Management</a></li>
        <li><a href="">Reproductive Health</a></li>
        <li><a href="">Stress-Related Conditions</a></li>
        <li><a href="">Stroke</a></li>
        <li><a href="">Tobacco & Smoking</a></li>
        <li><a href="">Vision</a></li>
        <li><a href="">Women’s Health</a></li>
        <li><a href="">Cancer</a></li>
        <li><a href="">Children’s Health</a></li>
      </ul>
      </div>
    </div>

    <h2 class="topics-full-list__title">Patient Care</h2>

    <div class="layout-columns__three">
      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">AIDS/HIV</a></li>
          <li><a href="">Aging</a></li>
          <li><a href="">Arthritis</a></li>
          <li><a href="">Asthma & Respiratory Disease</a></li>
          <li><a href="">Bone Health</a></li>
          <li><a href="">AIDS/HIV</a></li>
          <li><a href="">Aging</a></li>
          <li><a href="">Arthritis</a></li>
          <li><a href="">Asthma & Respiratory Disease</a></li>
          <li><a href="">Bone Health</a></li>
        </ul>
      </div>

      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">Diabetes</a></li>
          <li><a href="">Drug and Alcohol Abuse</a></li>
          <li><a href="">Genetics</a></li>
          <li><a href="">Hearing</a></li>
          <li><a href="">Heart and Vascular</a></li>
        </ul>
      </div>

      <div class="layout-column">
        <ul class="cta--list">
          <li><a href="">Pain Management</a></li>
          <li><a href="">Reproductive Health</a></li>
          <li><a href="">Stress-Related Conditions</a></li>
          <li><a href="">Stroke</a></li>
          <li><a href="">Tobacco & Smoking</a></li>
        </ul>
      </div>
    </div>
</div>

  </main>

  {% endblock %}



{% endembed %}
