{% embed "@templates/_article-medium.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}


  {% block page_content %}
    {% include "@organisms/title/basic-article-title.twig" with {
      "area": 'Research',
      "date": 'Sept. 18, 2018',
      "heading": 'The Unbearable Sensation of Being: Living With Sensory Processing Disorder',
      "subheading": 'Some Kids Find Everyday Stimuli Excruciating, And Scientists Are Finally Figuring Out Why',
      "author": 'Kate Vidinsky'
    } %}

    {% include "@molecules/menus/share/share.twig" %}

    <p>Cindy was cradling her 9-month-old son, Elias, against her chest when she and a room full of family simultaneously yelled “Surprise!” to an unsuspecting aunt on her birthday. The outburst shot like a bolt of electricity through Elias. He cried for an hour.</p>

    <p>Xander, while growing up in the perpetual sensory assault of Manhattan, had to get off the train any time someone with a guitar entered his subway car to play for small change.</p>

    <p>Cal had a more enigmatic reaction to stimuli. His mother, Jennifer, points to the floor-to-ceiling windows in her hilltop living room. Rooftops, forests, and the San Francisco Bay spool out for miles. Cal was 2 when they moved here from a small, contained apartment. “We got here and Cal was always running away from me,” recalls Jennifer. “He suddenly had all this space and stimulation. He was in sensory overload.”</p>

    {% include "@atoms/04-images/00-image/figure.twig" with {
      img_src: '../../images/article/mom-child-illustration.jpg',
      img_alt: 'Breakfast plate of food',
      image_figure_base_class: 'half-image-left',
      img_caption: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.'
    } %}

    <h2>Beyond Nails-On-A-Chalkboard</h2>

    <p>Elias, Xander, and Cal all experience extreme reactivity to tactile, auditory, or visual stimulation – a condition known as sensory processing disorder (SPD). Tactile triggers that torment kids with SPD include tags in shirts, wooly sweaters, socks, or an accidental shoulder brush during preschool circle time. Auditory offenses include coffee grinders, the birthday song – surprise or not – and noisy, erratically moving toys. Visual provocations that can set kids off include IMAX movies, crowded stadiums, parking lots, even bikes and tents hanging from the ceiling of a camping store. Whether seen, heard, or felt, what all these sensory inputs have in common is their sudden onset and unpredictability. For an SPD kid, these experiences are beyond a nails-on-a-chalkboard annoyance.</p>

    <p>“As soon as these kids can move themselves, they will run screaming from the room when these stimuli reach their world,” says Elysa Marco, MD ’00, a cognitive and behavioral pediatric neurologist at UCSF Benioff Children’s Hospital San Francisco and a member of the UCSF Weill Institute for Neurosciences. Take Xander, who is now 14. He would rather be kicked in his hapkido martial arts class than receive a friendly hug. “It physically hurts when people hug me,” he says. This makes his mom, Judy, who is a hugger, think twice before reflexively going in for a hug. And Elias, at age 2, would hold his breath and sit at the bottom of the pool – the silence and water pressure his only solace.</p>

    <p>Living in a state of perpetual flight, fight, or freeze in reaction to stimuli – or in constant fear of those reactions’ onset – takes a toll on SPD children and their parents alike. The disorder can be profoundly disruptive on every level. As a parent, how do you diaper a child who feels abraded by even a cloth diaper? And if you can’t diaper a child, how do you leave the house, much less go to work? As a preschool teacher, how do you manage a student who falls apart every time a block falls or a tambourine is tapped? And as that student, how do you connect with your classmates when you feel compelled to dart under a table to save yourself from that tumbling block or terrifying tambourine?</p>

    <p>But as life-altering as SPD is for the children and families affected by it, the disorder isn’t included in the Diagnostic and Statistical Manual (DSM), clinicians’ touchstone for diagnosing psychiatric conditions. Marco’s professional quest is to build a better understanding of the genetics and the neural underpinnings of sensory-processing differences. It’s clear that sensory overresponsivity is shared by many children with genetic or psychological conditions like autism and attention-deficit/hyperactivity disorder (ADHD). Indeed, kids with SPD often struggle with more than hypersensitivity: Some 40 percent of kids with an SPD diagnosis also have dysgraphia, meaning they have such poor fine-motor coordination that they have difficulty writing, and 40 percent also have ADHD (these are not necessarily the same 40 percent). While Marco isn’t hung up on labels, she is committed to achieving better understanding and better therapeutic support for children with sensory-based challenges. She’s encouraged by signs that the field is moving past the DSM debate to a more genetic and symptom-based approach to caring for such kids – in their homes, schools, and communities.</p>




    <p>According to Marco, who is also an associate professor of neurology at UCSF and a resident alumna, many SPD kids acquire an autism label along the way, which helps with insurance coverage. And there is overlap in the disorders. Nearly 90 percent of kids with autism also have sensory processing differences – some underresponsivity and some overresponsivity. However, kids with SPD do not usually exhibit the fixated interests, repetitive motions, and social indifference that are hallmarks of autism. “Kids with SPD are wanting to socially engage, they just can’t tolerate it,” explains Marco.</[>]

    <h2>Diagnostic Debate</h2>

    <p>Early in her practice, Marco kept seeing kids with what were described as developmental delays; they often had autism diagnoses, too. “I would want to ask these parents about seizures, walking, and language development, but they wanted to know how they were supposed to wash their kids’ hair when they couldn’t touch their head, or how they could just get them clothed and out the door,” recalls Marco.</p>

    <p>A distinct SPD diagnosis is not without controversy. Some neurologists and pediatricians think SPD is listed exactly where it should be – under autism. Others argue that the condition doesn’t exist at all; for years, clinicians attributed SPD to inadequate parenting. Indeed, every parent of an SPD child has stories of being judged for their parenting by clinicians, loved ones, and strangers alike. “I take Cal to places like a restaurant or party where the volume rises. He just loses it – both imploding and exploding. Or in parking lots, he’ll just sit down,” says Jennifer. “In these scenarios, we always get comments basically indicating that we are obviously not doing this whole parenting thing very well and that with more discipline and authority, his behavior would change. Honestly, I thought that initially, too. And my confidence as a parent went way downhill.”</p>

    <h1>BLOCKQUOTE</h1>

    <p>A distinct SPD diagnosis is not without controversy. Some neurologists and pediatricians think SPD is listed exactly where it should be – under autism. Others argue that the condition doesn’t exist at all; for years, clinicians attributed SPD to inadequate parenting. Indeed, every parent of an SPD child has stories of being judged for their parenting by clinicians, loved ones, and strangers alike. “I take Cal to places like a restaurant or party where the volume rises. He just loses it – both imploding and exploding. Or in parking lots, he’ll just sit down,” says Jennifer. “In these scenarios, we always get comments basically indicating that we are obviously not doing this whole parenting thing very well and that with more discipline and authority, his behavior would change. Honestly, I thought that initially, too. And my confidence as a parent went way downhill.”</p>

    <p>Instead, Marco believes, sensory differences should be regarded as a function of brain structure and brain activity that’s guided by both genetic and environmental influences.</p>

    <div class="tags-menu-region">
    <h3 class="tags-menu__title">Tags</h3>
    <ul class="tags-menu">
    <li class="tags-menu__item"><a class="tags-menu__link" href="/">Research</a></li>
    <li class="tags-menu__item"><a class="tags-menu__link" href="/">Wellness</a></li>
    <li class="tags-menu__item"><a class="tags-menu__link" href="/">Technology</a></li>
    <li class="tags-menu__item"><a class="tags-menu__link" href="/">Dieting</a></li>
    <li class="tags-menu__item"><a class="tags-menu__link" href="/">Food</a></li>
    </ul>
    </div>

  {% endblock %}


{% endembed %}
