@mixin force-full-width-mobile {
  // disregard inline width in mobile
  @include breakpoint($new-small-max) {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;

    img {
      width: 100%;
    }
  }
}

figure[class="embedded-entity"],
figure[class="image"] {
  @include force-full-width-mobile();
  display:table;
  margin: $space-five;
  margin-top: 0;
  margin-bottom: $space-quadruple;

  figcaption {
    display:table-caption;
    caption-side:bottom;
  }
}

figure[style~="right"],
figure[style~="float:right"] {
  margin-right: 0;
}

figure[style~="left"],
figure[style~="float:left"] {
  margin-left: 0;
}

figure[class="embedded-entity"],
figure[class="image"] {
  margin-left: 0;
  margin-right: 0;
}

figure figure[class="embedded-entity"],
figure figure[class="image"] {
  margin: 0;
}
