/*------------------------------------*\
  # Aligned Image / Video Embeds
\*------------------------------------*/
// Moved the logic for aligning images here from _node-article.scss

// HALF IMAGE, HALF IMAGE CAPTION
// HALF IMAGE FULL, HALF IMAGE FULL CAPTION
// ALIGN-LEFT, ALIGN-RIGHT

// !DO NOT add other options it will break css.
// $direction - should be either "left" or "right",  they are used to create selectors and css declarations.
$align-options: left, right;

// Code for wrapper of image or video.
// Span element full width of the screen
@mixin wrapper-full-width-small-screen() {
  margin-top: 0;
  margin-left: -#{$article-gutter};
  margin-right: -#{$article-gutter};
  margin-bottom: $space-quadruple;
  display: table;
  width: calc(100% + (#{$article-gutter} * 2));
}

/*---------------In this section---------------------*\
  HALF IMAGE, HALF IMAGE with CAPTION
\*---------------------------------------------------*/
// These can technically have video as well as images.
@each $direction in $align-options {
  .half-image-#{$direction} {
    @include wrapper-full-width-small-screen();
    clear: both;

    @include breakpoint($new-small) {
      max-width: 50%;
      width: 100%;
      float: $direction;
      clear: $direction;

      @if $direction == left {
        margin-right: $space-decuple;
        margin-left: -#{$article-gutter-bp-new-small};
      } @else {
        margin-right: -#{$article-gutter-bp-new-small};
        margin-left: $space-decuple;
      }
    }

    @include breakpoint($new-large) {
      max-width: 55%;
      margin-#{$direction}: -20%;
    }

    @include breakpoint($new-xl) {
      max-width: 480px;
      margin-#{$direction}: -25%;
    }

    img {
      // Force the image to fill the screen width in mobile.
      width: 100vw;
    }

    figcaption {
      padding-top: $space-double;
      padding-right: $article-gutter;
      padding-left: $article-gutter;

      @include breakpoint($new-small) {
        @if $direction == left {
          padding-right: 0;
          padding-left: 29%;
          text-align: right;
        } @else {
          padding-right: 29%;
          padding-left: 0;
        }
      }

      @include breakpoint($new-large) {
        padding-#{$direction}: 37%;
      }

      @include breakpoint($new-xl) {
        padding-#{$direction}: 42.5%;
      }
    }
  }
}

/*---------------In this section---------------------*\
  HALF IMAGE FULL, HALF IMAGE FULL with CAPTION
\*---------------------------------------------------*/
// These can technically have video as well as images.
@each $direction in $align-options {
  .half-image-#{$direction}-full {
    @include wrapper-full-width-small-screen();

    @include breakpoint($new-small) {
      max-width: 55%;
      width: 100%;
      float: $direction;
      clear: $direction;

      @if $direction == left {
        margin-right: $space-decuple;
        margin-left: -#{$article-gutter-bp-new-small};
      } @else {
        margin-right: -#{$article-gutter-bp-new-small};
        margin-left: $space-decuple;
      }
    }

    @include breakpoint($new-small) {
      max-width: 55%;
      margin-#{$direction}: -#{$article-gutter-bp-new-small};
    }

    @include breakpoint($new-large) {
      max-width: 75%;
      margin-#{$direction}: -24%;
    }

    @include breakpoint($new-xl) {
      max-width: 680px;
      margin-#{$direction}: -37%;
    }

    img {
      // Force the image to fill the screen width in mobile.
      width: 100vw;
    }

    figcaption {
      padding-top: $space-double;
      padding-right: $article-gutter;
      padding-left: $article-gutter;

      @include breakpoint($new-small) {
        @if $direction == left {
          padding-right: 0;
          padding-left: 26%;
          text-align: right;
        } @else {
          padding-right: 26%;
          padding-left: 0;
        }
      }

      @include breakpoint($new-large) {
        padding-#{$direction}: 32%;
      }

      @include breakpoint($new-xl) {
        padding-#{$direction}: 44%;
      }
    }
  }
}

/*---------------In this section---------------------*\
  ALIGN-LEFT, ALIGN-RIGHT
\*---------------------------------------------------*/
// Used in mostly for portraits:

@each $direction in $align-options {
  .align-#{$direction} {
    display: table;
    float: $direction;
    width: 100%;
    margin-bottom: $space-quadruple;

    @include breakpoint($new-small) {
      width: initial;

      @if $direction == left {
        margin-right: $space-five;
      } @else {
        margin-left: $space-five;
      }
    }

    img {
      @include breakpoint($new-small-max) {
        width: 100%;
      }
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}
