.blockquote {
  @include clearfix;

  &.blockquote-full-width {
    background: $white;
    margin: 0;

    .field-blockquote-body {
      margin-left: 0;
    }

    .field-blockquote-source,
    .field-blockquote-source-org {
      margin-left: 30%;
    }

    .field-blockquote-image {
      width: 25%;
      margin-top: -12%;
    }

    & + * {
      padding-top: $space;
    }

    @include breakpoint($new-small) {
      .field-blockquote-body,
      .field-blockquote-source,
      .field-blockquote-source-org {
        margin-left: 30%;
      }

      .field-blockquote-image {
        margin-top: -30%;
      }
    }

    @include breakpoint($new-large) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: $space-four auto $space-four;
      grid-column: 1 / -2;

      .field-blockquote-image { // PL: .blockquote-image
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        width: auto;
        margin-top: 0;
      }

      .field-blockquote-body,
      .field-blockquote-source,
      .field-blockquote-source-org {
        margin-left: 0;
      }

      .blockquote-content {
        grid-column: 1 / -1;
        grid-row: 2 / -2;
        padding-left: 47%;
        padding-right: 8%;
      }
    }

    @include breakpoint($new-xl) {
      grid-column: 2 / -3;
    }
  }

  .blockquote-content {
    background: $background-gray;
    padding: $space-five;

    @include breakpoint($new-small-max) {
      .field-blockquote-body {
        p:first-child {
          margin-top: 0;
        }
      }
    }

    @include breakpoint($new-small) {
      padding: $space-six $space-ten;
      padding-right: 15%;
    }
  }

  .field-blockquote-body p:first-child { // PL: .blockquote-content__text.
    @include fs-heading-blockquote;

    &::before {
      content: '“ ';
      display: inline-block;
      margin-left: -$space-three;
      padding-right: $space;
      font-family: $font-granjon;
    }
  }

  .field-blockquote-source {
    @include eyebrow;
    font-style: normal;
  }
}

// In WYSIWYG.
.page_narrow blockquote,
.paragraph-text-block blockquote,
.ckpullquote,
.wysiwyg_quote,
.narrow-page-header__subheading blockquote {
  background: $background-gray;

  &.blockquote--half-left,
  &.blockquote--half-right,
  &.ckpullquote-left,
  &.ckpullquote-right,
  &.align--left,
  &.align--center {
    float: left;
    width: calc(100% + 20px);
    left: auto;
    padding-top: 0;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 0;
  }

  .blockquote-content__text,
  .ckpullquote--quote,
  .wysiwyg_quote--content {
    @include fs-heading-blockquote;
    font-size: 31px;
    line-height: 1.2em;
    padding: $space-seven $space-ten 0 0;
    padding-right: 15%;
    margin-top: 0;

    &::before {
      content: '“ ';
      display: inline-block;
      margin-left: -$space-three;
      padding-right: $space;
      font-family: $font-granjon;
    }

    @include breakpoint($new-small-max) {
      padding-top: $space-five;
      padding-left: $space-five;
      padding-right: $space-five;
      padding-bottom: 0;
    }
  }

  .blockquote-content__cite,
  .ckpullquote--author,
  .wysiwyg_quote--author {
    @include eyebrow;

    font-style: normal;
    padding-right: 15%;

    @include breakpoint($new-small-max) {
      padding-left: $space-five;
    }
  }

  .ckpullquote--org {
    font-size: 14px;
    padding-right: 15%;
  }

  &.blockquote--half-right,
  &.ckpullquote-right,
  &.align--right {
    float: right;
    right: auto;
    margin-right: -20px;
    margin-left: 0;

    .blockquote-content__text,
    .ckpullquote--quote,
    .wysiwyg_quote--content {
      padding-right: 0;
      padding-left: 15%;

      @include breakpoint($new-small-max) {
        padding-top: $space-five;
        padding-left: $space-five;
        padding-right: $space-five;
        padding-bottom: 0;
      }
    }

    .blockquote-content__cite,
    .ckpullquote--author,
    .ckpullquote--org,
    .wysiwyg_quote--author {
      padding-left: 15%;

      @include breakpoint($new-small-max) {
        padding-left: $space-five;
      }
    }
  }

  footer {
    margin-bottom: 50px;
  }

  @include breakpoint($new-small) {

    &.blockquote--half-left,
    &.ckpullquote-left,
    &.align--left,
    &.align--center {
      margin-left: -14%;
      margin-right: $space-ten;
      padding-left: 56px;
      width: 50%;
    }
    &.blockquote--half-right,
    &.ckpullquote-right,
    &.align--right {
      margin-right: -14%;
      margin-left: $space-ten;
      padding-right: 56px;
      width: 50%;
    }
  }

  @include breakpoint($new-large) {

    &.blockquote--half-left,
    &.ckpullquote-left,
    &.align--left,
    &.align--center {
      margin-left: -20%;
      padding-left: 0;
    }
    &.blockquote--half-right,
    &.ckpullquote-right,
    &.align--right {
      margin-right: -20%;
      padding-right: 0;
    }
  }
}

.ckpullquote, {
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.ckpullquote--author,
.wysiwyg_quote--author {
  margin-top: 2rem;
}

.wysiwyg_quote {
  margin-bottom: $space-four;
}

.wysiwyg_quote--author {
  margin-bottom: 50px;
}

.wysiwyg_quote--org {
  margin-top: -55px;
  margin-bottom: 50px;
  font-size: 16px;
  padding-right: 15%;
  @include breakpoint($new-small-max) {
    padding-left: $space-five;
  }
}
