.blockquote {
  @include clearfix;

  &.blockquote-full-width {
    grid-column: 2 / -3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: $space-four auto $space-four;
    background: $white;
    margin: 0;

    .field-blockquote-image { // PL: .blockquote-image
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    .blockquote-content {
      grid-column: 1 / -1;
      grid-row: 2 / -2;
      padding-left: 50%;
      padding-right: 10%;
    }

    & + * {
      padding-top: $space;
    }
  }

  .blockquote-content {
    background: $background-gray;
    padding: $space-six $space-ten;
    padding-right: 15%;
  }

  .field-blockquote-body p:first-child { // PL: .blockquote-content__text.
    @include fs-heading-blockquote;

    &::before {
      content: '“ ';
      display: inline-block;
      margin-left: -$space-three;
      padding-right: $space;
      font-family: $font-granjon;
    }
  }

  .field-blockquote-source {
    @include eyebrow;
    font-style: normal;
  }
}

// In WYSIWYG.
.page_narrow blockquote,
.paragraph-text-block blockquote,
.ckpullquote,
.wysiwyg_quote,
.narrow-page-header__subheading blockquote {
  background: $background-gray;

  &.blockquote--half-left,
  &.blockquote--half-right,
  &.ckpullquote-left,
  &.ckpullquote-right,
  &.align--left,
  &.align--center {
    float: left;
    width: 50%;
    left: auto;
    padding-top: 0;
    margin-left: -20%;
    margin-right: 10%;
    margin-top: 0;
  }

  .blockquote-content__text,
  .ckpullquote--quote,
  .wysiwyg_quote--content {
    @include fs-heading-blockquote;
    font-size: 31px;
    line-height: 1.2em;
    padding: $space-seven $space-ten 0 0;
    padding-right: 15%;
    margin-top: 0;

    &::before {
      content: '“ ';
      display: inline-block;
      margin-left: -$space-three;
      padding-right: $space;
      font-family: $font-granjon;
    }
  }

  .blockquote-content__cite,
  .ckpullquote--author,
  .wysiwyg_quote--author {
    @include eyebrow;

    font-style: normal;
    padding-right: 15%;
  }

  .ckpullquote--org {
    font-size: 14px;
    padding-right: 15%;
  }

  &.blockquote--half-right,
  &.ckpullquote-right,
  &.align--right {
    float: right;
    right: auto;
    margin-right: -20%;
    margin-left: 10%;

    .blockquote-content__text,
    .ckpullquote--quote {
      padding-right: 0;
      padding-left: 15%;
    }

    .blockquote-content__cite,
    .ckpullquote--author,
    .ckpullquote--org {
      padding-left: 15%;
    }
  }

  footer {
    margin-bottom: 50px;
  }
}

.ckpullquote, {
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.ckpullquote--author,
.wysiwyg_quote--author {
  margin-top: 2rem;
}

.wysiwyg_quote {
  margin-bottom: $space-four;
}

.wysiwyg_quote--author {
  margin-bottom: 50px;
}

.wysiwyg_quote--org {
  margin-top: -55px;
  margin-bottom: 50px;
  font-size: 16px;
}
