.ucsfcallout {
  background: $background-gray;
  margin: 10%;
  margin-top: 0;
  margin-bottom: $space-quadruple;
  width: calc(100% + 20px);
  padding: $space-five;

  .callout-left__title,
  .callout__title h3,
  .eyebrow-title {
    @include eyebrow;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($new-small) {
    width: 50%;
    padding: 80px 10%;
  }
}

.callout-left {
  float: left;
  margin-left: -20px;
  padding-left: 6%;

  @include breakpoint($new-small-max) {
    margin-right: 0;
  }

  @include breakpoint($new-small) {
    margin-left: -14%
  }
  @include breakpoint($new-large) {
    margin-left: -20%;
  }
}

.callout-right {
  float: right;
  margin-right: -20px;
  padding-right: 6%;

  @include breakpoint($new-small-max) {
    margin-left: 0;
  }

  @include breakpoint($new-small) {
    margin-right: -14%
  }
  @include breakpoint($new-large) {
    margin-right: -20%;
  }
}

.hidden {
  display: none;
  line-height: 0;
}
