@use "../0_tools" as *;
.emergency-alert {
  color: $c-white;
  padding: $space-five 0 $space 0;

  .path-frontpage & {
    padding-right: 20px;
  }

  &__header,
  &__content {
    margin: 0 auto;
    max-width: $full-width-elements;

  }

  &__header {
    color: $c-white;
    font-family: $font-helvetica-neue-light;
    font-size: 36px;
    margin-bottom: 0;
    background: url("../images/accordion-arrow-open.svg") no-repeat transparent;
    background-size: 24px 24px;
    background-position: right 20px center;
    cursor: pointer;
    filter: brightness(0) invert(1); // making it white

    @include breakpoint($new-x-small-max) {
      font-size: 24px;
      background-size: 20px 20px;
    }
  }

  &__toggle {
    display: block;
    padding: 0 20px;
  }

  &__content {
    margin-top: $space-three;
    padding: 0 20px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__content a {
    @include link-in-content($c-white);

    &.underline {
      border-bottom: 1px solid $c-white;

      &:hover {
        border-bottom: 2px solid $c-white;
      }
    }
  }

  a.link--cta {
    background-image: url("../images/cta-arrow-white.svg");
    color: $c-white;
    &:hover{
      color: $c-white;
      border-bottom: none;
    }
  }


  // Modifiers

  &--collapsed {
    padding: $space-two 0;

    .emergency-alert__header {
      background-image: url("../images/accordion-arrow-closed.svg");
      margin-bottom: 0;
    }

    .emergency-alert__content {
      display: none;
    }
  }



  &.emergency-alert--small-title {
    .emergency-alert__header {
      font-size: 18px;
      font-family: $font-helvetica-neue-medium;
      background-size: 18px 18px;
      letter-spacing: 0.2px;
    }
  }
}

  .emergency-alert.background-yellow {
    background-color:  $c-yellow-light;
  }

  .emergency-alert.background-orange {
    background-color:  $c-orange;
  }

  .emergency-alert.background-red {
    background-color:  $n3-red;
  }

.emergency-alert.background-yellow,
.emergency-alert.background-orange {
  color: $a1-navy;

  .emergency-alert__content a {
    @include link-in-content($a1-navy);
  }


  .emergency-alert__content a.underline {
    border-bottom: 1px solid $a1-navy;

    &:hover {
      border-bottom: 2px solid $a1-navy;
    }
  }

  a.link--cta {
    background-image: url("../images/cta-arrow-navy.svg");
    color: $a1-navy;
    &:hover{
      color: $a1-navy;
      border-bottom: none;
    }
  }

  .emergency-alert__header {
    color: $a1-navy;
    filter: none;

    a {
      color: $a1-navy;
    }
  }

}
