.emergency-alert {
  @include colored(); // creates background colors or box shadows
  color: $white;
  padding: $space-five 0 $space 0;

  .path-frontpage & {
    padding-right: 20px;
  }

  &__header,
  &__content {
    margin: 0 auto;
    max-width: $full-width-elements;

  }

  &__header {
    color: $white;
    font-family: $font-helvetica-neue-light;
    font-size: 36px;
    margin-bottom: 0;
    background: url("../images/accordion-arrow-open.svg") no-repeat transparent;
    background-size: 24px 24px;
    background-position: right 20px center;
    cursor: pointer;
    filter: brightness(0) invert(1); // making it white

    @include breakpoint($new-x-small-max) {
      font-size: 24px;
      background-size: 20px 20px;
    }
  }

  &__toggle {
    display: block;
    padding: 0 20px;
  }

  &__content {
    margin-top: $space-three;
    padding: 0 20px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  .link--cta {
    background-image: url("../images/cta-arrow-white.svg");
    background-position: right 60%;
    color: $white;
  }

  a {
    @include link-colors($white);
  }

  // Modifiers

  &--collapsed {
    padding: $space-two 0;

    .emergency-alert__header {
      background-image: url("../images/accordion-arrow-closed.svg");
      margin-bottom: 0;
    }

    .emergency-alert__content {
      display: none;
    }
  }

  &.background-yellow {
    color: $c-navy;

    .link--cta {
      background-image: url("../images/cta-arrow-navy.svg");
    }

    a {
      @include link-colors($c-navy);
    }

    .emergency-alert__header {
      color: $c-navy;
      filter: none;
    }
  }

  &.emergency-alert--small-title {
    .emergency-alert__header {
      font-size: 18px;
      font-family: $font-helvetica-neue-medium;
      background-size: 18px 18px;
      letter-spacing: 0.2px;
    }
  }
}
