dom-twocolumn-layout, dom-threecolumn-layout {
  @include breakpoint($new-small) {
    .column1, .column2, .column3 {
      > :first-child {
        margin-top: 0;
      }
    }

    .column1 {
      padding-right: 2%;
    }

    .column2 {
      padding-left: 2%;
    }
  }
}
dom-threecolumn-layout {
  @include breakpoint($new-small) {
    .column2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    .column3 {
      padding-left: 2%;
    }
  }
}
dom-twocolumn-layout {
  @include breakpoint($new-small) {
    &[data-column1-size="20"],
    &[data-column2-size="80"] {
      .column1 {
        width: 20%;
      }
      .column2 {
        width: 80%;
      }
    }

    &[data-column1-size="30"],
    &[data-column2-size="70"] {
      .column1 {
        width: 30%;
      }
      .column2 {
        width: 70%;
      }
    }

    &[data-column1-size="40"],
    &[data-column2-size="60"] {
      .column1 {
        width: 40%;
      }
      .column2 {
        width: 60%;
      }
    }

    &[data-column1-size="50"],
    &[data-column2-size="50"] {
      .column1,
      .column2 {
        width: 50%;
      }
    }

    &[data-column1-size="60"],
    &[data-column2-size="40"] {
      .column1 {
        width: 60%;
      }
      .column2 {
        width: 40%;
      }
    }

    &[data-column1-size="70"],
    &[data-column2-size="30"] {
      .column1 {
        width: 70%;
      }
      .column2 {
        width: 30%;
      }
    }

    &[data-column1-size="80"],
    &[data-column2-size="20"] {
      .column1 {
        width: 80%;
      }
      .column2 {
        width: 20%;
      }
    }
  }
}

dom-threecolumn-layout {
  @include breakpoint($new-small) {
    &[data-column1-size="33"],
    &[data-column2-size="33"],
    &[data-column3-size="33"] {
      .column1,
      .column2,
      .column3 {
        width: 33%;
      }
    }

    &[data-column1-size="20"] {
      .column1 {
        width: 20%;
      }
    }

    &[data-column2-size="20"] {
      .column2{
        width: 20%;
      }
    }

    &[data-column3-size="20"] {
      .column3 {
        width: 20%;
      }
    }

    &[data-column1-size="60"] {
      .column1 {
        width: 60%;
      }
    }

    &[data-column2-size="60"] {
      .column2 {
        width: 60%;
      }
    }

    &[data-column3-size="60"] {
      .column3 {
        width: 60%;
      }
    }
  }
}
