dom-twocolumn-layout, dom-threecolumn-layout {
  .column1, .column2, .column3 {
    color: $c-dark-navy;

    > :first-child {
      margin-top: 0;
    }
  }

  .column1 {
    padding-right: 10px;
  }

  .column2 {
    padding-left: 10px;
  }
}
dom-threecolumn-layout {
  .column2 {
    padding-right: 10px;
  }
  
  .column3 {
    padding-left: 10px;
  }
}
