dom-twocolumn-layout, dom-threecolumn-layout {
  @include breakpoint($new-small) {
    .column1, .column2, .column3 {
      > :first-child {
        margin-top: 0;
      }
    }

    .column1 {
      padding-right: 10px;
    }

    .column2 {
      padding-left: 10px;
    }
  }
}
dom-threecolumn-layout {
  @include breakpoint($new-small) {
    .column2 {
      padding-right: 10px;
    }

    .column3 {
      padding-left: 10px;
    }
  }
}
