.magazine__subscribe-movable {
  background-color: $background-gray;
  padding: $space-five;
  margin: $space-five 0;


  @include breakpoint($new-small) {
    padding: $space-five $space-ten;
  }

  @include breakpoint($new-large) {
    padding: $space-six 10%;
    margin: 0;
    max-height: 450px;
  }

  @include breakpoint(1200px) {
    padding: $space-ten 22%;
    margin: 0;
    max-height: 545px;
  }

  h2 {
    color: $c-dark-navy;

    @include breakpoint($new-large) {
      margin-bottom: $space-five;
    }
  }
}
