$publication-track-height: .1rem;
$handle-size: .5em;
$font-size: 14px;
$font-family-label: $font-helvetica-neue-bold;

// Publication Date Slider (used on /news/filter)
.publication-range {
  &.ui-slider {
    @include multirange-track($publication-track-height, rgba($c-navy, .5));
    margin-top: 3rem;
  }

  .ui-slider {
    &-range {
      @include multirange-track(); // selected range
      top: -$publication-track-height;
    }

    &-handle {
      @include multirange-handle();
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    &__handle-label {
      text-align: center;
      position: absolute;
      top: -2rem;
      font-family: $font-family-label;
      font-size: $font-size;
    }

    &__track-label {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding-top: .8rem;
      font-size: $font-size;
    }

  }
}
