// Variables

$bar-height: 0.25rem;
$bar-bg: #d6d6d6;
$bar-progress: #5dafdb;

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bar-height;
  z-index: 1;
  // This is the whole bar background. (used by firefox)
  background-color: $bar-bg;
  // Gets rid of the default border in Firefox/Opera.
  border: none;

  @include breakpoint($bp-large) {
    bottom: -($bar-height + 0.02rem);
  }

  // Firefox
  // This is the current progress value.
  &::-moz-progress-bar {
    background-color: $bar-progress;
  }

  // Chrome
  // This is the whole bar background.
  &::-webkit-progress-bar {
    background-color: $bar-bg;
  }

  // This is the current progress value.
  &::-webkit-progress-value {
    background: $bar-progress;
  }
}
