// Variables

$bar-height: 0.25rem;
$bar-bg: #d6d6d6;
$bar-progress: #5dafdb;

.reading-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bar-height;
  z-index: 1;
  // This is the whole bar background. (used by firefox)
  background-color: $bar-bg;

  @include breakpoint($bp-large) {
    bottom: -($bar-height + 0.02rem);
  }

  &__value {
    position: absolute;
    height: $bar-height;
    width: 100%;
    background-color: $bar-progress;
    left: -100%;
    transition: .2s ease-out transform;
    transform: translateX(0%);
  }

}
