// Variables

$bar-height: 4px;
$bar-color: #d6d6d6;
$bar-color2: #5dafdb;

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bar-height;
  z-index: 1;
  background: $bar-color;
  color: $bar-color2;
  /* Gets rid of the default border in Firefox/Opera. */
  border: none;

  @include breakpoint($bp-large) {
    bottom: auto;
  }

  &::-webkit-progress-value {
    background: $bar-color2;
  }

  &::-moz-progress-bar {
    background: $bar-color2;
  }

  &::-webkit-progress-value {
    background: $bar-color2;
  }

  &::-webkit-progress-bar {
    background: $bar-color;
  }
}
