$search-form-height: 80px;
$search-form-height-desktop: 96px;

$search-btn-size: 1.45rem;
$search-btn-size-desktop: 1.75rem;
// overlay submit button on top of search textbox
$search-btn-offset-right: 4rem;

.search-form {
  position: relative;
  height: $search-form-height;

  @include breakpoint($bp-large) {
    height: $search-form-height-desktop;
  }

  & &__input {
    position: absolute;
    top: 0;
    left: 0;
    height: $search-form-height;
    width: 100%;
    border: 1px solid $near-white;
    font-size: $font-size;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    color: $gray-blue;
    font-family: $font-helvetica-neue-light;
    padding-right: 80px;

    @include breakpoint($bp-large) {
      height: $search-form-height-desktop;
      font-size: $font-size-bg;
    }

    &::placeholder {
      color: $gray-blue;
    }
  }

  & &__submit {
    @include background-image('magnifier.svg', center);
    position: absolute;
    top: 0;
    background-size: $search-btn-size;
    border: 0;
    // box-shadow: none;
    height: $search-form-height;
    width: $search-btn-size;
    min-height: auto;
    padding: 6px;
    right: 1.5rem;
    text-indent: -9999px;

    @include breakpoint($bp-large) {
      background-size: $search-btn-size-desktop;
      height: $search-form-height-desktop;
      width: $search-btn-size-desktop;
      right: 2rem;
    }

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
    }
  }
}
