.article-meta-share {
  list-style: none;
  margin: 0;
  font-size: 26px;
  width: 0;
  position: absolute;
  z-index: 1;
  transition: .2s cubic-bezier(0.77, 0, 0.175, 1) opacity;

  .page-node-type-article &,
  .page-node-type-magazine-article & {
    margin-top: -200px;
    z-index: 0;

    @include breakpoint($new-large) {
      margin-top: $space-four;
    }
  }

  li {
    margin-bottom: $space;

    a {
      color: $gray-blue;
      border-bottom: none;
      transition: $transition-time cubic-bezier(0.77, 0, 0.175, 1) color;

      .indent-text {
        position: absolute;
        left: -9999px;
        display: block;
      }

      .fa-print {
        font-size: 24px;
      }

      &:hover {
        border-bottom: none;
        background-color: transparent;
      }

      &[title="Facebook"]:hover {
        color: $facebook-color;
      }
      &[title="Twitter"]:hover {
        color: $twitter-color;
      }
      &[title="Reddit"]:hover {
        color: $reddit-color;
      }
      &[title="Email Article"]:hover {
        color: $c-green;
      }
      &[title="Print Article"]:hover {
        color: $c-teal;
      }
    }
  }

  @include breakpoint ($new-small-max) {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    li {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 8px;
    }

    .page-node-type-article &,
    .page-node-type-magazine-article & {
      margin-top: 0;
    }
  }

  @include breakpoint($new-large) {
    grid-row: 2;
    position: sticky;
    height: 20rem;
    width: auto;
    top: $space-ten;
  }

  @include breakpoint($new-xl) {
    grid-column: 2 / 3;
    padding: 0 40%;
  }
}

.article-feature-content {
  @include breakpoint($new-large) {
    .article-meta-share {
      grid-row: 1;
      margin-top: $space-ten;
    }
  }
}

.article-meta-share--hidden {
  opacity: 0;
  pointer-events: none;
}
