.social-icons {
  margin-bottom: 30px;

  .social-icons__label {
    margin-bottom: 10px;
  }

  ul.social-icons__list {
    padding-left: 0;

    @include ul-item-list-reset;

    li {
      display: inline-block;
      margin-right: 10px;
      i {
        color: $c-blue;
      }
    }
  }
}
