.twitter-background {
  background: $white;
  padding-left: 0;
  clear: both;
  float: left;

  @include breakpoint($new-small-max) {
    float: none;
    width: 100%;
  }

  @include breakpoint($new-small) {
    padding-left: $space-five;
  }

  @include breakpoint($new-large) {
    padding-left: $space-ten;
    float: none;
  }
}

.twitter-wrapper {
  background: $twitter-blue;
  padding: $space-five;
  padding-left: 40px;
  padding-right: 0;
  padding-bottom: $space;
  float: left;
  overflow: auto;

  @include breakpoint($new-small-max) {
    float: none;
  }

  @include breakpoint($new-large) {
    float: none;
    padding: $space-nine;
    padding-left: 8%;
    padding-right: 0;
    padding-bottom: $space-five;
  }
}

.twitter-info {
  padding: 0;
  padding-right: $space-ten;

  @include breakpoint($new-large) {
    float: left;
  }
}

.twitter__title {
  margin: 0;
  margin-bottom: $space-three;
}

.twitter__follow {
  //grid-column: 1/2;
  margin: 0;
  margin-bottom: $space-three;
}

.twitter__tweets {
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint($new-small-max) {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  @include breakpoint($new-large) {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    white-space: normal;
  }
}



.twitter__tweet {
  padding-bottom: $space-four;
  float: left;
  width: 100%;
  padding-right: $space-five;
  vertical-align: top;

  @include breakpoint($new-small-max) {
    padding-right: 40px;
    max-width: 300px;
    min-width: 250px;
    display: inline-block;
    float: none;
  }

  @include breakpoint($new-small) {
    padding-right: 5%;
    width: 33%;
  }

  @include breakpoint($new-large) {
    float: none;
    padding-right: 15%;
    width: 100%;
  }
}

img.twitter-icon {
  border-radius: 50%;
  float: left;
  margin: $space-two;
  margin-left: 0;
  margin-top: 0;
}

.twitter__user,
h3.twitter_user {
  font-family: $font-helvetica-neue-medium;
  font-size: $font-size;
  margin-bottom: 0;
}

.tweeter__handle-time {
  color: $c-gray-blue;
  margin: 0;
  margin-bottom: $space-two;
  font-family: $font-helvetica-neue-roman;
  font-size: $font-size-xsm;
}

.twitter__text {
  font-family: $font-helvetica-neue-roman;
  font-size: $font-size-xsm;
  margin: 0;
  line-height: 1.7;
  white-space: normal;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .explorer {


    .twitter__tweets {
      list-style: none;
      margin: 0;
      padding: 0;

      @include breakpoint($new-small-max) {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
      }

      @include breakpoint($new-large) {
        display: block;
        white-space: normal;
      }
    }

    .twitter__tweet {
      padding-bottom: $space-four;
      float: left;
      width: 100%;
      padding-right: $space-five;
      vertical-align: top;


      @include breakpoint($new-large) {
        padding-right: 40px;
        max-width: 300px;
        min-width: 250px;
        display: inline-block;
        float: left;
      }
    }

    img.twitter-icon {
      width: 25%;
    }


    //end explorer changes
  }
}