.twitter-wrapper {
  background: $twitter-blue;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.twitter-wrapper__space {
  grid-column: 1/2;
  height: 100%;
  content: ' ';
}

.twitter {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: end;
  padding: $space-nine 0;
  padding-left: $space-fifteen;
  background-color: #f0faff;
  grid-column: 2/-1;

  @include breakpoint($bp-full) {
    width: 1360px;
  }
}

.twitter-wrapper .twitter__title {
  @include eyebrow;

  grid-column: 1/2;
  margin: 0;
  margin-bottom: $space-three;
}

.twitter__follow {
  grid-column: 1/2;
  margin: 0;
}

.twitter__tweets {
  grid-column: 2/-1;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: $space-five;
  }
}
