.video-list {
  background: $dark-navy;
  padding-top: $space-five;
  overflow: hidden;
  //removing for mobile deliver till we fix
  @include breakpoint($new-x-small-max) {

  }

  @include breakpoint($new-large) {
    padding-top: $space-ten;
  }
}

.video-list__videos {
  clear: both;
}

a.video_preview {
  position: relative;
}
a.video_preview::before {
  position: absolute;
  background: url('../images/play.svg') center center no-repeat transparent;
  width: 94px;
  height: 92px;
  //display: block;
  object-fit: contain;
  //box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  content: '\00BB \0020';
  left: 55px;
  top: 35px;
  z-index: 1000;

  @include breakpoint($new-small) {
    left: 90px;
    top: 40px;
  }
}

.video-list__header {
  margin: 0;
}

.video-list__youtube {
  bottom: 0px;
  padding-left: 20px;
  margin-top: 0;

  @include breakpoint($new-small) {
    float: right;
    padding-right: $space-five;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  @include breakpoint($new-large) {
    padding-right: $space-ten;
  }

  a {
    color: $white;

    &.link--cta {
      background: url(../images/cta-arrow-white.svg) right center no-repeat transparent;
      background-size: 14px 10px;
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    span {
      margin-right: 4px;
      display: inline-block;
    }
  }
}

.video-list__title,
.page-node-type-news-center .video-list__title {
  @include fs-heading;
  top: 0;
  margin: 0;
  color: $white;
  padding-left: 20px;
  padding-bottom: $space;

  @include breakpoint($new-small) {
    padding-left: $space-five;
    padding-bottom: $space-five;
    float: left;
  }

  @include breakpoint($new-large) {
    padding-left: $space-ten;
  }
}

#block-youtubegallery {
  @include slick-buttons;
  .slick-slider {
    margin: 0;
    padding-left: 20px;

    @include breakpoint($new-small) {
      padding-left: $space-five;
    }

    @include breakpoint($new-large) {
      padding-left: $space-ten;
    }
  }

  img {
    border: none;
    border-radius: 0;
  }

  .video_preview__title,
  a.video_link,
  a:link.video_link,
  a:visited.video_link {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-top: 16px;
    display: block;
  }

  a:hover,
  .video_preview:hover .video_preview__title {
    text-decoration: underline;
  }

  li {
    color: white;
    margin: 0 auto;
    clear: both;
    max-width: $xl;
    padding-bottom: $space-five;
    min-height: 200px;

    @include breakpoint($new-small) {
      padding-bottom: $space-ten;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 22%;
    z-index: 800;
    border-radius: 50%;
    border: 1px solid $dark-navy;
    background-color: $c-blue;
  }



  .slick-slide {
     margin: 0 16px;
     margin-right: 16px;
     width: 326px;
     border: none;
     border-radius: 0 0;

     @include breakpoint($new-small) {
       margin-right: 48px;
       width: 263px;
     }
   }

}
