.video-list {
  background: $dark-navy;
  padding-top: $space-ten;

  //removing for mobile deliver till we fix
  @include breakpoint($new-x-small-max) {
    display: block;
  }
}

.video-list__header {
  margin: 0 auto;
  max-width: $xl;
  position: relative;
  height: 106px;
}

.video-list__youtube {
  //float: right;
  position: absolute;
  right: 25px;
  bottom: 0px;

  a {
    color: $white;

    &.link--cta {
      background: url(../images/cta-arrow-white.svg) right center no-repeat transparent;
      background-size: 14px 10px;
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    span {
      margin-right: 4px;
      display: inline-block;
    }
  }
}

.video-list__title,
.page-node-type-news-center .video-list__title {
  @include fs-heading;
  top: 0;
  margin: 0;
  color: $white;
  left: 80px;
  position: absolute;

  @include breakpoint($new-x-small-max) {
    left: 20px;
  }
}

#block-youtubegallery {
  @include slick-buttons;
  .slick-slider {
    margin: 0;
  }
  img {
    border: none;
    border-radius: 0;
  }

  a.video_link,
  a:link.video_link,
  a:visited.video_link {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #ffffff;
  }

  a:hover {
    text-decoration: underline;
  }

  li {
    color: white;
    margin: 0 auto;
    clear: both;
    max-width: $xl;
    padding-bottom: $space-ten;
    min-height: 200px;
  }

  .slick-arrow {
    position: absolute;
    top: 22%;
    z-index: 800;
    border-radius: 50%;
    border: 1px solid $dark-navy;
    background-color: $c-blue;
  }


  .slick-list {

    .slick-slide {
      margin: 0 15px;
      width: 263px;
      border: none;
      border-radius: 0 0;
    }
  }

}
