@mixin button {
  background-color: transparent;
  color: $navy;
  border: 2px solid $navy;
  border-radius: $space-four;
  cursor: pointer;
  line-height: 1.4;
  padding: 1em 1.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: $font-helvetica-neue-medium;
  min-height: $space-eight;

  &:hover {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }
}

@mixin button-alt {
  @include button;

  border-color: $blue;
  color: $blue;
}

@mixin button-alt-2 {
  @include button;

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: none;
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }

  &--alt-2 {
    @include button;
    @include button-alt-2;
  }
}

.button-reverse {
  @include button;

  color: $white;
  border-color: $white;
}
