{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content article-feature-content narrow-page') %}
{% set main_content_modifiers = [] %}

<div class="main-article page-node-type-article">
  <div {{ bem('layout-container', (layout_modifiers)) }}>
    {% block page_universal_header %}
      {% include "@organisms/site/universal-header/universal-header.twig" %}
    {% endblock %}

    {% block page_header %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% endblock %}

    {% block page_system %}
    {% endblock %}

    <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="article-feature-banner">
      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: '../../images/article/building.jpg',
        img_alt: 'Mother with Child',
        image_figure_base_class: 'article-feature-banner-image',
      } %}

      {% include "@organisms/title/basic-article-title.twig" with {
        heading_class: 'article-feature-header',
        area: 'Research',
        date: 'Sept. 18, 2018',
        heading: 'Streets of Pain: The Opioid Epidemic',
        subheading: 'Daniel Ciccarone, MD, MPH, is leading a nationwide study that aims to better understand the scope of the opioid crisis in America.',
        author: 'Kate Vidinsky',
      } %}
      </div>

      <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
          {% block page_content %}{% endblock %}
      </div>

    </main>

    <div class="footer-ctas-wrapper">
      <ul class="footer-ctas">
        <li class="footer-cta">
          <h2>Engage with us. Engage with your neighbors.</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Follow us on Facebook</a>
          </div>
        </li>

        <li class="footer-cta">
          <h2>Are you a member of the news media?</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Visit the Media Center</a>
          </div>
        </li>
      </ul>
    </div>

    {% block page_footer %}
      {% include "@organisms/site/site-footer/site-footer.twig" %}
    {% endblock %}
  </div>
</div>
