{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content article-feature-content') %}
{% set main_content_modifiers = [] %}

<div class="main-article">
  <div {{ bem('layout-container', (layout_modifiers)) }}>
    {% block page_universal_header %}
      {% include "@organisms/site/universal-header/universal-header.twig" %}
    {% endblock %}

    {% block page_header %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% endblock %}

    {% block page_system %}
    {% endblock %}

    <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="article-feature-banner">
      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: '../../images/article/building.jpg',
        img_alt: 'Mother with Child',
        image_figure_base_class: 'article-feature-banner-image',
      } %}

      {% include "@organisms/title/basic-article-title.twig" with {
        heading_class: 'article-feature-header',
        area: 'Research',
        date: 'Sept. 18, 2018',
        heading: 'Streets of Pain: The Opioid Epidemic',
        subheading: 'Daniel Ciccarone, MD, MPH, is leading a nationwide study that aims to better understand the scope of the opioid crisis in America.',
        author: 'Kate Vidinsky',
      } %}
      </div>

      <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
          {% block page_content %}{% endblock %}
      </div>

    </main>

    {% block page_footer %}
      {% include "@organisms/site/site-footer/site-footer.twig" %}
    {% endblock %}
  </div>
</div>
