.main-article {
  background: $background-gray;

  .main-content {
    @include grid-fifteen;
  }
}

.page_narrow {
  //width: $page-narrow;
  background: $white;
  margin-top: $space-decuple;
  padding: $space-decuple 8%;
  position: relative;
  grid-column: 3 / -3;

  &.article-medium {
    margin-top: -32%;
  }

  &.article-feature {
    margin-top: 0;
    padding-top: $space-quintuple;
  }
}

.article-feature-banner {
  @include grid-fifteen;

  grid-template-rows: repeat(2, auto);
  grid-gap: 0;

  .article-header {
    background-color: rgba(255, 255, 255, 0.8);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding: 56px 56px 0 96px;

    h1 {
      font-size: 82px;
    }

    .article-header__subheading {
      width: 64%;
      margin: 0;
    }

    .article-header__author {
      border-bottom: none;
    }
  }
}

.article-feature-banner-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
