{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content narrow-page') %}
{% set main_content_modifiers = [] %}

<div class="main-article page-node-type-article">
  <div {{ bem('layout-container', (layout_modifiers)) }}>
    {% block page_universal_header %}
      {% include "@organisms/site/universal-header/universal-header.twig" %}
    {% endblock %}

    {% block page_header %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% endblock %}

    {% block page_system %}
    {% endblock %}

    <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: '../../images/article/mom-child.jpg',
        img_alt: 'Mother with Child',
        image_figure_base_class: 'article-medium-banner',
      } %}

      <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
          {% block page_content %}{% endblock %}
      </div>

    </main>

    <div class="recommended-articles has-recommended-article">

      <div class="recommended-articles__banner">
        <h2 class="recommended-articles__title">Recommended Reading</h2>

        <div class="recommended-article__bg" style="background: url(../../images/article/recommended-article-bg.jpg) top left no-repeat transparent;"></div>

        <div class="recommended-article__white-bg"></div>

        <picture class="recommended-article__image">
          <img class="img" src="https://placeimg.com/850/470/people">
        </picture>

        <article class="recommended-article__copy">
          <header>
            <ul class="news-card__byline">
              <li class="news-card__Research">Research</li>
              <li class="news-card__date">Sept. 18, 2018</li>
            </ul>
            <h2><a href="">Startup Science: How the Idea for Synthetic Cells Took Silicon Valley By Storm</a></h2>
          </header>
        </article>
      </div>
      
    <div class="recommended-articles_list">
      <ul class="card-three-up">
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
              </header>
            </a>
          </article>
        </li>
      </ul>
    </div>
  </div>

    <div class="footer-ctas-wrapper">
      <ul class="footer-ctas">
        <li class="footer-cta">
          <h2>Engage with us. Engage with your neighbors.</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Follow us on Facebook</a>
          </div>
        </li>

        <li class="footer-cta">
          <h2>Are you a member of the news media?</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Visit the Media Center</a>
          </div>
        </li>
      </ul>
    </div>

    {% block page_footer %}
      {% include "@organisms/site/site-footer/site-footer.twig" %}
    {% endblock %}
  </div>
</div>
