{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content article-feature-content narrow-page') %}
{% set main_content_modifiers = [] %}

<div class="main-article">
  <div {{ bem('layout-container', (layout_modifiers)) }}>
    {% block page_universal_header %}
      {% include "@organisms/site/universal-header/universal-header.twig" %}
    {% endblock %}

    {% block page_header %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% endblock %}

    {% block page_system %}
    {% endblock %}

    <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="news-package-banner">
      <div class="news-package-banner-bk"></div>
      <div class="news-package-banner-image-bk" style="background: url(../../images/article/news-package-background.jpg) no-repeat left bottom transparent;"> </div>



      {% include "@organisms/title/basic-page-title.twig" with {
        heading_class: 'news-package-header',
        date: 'June 22, 2018',
        heading: 'Back to School 2018',
        headerdesc: 'The incoming class is officially here. Join us to learn fun facts about our new students, see pictures of all the celebratory events, and more.',
      } %}

      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: '../../images/article/news-package-banner.jpg',
        img_alt: 'Mother with Child',
        image_figure_base_class: 'news-package-banner-image',
      } %}
      <div class="news-package-banner-bk-bottom"></div>
      </div>

      <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
          {% block page_content %}{% endblock %}
      </div>

    </main>

    <div class="footer-ctas-wrapper">
      <ul class="footer-ctas">
        <li class="footer-cta">
          <h2>Engage with us. Engage with your neighbors.</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Follow us on Facebook</a>
          </div>
        </li>

        <li class="footer-cta">
          <h2>Are you a member of the news media?</h2>

          <div class="footer-cta__copy">
            <a href="" class="icon-heart">Visit the Media Center</a>
          </div>
        </li>
      </ul>
    </div>

    {% block page_footer %}
      {% include "@organisms/site/site-footer/site-footer.twig" %}
    {% endblock %}
  </div>
</div>
