{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content topics-page') %}
{% set main_content_modifiers = [] %}

<div class="main-article page-node-type-news-center">
  <div {{ bem('layout-container', (layout_modifiers)) }}>
    {% block page_universal_header %}
      {% include "@organisms/site/universal-header/universal-header.twig" %}
    {% endblock %}

    {% block page_header %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% endblock %}

    {% block page_system %}
    {% endblock %}


          {% block page_content %}{% endblock %}

          <div class="footer-ctas-wrapper">
            <ul class="footer-ctas">
              <li class="footer-cta">
                <h2>Engage with us. Engage with your neighbors.</h2>

                <div class="footer-cta__copy">
                  <a href="" class="icon-heart">Follow us on Facebook</a>
                </div>
              </li>

              <li class="footer-cta">
                <h2>Are you a member of the news media?</h2>

                <div class="footer-cta__copy">
                  <a href="" class="icon-heart">Visit the Media Center</a>
                </div>
              </li>
            </ul>
          </div>

    {% block page_footer %}
      {% include "@organisms/site/site-footer/site-footer.twig" %}
    {% endblock %}
  </div>
</div>
