<div class="media--type-remote-video libsyn">
  <iframe style="border: none" src="{{content.field_libsyn|field_value }}" width="{{ width }}" height="{{ height }}" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
  </iframe>
</div>
