.magazine-topic-issue-page .magazine-topic-page__header-title--alt {
  @include fs-heading;
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
  color: $c-dark-navy;

  @include breakpoint($new-large) {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: $space-four;
  }
}
