.magazine-topic-issue-page .magazine-homepage-banner__title--alt {
  @include fs-heading;
  margin-bottom: 64px;
  color: $c-dark-navy;
}

.magazine-issue-banner .magazine-issue-banner__content {
  margin-top: 0;
}
