{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 *
 * Current play video variables:
 * - currentVideo.videoId: Current video Id.
 * - currentVideo.title: Current video title.
 * - currentVideo.description:Current video description.
 * - currentVideo.publishedAt: Current video published date.
 *
 * More video listing:
 * - content.items: This variable returns youtube data.
 *
 */
#}

{# Overwriting template to avoid SiteImprove flagging it's content.
  On production site we don't link to pages using this template.
#}
<main style="width: 1056px;margin:80px auto;">
  <a id="main-content" tabindex="-1"></a>
  <h1>
    <span class="field--label-hidden">Oops! We’re lost.</span>
  </h1>
  <p>Looks like we can’t find the page you were looking for.</p>
  <a href="/news" class="link--cta">Visit the News Center</a>
</main>
