// This component is part of Magazine homepage content type and Magazine Issue taxonomy term page.
.magazine-hub-inside__inside-more {
  // External link
  a[href*="//"],
  .full-width-page-wrapper & a[href*="//"] {
    background-size: 20px;
    background-image: url("/themes/custom/ucsf/images/external-link-hover.svg");
    padding-right: 35px;

    .magazine-topic-issue-page &:hover {
      padding-right: 35px;
      background-image: url("/themes/custom/ucsf/images/ext-link-0F388A.svg") !important;
    }
  }
}
