@use "../0_tools" as *;
.magazine__subscribe-movable {
  background-color: $c-background-gray;
  padding: $space-five;
  margin: $space-five 0;


  @media ($above-s) {
    padding: $space-five $space-ten;
  }

  @media ($above-xl) {
    padding: $space-six 10%;
    margin: 0;
    max-height: 450px;
  }

  @media (min-width: 1200px) {
    padding: $space-ten 22%;
    margin: 0;
    max-height: 545px;
  }

  h2 {
    color: $c-dark-navy;

    @media ($above-xl) {
      margin-bottom: $space-five;
    }
  }
}
