@use "../0_tools" as *;
// Magazine specific overwrites to the scrolly.
$parallax-options: (
  navy: $a1-navy,
  blue-dark: $c-blue-dark,
  teal-dark: $c1-teal,
  green-cool: $d1-green,
  green-warm: $c-green-warm,
  purple-dark: $f1-purple,
  violet-dark: $g1-violet,
  magenta-dark:$h1-magenta,
  gray-darkest: $c-gray-darkest
);

.page_narrow--scrolly {
  padding-left: 0;
  padding-right: 0;
}

.scrolly-gallery {
  &__text {
    @media ($above-xl) {
      background-color: transparent;
    }

    a:not([class *="button"]) {
      color: $c-white;
      font-weight: $fw-medium-link;
      border-bottom-color: $c-white;
      &:hover {
        color: $c-white;
        border-bottom: 2px solid;
        border-bottom-color: $c-white;
      }
    }

    .button {
      color: $c-white;
      border-color: $c-white;
      background-color: transparent;
      // padding: 18px 27px;
      font-size: 18px;
      letter-spacing: .2px;

    }
  }

  @each $name, $color in $parallax-options {
    .background-#{"" + $name} {
      --color-rgb: #{hex-to-rgb($color)};
      @media ($below-xl) {
        background-color: $color;
      }
    }

    .background-#{"" + $name}  + .scrolly-gallery__text-inner a:not([class *="button"]):hover {
        background-color: darken($color, 5%);
        border-bottom-color: darken($color, 5%);

        @media ($above-xl) {
          background-color: #{$color};
          border-bottom-color: #{$color};
        }
      }

    .background-#{"" + $name} + .scrolly-gallery__text-inner .button:hover {
      background-color: darken($color, 5%);
      border-color: $c-white;
      @media ($above-xl) {
        background-color: #{$color};
        border-color: #{$color};
      }
    }
  }

  // Default color is used
  .background- {
    @media ($below-xl) {
      background-color: $a1-navy;
    }

    & + .scrolly-gallery__text-inner a:not([class *="button"]):hover {
      background-color: darken($a1-navy, 5%);

      @media ($above-xl) {
        background-color: $a1-navy;
        border-bottom-color: $a1-navy;
      }
    }

    & + .scrolly-gallery__text-inner .button:hover {
      background-color: darken($a1-navy, 5%);
      border-color: $a1-navy;

      @media ($above-xl) {
        background-color: $a1-navy;
        border-color: $a1-navy;
      }
    }

    & + .scrolly-gallery__text-inner .button-reverse {
      border-color: $white;
      border-bottom-color: $white;
      background-color: transparent;
      color: $white;
    }

    & + .scrolly-gallery__text-inner .button-reverse:hover {
      border-color: $c-blue-link;
      border-bottom-color: $c-blue-link;
      background-color: $c-blue-link;

      @media ($above-xl) {
        border-color: $c-blue-link;
        border-bottom-color: $c-blue-link;
        background-color: $c-blue-link;
      }
    }
  }



  &__text-inner {
    @media ($below-xl) {
      padding-left: 20px;
      padding-right: 20px;
      color: $c-white;
    }
  }
}
