@use "../0_tools" as *;
.form--subscribe-mag {
  input {
    min-height: 64px;
    width: 100%;
    margin-bottom: $space-two;
    border: 1px solid $c-near-white;
  }

  button {
    width: 100%;
  }
}

.subscribe-form {
  clear: both;
  padding-bottom: $space-five;

  // @media ($above-m) {
  //   grid-column: 4;
  // }

  & &__title {
    @media ($above-m) {
      font-family: $font-helvetica-neue-light;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: -0.8px;
      text-transform: none;
      margin-top: -0.4rem;
    }

    @media ($above-xl) {
      font-size: 36px;
      margin-top: -0.54rem;
    }

    span {
      display: none;

      @media ($above-m) {
        display: inline;
      }
    }
  }
}


.email-subscribe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @media ($above-m) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  & &__input {
    background-color: $c-white;
    color: $c-dark-navy;
    height: 3rem;
    padding: 9px 17px;
    border: none;

    @media ($above-m) {
      height: 3.75rem;

    }
  }

  &__submit {
    border: none;
    border-radius: 0;
    background-color: $c-blue-link;
    justify-content: center;
    color: $c-white;
    height: 3rem;
    min-height: 3rem;
    font-size: 16px;

    @media ($above-m) {
      min-height: 3.75rem;
      padding-right: 1.5em;
    }

    &:hover {
      background-color: $c-blue-link-hover;
    }
  }
}
