@use "../0_tools" as *;


  .subscribe__submit {
    @include button;
    color: $c-dark-navy;
    border-color: $c-dark-navy;
    border-bottom-color: $c-dark-navy;
    width: 100%;
    margin-bottom: 20px;

    &:is(a:link, a:visited),
    .field-ankle-cta  & {
      color: $c-dark-navy;
      border-color: $c-dark-navy;

      &:hover {
        color: $c-white;
        border-color: $c-cta-element;
        background-color: $c-cta-element;
      }
    }
  }

.subscribe-form {
  clear: both;
  padding-bottom: $space-five;

  // @media ($above-m) {
  //   grid-column: 4;
  // }

  & &__title {
    @media ($above-m) {
      font-family: $font-helvetica-neue-light;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: -0.8px;
      text-transform: none;
      margin-top: -0.4rem;
    }

    @media ($above-xl) {
      font-size: 36px;
      margin-top: -0.54rem;
    }

    span {
      display: none;

      @media ($above-m) {
        display: inline;
      }
    }
  }
}


.email-subscribe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @media ($above-m) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  & &__input {
    background-color: $c-white;
    color: $c-dark-navy;
    height: 3rem;
    padding: 9px 17px;
    border: none;

    @media ($above-m) {
      height: 3.75rem;

    }
  }

  &__submit {
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-blue-link;
    color: $c-white;
    height: 3rem;
    min-height: 3rem;
    font-size: 16px;
    width: 100%;
    font-family: $font-helvetica-neue-medium;
    line-height: 1.4;
    text-decoration: none;

    @media ($above-xs) {
      min-height: 3.75rem;
      width: 50%;
    }

    @media ($above-m) {
      min-height: 3.75rem;
      width: 65%;
    }

    .footer &:hover {
      background-color: $c-blue-link-hover;
      text-decoration: none;
    }
  }
}
