@use "variables" as *;
@mixin external-link-icon {
  &[href*="http"]::after {
    content: '';
    width: 14px;
    top: 0.15em;
    position: absolute;
    height: 14px;
    padding-right: 11px;
    background-color: transparent;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("/themes/custom/ucsf/assets/images/external-link.svg");
    background-size: 14px;
    background-origin: padding-box;
    background-clip: border-box;
  }

  &[href*="http"]:hover::after {
    background-image: url("/themes/custom/ucsf/assets/images/external-link-hover.svg");
    filter: none;
  }
}
