@use "../../../ucsf/scss/0_tools/variables" as *;
// Colors
// -------------------------
$c-gulf-blue: #344160 !default; // used on menu links;
$magazine-gray-blue: #384559 !default;
// Filter colors
// -------------------------
// Use filters in order to not load extra svg just for hover color.
// https://codepen.io/sosuke/pen/Pjoqqp
$filter-c-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(291deg) brightness(108%) contrast(101%);
$filter-c-dark-navy: brightness(0) saturate(100%) invert(5%) sepia(58%) saturate(2369%) hue-rotate(212deg) brightness(90%) contrast(92%); //#121a31;
$filter-c-blue-link: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(1577%) hue-rotate(179deg) brightness(99%) contrast(101%); //#0071ad;
// $filter-c-blue-link: invert(25%) sepia(91%) saturate(2048%) hue-rotate(201deg) brightness(97%) contrast(104%); //#006BE9;
$filter-c-gulf-blue: brightness(0) saturate(100%) invert(38%) sepia(39%) saturate(379%) hue-rotate(177deg) brightness(90%) contrast(89%);

// // Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindex-component-bg:     800 !default;
$zindex-component-mg:     810 !default;
$zindex-component-fg:     820 !default;
$zindex-navbar:           830 !default;
$zindex-dropdown:         840 !default;
$zindex-popover:          850 !default;
$zindex-tooltip:          860 !default;
$zindex-navbar-fixed:     870 !default;
$zindex-modal-bg:         1000 !default;
$zindex-modal:            1050 !default;

// Page width
$bp-mag-s: 650px;
$mag-page-narrow: 828px;

/* Media Query Breakpoints ---------------------------------------------------*\
  // Examples: Media Query min-max vars.
  // @media ($above-xs) {}
  // @media ($above-xs) and ($below-l) {}
  // @media ($below-l) {}
\*----------------------------------------------------------------------------*/
$below-mag-s: "max-width: #{$bp-mag-s - 1}";
$above-mag-s: "min-width: #{$bp-mag-s}";


// Component width / height
// -------------------------
$mag-navbar-height: 50px;
$mag-navbar-height-medium: 72px;
$mag-navbar-height-big: 112px;
$mag-search-form-height: 162px;
$mag-search-form-height-tablet: 142px;

// DELETE WHEN NEW COLOR PALLET IS IMPLEMENTED
:root {
  --black: #000;
  --c-navy: #052049;
  --c-blue: #007cbe;
  --c-blue-dark: #064260;
  --c-gray-blue: #506380;
  --c-green-cool: #00483A;
  --c-green-warm: #006400;
  --c-print-green: #90bd31;
  --c-teal: #058488;
  --c-teal-dark: #0E5258;
  --c-purple: #716fb2;
  --c-yellow: #fd0;
  --c-magenta-dark: #561038;
  --c-gray-darkest: #21272A;
}

$a1-navy: #052049;
$c-dark-navy: #121a31;
$c-teal: #058488;
$c-green: #568001;
$c-blue: #007cbe;
$c-blue-link: #0071ad;
$b3-blue: #178CCB;
$c-blue-link-rollover: #e8f4fa;
$c-orange: #f26d04;
$c-purple: #716fb2;
$n3-red: #eb093c;
$c-yellow: #fd0;
$c-unpublished: #fdecf0;

$c-black: #000;
$c-white: #fff;
$c-near-white: #efefef;
$c-gray-darkest: #21272A;
$c-gray: #9ba6b6;
$c-gray-blue: #506380;
$c-background-gray: #f2f4f6;
$c-border-grey-blue: #d5d9de;

$bk-color-teal: #e8f6f7;
$bk-color-blue: #e8f4fa;
$bk-color-white: $c-white;
$c-print-teal: #18a3ac;
$c-print-green: #90bd31;
$c-print-orange: #f48024;
$c-print-red: #ec1848;

// additional colors for parallax background
$c-blue-dark: #064260;
$c1-teal: #0E5258;
$c-green-cool: #00483A;
$c-green-warm: #006400;
$f1-purple: #2E2872;
$g1-violet: #461850;
$h1-magenta: #561038;

//brand colors
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$reddit-color: #ff4500;

// @todo Get all these values.
$areas: (
  ("about", $c-purple, $c-purple),
  ("about-menu", $a1-navy, $a1-navy),
  ("campus-news", $a1-navy, $a1-navy),
  ("education", $c-green, $c-print-green),
  ("location", $c-green, $c-print-green),
  ("news-center", $c-purple, $c-purple),
  ("news--media", $c-purple, $c-purple),
  ("patient-care", $c-blue, $b3-blue),
  ("research", $c-teal, $c-print-teal),
  ("ucsf-magazine", $c-purple, $c-purple),
);

$color-map: (
  blue: $c-blue,
  blue-light: $b3-blue,
  gray: $c-gray-blue,
  light-green-cool: $d3-green,
  green: $c-print-green,
  teal: $c-teal,
  navy: $a1-navy,
  purple: $c-purple,
  yellow: $c-yellow,
  black: $c-black,
  violet: $g3-violet,
  magenta:$h3-magenta,
  cool-gray: $c-gray,
  // these colors are used in parallax (aka scrollyteller).
  blue-dark: $c-blue-dark,
  teal-dark: $c1-teal,
  green-cool: $c-green-cool,
  green-warm: $c-green-warm,
  purple-dark: $f1-purple,
  violet-dark: $g1-violet,
  magenta-dark: $h1-magenta,
  gray-darkest: $c-gray-darkest,
);
