@use "../0_tools" as *;
// When it is just a link inside the article/page body
.narrow-page {
  a {
    font-family: $font-ivar;
  }

  // When it is a link inside the heading of article/page body
  @for $heading-level from 1 through 4 {
  h#{$heading-level} a {
    font-family: $font-helvetica-neue-light;
    }
  }

  // @todo, ask if h5 should be helvetica medium
  h5 a {
    font-family: $font-helvetica-neue-medium;
  }
}

.view-more a,
.tags-menu__item a {
  font-family: $font-helvetica-neue-medium;
}

.eyebrow-title,
.eyebrow-title a {
  font-family: $font-helvetica-neue-bold !important;
}

.small-text a,
.article-header__author a {
  font-family: $font-helvetica-neue-regular;
}

.quote-style {
  @include fs-heading-blockquote;
  a {
    @include fs-heading-blockquote;
  }
}
