{% extends '@ucsf/navigation/menu.html.twig' %}

{% block give %}
  {# truying to get rid of the nav bar jerkiness #}
  {#<button class="universal-header__give">Give to UCSF</button>#}
{% endblock give %}
