.path-search {
  main > h2 {
    display: none;
  }

  .form-type-search::after {
    content: none;
  }

  .search-results__count {
    font-size: 28px;
    line-height: 35px;
    padding-top: 42px; // @todo Change this after filter is moved to title area.
  }

  .search-result__title {
    margin-bottom: 11px;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  .item-list li {
    margin: 0 0 30px 0;
  }

  strong {
    font-weight: $fw-medium;
  }
}
