.webform-submission-contact-form  {
  @include clearfix;
  @include padding-container-mobile-desktop;
  padding-bottom: 70px;
  padding-top: 32px;

  [data-drupal-selector="edit-container-form"] {
    @include breakpoint($narrow-screen) {
      float: left;
      padding-right: 40px;
      width: calc(100% - 260px);
    }
  }

  #edit-processed-text {
    @include breakpoint($narrow-screen) {
      width: 259px;
    }
  }

  .form-item {
    @include breakpoint($tiny-screen) {
      float: left;
      width: 50%;
    }

    select,
    input {
      width: 100%;
    }

    &:nth-child(2n) {
      @include breakpoint($tiny-screen) {

        padding-right: 20px;

      }
    }

    &:nth-child(2n+1) {
      @include breakpoint($tiny-screen) {
        padding-left: 20px;
      }
    }
  }

  #edit-processed-text-01{
    padding-left: 0;
    width: 100%;
  }

  .form-wrapper .form-item-message  {
    margin-bottom: 30px;
    padding-right: 0;
    width: 100%;
  }
}
