.block-views-exposed-filter-blocknews-filter-page-1 {
  background: $c-grey-pale;

  .search_top {
    position: relative;
    background: yellow;
  }

  .search_dropdown {
    background: green;
    display: none;
  }

  label[for=edit-combine] {
    @include visually-hidden;
  }

  .advanced {
    @include background-image('filter.svg', left);
    background-size: 16px 16px;
  }

  .form-item-combine {
    margin: 0;
  }

  input {
    height: 52px;
    margin: 40px 16px 16px;
    font-size: $font-size;
    font-family: $font-helvetica-neue-light;
    color: $gray-blue;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $near-white;

    &::placeholder {
      color: $gray-blue;
    }
  }

  [data-drupal-selector="edit-submit-news-filter"] {
    @include background-image('magnifier.svg', center);
    appearance: none;
    box-shadow: none;
    width: 24px;
    height: 24px;
    margin: 0;
    border: none;
    background-size: 24px 24px;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    right: 62px;
    top: 35px;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
    }
  }
}
