{% embed "@templates/_news-center.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}


  {% block page_content %}
  <main role="main" class="main news-center">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <h1>UCSF News Center</h1>

    <div class="news-center-banner">
      <div class="news-center-banner__featured">
        <article class="news-card">
          <picture class="news-card__image">
            <img class="img" src="../../images/news-center/featured-article.jpg">
          </picture>

          <div class="news-card__copy">
            <ul class="news-card__byline">
              <li class="news-card__Patient">Patient Care</li>
              <li class="news-card__date">Aug. 13, 2018</li>
            </ul>

            <h2><a href="">UCSF Medical Center Is Best Hospital in California for 2018-19</a></h2>

            <p class="news-card__content">UCSF Medical Center has been recognized again as the top hospital in California and among the finest hospitals nationwide in U.S. News & World Report’s 2018-2019 Best Hospitals survey.</p>

            <p class="news-card__more"><a href="" class="link link--cta">Continue reading</a></p>
          </div>
        </article>
      </div>

      <div class="news-center-banner_list">
        <ul class="card-four-up">
          <li>
            <article class="news-card">
              <a href="" class="news-card__link">
                <picture class="news-card__image">
                  <img class="img" src="https://placeimg.com/800/450/nature">
                </picture>

                <header class="news-card__copy">
                  <ul class="news-card__byline">
                    <li class="news-card__Research">Research</li>
                    <li class="news-card__date">Sept. 18, 2018</li>
                  </ul>

                  <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
                </header>
              </a>
            </article>
          </li>
          <li>
            <article class="news-card">
              <a href="" class="news-card__link">
                <picture class="news-card__image">
                  <img class="img" src="https://placeimg.com/800/450/nature">
                </picture>

                <header class="news-card__copy">
                  <ul class="news-card__byline">
                    <li class="news-card__Research">Research</li>
                    <li class="news-card__date">Sept. 18, 2018</li>
                  </ul>

                  <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
                </header>
              </a>
            </article>
          </li>
          <li>
            <article class="news-card">
              <a href="" class="news-card__link">
                <picture class="news-card__image">
                  <img class="img" src="https://placeimg.com/800/450/nature">
                </picture>

                <header class="news-card__copy">
                  <ul class="news-card__byline">
                    <li class="news-card__Research">Research</li>
                    <li class="news-card__date">Sept. 18, 2018</li>
                  </ul>

                  <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
                </header>
              </a>
            </article>
          </li>
          <li>
            <article class="news-card">
              <a href="" class="news-card__link">
                <picture class="news-card__image">
                  <img class="img" src="https://placeimg.com/800/450/nature">
                </picture>

                <header class="news-card__copy">
                  <ul class="news-card__byline">
                    <li class="news-card__Research">Research</li>
                    <li class="news-card__date">Sept. 18, 2018</li>
                  </ul>

                  <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
                </header>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-search news-search">
      <h2 class="home-search__title">Search the UCSF News Center</h2>

      <form class="home-search__form">
        <input type="text" name="search" id="search-q" class="home-search__form-input" placeholder="Search articles, press releases, topics, and media coverage" onclick="this.value='';" tabindex="2">
        <input type="submit" id="edit-submit" name="op" value="Search" class="home-search__form-submit">
      </form>

      <ul class="home-search__presearch-links">
        <li class="home-search__presearch-link"><a href="">Trending</a></li>
        <li class="home-search__presearch-link"><a href="">Press Releases</a></li>
        <li class="home-search__presearch-link"><a href="">Campus News</a></li>
        <li class="home-search__advanced-search"><a href="">Advanced</a></li>
      </ul>
    </div>

    <div class="media-coverage">
      <div class="media-coverage__list">
        <h2 class="media-coverage__list-title">UCSF in the News</h2>
        <p class="media-coverage__list-more"><a href="" class="link link--cta">View more</a></p>

        <ul class="media-coverage__list-articles">
          <li>
            <article>
              <h3><a href="">How to Track Your Heart Rate With Wearables</a></h3>
              <p class="media-coverage__list-byline">Wired  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
          <li>
            <article>
              <h3><a href="">Hoping to save limbs and toes, California moves to curtail diabetes</a></h3>
              <p class="media-coverage__list-byline">The Mercury News  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
          <li>
            <article>
              <h3><a href="">How wildfires can threaten your health</a></h3> <p class="media-coverage__list-byline">PBS News Hour  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
          <li>
            <article>
              <h3><a href="">How California Became The Only State to Lower Its Infant Mortality Rate</a></h3> <p class="media-coverage__list-byline">Huffington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
          <li>
            <article>
              <h3><a href="">Beyoncé, Serena Williams open up about potentially fatal childbirths, a problem especially for black mothers</a></h3> <p class="media-coverage__list-byline">The Washington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
          <li>
            <article>
              <h3><a href="">Environmental toxins are seen as posing risks during pregnancy</a></h3> <p class="media-coverage__list-byline">The Washington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span/></p>
            </article>
          </li>
        </ul>
      </div>

      <div class="media-coverage__featured">
        <article class="news-card">
          <picture class="news-card__image">
            <img class="img" src="../../images/news-center/featured-media-article.jpg">
          </picture>

          <div class="news-card__copy">
            <ul class="news-card__byline">
              <li class="news-card__media">Wired</li>
              <li class="news-card__date">Aug. 13, 2018</li>
            </ul>

            <h2><a href="">Why DNA is the most exciting programming language today</a></h2>

            <p class="news-card__content">Napster cofounder Sean Parker and biologist Alex Marson on the coming power of Crispr.</p>

            <p class="news-card__more"><a href="" class="link link--cta">Continue reading</a></p>
          </div>
        </article>
      </div>
    </div>

    <div class="topics-list">
      <div class="topics-list__header">
        <h2 class="topics-list__title">Dive Deeper</h2>
        <p class="topics-list__description">Stay involved in the topics and challenges we’re facing today.</p>
        <p class="topics-list__view-all"><a href="" class="link link--cta">Visit the News Center</a></p>
      </div>

      <div class="topics-list__topics-wrapper">
        <div class="topics-list__topics-wrapper-space-left"> </div>
        <div class="topics-list__topics-wrapper-space-bottom"> </div>

        <ul class="topics-list__topics">
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Alzheimer’s and Dementia</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Marijuana</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Autism and Sensory Processing Disorder</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Innovations in Health</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="news-list">
      <h2 class="news-list__title">The Latest</h2>

      <ul class="card-three-up">
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
              </header>
            </a>
          </article>
        </li>
      </ul>

      <p class="view-more"><a href="" class="button--alt">View More</a></p>
    </div>

    <div class="video-list">
      <div class="video-list__header">
        <h2 class="video-list__title">Video</h2>
        <p class="video-list__youtube"><a href="" class="link link--cta"><span class="fab fa-youtube"></span> Subscribe</a></p>
      </div>

      <div class="video-list__videos">
        <p>We will be pulling these from the YouTube API</p>
      </div>
    </div>

    <div class="twitter-wrapper">
      <div class="twitter-wrapper__space"> </div>

      <div class="twitter">
        <h2 class="twitter__title">On Twitter</h2>
        <p class="twitter__follow"><a href="" class="link link--cta"><span class="fab fa-twitter"> </span> Follow</a></p>
        <ol class="twitter__tweets">
          <li>This will be pulled from Twitter API</li>
          <li>This will be pulled from Twitter API</li>
          <li>This will be pulled from Twitter API</li>
        </ol>
      </div>
    </div>
  </main>

  {% endblock %}



{% endembed %}
