@use "../0_tools" as *;
// @todo These are really layout/template styles.

.page-node-type-author,
.page-node-type-article,
.page-node-type-magazine-article,
.page-node-type-narrow-page,
.page-node-type-news-center,
.page-node-type-news-package,
.page-node-type-trending,
.page-node-type-magazine-basic-page,
.path-webform { // PL: .main-article
  background: $i6-gray;

  .main-content {
    background: $c-white;

    &.narrow-page {
      background: transparent;
      position: relative;
    }
  }

  h2 {
    @include fs-articles-title;
  }

  .eyebrow-title {
    @include eyebrow;
  }

  .small-title {
    @include fs-small-title;
  }

  @media ($above-xl) {
    .main-content {
      @include grid;

      &.narrow-page {
        @include grid-fifteen;
      }

      grid-template-rows: auto auto;
    }
  }
}

.page-node-type-magazine-basic-page {
  h2 {
    @include fs-heading-two;
  }
}

.page-node-type-narrow-page,
.path-webform,
.page-node-type-magazine-basic-page {
  .narrow-page {
    margin-bottom: $space-ten;
  }
}

.page-node-type-full-width-page,
.path-taxonomy { // PL: .main-article
  background: $i6-gray;

  .main-content {
    background: $c-white;
  }

  h2{
    @include fs-articles-title;
    margin-bottom: 16px;

    &.small-title {
      @include fs-small-title;
    }

    &.eyebrow-title {
      @include eyebrow;
    }

    /* &.layout__heading {
      @include fs-heading-two-md;
    } */
  }
}

.path-taxonomy { // PL: .main-article
  h2{
    &.layout__heading {
      @include fs-articles-title;
      margin-bottom: $space-two;
    }
  }
}

.page-node-type-homepage { // PL: .main-article
  background: $i6-gray;
}

.bk-color-white,
.bk-color-white .page_narrow blockquote,
.bk-color-white .blockquote .blockquote-content,
.bk-color-white .ucsfcallout,
.bk-color-white .recommended-articles__title,
.bk-color-white .paragraph-text-block blockquote {
  background: $bk-color-white;
}

.bk-color-white .ucsfcallout,
.bk-color-white .recommended-articles__title,
.bk-color-white .paragraph-text-block blockquote {
  @media ($below-s) {
    border-top: 1px solid $k3-gray;
    border-bottom: 1px solid $k3-gray;
    margin-right: 0;
    margin-left: 0;
    float: none;
    width: auto;
  }
}

.bk-color-light-teal,
.bk-color-light-teal .page_narrow blockquote,
.bk-color-light-teal .blockquote .blockquote-content,
.bk-color-light-teal .ucsfcallout,
.bk-color-light-teal .recommended-articles__title,
.bk-color-light-teal .paragraph-text-block blockquote {
  background: $bk-color-teal;
}

.bk-color-light-blue,
.bk-color-light-blue .page_narrow blockquote,
.bk-color-light-blue .blockquote .blockquote-content,
.bk-color-light-blue .ucsfcallout,
.bk-color-light-blue .recommended-articles__title,
.bk-color-light-blue .paragraph-text-block blockquote {
  background: $bk-color-blue;
}

// Video
.video.article-full-width {
  margin: 0;
  background-color: $c-white;

  @media ($above-xl) {
    grid-column: 2 / -2;
  }

  @media ($above-xxl) {
    grid-column: 3 / -3;
  }
}

.article-full-width__space {
  content: ' ';
  display: block;
  background: $c-white;
  height: 0;

  @media ($above-s) {
    height: $space-five;
  }

  @media ($above-xl) {
    grid-column: 2 / -2;
  }

  @media ($above-xxl) {
    grid-column: 3 / -3;
  }
}

// A class that makes text look like h3, so that editors stop
// using actual h3 out of order.
.font-h3,
h2.font-h3 {
  @include fs-articles-title-hthree();
}

.page-node-type-narrow-page .promo-list__card .eyebrow-title {
  color: $white;

  &::after {
    background: $white;
  }
}
