.header-region {
  background: $white;
  padding-top: $space-three;
}

.header {
  @include grid-two;

  max-width: $xl;
  margin-bottom: 0;
}

.logo {
  width: $space-eleven;
  height: 41px;
  margin-bottom: $space-three;
  grid-column: 1 / span 2;
}
