/// Link
@mixin link {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
    text-decoration: none;
  }
}

.link {
  @include link;
}

.link--cta {
  @include link;

  display: inline-block;
  background: url('/pattern-lab/public/images/cta-arrow.svg') right center no-repeat transparent;
  background-size: 14px 10px;
  padding-right: $space-three;
  text-decoration: none;
  font-family: $font-helvetica-neue-medium;
}
