.paragraph-columns {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  clear: both;
}
.paragraph-column-2, .paragraph-column-3, .paragraph-column-4 {
  float: left;
  width: 48%;
  padding: 1%;
}
.paragraph-column-3 {
  width: 31%;
}
.paragraph-column-4 {
  width: 23%;
}
.paragraph-column-2:first-child, .paragraph-column-3:first-child, .paragraph-column-4:first-child {
  padding-left: 0;
}
.paragraph-column-2:last-child, .paragraph-column-3:last-child, .paragraph-column-4:last-child {
  padding-right: 0;
}
.clearfix {
  clear:both;
}
.field--name-field-column-75, .field--name-field-column-50, .field--name-field-column-25, .field--name-field-column-25-2  {
  float: left;
  width: 73%;
  padding: 1%;
}
.field--name-field-column-50 {
  width: 48%;
}
.field--name-field-column-25, .field--name-field-column-25-2 {
  width: 23%;
}
.paragraphs-subform .field--name-field-column-75, .paragraphs-subform .field--name-field-column-50, .paragraphs-subform .field--name-field-column-25, .paragraphs-subform .field--name-field-column-25-2 {
  float: none;
  width: auto;
}
