{% embed "@templates/_trending.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    {% include "@organisms/title/basic-page-title.twig" with {
      heading: 'Trending Stories',
    } %}

    {% include "@molecules/menus/share/share.twig" %}

    <div class="page_narrow">
    {% include "@organisms/card-grid/news-trending-card-grid.twig" %}

    <p>Looking for other news? <a href="#" class="link link--cta">Visit the UCSF News Center</a></p>
    </div>

  {% endblock %}


{% endembed %}
