@mixin grid-item($columns: '') {
  flex-grow: 1;
  margin-bottom: 1em;
  width: 100%;

  @include large {
    margin: 0 3% 3% 0;
    width: auto;
  }

  &:last-child {
    margin-right: 0;
  }

  @if $columns == 2 {
    @include large {
      width: 48.2%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @if $columns == 3 {
    @include large {
      width: 31%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.grid__item {
  // Pattern Lab Specific
  .grid--pl & {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 100px;
  }
}

@include medium {
  .grid-four {
    .grid__item-one {
      grid-column: 1 / span 3;
    }

    .grid__item-two {
      grid-column: 4 / span 3;
    }

    .grid__item-three {
      grid-column: 7 / span 3;
    }

    .grid__item-four {
      grid-column: 10 / span 3;
    }
  }

  .grid-two {
    .grid__item-one {
      grid-column: 1 / span 6;
    }

    .grid__item-two {
      grid-column: 7 / span 6;
    }
  }
}
