@mixin grid {
  //display: flex;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5%;
  grid-row-gap: 40px;
  justify-content: stretch;

  @include medium {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid {
  @include grid;
}
