ul#universalSearchTabs {
  overflow: auto;
  clear: both;
  list-style-type: none;
}
ul#universalSearchTabs li {
  float: left;
  padding: 10px;
  font-weight: bold;
}
ul#universalSearchTabs li.active {
  border-bottom: 3px solid #006BE9;
}
ul#universalSearchTabs li a {
  padding: 5px 10px
}
#cse .gsc-result .gs-title {
  height: auto;
}
.search-box-container #search {
  height: 100px;
  margin: 0;
  padding-right: 80px;
  padding-left: 32px;
  font-size: 24px;
  font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: #506380;
  -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #efefef;
}
.gsc-tabsArea {
  display: none;
}
