ul#universalSearchTabs {
  overflow: auto;
  clear: both;
  list-style-type: none;
}
ul#universalSearchTabs li {
  float: left;
  padding: 10px;
  font-weight: bold;
}
ul#universalSearchTabs li.active {
  border-bottom: 3px solid #007cbe;
}
ul#universalSearchTabs li a {
  padding: 5px 10px
}
#cse .gsc-result .gs-title {
  height: auto;
}