ul#universalSearchTabs {
  overflow: auto;
  clear: both;
  list-style-type: none;
}
ul#universalSearchTabs li {
  float: left;
  border: 1px solid #f5f5f5;
}
ul#universalSearchTabs li a {
  padding: 5px 10px
}