{% embed "@templates/_author.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    {% include "@organisms/title/basic-page-title.twig" with {
      heading: 'Nicholas Weiler',
      subheading: 'Senior Public Information Representative',
    } %}

    {% block card_img %}
      {% if card_img_src %}
        {% include "@atoms/04-images/00-image/responsive-image.twig" with {
          "img_url": card_img_url|default(card_link_url),
          "img_src": card_img_src,
          "img_alt": card_img_alt,
          "image_link_blockname": card_base_class,
          "image_blockname": card_base_class,
          "output_image_tag": card_image_output_image_tag,
          "responsive_image_base_class": 'author-card__image',
        } %}
      {% endif %}
    {% endblock %}
    <div {{ bem(card_copy_base_class|default('author-card__copy'), (card_copy_modifiers), card_copy_blockname) }}>
      {% if card_body %}
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": card_body,
          "paragraph_blockname": card_body_base_class|default(card_base_class),
          "paragraph_modifiers": card_body_modifiers,
          "paragraph_base_class": card_body_base_class|default('body'),
        } %}
      {% endif %}
      {% if card_body_two %}
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": card_body,
          "paragraph_blockname": card_body_base_class|default(card_base_class),
          "paragraph_modifiers": card_body_modifiers,
          "paragraph_base_class": card_body_base_class|default('body'),
        } %}
      {% endif %}
      {% if card_email %}
        {% include "@atoms/01-links/link/cta-link.twig" with {
          "link_content": card_email,
          "link_blockname": card_link_blockname|default(card_base_class),
          "link_base_class": card_link_base_class|default('link link--cta'),
        } %}
      {% endif %}
      {% if card_twitter %}
        {% include "@atoms/01-links/link/cta-link.twig" with {
          "link_content": card_twitter,
          "link_blockname": card_link_blockname|default(card_base_class),
          "link_base_class": card_link_base_class|default('link link--cta'),
        } %}
      {% endif %}
    </div><!-- copy -->

  {% endblock %}


{% endembed %}
