{% embed "@templates/_author.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <header class="basic-header author-page__header">
      <h1>Nicholas Weiler</h1>

      <p class="basic-header__subheading">Senior Public Information Representative</p>
    </header>

    <div class="author-card">
      <div class="author-card__copy">
        <p>
            Nicholas Weiler joined the news team in 2015 and covers a wide array of basic and translational research at UCSF. His beats include cancer research, neuroscience, stem cells and regenerative medicine, genetics, pharmacology, diabetes and metabolic disorders, aging, immunology, and cell biology.
        </p>

        <p>
            Nicholas Weiler joined the news team in 2015 and covers a wide array of basic and translational research at UCSF. His beats include cancer research, neuroscience, stem cells and regenerative medicine, genetics, pharmacology, diabetes and metabolic disorders, aging, immunology, and cell biology.
        </p>

        <ul class="author-card__links">
          <li><a class="link link--cta" href="">Email Nick Weiler</a></li>
          <li><a class="link link--cta" href="">Follow on Twitter</a></li>
        </ul>
      </div>
    </div>

    <ul class="card-three-up">
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/1000/600/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
            </header>
          </a>
        </article>
      </li>
    </ul>

    <p class="view-more"><a href="" class="button--alt">View More</a></p>

  {% endblock %}


{% endembed %}
