
body.page-node-type-map {
  height: 100%;
}

#map-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 400px;
  z-index: 1000;
}

#locations-list {
  width: 400px;
  background-color: #121212;
  padding: 48px;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1005;
}

#locations-list h2 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

#locations-list h3 {
  color: white;
  font-size: 16px;
  border-top: rgba(255,255,255,0.1) solid 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  cursor: pointer;
  font-weight: normal;
}

#locations-list ul {
  padding-left: 16px;
  margin: 0px
}

#locations-list li {
  color: #CECECE;
  font-size: 13px;
  border-top: rgba(255,255,255,0.1) solid 2px;
  padding-bottom: 6px;
  padding-top: 6px;
  cursor: pointer;
  list-style: none;
  transition: padding 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

#locations-list li:hover {
  padding-left: 16px;
  background-color: rgba(255,255,255,0.1);
  color: white;
}

input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  right: 50px;
  position: absolute;
  padding: 8px;
  color: white;
  font-weight: normal;
  width: 37px;
  height: 40px;
}

input[type=checkbox] + label:before { content: "\f096"; }
input[type=checkbox] + label:before { letter-spacing: 10px; }

input[type=checkbox]:checked + label:before { content: "\f046"; }
input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

input[type=checkbox] + label:before {
  pointer-events: none;
}

#map {
  height: 100%;
  width: 100%;
}

#map h2 {
  color: #262626;
}

#map a.website, #map a.directions {
  font-size: 12px;
  font-weight: normal;
  color: #007CBE;
}

#map a.website:hover, #map a.directions:hover {
  text-decoration: underline;
}



#map .map-images {
  overflow: hidden;
  margin-top: 10px;
}

#map .map-image {
  width: 32%;
  float: left;
}
#map .map-image:nth-child(2),
#map .map-image:nth-child(3) {
  margin-left: 2%;
}


#map .map-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


#map .body p {
  line-height: 23px;
  font-size: 16px;
  letter-spacing: .02em;
  font-weight: normal;
  margin-bottom: 10px;
}

#map .address {
  font-weight: bold;
}

@media screen and (min-width: 770px) {
  .gm-style .gm-style-iw,
  .gm-style .gm-style-iw > div:first-child {
    width: 333px !important;
    max-width: 333px !important;
  }
}


@media screen and (max-width: 769px) {
  #map-wrapper {
    right: 0;
    bottom: 40%;
  }

  #locations-list {
    height: 40%;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 0;
    padding: 20px;
  }
  #map .body {
    display: none;
  }
  #map .body p {
    font-size: 14px;
  }
  #map h3 {
    font-size: 17px;
  }
  #map .address {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 769px) {

}

