body.page-node-type-map {
  height: 100%;
}

#map-wrapper {
  height: 70vh;
}

#locations-list {
  background-color: #f2f4f6;
  padding: 48px;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1005;
}

#locations-list h1 {
  font-family: "HelveticaNeueLTStd-L", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  letter-spacing: -0.64px;
  margin-top: 0;
  margin-bottom: 2rem;
}

#locations-list h2,
#locations-list h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.78;
  letter-spacing: 0.2px;
  padding: 1rem 0;
  margin: 0px;
  cursor: pointer;
}

#locations-list ul {
  margin: 0;
  padding: 0;
}

#locations-list li:first-of-type {
  border-top: #dce0e6 solid 1px;
}

#locations-list li {
  border-bottom: #dce0e6 solid 1px;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  list-style: none;
  background-image: url("/themes/custom/ucsf/assets/images/cta-arrow-navy.svg");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-color: transparent;
  background-size: 18px 10px;
  padding-right: 28px;
  transition:
    0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color,
    0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
}

#locations-list li:hover {
  border-bottom-color: #052049;
  background-position: 100% center;
}

.locations-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.loading input[type="checkbox"] {
  display: none;
}
.loading input[type="checkbox"] + label:before {
  font-family: "Font Awesome 5 Free";
  color: #052049;
  font-weight: normal;
  /* padding-right should match with  #locations-list li background position */
  padding-right: 4%;
  pointer-events: none;
}

.loading input[type="checkbox"] + label:before {
  content: "\f0c8";
}
.loading input[type="checkbox"]:checked + label:before {
  content: "\f14a";
}

#map {
  height: 100%;
  width: 100%;
}

/* INFOBOX */

/* Outer wrapper for infobox*/
.gm-style-iw.gm-style-iw-c {
  width: 266px !important;
  border-radius: 8%;
  padding: 21px 21px 0 21px !important;
}

/* Inner wrapper for infobox*/
.gm-style-iw-d {
  overflow: auto !important;
}

/* pop up location information box */
.infobox__item {
  margin-bottom: 1.25rem;
}

.infobox__image {
  height: 124px;
  overflow: hidden;
}

.infobox__image img {
  width: 100%;
}

.infobox__title {
  font-family: "GranjonLT", "Garamond", "Times New Roman", serif;
  color: #052049;
}

.infobox__address {
  font-size: 18px;
}

.infobox__link {
  display: flex;
  justify-content: space-between;
}

.infobox__link a {
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #007cbe;
  background-image: url("/themes/custom/ucsf/assets/images/cta-arrow.svg");
  background-repeat: no-repeat;
  background-position: 96% 60%;
  background-color: transparent;
  background-size: 14px 10px;
  padding-right: 28px;
  transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
}

.infobox__link a:hover,
.infobox__link a:focus {
  background-position: 100% 60%;
}

/* Infobox close button */
#map .gm-ui-hover-effect {
  position: absolute !important;
  top: 21px !important;
  right: 21px !important;
  background-color: #007cbe !important;
  opacity: 1;
}

/* icon for the Infobox close button*/
#map .gm-ui-hover-effect img {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 auto !important;
  filter: invert(0.8) !important;
}

/* #map h2 {
  color: #262626;
}

#map .infobox__website, #map a.directions {
  font-size: 12px;
  font-weight: normal;
  color: #007CBE;
}

#map .infobox__website:hover, #map a.directions:hover {
  text-decoration: underline;
}



#map .map-images {
  overflow: hidden;
  margin-top: 10px;
}

#map .map-image {
  width: 32%;
  float: left;
}
#map .map-image:nth-child(2),
#map .map-image:nth-child(3) {
  margin-left: 2%;
}


#map .map-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


#map .body p {
  line-height: 23px;
  font-size: 16px;
  letter-spacing: .02em;
  font-weight: normal;
  margin-bottom: 10px;
}

#map .address {
  font-weight: bold;
} */

@media screen and (min-width: 769px) {
  .map-grid-container {
    display: grid;
    grid-template-columns: auto 400px;
  }

  #map-wrapper {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px; */
    /* z-index: 1000; */
  }

  #locations-list {
    /* position: absolute;
    width: 400px;
    background-color: #f2f4f6;
    padding: 48px;
    height: 100%;
    overflow-y: scroll;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1005; */
  }

}
