#map-wrapper {
  height: 70vh;
}

#locations-list {
  background-color: #f2f4f6;
  padding: 48px;
  height: 100%;
  overflow-y: scroll;
}

#locations-list h1 {
  font-family: "HelveticaNeueLTStd-L", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  letter-spacing: -0.64px;
  margin-top: 0;
  margin-bottom: 2rem;
}

#locations-list h2,
#locations-list h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.78;
  letter-spacing: 0.2px;
  padding: 1rem 0;
  margin: 0px;
  cursor: pointer;
}

#locations-list ul {
  margin: 0;
  padding: 0;
}

#locations-list li:first-of-type {
  border-top: #dce0e6 solid 1px;
}

#locations-list li {
  border-bottom: #dce0e6 solid 1px;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  list-style: none;
  background-image: url("/themes/custom/ucsf/assets/images/cta-arrow-navy.svg");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-color: transparent;
  background-size: 18px 10px;
  padding-right: 28px;
  transition:
    0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color,
    0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
}

#locations-list li:hover {
  border-bottom-color: #052049;
  background-position: 100% center;
}

.locations-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.loading input[type="checkbox"] {
  display: none;
}
.loading input[type="checkbox"] + label:before {
  font-family: "Font Awesome 5 Free";
  color: #052049;
  font-weight: normal;
  /* padding-right should match with  #locations-list li background position */
  padding-right: 4%;
  pointer-events: none;
}

.loading input[type="checkbox"] + label:before {
  content: "\f0c8";
}
.loading input[type="checkbox"]:checked + label:before {
  content: "\f14a";
}

#map {
  height: 100%;
  width: 100%;
}

/* INFOBOX */

/* Outer wrapper for infobox*/
.gm-style-iw.gm-style-iw-c {
  width: 266px !important;
  border-radius: 8%;
  padding: 21px 21px 0 21px !important;
}

/* Inner wrapper for infobox*/
.gm-style-iw-d {
  overflow: auto !important;
}

/* pop up location information box */
.infobox__item {
  margin-bottom: 1.25rem;
}

.infobox__image {
display: none;
}

.infobox__title {
  font-family: "GranjonLT", "Garamond", "Times New Roman", serif;
  color: #052049;
}

.infobox__address {
  font-size: 18px;
}

.infobox__link {
  display: flex;
  flex-direction: column;
}

.infobox__link a {
  vertical-align: middle;
  display: inline-block;
  width: min-content;
  font-size: 18px;
  font-weight: 500;
  color: #007cbe;
  background-image: url("/themes/custom/ucsf/assets/images/cta-arrow.svg");
  background-repeat: no-repeat;
  background-position: 96% 60%;
  background-color: transparent;
  background-size: 14px 10px;
  padding-right: 28px;
  transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
}

.infobox__link a:hover,
.infobox__link a:focus {
  background-position: 100% 60%;
}

/* Infobox close button */
#map .gm-ui-hover-effect {
  position: absolute !important;
  top: 21px !important;
  right: 21px !important;
  background-color: #007cbe !important;
  opacity: 1;
}

/* icon for the Infobox close button*/
#map .gm-ui-hover-effect img {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 auto !important;
  filter: invert(0.8) !important;
}

@media screen and (min-width: 769px) {
  .map-grid-container {
    position:absolute;
    /* top should be offset by the height of the menu */
    top: 130px;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 100%;
  }

  #map-wrapper {
    height: 100%;
  }

  .infobox__image {
    display: block;
    height: 124px;
    overflow: hidden;
  }

  .infobox__image img {
    width: 100%;
  }

  .infobox__link {
    flex-direction: row;
    justify-content: space-between;
  }
}
