{% embed "@templates/_cgr.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <div class="layout-columns__three">
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
      <div class="layout-column">
        <div class="content-card">
          <a href="" class="content-card__link">
            <picture class="content-card__image">
              <img class="img" src="https://placeimg.com/750/500/nature">
            </picture>

            <header class="content-card__copy">
              <h2 class="small-title">Community Relations</h2>
              <p class="content-card__content">Community Relations informs the community about UCSF campus plans and activities, gathers community feedback about upcoming projects, and relays any concerns or suggestions to our campus decision makers.</p>

              <p class="content-card__card-more"><span class="link--cta">Learn more</span></p>
            </header>
          </a>
        </div>
      </div>
    </div>

    <div class="lastest-events-list bg-gray">
      <div class="lastest-events-list__header">
        <h2 class="lastest-events-list__heading">Events</h2>

        <p class="lastest-events-list__view-all"><a href="" class="link link--cta">View all events</a></p>
      </div>

      <ul class="lastest-events-list__cards card-three-up">
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="js-tabs vertical-tab layout-left-30-70">
        <ul class="js-tablist vertical-tab__title tabs__list layout-30" data-hx="h2" role="tablist">
            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_first" class="js-tablist__link tabs__link" role="tab" aria-controls="id_first" tabindex="0" aria-selected="true">Neighborhoods</a>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_second" class="js-tablist__link tabs__link" role="tab" aria-controls="id_second" tabindex="-1" aria-selected="false">Community Organization Resources</a>
            </li>

            <li class="js-tablist__item tabs__item" role="presentation">
                <a id="label_id_third" class="js-tablist__link tabs__link" role="tab" aria-controls="id_third" tabindex="-1" aria-selected="false">Team Members</a>
            </li>
        </ul>
        <div id="id_first" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-labelledby="label_id_first">
        <div class="layout-left-40-60">
          <div class="layout-40">
            {% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/600/400/nature',
              img_alt: 'Place image',
            } %}
          </div>

          <div class="layout-60">
            <h2 class="small-title">Mission Bay and Dogpatch</h2>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <p><a href="" class="link--cta">Learn more</a></p>
          </div>
        </div>

        <div class="layout-left-40-60">
          <div class="layout-40">
            {% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/600/400/nature',
              img_alt: 'Place image',
            } %}
          </div>

          <div class="layout-60">
            <h2 class="small-title">Parnassus Heights</h2>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <p><a href="" class="link--cta">Learn more</a></p>
          </div>
        </div>

        <div class="layout-left-40-60">
          <div class="layout-40">
            {% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/600/400/nature',
              img_alt: 'Place image',
            } %}
          </div>

          <div class="layout-60">
            <h2 class="small-title">Oakland</h2>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <p><a href="" class="link--cta">Learn more</a></p>
          </div>
        </div>

        <div class="layout-left-40-60">
          <div class="layout-40">
            {% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/600/400/nature',
              img_alt: 'Place image',
            } %}
          </div>

          <div class="layout-60">
            <h2 class="small-title">ZSFG</h2>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <p><a href="" class="link--cta">Learn more</a></p>
          </div>
        </div>

        <div class="layout-left-40-60">
          <div class="layout-40">
            {% include "@atoms/04-images/00-image/figure.twig" with {
              img_src: 'https://placeimg.com/600/400/nature',
              img_alt: 'Place image',
            } %}
          </div>

          <div class="layout-60">
            <h2 class="small-title">Mount Zion</h2>

            <p>Lorem ipsum dolor sit amet, odio vocent ea has. Alii fabellas sapientem ei nec. Cu tibique senserit sea, ex inimicus appellantur ius, quo at possim liberavisse.</p>

            <p><a href="" class="link--cta">Learn more</a></p>
          </div>
        </div>
        </div>

        <div id="id_second" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_second"><h2>This is the second tab</h2>
          <p>This is the body of the second tab</p>
        </div>

        <div id="id_third" class="js-tabcontent vertical-tab__content tabs__content layout-70" role="tabpanel" aria-hidden="true" aria-labelledby="label_id_third"><h2>This is the third tab</h2>
          <p>And this is the body of the third tab.</p>
        </div>
    </div>

  {% endblock %}


{% endembed %}
