// @todo These are really layout/template styles.

.page-node-type-author,
.page-node-type-article,
.page-node-type-narrow-page,
.page-node-type-news-package,
.page-node-type-trending { // PL: .main-article
  background: $c-background-gray;

  .main-content {
    @include grid;

    background: $white;

    &.narrow-page {
      @include grid-fifteen;

      background: transparent;
    }

    grid-template-rows: auto auto;
  }

  h2 {
    @include fs-articles-title;
  }

  .eyebrow-title {
    @include eyebrow;
  }

  .small-title {
    @include fs-small-title;
  }
}

.page-node-type-full-width-page { // PL: .main-article
  background: $c-background-gray;

  .main-content {
    background: $white;
  }

  h2 {
    @include fs-articles-title;
    margin-bottom: 16px;

    &.small-title {
      @include fs-small-title;
    }

    &.layout__heading {
      @include fs-heading-two-md;
    }
  }
}

.page-node-type-homepage { // PL: .main-article
  background: $c-background-gray;
}
