.page-node-type-author,
.page-node-type-article { // .main-article in pattern lab
  background: $c-background-gray;

  .main-content {
    @include grid;

    background: $white;

    &.narrow-page {
      @include grid-fifteen;

      background: transparent;
    }

    grid-template-rows: auto auto;
  }
}
