.node--type-expertise--teaser {
  border-right: 2px solid $c-white;
  margin-bottom: 10px;
  position: relative;

  h2 {
    @include fs-project-teaser-title;
    color: $c-white;
    bottom: 0;
    margin-bottom: 0;
    padding: 0 17px 14px;
    position: absolute;
    z-index: z(galaxy);
  }

  .field--name-field-media-image::after {
    @include background-image-overlay;
  }

  a:hover .field--name-field-media-image::after {
    @include background-image-overlay-hover;
  }

  img {
    width: 100%;
  }
}
