// node type insight.
.node--type-insight {

  .node__meta {
    @include fs-tag;

    @include breakpoint($narrow-screen) {
      margin-bottom: 21px;
    }

    div {
      display: inline-block;
    }
  }

  .node__title {
    @include fs-h1;
  }

  // Fields.
  .field--name-field-media {
    padding-bottom: 10px;

    @include breakpoint($narrow-screen) {
      padding-bottom: 28px;
    }

    img {
      width: 100%;
      height: auto;

      @include breakpoint($narrow-screen) {
        width: auto;
      }
    }
  }

  .field--name-field-expertise-node {
    margin-bottom: 30px;
    // todo: probably create a mixin for this repeating pattern.
    .field__label {
      margin-bottom: 10px;

      @include fs-sub-category;
    }

    .field__items {
      line-height: 21px;

      a {
        @include fs-text-link-orange;
      }
    }
  }
}

// Full only
.node--type-insight--full {
  .libsyn {
    padding-bottom: 28px;
  }
}

// Teaser and Teaser Alt.
.node--type-insight--teaser,
.node--type-insight--teaser-alt {

  .field--name-field-media {
    padding-bottom: 10px;

    @include breakpoint($narrow-screen) {
      padding-bottom: 13px;
    }
  }

  .fs-tag {
    margin-bottom: 6px;
  }

  h4 {
    margin-bottom: 12px;
  }
}

.node--type-insight--teaser-alt {
  .field--name-body {
    display: none;

    .trimmed {
      margin-bottom: 32px;
    }

    .more-link {
      @include fs-cta;
      display: inline-block;
    }
  }
}

// Only hide body on some insights.
// @todo Create another view attachment for this.
.view-ohm-insights .column {
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    .field--name-body {
      display: block;
    }
  }
}

// First result on View Page.
.node--type-insight--featured {
  margin-bottom: 43px;
  position: relative;

  .field--name-field-media {
    padding-bottom: 0;
  }

  .field--name-field-media-image::after {
    @include background-image-overlay;
  }

  .text {
    bottom: 0;
    color: $c-white;
    padding: 23px;
    position: absolute;
    z-index: z(galaxy);
  }

  .fs-tag {
    color: $c-orange;
  }

  h4 {
    margin-bottom: 12px;

    a {
      @include link-colors($c-white, $c-orange);
    }
  }

  .trimmed {
    display: inline;
  }

  .more-link {
    @include fs-cta-white;
    display: inline;
    padding-left: 20px;
  }
}

.download-transcript {
  margin-top: 20px;
  margin-bottom: 20px;
  @include breakpoint($narrow-screen) {
    margin-top: 110px;
    margin-bottom: 20px;
  }
  a {
    @include fs-cta;
    display: table;
    border: 1px solid $c-grey-input-border;
    position: relative;
    padding: 17px 50px 17px 21px;
    &::after {
      display: none;
    }
    span {
      position: absolute;
      background: url("../images/download-arrow.svg") no-repeat;
      display: block;
      width: 23px;
      height: 23px;
      top: 13px;
      right: 18px;
    }
  }
}
