body.page-node-type-magazine-article {
  background: $c-white;
}
body.page-node-type-magazine-article #block-ucsf-content {
  @include fs-body-magazine;

  //updating font
  .article-header .field-sub-title,
  .field-blockquote-source-org {
    font-family: $font-helvetica-neue-light;
  }

  strong {
    font-family: $font-ivar;
    font-weight: $fw-bold;
  }

  em {
    font-family: $font-ivar-italic;
    font-style: normal;
  }

  //updating colors
  p.feature-text,
  .article-art-credit,
  .field-image-caption,
  figcaption,
  .topics-list__description,
  .field-featured-media-article .news-card__date,
  .media-coverage__list-date,
  .article-header__date,
  .field-featured-media-article .news-card__date::before,
  .media-coverage__list-date::before,
  .article-header__date::before,
  .tags-menu-region .tags-menu .tags-menu__item::before,
  figure.half-image-left figcaption,
  figure.half-image-right figcaption,
  .article-header__author,
  .article-header__author a,
  .basic-header__subheading,
  .article-header .field-sub-title,
  [data-primary-area^="pa-"] + .news-card__date::before,
  [data-primary-area^="pa-"] + .article-header__date::before,
  .article-affiliation,
  .article-affiliation::before,
  .article-header__byline .article-header__date,
  .news-card__byline .article-header__date,
  .article-header__byline.media,
  .news-card__byline.media {
    color: $magazine-gray-blue;
  }

  .twocolleftdark,
  .twocolrightdark {
    background: $c-black;

    .article-twocol-header {
      background: $c-black;
      width:100%;

      h1,
      .field-sub-title,
      .article-header__author {
        color: $c-white;

        a {
          color: $c-white;
          border-bottom: 1px solid $c-white;

          &:hover {
            background: transparent;
            border-bottom: none;
          }
        }
      }

      .article-header__byline {
        .article-header__primary-area,
        .article-header__date {
          color: $c-white;

          &::before {
            background: $c-white;
          }
        }
      }

      .article-affiliation {
        color: $c-white;

        &::before {
          background: $c-white;
        }
      }
    }
  }

  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .field-sub-title,
  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .article-header__author,
  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .article-topic-area,
  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .article-affiliation,
  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .article-issue,
  .article-feature-overlay-banner.featureoverlaydark .article-feature-overlay-header .article-art-credit {
    @include breakpoint($new-large) {
      color: $c-white;
    }
  }

  .twocolleftdark .article-twocol-header .article-art-credit,
  .twocolrightdark .article-twocol-header .article-art-credit {
    @include breakpoint($new-large-max) {
      color: $c-white;
    }
  }

  //fixing width | postioning

  .article-no-banner {
    background: none;

    @include breakpoint($magazine-small) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    @include breakpoint($new-large) {
      background: $white;
      grid-column: 2 / -2;
    }

    @include breakpoint($new-xl) {
      grid-column: 5 / -5;
    }
  }

  .page_narrow,
  .paragraph-text-block {
    @include breakpoint($magazine-small) {
      max-width: 600px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 1px;
    }

    @include breakpoint($new-large) {
      background: $white;
      grid-column: 2 / -2;
    }

    @include breakpoint($new-xl) {
      grid-column: 5 / -5;
    }

    &.gallery-background-fill {
      display: none;
    }
  }

  .paragraph--type--gallery {
    margin-top: 40px;
  }

  .field-column-content-content {
    .paragraph-text-block {
      margin: 0;
      max-width: none;
    }
  }

  figure,
  .embedded-entity {
    @include breakpoint($new-xl) {
      &.half-image-right {
        margin-right: -35%;

        figcaption {
          padding-right: 44%;
        }
      }

      &.half-image-left {
        margin-left: -35%;

        figcaption {
          padding-left: 44%;
        }
      }

      &.half-image-right-full {
        margin-right: -60%;

        figcaption {
          padding-right: 53%;
        }
      }

      &.half-image-left-full {
        margin-left: -60%;

        figcaption {
          padding-left: 53%;
        }
      }
    }
  }

  .ucsfcallout {
    font-family: $font-helvetica-neue-light;

    @include breakpoint($new-medium) {
      &.callout-left {
        margin-left: -20%;
      }

      &.callout-right {
        margin-right: -20%;
      }
    }

    @include breakpoint($new-large) {
      width: 60%;
      padding: 64px;

      &.callout-left {
        margin-left: -30%;
      }

      &.callout-right {
        margin-right: -30%;
      }
    }

    @include breakpoint($new-xl) {
      width: 75%;
      padding: 64px;

      &.callout-left {
        margin-left: -50%;
      }

      &.callout-right {
        margin-right: -50%;
      }
    }
  }

  .blockquote {
    background: $c-white;

    @include breakpoint($new-xl) {
      width: 75%;

      &.blockquote--half-right {
        margin-right: -50%;
      }

      &.blockquote--half-left {
        margin-left: -50%;
      }

      &.blockquote--full-right {
        width: 100%;
      }
    }
  }

  .blockquote.blockquote-full-width {
    width: 100%;

    .blockquote-content {
      background: $c-white;
    }

    .field-blockquote-image {
      @include breakpoint($new-small-max) {
        margin-top: -15%;
      }
    }
  }

  .article-header__mag-topic-area {
    color: $c-dark-navy;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-family: $font-helvetica-neue-bold;
    font-weight: $fw-medium;

    &::before {
      display: none;
    }
  }

  .article-affiliation {
    // force whole line of text to shift down if screen size is too small
    overflow: hidden;
    white-space: nowrap;
  }
}
