.node--type-project--teaser,
.node--type-project--spotlight {
  border-right: 2px solid $c-white;
  margin-bottom: 10px;
  position: relative;

  .project--teaser--title {
    @include fs-project-teaser-title;
    bottom: 0;
    color: $c-white;
    padding: 0 17px 14px;
    position: absolute;
    z-index: z(galaxy);
  }

  .field--name-field-media-image::after {
    @include background-image-overlay;
  }

  a:hover .field--name-field-media-image::after {
    @include background-image-overlay-hover;
  }

  img {
    width: 100%;
  }
}

.node--type-project--full.node--view-mode-full {

  .field--name-field-client,
  .field--name-field-location,
  .field--name-field-size,
  .field--name-field-certs,
  .field--name-field-expertise,
  .field--name-field-expertise-node {
    .field__item {
      a,
      p,
      span {
        font-family: $ff-sans;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        color: $c-textgrey;
        font-weight: $fw-medium;
      }
    }
  }

  .field--name-field-expertise,
  .field--name-field-expertise-node {
    .field__item {
      a {
        font-weight: $fw-medium;
        @include link-colors($c-textgrey, $c-orange);
      }
    }
  }

  .field--name-field-website {
    a {
      @include fs-cta;
    }
  }

  .social-icons {
    padding-top: 20px;
    @include breakpoint($narrow-screen) {
      padding-top: 68px;
    }
  }

}
