.recommended-articles {
  grid-column: 1/-1;
  margin-top: $space-ten;

  &.has-recommended-article {
    background: $white;
  }
}

.recommended-articles__banner {
  margin: 0 auto;
  max-width: $full-width-elements;

  @include breakpoint($new-medium) {
    padding: 0 20px;
  }

  .has-recommended-article & {
    position: relative;
    padding: 0;

    @include breakpoint($new-medium) {
      @include grid-sixteen;
      padding: 0;
      grid-template-rows: auto;
      background: $white;
      max-width: $full;
      // margin-bottom: -3rem;
    }

  }
}

.recommended-articles__title {
  @include breakpoint($bp-until-large) {
    margin-bottom: 0;
    padding: 0 20px;
    background-color: transparent;

    .has-recommended-article & {
      padding-top: 24px;
      padding-bottom: 24px;

    }
  }

  @include breakpoint($new-medium) {
    grid-column: 2/7;
    grid-row: 1;
    margin: $space-five 0;
    z-index: 2;
  }
}

.recommended-article__image {
  background-color: transparent;
  padding-right: 0;
  position: relative;
  z-index: 1;

  @include breakpoint($new-medium) {
    grid-column: 1/10;
    grid-row: 3/-1;
    background: transparent;
  }
}

.recommended-article__copy {
  background: $white;
  padding: $space-three $space-three 0 $space-three;
  margin-top: -64px;
  position: relative;
  z-index: 2;

  @include breakpoint($new-medium) {
    grid-column: 10/-2;
    grid-row: 3/-1;
    background: $white;
    padding: 0 $space-eight;
    margin: 0;
  }

  @include breakpoint($new-large) {
    // padding: 0 $space-eight $space-eight;
  }

  h2 {
    @include fs-heading-sm;
    line-height: 1.2;

    a {
      text-decoration: none;
      color: $navy;
    }

    @include breakpoint($new-large) {
      font-size: fs-heading-two;
      font-size: 46px;
    }

    @include breakpoint($new-xl) {
      font-size: 56px;
    }
  }

}
