.virtual-tour {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   overflow-y: hidden;

//   @include breakpoint($new-medium) {
//     height: calc(100vh - 64px); /* offset by the height of the header nav */
//   }

//   .user-logged-in & {
//     height: calc(100vh - 248px);
//   }


  // &__embed {
  //   position: relative;
  //   overflow: auto;
  //   padding-top: calc(100% / (9/16));
  //   height: 0;

  //   @include breakpoint($new-medium) {
  //     padding-top: calc(100% / (16/9));
  //   }
  // }


  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.page-node-type-virtual-tour {
  .emergency-alert {
    display: none;
  }

  .footer-region {
    display: none;
  }

  .combined-header-region {
    display: none;

    // @include breakpoint($new-medium) {
    //   display: block;
    // }
  }
}