.page-node-type-map {
  /* SMALL - MEDIUM SCREEN */
  .universal-header-region {
    display: none;
  }

  .header-region {
    top: 0;
  }

  #map-wrapper {
    height: 70vh;
    z-index: 100;
  }

  #locations-list {
    background-color: #f2f4f6;
    padding: 16px 16px 40px 16px;
    height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }

  #locations-list h1 {
    font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    letter-spacing: normal;
    margin: 1rem 0 1.5rem;
  }

  #locations-list h2,
  #locations-list h3 {
    text-transform: uppercase;
    font-family: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-size: 12px;
    padding: 1rem 0;
    margin: 0px;
    cursor: pointer;
  }

  #locations-list ul {
    margin: 0;
    padding: 0;
  }

  #locations-list li:first-of-type {
    border-top: #dce0e6 solid 1px;
  }

  #locations-list li {
    font-size: 14px;
    border-bottom: #dce0e6 solid 1px;
    margin: 0;
    padding: .5rem 0;
    list-style: none;
    transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color;
  }

  #locations-list li:hover {
    border-bottom-color: #052049;
  }

  .locations-label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .loading input[type="checkbox"] {
    display: none;
  }
  .loading input[type="checkbox"] + label:before {
    font-family: "Font Awesome 5 Free";
    color: #052049;
    font-weight: normal;
    border-radius: 10%;
    /* padding-right should match with  #locations-list li background position */
    padding-right: 4%;
    pointer-events: none;
  }

  .loading input[type="checkbox"] + label:before {
    content: "\f0c8";
  }
  .loading input[type="checkbox"]:checked + label:before {
    content: "\f14a";
  }

  #map {
    height: 100%;
    width: 100%;
  }

  /* INFOBOX */

  /* Outer wrapper for infobox*/
  .gm-style-iw.gm-style-iw-c {
    width: 266px !important;
    border-radius: 8%;
    padding: 21px 21px 0 21px !important;
  }

  /* Inner wrapper for infobox*/
  .gm-style-iw-d {
    overflow: auto !important;
  }

  /* pop up location information box */
  .infobox {
    font-family: "HelveticaNeueLTW04-55Roman", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.33;
  }

  .infobox__item {
    margin-bottom: 1rem;
  }

  .infobox__image {
    display: none;
  }

  .infobox__title {
    color: #052049;
    font-family: "GranjonLTW01-Roman", "Garamond", "Times New Roman", serif;
    font-size: 28px;
    padding-right: 1.8rem;
  }

  .infobox__link {
    display: flex;
    flex-direction: column;
  }

  .infobox__link a {
    vertical-align: middle;
    display: inline-block;
    width: min-content;
    font-family: "HelveticaNeueLTW04-65Medium", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    color: #007cbe;
    background-image: url("/themes/custom/ucsf/assets/images/cta-arrow.svg");
    background-repeat: no-repeat;
    background-position: 96% 60%;
    background-color: transparent;
    background-size: 14px 10px;
    padding-right: 28px;
    transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
  }

  .infobox__link a:hover,
  .infobox__link a:focus {
    background-position: 100% 60%;
  }

  /* Infobox close button */
  #map .gm-ui-hover-effect {
    position: absolute !important;
    width: 26px !important;
    height: 26px !important;
    top: 21px !important;
    right: 21px !important;
    background-color: #007cbe !important;
    opacity: 1;
  }

  /* icon for the Infobox close button*/
  #map .gm-ui-hover-effect img {
    margin: 0 auto !important;
    filter: brightness(0) invert(1) !important;
    transform: scale(2) !important;
  }

  /* BIG SCREEN */
  @media screen and (min-width: 769px) {
    .map-grid-container {
      position: absolute;
      /* top should be offset by the height of the header nav */
      top: 64px;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      grid-template-columns: auto 400px;
      grid-template-rows: 100%;
    }

    @media screen and (max-width: 849px) and (min-width: 769px) {
      .map-grid-container {
        /* top should be offset by the height of the header nav */
        top: 50px;
      }
    }

    /* Locations List Start */
    #locations-list {
      padding: 44px 48px;
    }

    #locations-list h1 {
      font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      letter-spacing: normal;
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 1.8rem;
    }

    #locations-list h2,
    #locations-list h3 {
      font-family: "HelveticaNeueLTW04-45Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      text-transform: none;
      font-size: 18px;
      letter-spacing: 0.2px;
    }

    #locations-list li:first-of-type {
      border-top: #dce0e6 solid 1px;
    }

    #locations-list li {
      font-size: 18px;
      padding: 1rem 0;
      cursor: pointer;
      background-image: url("/themes/custom/ucsf/assets/images/cta-arrow-navy.svg");
      background-repeat: no-repeat;
      background-position: 96% center;
      background-color: transparent;
      background-size: 18px 10px;
      border-bottom: #dce0e6 solid 1px;
      padding-right: 28px;
      transition:
        0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color,
        0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
    }

    #locations-list li:hover {
      border-bottom-color: #052049;
      background-position: 100% center;
    }
    /* Locations List End */

    #map-wrapper {
      height: 100%;
    }

    /* Infobox Start */
    .infobox__image {
      display: block;
      height: 124px;
      overflow: hidden;
    }

    .infobox__image img {
      width: 100%;
    }
    .infobox__title {
      font-size: 28px;
    }

    .infobox__image + .infobox__title {
      padding-right: 0;
    }

    .infobox__link {
      flex-direction: row;
      justify-content: space-between;
    }
  }

}
