.page_narrow,
.page-node-type-narrow-page .paragraph-text-block, //PL: .page_narrow
.page-node-type-article .paragraph-text-block,
.page-node-type-magazine-article .paragraph-text-block { //PL: .page_narrow
  padding-left: $article-gutter;
  padding-right: $article-gutter;
  padding-bottom: 1px;
  position: relative;
  clear: both;

  > :first-child {
    padding-top: $space-four;
    margin-top: 0;
  }

  @include breakpoint($new-small) {
    padding-left: 11%;
    padding-right: 11%;
  }

  @include breakpoint($new-large) {
    background: $white;
    grid-column: 2 / -2;
  }

  @include breakpoint($new-xl) {
    grid-column: 3 / -3;
  }

  &.paragraph-responsive-areas {
    width: 100%; //needed to display correctly

    > :first-child {
      padding-top: 0;
    }

    .field-desktop-area {
      display: none;

      @include breakpoint($new-small) {
        display: block;
      }

      > :first-child {
        margin-top: 0;
      }
    }

    .field-mobile-area {
      display: none;

      @include breakpoint($new-small-max) {
        display: block;
      }

      > :first-child {
        margin-top: 0;
      }
    }

    &.paragraph-responsive-areas-fullwidth {
      max-width: 100%;

      @include breakpoint($new-large) {
          grid-column: 1 / -1;
          max-width: 100%;
          padding: $space-ten;
      }
    }
  }
}

.page_narrow--scrolly > :first-child {
  padding-top: 0;
}



.article-meta-share ~ .page_narrow:empty {
  height: min-content;
}

[class*="layout-columns"] {
  $share: ".article-meta-share";

  #{$share} ~ .page_narrow:empty + & {
    grid-row: 2;
  }

  #{$share} + & {
    grid-row: 1;
  }

  .article-header + #{$share} + & {
    grid-row: 2;
  }
}

.page-node-type-article,
.page-node-type-magazine-article,
.page-node-type-narrow-page,
.page-node-type-trending {
  .main {
    margin-bottom: 0;
    background: $white;

    @include breakpoint($new-large) {
      background: transparent;
    }
  }
}

.article-feature-content > .page_narrow {
  padding-top: 0;

  @include breakpoint($new-large) {
    padding-top: $space-six;
  }
}

.article-feature-content > .page_narrow ~ .page_narrow {
  padding-top: 0;
}

.article-header {
  margin-top: $space-decuple;
  padding: $space-decuple 11%;
  padding-bottom: 0;
  background: url('../images/gray-sq.svg') right top no-repeat $c-white;
  background-size: 80px;

  @include breakpoint ($new-small-max) {
    background-size: 32px;
    padding: 20px;
    padding-bottom: 0;
  }

  &.article-medium-header {
    margin-top: -25%;
    margin-right: $space-ten;
    background: $c-white;

    @include breakpoint ($new-small-max) {
      margin-top: -$space-four;
      margin-right: $space-four;
      padding: 20px;
      padding-bottom: 0;
    }

    @include breakpoint($new-large) {
      // margin-top: -35%;
      margin-right: 0;
    }
  }

  h1 {
    @include fs-article-medium-h1;
  }

  @include breakpoint($new-large) {
    grid-column: 2 / -2;
    background: $c-white;
  }

  @include breakpoint($new-xl) {
    grid-column: 3 / -3;
  }
}

.article-feature-banner {

  .article-header {
    margin-top: -25%;
    margin-right: $space-ten;
    background: $c-white;
    position: relative;

    @include breakpoint ($new-small-max) {
      margin-top: -$space-four;
      margin-right: $space-four;
      padding: 20px;
      padding-bottom: 0;
    }
  }

  @include breakpoint($new-large) {
    @include grid-fifteen;

    grid-template-rows: repeat(2, auto);
    grid-gap: 0;

    .article-header {
      background-color: rgba(255, 255, 255, 0.9);
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      padding: 5% 5% 0 8%;
      margin-top: 0;
      margin-right: 0;

      h1 {
        font-size: 82px;
      }

      .field-sub-title { // .article-header__subheading
        width: 64%;
        margin: 0;
      }

      .article-header__author {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
}

.article-feature-banner-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.article-twocol-banner {

  .article-twocol-banner-image {
    img {
      width: 100%;
    }
  }

  .article-twocol-header {
    margin-top: 0;
    background: $c-white;

    .article-header__author {
      width: 100%;
    }
  }

  @include breakpoint($new-large) {
    @include grid-two;

    background: $c-white;
    grid-gap: 0;
    position: relative;

    .article-twocol-header {
      grid-column: 1 / 2;
      grid-row: 1;
      margin-top: 0;
      padding-top: 0;
      align-self: center;

      .article-header__author {
        border-bottom: none;
        width: 100%;

        .article-art-credit {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.9);
          font-style: italic;
          margin: 0;
          padding: 0px 20px;
        }
      }
    }

    .article-twocol-banner-image {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    &.twocolleftdark,
    &.twocolrightdark {
      background: $c-black;

      .article-twocol-header {
        background: $c-black;

        h1,
        .field-sub-title,
        .article-header__author {
          color: $c-white;

          a {
            @include link-rollover($c-white, rgba(255, 255, 255, 0.3));
          }
        }

        .article-header__byline {
          .article-header__primary-area,
          .article-header__date {
            color: $c-white;

            &::before {
              background: $c-white;
            }
          }
        }

        .article-affiliation {
          color: $c-white;

          &::before {
            background: $c-white;
          }
        }
      }
    }

    &.twocolrightdark,
    &.twocolrightlight {
      .article-twocol-header {
        grid-column: 2 / 3;

          .article-header__author {

            .article-art-credit {
              left: 0;
              right: auto;
            }
          }
        }

      .article-twocol-banner-image {
        grid-column: 1 / 2;
      }
    }
  }

}

.article-feature-overlay-banner {

  .article-feature-overlay-header {
    margin-top: 0;
    background: $c-white;
  }

  @include breakpoint($new-large) {
    @include grid-base;

    grid-gap: 0;
    text-align: center;
    position: relative;

    .article-header__author {
      border-bottom: none;
      width: 100%;

      .article-art-credit {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.55);
        font-style: italic;
        margin: 0;
        padding: 0px 20px;
      }
    }

    .article-feature-overlay-image {
      position: relative;
      grid-column: 1/-1;
      grid-row: 1/-1;

      .article-feature-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.55);
      }
    }

    .article-feature-overlay-header {
      grid-column: 1/-1;
      grid-row: 1/-1;
      z-index: 2;
      background: transparent;
      margin-top: 0;
      padding: 0;
      max-width: 50%;
      align-self: center;
      justify-self: center;
    }

    &.featureoverlaydark {
      .article-feature-overlay-header {
        h1,
        .field-sub-title,
        .article-header__author {
          color: $c-white;

          a {
            @include link-rollover($c-white, rgba(0, 0, 0, 0.45));
          }

          .article-art-credit {
            background-color: rgba(0, 0, 0, 0.55);
            color: $c-white;
          }
        }

        .article-header__byline {
          .article-header__primary-area,
          .article-header__date {
            color: $c-white;

            &::before {
              background: $c-white;
            }
          }
        }

        .article-affiliation {
          color: $c-white;

          &::before {
            background: $c-white;
          }
        }
      }
    }

    &.featureoverlaylight {
      .article-feature-overlay-image {
        .article-feature-overlay {
          background-color: rgba(255,255,255,0.65);
        }
      }

      .article-feature-overlay-header {
        h1,
        .field-sub-title,
        .article-header__author {
          color: $c-navy;

          a {
            @include link-rollover($c-navy, rgba(255, 255, 255, 0.65));
          }
        }

        .article-header__byline {
          .article-header__primary-area,
          .article-header__date {
            color: $c-navy;

            &::before {
              background: $c-navy;
            }
          }
        }
      }
    }
  }
}

.article-header__byline,
.news-card__byline {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
  font-weight: 500;

  li,
  li * {
    display: inline-block;
    vertical-align: top;
  }

  .news-card__primary-area,
  .article-header__primary-area {
    &::before {
      content: ' ';
      display: block;
      float: left;
      height: 12px;
      width: 12px;
      margin: .64rem 10px 0 0;
    }
  }

  .article-header__date {
    color: $gray-blue;
  }

  &.media {
    color: $gray-blue;

    @include breakpoint($bp-medium) {
      white-space: nowrap;
    }

    .fa-external-link-alt {
      font-size: 12px;
      padding-right: 8px;
    }
  }
}

[data-primary-area^="pa-"] + .news-card__date::before,
[data-primary-area^="pa-"] + .article-header__date::before,
.article-affiliation::before {
  content: ' ';
  display: block;
  float: left;
  height: 3px;
  width: 3px;
  background: $gray-blue;
  margin: .95rem 10px 3px 7px;
  border-radius: 50%;
}

.article-affiliation::before {
  display: inline-block;
  float: none;
  margin: 0 10px 3px 7px;
}

[data-primary-area] {
  color: $c-navy;

  &::before {
    background: $c-navy;
  }
}

@each $area, $color, $color2 in $areas {
  [data-primary-area="pa-#{$area}"] {
    color: $color;

    &::before {
      background: $color2;
    }
  }
}

.basic-header__subheading,
.article-header .field-sub-title { // .article-header__subheading
  font-size: 20px;
  line-height: 1.6;
  color: $gray-blue;
  margin: 0;

  @include medium {
    font-size: 24px;
  }
}

.article-header__author {
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
  font-weight: 500;
  color: $gray-blue;
  width: 64%;
  margin-top: $space;
  margin-bottom: 0;
  border-bottom: 1px solid $c-gray-lighter;
  padding-bottom: 20px;

  @include breakpoint($new-large) {
    padding-bottom: $space-four;
  }

  > * {
    display: inline;
  }

  a {
    @include link-rollover($gray-blue);
  }
}

.article-art-credit {
  color: $c-gray-blue;
  display: block;
  font-size: $font-size-xxsm;
}

// Ticket https://ucsfredesign.atlassian.net/browse/UCSFD8-1085
.video {
  background-color: $white;

  .field-video-caption {
    padding-left: $article-gutter;
    padding-right: $article-gutter;

    @include breakpoint($new-small) {
      padding-left: 11%;
      padding-right: 11%;
    }
  }
}


.full-bleed-image {
  margin: $space-four 0;
  margin-left: -20px;
  margin-right: -20px;

  figcaption {
    padding-top: $space-double;
    margin-left: 20px;
    margin-right: 20px;
  }

  @include breakpoint($new-small) {
    margin: $space-ten 0;
    margin-left: -14%;
    margin-right: -14%;

    figcaption {
      padding-left: 11%;
      padding-right: 11%;
    }
  }

  @include breakpoint($new-large) {
    margin-left: -20%;
    margin-right: -20%;

    figcaption {
      padding-left: 14.5%;
      padding-right: 14.5%;
    }
  }

  @include breakpoint($new-xl) {
    margin-left: -25%;
    margin-right: -25%;

    figcaption {
      padding-left: 17%;
      padding-right: 17%;
    }
  }

  img {
    width: 100%;
  }
}

.article-medium-banner {
  position: static;
  width: 100%;

  img {
    width: 100%;
  }
}

// Field Tags.
.tags-menu-region {
  background: $white;
  padding: $space-four 20px;
  clear: both;

  @include breakpoint($new-small) {
    padding: $space-ten 11%;
    padding-top: $space-four;
  }

  @include breakpoint($new-large) {
    grid-column: 2 / -2;
  }

  @include breakpoint($new-xl) {
    grid-column: 3 / -3;
  }
}

.tags-menu-region .tags-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;

  .tags-menu__item {
    display: inline;
    font-size: $font-size-sm;
    font-family: $font-helvetica-neue-medium;

    &::before {
      content: ' ';
      display: inline-block;
      height: 3px;
      width: 3px;
      background: $gray-blue;
      margin: 0 10px 3px 7px;
      border-radius: 50%;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}

.tags-menu__title {
  @include eyebrow;
  display: inline-block;
  margin-bottom: 0;
}

// Top Image
.media--type-image {
  position: static; // Override contextual link positioning.
}



// Allow iFrames to be responsive
.video-container {
  position: relative;
  height: 0;
  margin-bottom: $space-ten;
  padding-bottom: 56.25%; // 16:9

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0; // bottom margin is removed here because it can cause issues with the parent wrapper
  }
}
