body.page-node-type-magazine-homepage,
.magazine-topic-issue-page {
  color: $c-dark-navy;

  h1 {
    @include fs-display;

    color: $c-dark-navy;
  }

  .magazine-homepage-banner {
    @include wrapper;

    background: $c-grey-pale;
    margin-bottom: $space-five;
    padding: 20px;

    @include breakpoint($new-small) {
      padding: $space-five;
      margin-bottom: $space-ten;
    }

    @include breakpoint($new-large) {
      padding: $space-ten;
    }
  }

  .magazine-home-feature {

    h2 {
      @include fs-heading-two;
      margin-bottom: $space-three;
      color: $c-dark-navy;

      a {
        color: $c-dark-navy;
      }
    }

    .card-row__copy {
      .magazine-card__byline {
        margin-bottom: $space-two;
      }
    }

    .card-row__body {
      margin-top: $space-three;

      p {
        margin: 0;
        color: $magazine-gray-blue;
      }
    }

    &.card-row {
      .card-row__body {
        margin-top: 0;
      }
    }

    @include breakpoint($new-small-max) {
      .card-row__copy {
        margin-top: 0;
        margin-right: 0;
      }

      .card-row__body {
        display: block;
      }
    }

    @include breakpoint($new-small) {
      .card-row__copy {
        padding-right: 40px;
      }
    }

    @include breakpoint($new-large) {
      grid-template-columns: repeat(12, 1fr);

      .card-row__image {
        grid-column: 1/8;
      }

      .card-row__copy {
        grid-column: 8/-1;
        padding-right: 80px;
        align-self: center;
      }
    }
  }

  .card-row {
    .card-row__image {
      &::after {
        display: none;
      }

      img {
        max-height: none;
      }
    }
  }

  .layout__heading {
    @include fs-heading;

    color: $c-dark-navy;
  }

  .layout-column {
    .card-row__image {
      img {
        margin: 0 auto;
        width: 100%;
      }
    }

    .card-row__copy {
      padding-top: $space-four;
      padding-right: 0;

      h2 {
        @include fs-heading-three;
        margin: 0;
        margin-top: $space;
        color: $c-dark-navy;
      }

      .card-row__body {
        color: $magazine-gray-blue;
      }
    }
  }


  .news-card, .magazine-home-feature, .magazine-alumni {
    .news-card__copy {
      padding: 0;
      padding-top: $space-four;
      margin-top: 0;
      margin-left: 0;

      h2, h3 {
        color: $c-dark-navy;
      }
    }

    &:hover {
      h2, h3 {
        color: $c-blue-link !important;
      }
    }
  }

  .remove-top-space {
    margin-top: 0;
  }
  .footer-ctas-wrapper {
    h2 {
      @include fs-articles-title;
      color: $c-dark-navy;
    }
  }

  .magazine-big-picture-subscribe {
    @include breakpoint($new-large) {
      @include grid-two;
      padding: 0 $space-ten;
      margin-bottom: $space-fourteen;
    }

    &__big-picture {
      h3 {
        @include fs-heading-three;
      }
    }

    &__subscribe {
      background-color: $background-gray;
      padding: $article-gutter;
      margin: $space-ten 0;


      @include breakpoint($new-small) {
        padding: $space-five $space-ten;
      }

      @include breakpoint($new-large) {
        padding: $space-six 10%;
        margin: 0;
      }

      @include breakpoint(1200px) {
        padding: $space-ten 22%;
        margin: 0;
      }

      h2 {
        @include breakpoint($new-large) {
          margin-bottom: $space-five;
        }
      }

    }

  }

  .magazine-alumni {
    .card-row__copy {
      padding-right: $article-gutter;
      padding-left: $article-gutter;
    }

    &.four-card-row {
      margin-bottom: 0;

      .card-row__body,
      .magazine-alumni__date {
        display: none;
      }
    }

    &__topic {
      margin-bottom: $space;
    }
  }

  .magazine-supporting-feature-list {
    @include breakpoint($new-large) {
      margin-bottom: $space-fourteen;
    }
  }

  .node--view-mode-magazine-issue-insight-advice {
    border-bottom: 1px solid $c-border-grey-blue;
    padding: 1.5rem $article-gutter;
    margin: 0 auto;

    @include breakpoint($new-small) {
      padding: 1rem 0;
      margin: 0 $space-ten;
    }

    @include breakpoint($bp-large) {
      width: 60%;
      padding: 1rem 0;
      margin: 0 auto;
    }

    p {
      margin: 0;

      &::before {
        display: none;
      }
    }

    .search-result__copy {
      @include breakpoint($bp-medium) {
        float: left;
        width: calc(100% - 340px);
      }
    }

    h2 {
      @include fs-heading-three;
      margin-bottom: .5rem;

      a {
        @include link-colors($c-navy, $c-blue-link);
      }
    }

    .search-result__image {
      display: none;

      @include breakpoint($bp-medium) {
        display: block;
        float: right;
        width: 263px;
      }
    }

    .field-sub-title,
    .search-result__body {
      @include fs-small-body;
      color: $c-dark-navy;
    }

  }

  .magazine-insight-advice {
    background-color: $c-grey-pale;
    padding: $space-ten 0;
    margin: $space-ten 0;

    .news-list {
      background-color: $c-grey-pale;
      padding: 0;
    }

    h2:nth-child(1) {
      color: $c-dark-navy;
      padding: 0 $article-gutter;

      @include breakpoint($new-small) {
      }

      @include breakpoint($bp-large) {
        margin: 0 auto 1rem auto;
        width: 60%;
      }
    }
  }
}

.magazine-issue-banner {
  background: $c-grey-pale;

  .magazine-issue-banner__title {
    @include fs-heading;

    margin-bottom: 0;
    color: $c-dark-navy;
  }

  figure {
    margin: $space-three 0;
  }

  .magazine-issue-banner__content {
    color: $magazine-gray-blue;

    p {
      margin-top: $space-two;
    }

    .field-issue-description {
      //removing clearfix instead of writing a whole template
      &.clearfix {
        &::after {
          display: none;
        }
      }
    }
  }

  .magazine-issue-banner__about-title {
    @include fs-articles-title-hsix;

    color: $c-dark-navy;
    margin-bottom: 0;
  }

  .magazine-issue-banner__about-desc {
    font-size: 14px;
    line-height: 24px;
    font-family: $font-helvetica-neue-roman;

    a {
      color: $magazine-gray-blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .magazine-issue-banner__download {
    margin-bottom: $space;

    a {
      display: inline-block;
      font-family: $font-helvetica-neue-medium;
      background: url(/themes/custom/ucsf/assets/images/card/media.svg) left center no-repeat transparent;
      background-size: 32px 32px;
      padding-left: 40px;
    }
  }

  @include breakpoint($new-small) {
    .field-issue-cover {
      float: right;
      width: 33%;
      margin-left: $space-eight;
    }
  }

  @include breakpoint($new-large) {
    @include grid-two;

    grid-gap: $space-twenty;

    .field-issue-cover {
      grid-column: 2/-1;
      float: none;
      width: 100%;
      margin-left: 0;
    }

    .magazine-issue-banner__content {
      grid-column: 1/2;
      grid-row: 1;
      margin-top: $space-eight;
      //align-self: center;
    }

    .magazine-issue-banner__download {
      float: right;
    }

    .magazine-issue-banner__about-desc {
      float: left;
    }
  }
}

.magazine-card__byline, .magazine-alumni__topic,
.node--view-mode-magazine-issue-insight-advice .article-header__byline {
  @include magazine-eyebrow;

  margin: $space 0;
}

.four-card-row {
  .card-row__copy {
    padding-top: $space-four;
    padding-right: 0;

    h2 {
      @include fs-heading-three;
      margin: 0;
      margin-top: $space;
      color: $c-dark-navy;
    }

    .card-row__body {
      color: $magazine-gray-blue;
      font-family: $font-helvetica-neue-light;
    }
  }

  .card-row__body {
    margin-top: $space-three;
  }

  img {
    margin: 0 auto;
    width: 100%;
  }
}

.magazine-hub-inside {
  padding: 40px 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  clear: both;

  .magazine-hub-inside__title {
    @include fs-heading;

    margin-left: 0;
    color: $c-dark-navy;
  }

  .magazine-alumni_byline {
    padding-top: $space-three;

    h3 {
      @include fs-heading-three;

      margin: 0;
      margin-top: $space;
      color: $c-dark-navy;
    }
  }

  .magazine-hub-inside__hub {
    .news-card__byline {
      .article-header__date::before {
        display: none;
      }
    }
    .card-row__body {
      p {
        margin: $space-two 0;
        color: $magazine-gray-blue;
      }
    }
  }

  .magazine-hub-inside__inside,
  .magazine-hub-inside__hub {
    .magazine-hub-inside__title {
      margin-bottom: 0;
    }

    .magazine-hub-inside__inside-more {
      margin: 0;
    }

    .field-inside-ucsf {
      clear: both;

      .campus-news-card__title {
        margin-bottom: $space;
      }

      .article-header__byline {
        .article-header__primary-area {
          color: $magazine-gray-blue;
          &::before {
            display: none;
          }
        }

        .article-header__date {
          color: $magazine-gray-blue;
        }
      }
    }
  }

  .magazine-hub-inside__hub {
    .magazine-hub-inside__inside-more {
      margin-bottom: $space-three;
    }
  }

  @include breakpoint($new-small-max) {
    .magazine-hub-inside__inside {
      padding-top: $space-five;
      border-top: 1px solid $c-gray-lighter;
    }

    .magazine-hub-inside__hub {
      padding-bottom: $space-five;
    }
  }

  @include breakpoint($new-small) {
    padding: $space-five;
    margin-bottom: 0;
    padding-bottom: 0;

    .magazine-hub-inside__hub, .magazine-hub-inside__inside {
      float: left;
      width: 45%;
    }

    .magazine-hub-inside__inside {
      float: right;
    }
  }

  @include breakpoint($new-xl) {
    .magazine-hub-inside__inside,
    .magazine-hub-inside__hub {
      .magazine-hub-inside__title {
        margin-bottom: 0;
        float: left;
      }

      .magazine-hub-inside__inside-more {
        margin: 2rem 0;
        float: right;
      }

      .field-inside-ucsf, .field-alumni-hub {
        clear: both;
      }

      .campus-news-card .campus-news-card__title {
        color: $c-dark-navy;
      }
    }
  }

  @include breakpoint($new-large) {
    padding: $space-ten 0;
    margin-bottom: 0;
    padding-bottom: 0;

    @include grid-two;

    .magazine-hub-inside__hub, .magazine-hub-inside__inside {
      float: none;
      width: 100%;
    }

    .magazine-hub-inside__inside {
      float: none;
    }

    .magazine-hub-inside__hub {
      .magazine-hub-inside__title, .card-row__copy, .magazine-hub-inside__inside-more {
        margin-left: $space-eight;
      }
    }
  }
}

.magazine-feature-support {
  padding-top: 0;

  .news-card {
    figure {
      background: none;

      img {
        margin: 0 auto;
        width: 100%;
      }
    }

    .news-card__copy {
      padding: 0;
      padding-top: $space-four;
      margin-top: 0;
      margin-left: 0;

      h2 {
        color: $c-dark-navy;
      }
    }
  }
}

.magazine-topic-issue-page {
  background: $c-white;

  .magazine-home-feature {
      margin-bottom: 20px;

    @include breakpoint($new-small) {
      margin-bottom: 40px;
    }

    @include breakpoint($new-large) {
      margin-bottom: $space-fourteen;
    }

  }

  .magazine-feature-support {
      margin-bottom: 0;

    @include breakpoint($new-small) {
      margin-bottom: 20px;
    }

    @include breakpoint($new-large) {
      margin-bottom: $space-six;
    }

  }

  .magazine-topic-page__header {
    background: $c-background-gray;
    padding: 20px;
    margin-bottom: 20px;

    .magazine-topic-page__header-subtitle {
      @include fs-heading;

      display: block;
      margin-top: 20px;
      margin-bottom: 0;
    }

    @include breakpoint($new-small) {
      padding: 40px;
      margin-bottom: 40px;
    }

    @include breakpoint($new-large) {
      padding: $space-six $space-ten;
      margin-bottom: $space-ten;

      .magazine-topic-page__header-subtitle {
        margin-top: $space-three;
        margin-bottom: $space-four;
      }
    }
  }

  .magazine-topics-latest {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 1px;
    clear: both;

    .magazine-topics-latest__title {
      @include fs-heading;
    }

    .news-list {
      padding: 0;
    }

    .magazine-topic-list > ul > li {
      .news-card__copy {
        padding: 20px;
      }
    }

    @include breakpoint($new-x-small) {
      .magazine-topic-list > ul > li {
        width: 48%;
      }
    }

    @include breakpoint($new-medium) {
      padding: 40px;
      padding-bottom: 1px;
      padding-top: 0;

      .news-card__copy {
        padding: 20px 40px;
      }
    }

    @include breakpoint($new-large) {
      padding: $space-ten;
      padding-bottom: 1px;
      padding-top: 0;

      .magazine-topic-list > ul > li {
        width: 100%;

        .news-card__copy {
          padding: 20px 40px;
        }
      }
    }
  }

  // Removing extra space from "View More" btn
  .pager {
    @include breakpoint($new-large) {
    padding-top: 0;
    }
  }

  .view-more {
    margin-bottom: $space-three;
  }
}

.magazine-card__body {
  margin: 0 0 2rem 0;
  padding-left: $article-gutter;
  color: $magazine-gray-blue;

  @include breakpoint($new-large) {
    padding-left: $space-five;
  }

  .magazine-feature-support & {
    margin: 1rem 0 0;
    padding-left: 0;
  }
}

.magazine-inside-hub {
  padding-bottom: 80px;
}

.magazine-issue-feature__title {
  @include fs-heading;
}

.magazine-feature-three-support {
  overflow: hidden;
}

.magazine-topic-footer-ctas-wrapper {
  margin-top: 0;
}
