.page-node-type-narrow-page {
  .field-content-panel {
    grid-column: 3 / -3;
  }
}

.narrow-page-header {
  grid-column: 3 / -3;
  grid-row: 1;
  background: $white;
  margin-top: $space-ten;
  padding: $space-decuple 11%;
  padding-bottom: 0;

  h1 {
    @include fs-display;

    margin-top: 0;
  }

  .narrow-page-header__subheading {
    //margin-bottom: $space-four;
  }
}

.narrow-page-header-banner {
  margin-top: -$space-fifteen;
}

.narrow-page-full-width-wrapper {
  background: $white;
  margin-bottom: -$space-ten;
}

.field-footer-tabs-events-columne { // PL: .narrow-page-full-width
  margin: 0 auto;
  max-width: $xl;
  background: $white;

  h2 {
    @include fs-heading;

    margin-bottom: $space-four;
  }

  .layout-columns__3,
  .layout-columns__2 { //.layout-columns__three
    padding: 0;
    padding-top: $space-ten;

    .field-content-wrapper-content {
      padding: 0;
    }
  }

  .layout-left-70-30 {
    padding-left: 0;
    padding-right: 0;
  }

  .field-column-content-content {
    .paragraph-text-block {
      padding: 0;
    }
  }

  .field__item:last-child {
    margin-bottom: $space-ten;
  }
}
