.card__title {
  @include no-bottom;
}

.card__subtitle {
  @include no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__button {
  @include button;
}

// Variations
.card--bg {
  background-color: $gray-lightest;
  padding: 1em;
}

.news-row-card {
  list-style: none;
  padding-left: 0;
}

.card-row {
  margin-bottom: $space-ten;
  float: left;

  .card-row__image {
    display: block;
    position: relative;
    float: left;
    width: 50%;

    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      background: white;
      width: $space-five;
      height: $space-five;
    }
  }

  .card-row__copy {
    float: right;
    width: 50%;
    padding-left: 5%;

    .article-header__subheading,
    .card-row__body {
      color: $c-navy;
    }
  }

  .card-row__body {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  @include breakpoint($new-small-max) {
    margin-bottom: 0;
    width: 100%;

    li::before {
      display: none;
    }

    .card-row__image {
      float: none;
      width: auto;

      img {
        margin: 0 0 0 auto;
        width: 100%;
      }

      &::after {
        display: none;
      }
    }

    .card-row__copy {
      padding-left: $space-three;
      float: none;
      width: auto;
      padding: 20px;
      margin-right: 20px;
      margin-top: -56px;
      background: $white;
      position: relative;

      .article-header__subheading,
      .card-row__link,
      .card-row__body {
        display: none;
      }
    }
  }

  @include breakpoint($new-large) {
    @include grid-base;
    float: none;

    grid-template-columns: repeat(2, 1fr);

    .card-row__image {
      grid-column: 1 / 2;
      float: none;
      width: auto;

      img {
        max-height: 275px;
      }
    }

    .card-row__copy {
      grid-column: 2 / 3;
      float: none;
      width: auto;
      padding-left: 5%;
    }
  }
}

.news-trending {
  list-style: none;
  counter-reset: item;

  li {
    counter-increment: item;
    margin-bottom: 5px;
    clear: both;

    &::before {
      @include fs-heading-three;

      content: counter(item) '.';
      margin-left: -$space-five;
      float: left;
      font-size: 28px;
      clear: left;
    }
  }

  .card-row__image {
    float: right;
  }

  .card-row__copy {
    float: left;
    padding-right: 5%;
    padding-left: 0;
  }

  @include breakpoint($new-small-max) {

    li::before {
      display: none;
    }

    .card-row__image {
      float: none;
      width: auto;

      img {
        margin: 0 0 0 auto;
      }

      &::after {
        display: none;
      }
    }

    article {
      margin-bottom: 0;
      width: 100%;
    }

    .card-row__copy {
      padding-left: $space-three;
      float: none;
      width: auto;
      padding: 20px;
      margin-right: 20px;
      margin-top: -56px;
      background: $white;
      position: relative;

      .article-header__subheading,
      .card-row__link {
        display: none;
      }

      &::before {
        @include fs-heading-three;

        content: counter(item) '.';
        margin-left: -$space-three;
        float: left;
        font-size: 28px;
        clear: left;
        padding-top: 5px;
      }
    }
  }

  @include breakpoint($new-large) {
    .card-row__image {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .card-row__copy {
      grid-column: 1 / 2;
      grid-row: 1;
      padding-left: 0;
      padding-right: 5%;
    }
  }
}

.card-three-up {
  @include card-three-up;
}

.card-four-up {
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint($new-x-small) {
    > li {
      float: left;
      width: 48%;
      margin-left: 2%;

      &:nth-child(odd) {
        clear: left;
        margin-right: 2%;
        margin-left: 0;
      }
    }
  }

  @include breakpoint($new-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    grid-row-gap: 0;
    > li {
      float: none;
      width: auto;
      margin-left: 0;

      &:nth-child(odd) {
        clear: left;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &.areas-list {
    > li {
      width: auto;
      float: none;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.news-card {
  position: relative;
}

.news-card__copy {
  background: $white;
  margin-left: 10%;
  margin-top: -16%;
  position: relative;
  padding: 20px 20px $space-four $space-four;

  @include breakpoint($new-x-small-max) {
    padding-right: 20px;
  }

  h2 {
    @include fs-heading-three;

    margin: 0;
    margin-top: $space;
    line-height: 1.2;
  }
}

.news-card__content {
  margin: 1em 0;
}

.news-card__link {
  text-decoration: none;

  &:hover {
    color: $c-blue-link;
    text-decoration: none;
  }
}

.homepage {
  .promo-list__card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: $space-nine;
    display: flex;

    a.promo-list__card-link {
      padding: $space-eight $space-five;
      align-self: center;
    }

    &::after {
      background: transparent;
    }

    .field-promo-text {
      p {
        margin: 0;
      }
    }

    .promo-list__card-more {
      margin-bottom: 0;
      margin-top: 12px;
    }

    .promo-list__card-two-content {
      margin-top: auto;
    }
  }
}

.homepage .promo-list__card.promo-list__card-two a {
  align-self: flex-end;
}

.promo-list__card-two .promo-list__card-more {
  line-height: 1.8em;
}

.promo-list__card-two,
.homepage .promo-list__card-two,
.promo-list__card-two a,
.homepage .promo-list__card-two a {
  display: flex;
  padding: 0;
  color: $white;
  text-decoration: none;
  width: 100%;
}

.promo-list__card-two-content {
  align-content: flex-end;
  margin-top: auto;
  padding: $space-three;
  width: 100%;

  p {
    margin: 0;
  }
}

@each $name, $color in $color-map {
  // create a class name based on the color name
  .promo-list__card-two .overlay-#{$name} {
    // convert hex value into rgba box-shadow
    box-shadow: inset 0 0 0 1000px rgba($color, 1);
    &:hover {
      box-shadow: inset 0 0 0 1000px rgba($color, 0.95);
    }

    @if ($name == yellow) {
      .promo-list__card-content {
        color: $c-navy;
      }

      .promo-list__card-more .link--cta {
        color: $c-navy;
        background-image: url("../images/cta-arrow-navy.svg");
      }
    }
  }
}

// This card is used on ucsf.edu/topic/covid-19
.news-card--media-coverage {
  [data-primary-area] {
    color: $c-purple;

    &::before {
      background: $c-purple;
    }
  }
}
