.virtual-tour {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px); /* offset by the height of the header nav */
  overflow-y: hidden;

  @include breakpoint($new-medium) {
    height: calc(100vh - 64px); /* offset by the height of the header nav */
  }

  .user-logged-in & {
    height: calc(100vh - 248px);
  }


  &__embed {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
  }
}

.page-node-type-virtual-tour {
  .emergency-alert {
    display: none;
  }

  .footer-region {
    display: none;
  }

  .combined-header-region {
    display: none;

    @include breakpoint($new-medium) {
      display: block;
    }
  }
}