.node--type-location {
  h2 {
    @include fs-h3;
    padding-top: 30px;
  }

  .field--name-field-address {
    @include fs-job-title;
  }

  .field--name-field-directions {
    margin-bottom: 24px;

    a {
      @include fs-cta-directions;
    }
  }

  .person__teaser {
    margin-bottom: 0;
  }
}

