.page-node-type-map {
  // remove the top header region.
  .universal-header-region {
    display: none;
  }

  .header-region {
    top: 0;
  }

  #map-wrapper {
    height: 70vh;
    z-index: 100;

    @include breakpoint($new-small) {
      height: 100%;
    }
  }

  #map {
    height: 100%;
    width: 100%;
  }

  .map-grid-container {
    @include breakpoint($new-small) {
      position: absolute;
      /* top should be offset by the height of the header nav */
      top: 64px;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      grid-template-columns: auto 400px;
      grid-template-rows: 100%;
    }

    // @media screen and (max-width: 849px) and (min-width: 769px) {
    @include breakpoint(769px 849px) {
      // top should be offset by the height of the header nav
      top: 50px;
    }
  }

  #locations-list {
    background-color: #f2f4f6;
    padding: 16px 16px 40px 16px;
    height: 100%;
    overflow-y: scroll;
    z-index: 100;

    @include breakpoint($new-small) {
      padding: 44px 48px;
    }

    h1 {
      font-family: $font-helvetica-neue-light;
      font-size: 24px;
      letter-spacing: normal;
      margin: 1rem 0 1.5rem;

      @include breakpoint($new-small) {
        font-size: 36px;
        margin: 0 0 1.8rem;
      }
    }

    h2,
    h3 {
      text-transform: uppercase;
      font-family: $font-helvetica-neue-regular;
      font-weight: bold;
      letter-spacing: 1.6px;
      font-size: 12px;
      padding: 1rem 0;
      margin: 0px;
      cursor: pointer;

      @include breakpoint($new-small) {
        text-transform: none;
        font-family: $font-helvetica-neue-light;
        font-size: 18px;
        letter-spacing: 0.2px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 14px;
      border-bottom: #dce0e6 solid 1px;
      margin: 0;
      padding: .5rem 0;
      list-style: none;
      transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color;
      cursor: pointer;

      @include breakpoint($new-small) {
        font-size: 18px;
        padding: 1rem 28px 1rem 0;
        background-image: url("/themes/custom/ucsf/assets/images/cta-arrow-navy.svg");
        background-repeat: no-repeat;
        background-position: 96% center;
        background-color: transparent;
        background-size: 18px 10px;
        transition:
          0.2s cubic-bezier(0.33, 0.66, 0.66, 1) border-bottom-color,
          0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;
      }

      &:hover {
        border-bottom-color: #052049;

        @include breakpoint($new-small) {
          background-position: 100% center;
        }
      }

      &:first-of-type {
        border-top: #dce0e6 solid 1px;
      }
    }
  }

  .locations-label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .loading {
    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label:before {
      font-family: "Font Awesome 5 Free";
      color: #052049;
      font-weight: normal;
      border-radius: 10%;
      /* padding-right should match with  #locations-list li background position */
      padding-right: 4%;
      pointer-events: none;
    }

    input[type="checkbox"] + label:before {
      content: "\f0c8";
    }

    input[type="checkbox"]:checked + label:before {
      content: "\f14a";
    }
  }


  // INFOBOX

  // Outer wrapper for infobox.
  .gm-style-iw.gm-style-iw-c {
    width: 266px !important;
    border-radius: 8%;
    padding: 21px 21px 0 21px !important;
  }

  // Inner wrapper for infobox.
  .gm-style-iw-d {
    overflow: auto !important;
  }

  // pop up location information box
  .infobox {
    font-family: $font-helvetica-neue-regular;
    font-size: 18px;
    line-height: 1.33;

    &__item {
      margin-bottom: 1rem;
    }

    &__image {
      display: none;
      height: 124px;
      overflow: hidden;

      @include breakpoint($new-small) {
        display: block;
      }

      img {
        width: 100%;
      }
    }

    &__title {
      color: #052049;
      font-family: $font-granjon;
      font-size: 28px;
      padding-right: 1.8rem;

      @include breakpoint($new-small) {
        font-size: 28px;

        .infobox__image + & {
          padding-right: 0;
        }
      }
    }

    &__link {
      display: flex;
      flex-direction: column;

      @include breakpoint($new-small) {
        flex-direction: row;
        justify-content: space-between;
      }

      a {
        vertical-align: middle;
        display: inline-block;
        width: min-content;
        font-family: $font-helvetica-neue-medium;
        color: #007cbe;
        background-image: url("/themes/custom/ucsf/assets/images/cta-arrow.svg");
        background-repeat: no-repeat;
        background-position: 96% 60%;
        background-color: transparent;
        background-size: 14px 10px;
        padding-right: 28px;
        transition: 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) background-position;

        &:hover,
        &:focus {
          background-position: 100% 60%;
        }
      }
    }
  }

  // Infobox close button
  .gm-ui-hover-effect {
    position: absolute !important;
    width: 26px !important;
    height: 26px !important;
    top: 21px !important;
    right: 21px !important;
    background-color: #007cbe !important;
    opacity: 1;

    // icon for the Infobox close button
    img {
      margin: 0 auto !important;
      filter: brightness(0) invert(1) !important;
      transform: scale(2) !important;
    }
  }

}
