@use "../0_tools" as *;
.news-card .field-card-image,
.news-card .news-card__image,
.news-card .news-card-background {
  height: 216px;
  img {
    min-height: 216px;
  }
}

// four-up cards
.card-four-up .news-card .field-card-image,
.card-four-up .news-card .news-card__image,
.card-four-up .news-card .news-card-background {
  height: 156px;
  img {
    min-height: 156px;
  }
}


@media ($above-xs) {



}

@media ($above-xs) {
  .news-card .field-card-image,
  .news-card .news-card__image,
  .news-card .news-card-background {
    height: 150px;
    img {
      min-height: 150px;
    }
  }

}
@media ($above-s) {
  .news-card .field-card-image,
  .news-card .news-card__image,
  .news-card .news-card-background {
    //height: 216px;
    height: 260px;
    img {
      //min-height: 216px;
      min-height: 260px;
    }
  }

  // four-up cards
  .card-four-up .news-card .field-card-image,
  .card-four-up .news-card .news-card__image,
  .card-four-up .news-card .news-card-background {
    height: 190px;
    img {
      min-height: 190px;
    }
  }

}
@media ($above-m) {
  // four-up cards
  .card-four-up .news-card .field-card-image,
  .card-four-up .news-card .news-card__image,
  .card-four-up .news-card .news-card-background {
    height: 156px;
    img {
      min-height: 156px;
    }
  }
}

@media ($above-xl) {

  .news-card .field-card-image,
  .news-card .news-card__image,
  .news-card .news-card-background {
    height: 216px;
    img {
      min-height: 216px;
    }
  }

  // four-up cards
  .card-four-up .news-card .field-card-image,
  .card-four-up .news-card .news-card__image,
  .card-four-up .news-card .news-card-background {
    height: 156px;
    img {
      min-height: 156px;
    }
  }

}

@media ($above-xxl) {
  .news-card .field-card-image,
  .news-card .news-card__image,
  .news-card .news-card-background {
    height: 260px;
    img {
      min-height: 260px;
    }
  }

  .card-four-up .news-card .field-card-image,
  .card-four-up .news-card .news-card__image,
  .card-four-up .news-card .news-card-background {
    height: 156px;
    img {
      min-height: 156px;
    }
  }

}

.media-coverage__featured .news-card .field-card-image,
.media-coverage__featured .news-card .news-card__image,
.media-coverage__featured .news-card .news-card-background {
  height: inherit;
  img {
    min-height: inherit;
  }
}

