.page-node-type-trending {
  .narrow-page {
    .page_narrow {
      &:last-child {
        padding-bottom: $space-ten;
        margin-bottom: $space-ten;

        & > :last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .field-bottom-of-page-cta p {
    margin-bottom: 0;
  }
}
