.homepage {
  margin-bottom: 0;

  .latest-events-list {
    background: $white;
    margin-top: 0;
    padding: 0 20px;
    padding-top: 20px;
    overflow: auto;
    @include breakpoint($new-small) {
      padding: 0 $space-five;
      padding-top: $space-five;
    }

    @include breakpoint($new-large) {

      padding: 0 $space-ten;
      padding-top: $space-ten;
    }
  }
}

.home-banner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background: $white;
}

.home-banner-wrapper__space {
  display:   none;

  @include breakpoint($new-xl) {
    grid-column: 1/2;
    height: 100%;
    content: ' ';
    width: $space-ten;
    display: block;
  }
}

.home-banner {
  max-width: 1360px;
  //justify-self: end;

  img {
    width: 100%;
  }

  @include breakpoint($new-large) {
    @include grid;

    grid-column: 2/-1;
    grid-template-rows: repeat(3, auto);
  }
}

.home-banner-two .home-banner,
.home-banner-three .home-banner {

  @include breakpoint($new-large) {
    @include grid-eighteen;

    grid-column: 1/-1;
    justify-self: start;
    max-width: $full;
  }
}

.home-banner__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  //justify-self: end;
  max-width: 1360px;
}
.home-banner,
.home-banner-two,
.home-banner-three {
  .home-banner__image {
    max-width: $full;
    img {
      max-width: $full;
    }
  }
}

.home-banner__header {
  padding: 20px;
  background: $white;
  position: relative;
  // ADD THIS BACK IN: margin-top: -$space-seven;
  //hack for launch
  margin-top: -20px;
  margin-right: $space-two;

  h1 {
    @include fs-display;
  }

  @include breakpoint($new-small) {
    padding: $space-five;
    // ADD THIS BACK IN: margin-top: -$space-ten;
    //hack for launch
    margin-top: -$space-five;
    margin-right: $space-ten;
  }

  @include breakpoint($new-large) {
    grid-column: 1/6;
    grid-row: 2/3;
    //padding-left: 0;
    background: url(/themes/custom/ucsf/assets/images/banner-overlay-left.png) left top repeat-y rgba(255, 255, 255, 0.925);
    margin-top: 0;
    margin-right: 0;
  }

  @include breakpoint($new-xl) {
    padding: $space-eight;
    padding-left: 0;
  }
}

.home-banner-two .home-banner__header {
  @include breakpoint($new-large) {
    @include grid-sixteen;

    padding-left: $space-three;
    padding-right: $space-eight;
    padding-bottom: 0;
    grid-column: 2/-1;
    grid-row: 3/3;
    background: url(/themes/custom/ucsf/assets/images/banner-overlay-bottom.png) left bottom repeat-x rgba(255, 255, 255, 0.925);

    h1 {
      grid-column: 2/12;
      border-right: 1px solid $navy;
      margin-right: $space-ten;
      padding-right: $space-ten;
    }

    .field-banner-description { // PL: .home-banner__subheading
      grid-column: 12/-1;
      margin: auto 0;
      padding-right: $space;
    }

  }
}

.field-banner-description, .field-banner-description p { // PL: .home-banner__subheading
  margin: 0;
}

.home-banner-three {
  .home-banner {
    .home-banner__header {
      @include breakpoint($new-large) {
        grid-column: 1/13;
        grid-row: 3/3;
        padding: $space-eight;
        padding-bottom: 0;
        padding-left: $space-ten;
        padding-top: $space-six;
        background: url(/themes/custom/ucsf/assets/images/banner-overlay-bottom.png) left bottom repeat-x rgba(255, 255, 255, 0.925);
      }
    }
  }
}

.home-banner-two .home-banner-support-wrapper {

  @include breakpoint($new-large) {
    @include grid-eighteen;

    .home-banner-support {
      @include grid-sixteen;

      grid-column: 2/-1;
      padding-left: $space-three;

      .home-banner-support__title {
        grid-column: 2/5;
      }

      .home-banner-support__links {
        grid-column: 5/-1;
      }
    }
  }
}

.home-banner-support {
  background: $white;
  max-width: 1360px;
  padding: 20px;
  float: left;

  @include breakpoint($new-small) {
    padding: $space-five;
  }

  @include breakpoint($new-large) {
    @include grid-eighteen;
    grid-gap: 4%;
    float: none;
    padding: $space-ten;
    padding-left: $space;
  }
}

.home-banner-support__title {
  @include eyebrow;
  line-height: 1.8em;
  margin: 0;
  margin-bottom: $space-three;
  font-size: $font-size-xxsm;

  @include breakpoint($new-large) {
    grid-column: 2/5;
    padding-top: 5px;
  }
}

.home-banner-support__links {
  font-family: $font-helvetica-neue-medium;
  list-style-type: none;
  counter-reset: li;
  list-style-position: outside;
  margin: 0;
  padding: 0 $space-five;
  padding-right: 0;

  li {
    display: inline-block;
    width: 100%;
    float: left;
    margin-left: -10px;
    margin-bottom: $space-three;

    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      color: $navy;
      margin-right: 1.5em;
      margin-left: -2.5em;
      font-size: $font-size-xxsm;
      font-family: $font-helvetica-neue-bold;
    }

    &:first-child {
      margin-left: -10px;
    }
  }

  p {
    display: inline;
    margin: 0;
  }

  a {
    color: $c-blue-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint($new-small) {
    padding: 0 $space-five;

    li {
      width: 29%;
      float: left;
      margin-left: 7%;
      margin-bottom: 0;
    }
  }

  @include breakpoint($new-large) {
    grid-column: 5/-1;
    padding: 0;

    li {
      width: 26%;
      margin-left: 8%;

      &:first-child {
        margin-left: 5%;
      }
    }
  }
}

.map-home-wrapper {
  background: $white;
  padding-top: $space-ten;
}

.map-home {

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: $space-two;

      a {
        font-family: $font-helvetica-neue-medium;
      }
    }
  }

  @include breakpoint($new-large) {
    @include grid;

    grid-template-rows: repeat(3, auto);
    max-width: 1360px;
  }
}

.field-map-image { // PL: .map-home__image
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: end;
  max-width: 1360px;
}

.field-map-text { // PL: .map-home__content
  padding: 20px;
  background: $white;
  position: relative;
  margin-top: -$space-seven;
  margin-right: $space-two;
  color: $c-gray-blue;

  h2 {
    @include fs-heading;

    font-family: $font-granjon;
    margin: 0;
  }


  @include breakpoint($new-small) {
    padding: $space-five;
    margin-top: -$space-ten;
    margin-right: $space-ten;
  }

  @include breakpoint($new-large) {
    padding-right: 0;
    grid-column: 8/-1;
    grid-row: 2/3;
    padding: $space-five;
    margin-top: 0;
    margin-right: 0;
    background: url(/themes/custom/ucsf/assets/images/banner-overlay-right.png) right top repeat-y rgba(255, 255, 255, 0.925);
  }

  @include breakpoint($new-xl) {
    padding: $space-eight;
    padding-right: 0;
  }
}

.map-home__subheading {
  margin: 1em 0;
  color: $gray-blue;
}

.map-home__links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $font-helvetica-neue-medium;

  li {
    margin-bottom: $space-two;

    a {
      color: $c-blue-link;
      text-decoration: none;
      display: block;
      padding-left: $space-five;

      &.map-home__locations {
        @include background-image('map-home-locations.svg', left top );
      }

      &.map-home__transport {
        @include background-image('map-home-transport.svg', left top );
      }

      &.map-home__directions {
        @include background-image('map-home-directions.svg', left top );
      }
    }
  }
}

.home-search {
  text-align: center;
  margin-top: $space-ten;
  clear: both;
  padding: 20px;

  @include breakpoint($new-small) {
    padding: $space-five;
  }

  @include breakpoint($new-large) {
    padding: 0;
    margin-top: $space-ten;
  }
}

.home-search .home-search__title {
  @include fs-heading;

  margin-top: 20px;
  margin-bottom: $space-two;

  @include breakpoint($new-small) {
    margin-top: $space-five;
    margin-bottom: $space-five;
  }

  @include breakpoint($new-large) {
    margin-top: $space-seven;
  }
}

.home-search__form {
  .home-search__form-input {
    height: 80px;
    margin: 0;
    padding-right: 80px;
    padding-left: $space-two;
    font-size: $font-size;
    font-family: $font-helvetica-neue-roman;
    color: $gray-blue;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $near-white;
    width: 98%;
    max-width: 850px;

    @include breakpoint($new-small) {
      width: 99%;
    }

    &::-webkit-input-placeholder {
      color: $gray-blue;
    }

    &::-moz-placeholder {
      color: $gray-blue;
    }

    &::-ms-placeholder {
      color: $gray-blue;
    }

    &::placeholder {
      color: $gray-blue;
    }
  }

  .home-search__form-submit {
    @include background-image('magnifier.svg', center, $white);
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: -75px;
    margin-right: 15px;
    border: none;
    background-size: 28px;
    text-indent: -9999px;
    //padding-top: 10px;

    &:hover {
      cursor: pointer;
      color: auto;
      border-color: transparent;
      @include background-image('magnifier-hover.svg', center, transparent);
      background-size: 28px;
    }
  }

  @include breakpoint($bp-large) {
    .home-search__form-input {
      height: 100px;
      padding-left: 32px;
      font-size: $font-size-bg;
      font-family: $font-helvetica-neue-light;
    }

    .home-search__form-submit {
      position: relative;
      top: -2px;
    }

  }
}

.narrow-page {
  .home-search__form {
    padding-bottom: $space-six;
    padding-top: $space-six;

    .home-search__form-input {
      width: 98%;

      @include breakpoint($new-small) {
        width: 99%;
      }
    }
  }
}

.home-search__presearch-links {
  display: none;

  @include breakpoint($new-small) {
    display: block;
    list-style: none;
    margin: 0;
    margin-top: $space-two;
    padding: 0;
    font-family: $font-helvetica-neue-medium;

    li {
      display: inline-block;

      a {
        color: $c-blue-link;
        text-decoration: none;
        display: block;
        @include background-image('magnifier.svg', left);
        background-size: 16px 16px;
        padding-left: 24px;
        margin-right: 24px;
        @include transition;
        &:hover {
          text-decoration: underline;
          padding-left: 28px;
          margin-right: 20px;
        }
      }
    }
  }
}

.home-talking-about {
  background: $white;
  margin-top: $space-five;
  float: left;

  .card-three-up {
    margin: 0 20px;
    display: block;

    > li {
      float: none;
      width: 100%;
    }

    .news-card {
      margin-bottom: 0;

      .news-card__image img {
        float: right;
      }
      @include breakpoint($new-x-small-max) {
        .news-card__copy {
          margin-right: 10%;
          margin-left: 0;
        }

        .news-card__image img {
          width: 100%;
        }
      }
    }
  }

  @include breakpoint($new-x-small) {
    margin-top: $space-five;

    .card-three-up {
      display: block;

      > li {
        float: left;
        width: 46%;
        margin-left: 2%;

        &:nth-child(odd) {
          clear: left;
          margin-right: 2%;
          margin-left: 0;
        }
      }

      .news-card {
        margin-bottom: 0;

        .news-card__image img {
          float: none;
        }
      }
    }
  }

  @include breakpoint($new-small) {
    .card-three-up {
      margin: 0 $space-five;
    }
  }

  @include breakpoint($new-large) {
    margin-top: $space-ten;
    float: none;

    .card-three-up {
      @include card-three-up;
      margin: 0 $space-ten;

      > li {
        float: none;
        width: 100%;
        margin-left: 0;
      }

      .news-card {
        margin-bottom: $space-five;
      }
    }
  }
}

.homepage {
  .lastest-events-list__heading {
    @include fs-heading;

    margin: 0;
    margin-bottom: $space-two;
  }
}

.home-talking-about__title {
  @include fs-heading;

  margin: 0;
  margin-bottom: $space-two;
  padding: 20px;
  padding-bottom: 0;

  @include breakpoint($new-small) {
    padding: $space-five;
    padding-bottom: 0;
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
    padding-bottom: 0;
  }
}

.home-talking-about__description {
  padding: 0 20px;
  color: $gray-blue;
  margin-bottom: $space-four;
  margin-top: 0;

  @include breakpoint($new-small) {
    padding: 0 $space-five;
  }

  @include breakpoint($new-large) {
    padding: 0 $space-ten;
  }
}

.mobile-break {
  @include breakpoint($new-x-small-max) {
    display: block;
  }
}
