.node--type-page--full.node--view-mode-full {
  @supports (display: flex) {
    display: flex;
    flex-direction: column;

    // change the order of the secondary nav and the hero on mobile.
    @include breakpoint($mobile-screen-only) {
      .hero-default {
        order: 2;
        min-height: auto;
        padding: 0;
      }
      .secondary-nav {
        order: 1;
      }
      .node__content {
        order: 3;
      }
    }
  }

  .paragraph--people,
  .paragraph--columns-1 {
    @include padding-container-mobile-desktop;
    .ohm-container {
      @include breakpoint($narrow-screen) {
        width: susy-span(10 narrow of 12 narrow);
      }
    }
  }

  .hero-default {
    h1 {
      @include breakpoint($mobile-screen-only) {
        padding: 20px 21px;
      }
    }
  }
}

