.news-center {
  margin-top: $space-seven;

  h1 {
    @include fs-display;

    margin: 0 auto;
    padding: 0 20px;
    max-width: $full-width-elements;
    margin-bottom: $space-sixteen;
  }

  .twitter-background {
    background: $dark-navy;
    clear: both;
  }
}

.news-center-banner,
.media-coverage {
  float: left;
  width: 100%;
  padding-bottom: $space-five;

  @include breakpoint($new-large) {
    @include grid-two;

    float: none;
    width: auto;
    padding-bottom: 0;
  }
}

.news-center-banner {
  background: $white;
}

.news-center-banner__featured,
.media-coverage__featured {
  margin-top: -$space-ten;

  h2 {
    @include fs-heading;

    font-family: $font-granjon;
    line-height: 1.2;

    a {
      text-decoration: none;
      color: $navy;

      &:hover {
        color: $c-blue-link;
      }
    }

    p {
      margin: 1em 0;
    }

    .news-card__more {
      margin: 2em 0;
    }
  }

  .news-card__copy {
    padding: 20px 20px 0 20px;
    margin-top: -$space-seven;
    margin-left: 0;
    margin-right: 20px;
  }

  .news-card__image {
    img {
      float: right;
    }
  }

  .news-card__desc {
    display: none;
    color: $navy;
    margin-top: 2rem;

    & > * {
      margin: 0;
    }

    @include breakpoint($new-x-small) {
      display: block;
    }
  }

  .news-card__more {
    display: none;
    @include breakpoint($new-x-small) {
      margin: 2em 0 0 0;
      display: inline-block;
    }
  }

  @include breakpoint($new-small) {
    .news-card__copy {
      padding: $space-five 20px $space-six $space-eight;
      margin-top: -12%;
      margin-left: 12%;
      margin-right: 0;
    }

    .news-card__image {
      img {
        float: none;
      }
    }
  }

  @include breakpoint($new-medium) {
    float: left;
    width: 48%;
  }

  @include breakpoint($new-large) {
    float: none;
    width: auto;

    .news-card__copy {
      padding-right: 0;
    }
  }
}

.news-center-banner__featured,
.news-center-banner_list {
  .article-header__date {
    display: none;
  }
}

.news-center-banner_list {
  margin: $space-five 20px;

  h2 {
    font-size: $font-size;
    font-family: $font-helvetica-neue-medium;
    color: $navy;
    line-height: 1.4;
  }

  .news-card__copy {
    padding-top: $space;
    padding-left: $space-two;
  }

  @include breakpoint($new-x-small-max) {
    margin: 20px;
    border-top: 1px solid $gray-lighter;

    .news-card {
      border-bottom: 1px solid $gray-lighter;
      padding-bottom: 0;

      figure {
        display: none;
      }

      .news-card__link {
        margin-top: $space-two;
        padding-bottom: $space-two;
      }

      .news-card__copy {
        margin-top: $space-two;
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: $space-two;
      }
    }
  }

  @include breakpoint($new-medium) {
    margin: $space-ten 0;
    margin-right: 20px;
    float: right;
    width: 48%;
  }

  @include breakpoint($new-large) {
    margin-right: 10%;
    float: none;
    width: auto;
  }
}

.media-coverage {
  background: $white;
  margin-top: $space-five;
  padding-top: $space-five;
  padding-bottom: $space-five;

  .media-coverage__mobile-header {
    padding: 0 20px;

    .media-coverage__mobile-header-more {
      margin-top: 0;
      margin-bottom: $space-five;

      @include breakpoint($new-small) {
        display: none;
      }
    }
  }

  @include breakpoint($new-medium) {
    margin-top: $space-ten;
    padding-top: $space-ten;
    padding-bottom: $space-ten;

    .media-coverage__mobile-header {
      display: none;
    }
  }
}

.media-coverage__list {
  margin-left: 20px;

  .media-coverage__list-title {
    display: none;
  }

  @include breakpoint($new-small-max) {
    margin: 20px;
    border-top: 1px solid $gray-lighter;

    .media-coverage__list-more {
      text-align: center;
      a {
        @include button-alt;
        background: none;
        display: block;
      }
    }
  }

  @include breakpoint($new-small) {
    float: left;
    width: 48%;
    padding-right: 2%;
  }

  @include breakpoint($new-medium) {
    .media-coverage__list-title {
      display: block;
    }
  }

  @include breakpoint($new-large) {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 10%;
    float: none;
    width: auto;
    padding-right: 0;
  }
}

.media-coverage .media-coverage__list-title {
  @include fs-heading;

  margin: 0;
  padding: 0;
  margin-bottom: $space;
  line-height: 1.2;
}

.media-coverage__list-more {
  margin: 0;
}

.media-coverage__list-articles {
  list-style: none;
  margin: 0;
  padding: 0;

  h3 {
    @include fs-heading-three;

    margin: 0;

    a {
      text-decoration: none;
      color: $navy;

      &:hover {
        color: $c-blue-link;
      }
    }
  }

  li {
    border-bottom: 1px solid $gray-lighter;
    margin: $space 0;
    margin: $space-three 0;
    padding-bottom: $space-two;
  }

  article {
    margin-bottom: 0 !important;
  }
}

.media-coverage__list-byline {
  margin: 0;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
}

.field-featured-media-article .news-card__date,
.media-coverage__list-date,
.article-header__date {
  color: $gray-blue;
  display: inline-block;
  vertical-align: top;
  //margin-top: 4px;

  &::before {
    content: ' ';
    display: block;
    float: left;
    height: 3px;
    width: 3px;
    background: $gray-blue;
    margin: .95rem 10px 3px 7px;
    border-radius: 50%;
  }
}

a[href*="http"] {
  .field-featured-media-article .news-card__date,
  .media-coverage__list-date,
  .article-header__date {
    padding-right: 30px;
    background: url('../images/ext-link-gray.svg') right center no-repeat transparent;
    background-size: 20px;
  }
}

.media-coverage__featured {
  margin-top: 0;

  .news-card__copy {
    margin-left: 0;
    padding-left: 20px;
    margin-right: 20px;
  }

  .news-card__media {
    color: $navy;
  }

  @include breakpoint($new-small) {
    float: right;
    width: 48%;
    padding-left: 2%;
  }

  @include breakpoint($new-large) {
    grid-column: 2/-1;
    grid-row: 1;
    float: none;
    width: auto;
    padding-left: 0;

    .news-card__copy {
      margin-left: 0;
      padding-left: 0;
      margin-right: 10%;
    }
  }
}

.news-list {
  background: $white;
  padding: $space-five 20px;
  padding-bottom: 1px;
  clear: both;

  .card-three-up {
    margin: 0 auto;
    margin-top: $space-five;
  }

  .view-more {
    margin: 0;
    text-align: center;
  }

  @include breakpoint($new-large) {
    padding: $space-ten;
    padding-bottom: 1px;
  }
}

.news-list .news-list__title {
  @include fs-heading;

  margin: 0 auto;
  max-width: $xl;
}

// Search
.news-search {

  .home-search__presearch-links {
    display: none;

    @include breakpoint($new-small) {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      max-width: 840px;
      display: flex;
      justify-content: flex-start;
    }

    a:hover {
      text-decoration: underline;
    }

  }

  .home-search__advanced-search {
    margin-left: auto;

    a {
      @include background-image('filter.svg', left);
      margin-right: 0;
      background-size: 16px 16px;

      &:hover {
        text-decoration: underline;
        margin-right: 0;
      }
    }
  }
}

.areas-header {
  //display: none;

  @include breakpoint($new-medium) {
    display: block;
  }
}

.all-campus-news {
  @include breakpoint($new-small-max) {
    a {
      display: block;
    }
  }
}
