.news-center {
  margin-top: $space-seven;

  h1 {
    @include fs-display;

    margin: 0 auto;
    max-width: $xl;
    margin-bottom: $space-sixteen;
  }

  .twitter-wrapper {
    background: $dark-navy;
    clear: both;
  }
}

.news-center-banner,
.media-coverage {
  @include grid-two;
}

.news-center-banner {
  background: $white;
}

.news-center-banner__featured,
.media-coverage__featured {
  margin-top: -$space-ten;

  h2 {
    @include fs-heading;

    font-family: $font-granjon;
    line-height: 1.2;

    a {
      text-decoration: none;
      color: $navy;

      &:hover {
        color: $blue;
      }
    }

    p {
      margin: 1em 0;
    }

    .news-card__more {
      margin: 2em 0;
    }
  }

  .news-card__copy {
    padding: $space-five 0 $space-six $space-eight;
    margin-top: -12%;
    margin-left: 12%;
  }
}

.media-coverage__featured {
  margin-top: 0;

  .news-card__copy {
    padding: $space-five $space-six $space-seven 0;
  }
}

.news-center-banner_list {
  margin: $space-ten 0;
  margin-right: 10%;

  h2 {
    font-size: $font-size;
    font-family: $font-helvetica-neue-medium;
    color: $navy;
    line-height: 1.4;
  }

  .news-card__copy {
    padding-top: $space;
    padding-left: $space-two;
  }
}

.media-coverage {
  background: $white;
  margin-top: $space-ten;
  padding-top: $space-ten;
  padding-bottom: $space-ten;
}

.media-coverage__list {
  margin-left: 10%;
}

.media-coverage__list .media-coverage__list-title {
  @include fs-heading;

  margin: 0;
  padding: 0;
  margin-bottom: $space;
  line-height: 1.2;
}

.media-coverage__list-more {
  margin: 0;
}

.media-coverage__list-articles {
  list-style: none;
  margin: 0;
  padding: 0;

  h3 {
    @include fs-heading-three;

    margin: 0;

    a {
      text-decoration: none;
      color: $navy;

      &:hover {
        color: $blue;
      }
    }
  }

  li {
    border-bottom: 1px solid $gray-lighter;
    margin: $space 0;
    margin: $space-three 0;
    padding-bottom: $space-two;
  }
}

.media-coverage__list-byline {
  margin: 0;
  font-size: $font-size-xsm;
  font-family: $font-helvetica-neue-roman;
}

.field-featured-media-article .news-card__date,
.media-coverage__list-date,
.article-header__date {
  color: $gray-blue;
  display: inline-block;
  margin-top: 4px;

  &::before {
    content: ' ';
    display: inline-block;
    height: 3px;
    width: 3px;
    background: $gray-blue;
    margin: 0 10px 3px 7px;
    border-radius: 50%;
  }
}

a[href*="http"] {
  .field-featured-media-article .news-card__date,
  .media-coverage__list-date,
  .article-header__date {
    padding-right: 30px;
    background: url('../images/ext-link-gray.svg') right center no-repeat transparent;
    background-size: 20px;
  }
}

.media-coverage__featured {
  .news-card__copy {
    margin-left: 0;
    margin-right: 10%;
  }
}

.news-list {
  background: $white;
  padding-top: $space-ten;
  padding-bottom: 1px;

  .card-three-up {
    margin: 0 auto;
    margin-top: $space-five;
    max-width: $xl;
  }

  .view-more {
    margin: 0;
    text-align: center;
  }
}

.news-list .news-list__title {
  @include fs-heading;

  margin: 0 auto;
  max-width: $xl;
}

// Search
.news-search {
  .home-search__presearch-links {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    display: flex;
    justify-content: flex-start;
  }

  .home-search__advanced-search {
    margin-left: auto;

    a {
      @include background-image('filter.svg', left);
      margin-right: 0;
      background-size: 16px 16px;
    }
  }
}
