.page-node-type-trending,
.page-node-type-news-package {
  .article-header h1 {
    margin-bottom: 0;
  }

  .narrow-page {
    .page_narrow {
      float: left;
      background: white;

      &:last-child {

        @include breakpoint($new-large) {
          padding-bottom: $space-ten;
        }
        //margin-bottom: $space-ten;

        & > :last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .field-bottom-of-page-cta p {
    margin-bottom: 0;
  }
}
