.full-width-page-wrapper {
  .footer-ctas-wrapper {
    margin-top: 0;
  }

  .lastest-events-list {
    padding-top: $space-ten;
  }

  .paragraph-text-block,
  .paragraph--type--block {
    padding: 40px 20px;
    padding-bottom: 0;
    clear: both;

    @include breakpoint($new-medium) {
      padding: $space-five;
      padding-bottom: 0;
    }

    @include breakpoint($new-large) {
      padding: $space-ten;
      padding-bottom: 0;
    }
  }

  .field-column-content-content {
    .paragraph-text-block,
    .paragraph--type--block {
      padding: 0;
    }
  }
}

.full-width-page-banner {
  width: 100%;
  margin: 0 auto;

  .article-header__date::before {
    display: none;
  }

  &.full-width-has-image {
    background: $white;

    @include breakpoint($new-large) {
      background: transparent;
    }
  }

  figure { // PL: .full-width-page-banner-photo
    img {
      margin: 0 0 0 auto;
    }

    background: $c-background-gray;
  }

  .field-banner-description {
    p {
      margin: 2rem 0;
      margin-top: 0;
    }
  }

  @include breakpoint($new-large) {
    @include grid-fifteen;

    grid-column: 1/-1;
    grid-template-rows: $space-ten auto;
    max-width: $full;

    figure { // PL: .full-width-page-banner-photo
      grid-column: 8/-1;
      grid-row: 1/-1;
      justify-self: end;
      background: $white;

      img {
        margin: 0;
      }
    }
  }
}

.full-width-page-banner__header {
  grid-column: 1/9;
  grid-row: 2/-1;
  background: $white;
  padding: $space-four 20px;
  padding-bottom: 1px;
  margin-right: $space-four;
  position: relative;
  margin-top: $space-five;

  .full-width-has-image & {
    margin-top: -$space-four;
  }

  * {
    margin: 0;
  }

  p, ul {
    margin-bottom: 2rem;
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
    padding-bottom: 1px;
    margin-right: $space-ten;
    margin-top: $space-ten;

    .full-width-has-image & {
      margin-top: -$space-fifteen;
    }
  }

  @include breakpoint($new-large) {
    grid-column: 1/9;
    grid-row: 2/-1;
    padding: $space-ten;
    padding-bottom: 1px;
    margin-right: 0;
    margin-top: 0;

    .full-width-has-image & {
      margin-top: 0;
    }
  }
}

.full-width-page__header-title {
  @include fs-article-medium-h1;

  margin-bottom: $space-two;
}

.full-width-page {
  padding: 0;
  padding-bottom: $space-five;
  padding-top: 1px;

  .field-content-panel {
    grid-column: 1/-1;

    .field__item:first-child {
      .latest-events-list {
        margin-top: 0;
      }
    }
  }
}
