.news-package-banner {
  margin: 0 auto;

  h1 {
    @include fs-article-medium-h1;
  }

  @include breakpoint($new-large) {
    @include grid-fifteen;

    grid-template-rows: 40px auto 40px 40px;
    grid-row-gap: 0;
  }
}

.news-package-banner-bk {
  display: none;

  @include breakpoint($new-large) {
    display: block;
    background: $white;
    grid-column: 3 / 15;
    grid-row: 1 / -1;
  }

  @include breakpoint($new-xl) {
    grid-column: 3 / 14;
  }
}

.news-package-banner-image {
  img {
    margin: 0 0 0 auto;
  }

  @include breakpoint($new-large) {
    grid-column: 6 / -2;
    grid-row: 1 / 3;

    img {
      float: right;
    }
  }
}

.news-package-banner-image-bk {
  display: none;

  @include breakpoint($new-large) {
    display: block;
    grid-column: 2 / 12;
    grid-row: 2 / -1;
    margin-top: auto;
    margin-left: -5%;
    height: 100%;
  }

  @include breakpoint($new-xl) {
    grid-column: 3 / 12;
  }
}

.news-package-header {
  margin-top: 0;
  padding: 20px;
  background: $white;

  .article-header__date {
    &::before {
      content: none;
    }
  }

  .article-header__description p {
    margin: 0;
  }

  @include breakpoint($new-medium) {
    padding: $space-five;
  }

  @include breakpoint($new-large) {
    grid-column: 3 / 8;
    grid-row: 1 / 3;
    margin-top: 0;
    padding: $space-decuple 11%;
    padding-bottom: 0;
    padding-right: 15%;
    max-width: 440px;
    z-index: 1;
  }
}

.news-package-banner-bk-bottom {
  display: none;

  @include breakpoint($new-large) {
    grid-column: 3 / 13;
    grid-row: 3 / 4;
    background: $white;
    display: block;
  }
}

.field-featured {
  h2 {
    @include fs-heading-three;
    margin-bottom: $space-two;
    line-height: 1.2;
  }

  p {
    margin: 0;
  }
}
