.node--type-award.node--view-mode-default {
  padding: 0 21px 20px 21px;
  @include breakpoint($narrow-screen) {
    padding: 0;
  }

  > h4 {
    margin-bottom: 5px;
  }
  .field--name-field-subtitle {
    margin-bottom: 5px;
    p {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: 0;
      color: $c-textgrey;
      margin: 0;
    }
  }
  .field--name-body {
    @include fs-tag;
  }
}
