.node--view-mode-search-index {
  border-bottom: 1px solid #D5D9DE; // @todo Color should be a variable.
  padding: 25px 0;

  @include breakpoint($bp-medium) {
    padding: 16px 0;
  }

  p {
    color: $c-gray-blue;
    margin: 0;
  }

  .search-result__copy {
    @include breakpoint($bp-medium) {
      float: left;
      width: calc(100% - 340px);
    }
  }

  .article-header__byline {
    padding-bottom: 7px;
  }

  h2 {
    @include fs-heading-three;
    margin-bottom: 8px;

    a {
      @include link-colors($c-navy, $c-blue-link);
    }
  }

  .search-result__image {
    display: none;

    @include breakpoint($bp-medium) {
      display: block;
      float: right;
      width: 263px;
    }
  }

  .search-result__image-placeholder {
    height: 175px;
    width: 263px;
  }

  .field-sub-title,
  .search-result__body {
    @include fs-small-body;
    color: $c-gray-blue;
  }
}
