.node--type-expertise--full {
  .hero-default {
    margin-bottom: 28px;
  }
}

.field--name-field-cta-boxes {
  .field__item {
    background: url('../images/sliced-bgs/gray-light-bottom-left-square.svg') no-repeat $c-grey-lighter;
    background-position-x: left;
    background-position-y: bottom;
    font-family: $ff-serif;
    margin-bottom: 18px;
    padding: 26px 20px 34px;

    h2 {
      font-family: $ff-sans;
    }

    a {
      @include fs-cta;
      font-family: $ff-sans;
    }
  }

  .field__item:first-child {
    background: url('../images/sliced-bgs/gray-dark-top-right-square.svg') no-repeat $c-grey-slate;
    background-position-x: right;
    background-position-y: top;
    color: $c-white;

    a {
      @include fs-cta-white;
    }
  }
}
