.homepage {
  margin-bottom: 0;

  .latest-events-list {
    background: $white;
    margin-top: 0;
    padding-top: $space-ten;
  }
}

.home-banner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background: $white;
}

.home-banner-wrapper__space {
  grid-column: 1/2;
  height: 100%;
  content: ' ';
}

.home-banner {
  @include grid;

  grid-column: 2/-1;
  grid-template-rows: repeat(3, auto);
  max-width: 1360px;
  justify-self: end;
}

.home-banner-two .home-banner,
.home-banner-three .home-banner {
  @include grid-eighteen;

  grid-column: 1/-1;
  justify-self: start;
  max-width: $full;
}

.home-banner__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: end;
  max-width: 1360px;
}

.home-banner-two .home-banner__image,
.home-banner-three .home-banner__image {
  max-width: $full;
}

.home-banner__header {
  grid-column: 1/6;
  grid-row: 2/3;
  padding: $space-eight;
  padding-left: 0;
  background: url(/themes/custom/ucsf/assets/images/banner-overlay-left.png) left top repeat-y rgba(255, 255, 255, 0.925);

  h1 {
    @include fs-display;
  }
}

.home-banner-two .home-banner__header {
  @include grid-sixteen;

  grid-column: 2/-1;
  grid-row: 3/3;
  padding-left: $space-three;
  padding-right: $space-eight;
  padding-bottom: 0;
  background: url(/themes/custom/ucsf/assets/images/banner-overlay-bottom.png) left bottom repeat-x rgba(255, 255, 255, 0.925);

  h1 {
    grid-column: 2/12;
    border-right: 1px solid $navy;
    margin-right: $space-ten;
    padding-right: $space-ten;
  }

  .field-banner-description { // PL: .home-banner__subheading
    grid-column: 12/-1;
    margin: auto 0;
    padding-right: $space;
  }
}

.field-banner-description, .field-banner-description p { // PL: .home-banner__subheading
  margin: 0;
}

.home-banner-three {
  .home-banner {
    .home-banner__header {
      grid-column: 1/13;
      grid-row: 3/3;
      padding: $space-eight;
      padding-bottom: 0;
      padding-left: $space-ten;
      padding-top: $space-six;
      background: url(/themes/custom/ucsf/assets/images/banner-overlay-bottom.png) left bottom repeat-x rgba(255, 255, 255, 0.925);
    }
  }
}

.home-banner-two .home-banner-support-wrapper {
  @include grid-eighteen;

  .home-banner-support {
    @include grid-sixteen;

    grid-column: 2/-1;
    padding-left: $space-three;

    .home-banner-support__title {
      grid-column: 2/5;
    }

    .home-banner-support__links {
      grid-column: 5/-1;
    }
  }
}

.home-banner-support {
  @include grid-eighteen;

  background: $white;
  max-width: 1360px;
  padding: $space-ten;
  padding-left: $space;
  grid-gap: 4%;
}

.home-banner-support__title {
  @include eyebrow;

  line-height: 1.8em;
  margin: 0;
  grid-column: 2/5;
  font-size: $font-size-xxsm;
}

.home-banner-support__links {
  grid-column: 5/-1;
  font-family: $font-helvetica-neue-medium;
  list-style-type: none;
  counter-reset: li;
  list-style-position: outside;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 26%;
    float: left;
    margin-left: 8%;

    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      color: $navy;
      margin-right: 1.5em;
      margin-left: -2.5em;
      font-size: $font-size-xxsm;
      font-family: $font-helvetica-neue-bold;
    }

    &:first-child {
      margin-left: 5%;
    }
  }

  p {
    display: inline;
    margin: 0;
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}

.map-home-wrapper {
  background: $white;
  padding-top: $space-ten;
}

.map-home {
  @include grid;

  grid-template-rows: repeat(3, auto);
  max-width: 1360px;

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: $space-two;

      a {
        font-family: $font-helvetica-neue-medium;
      }
    }
  }
}

.field-map-image { // PL: .map-home__image
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: end;
  max-width: 1360px;
}

.field-map-text { // PL: .map-home__content
  grid-column: 8/-1;
  grid-row: 2/3;
  padding: $space-eight;
  padding-right: 0;
  background: url(/themes/custom/ucsf/assets/images/banner-overlay-right.png) right top repeat-y rgba(255, 255, 255, 0.925);
  color: $c-gray-blue;

  h2 {
    @include fs-heading;

    font-family: $font-granjon;
    margin: 0;
  }
}

.map-home__subheading {
  margin: 1em 0;
  color: $gray-blue;
}

.map-home__links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $font-helvetica-neue-medium;

  li {
    margin-bottom: $space-two;

    a {
      color: $blue;
      text-decoration: none;
      display: block;
      padding-left: $space-five;

      &.map-home__locations {
        @include background-image('map-home-locations.svg', left top );
      }

      &.map-home__transport {
        @include background-image('map-home-transport.svg', left top );
      }

      &.map-home__directions {
        @include background-image('map-home-directions.svg', left top );
      }
    }
  }
}

.home-search {
  text-align: center;
  margin-top: $space-ten;
}

.home-search .home-search__title {
  @include fs-heading;

  margin-top: 56px;
  margin-bottom: 16px;
}

.home-search__form {
  .home-search__form-input {
    height: 100px;
    margin: 0;
    padding-right: 80px;
    padding-left: 32px;
    font-size: $font-size-bg;
    font-family: $font-helvetica-neue-light;
    color: $gray-blue;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $near-white;

    &::-webkit-input-placeholder {
      color: $gray-blue;
    }

    &::-moz-placeholder {
      color: $gray-blue;
    }

    &::-ms-placeholder {
      color: $gray-blue;
    }

    &::placeholder {
      color: $gray-blue;
    }

    @include breakpoint($bp-medium) {
      width: 850px;
    }
  }

  .home-search__form-submit {
    @include background-image('magnifier.svg', center, $white);
    width: 100px;
    height: 80px;
    margin: 0;
    margin-left: -110px;
    border: none;
    background-size: 28px 28px;
    text-indent: -9999px;
    padding-top: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.home-search__presearch-links {
  list-style: none;
  margin: 0;
  margin-top: $space-two;
  padding: 0;
  font-family: $font-helvetica-neue-medium;

  li {
    display: inline-block;

    a {
      color: $blue;
      text-decoration: none;
      display: block;
      @include background-image('magnifier.svg', left);
      background-size: 16px 16px;
      padding-left: 24px;
      margin-right: 24px;
    }
  }
}

.home-talking-about {
  background: $white;
  margin-top: $space-ten;

  .card-three-up {
    @include card-three-up;
    margin: 0 auto;
    max-width: $xl;

    .news-card {
      margin-bottom: $space-five;
    }
  }
}

.home-talking-about__title {
  @include fs-heading;

  margin: 0 auto;
  margin-bottom: $space-two;
  padding-top: $space-ten;
  max-width: $xl;
}

.home-talking-about__description {
  margin: 0 auto;
  max-width: $xl;
  color: $gray-blue;
  margin-bottom: $space-four;
}
