
.sitemap-main {
  max-width: 1440px;
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 0 80px;

  .cta--list {
    border-top: none;
    a {
      padding-left: 1em;
    }
  }
}

.sitemap-box {
  padding-bottom: 1.5em;
  width: 50%;

  ul {
    padding-left: 1.5em;
  }

  li {
    padding-left: 1em;
    list-style: none;
  }

  .expanded {
    span {
      display: block;
      padding-left: 4rem;
      list-style: none;
      padding-top: 32px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      font-weight: 500;
      font-family: "HelveticaNeueLTW06-75Bold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      letter-spacing: 1.6px;
      font-size: 12px;
      line-height: 1.4em;
      text-transform: uppercase;

      &::after {
        content: ' ';
        display: inline-block;
        width: 40px;
        height: 1px;
        background:#052049;
        margin: 0 5px 3px;
      }
    }
  }
}

