
.sitemap-main {
  max-width: 1440px;
  width: 100%;
  margin: 80px auto 0;
  padding: 0 80px 80px 80px;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    padding-left: 0;
  }

  a {
    padding-left: 2em;
  }

  .layout__heading {
    padding: 2rem 0;
  }

  .cta--list {
    border-top: none;
  }

  .expanded {
    span {
      display: none;
    }
  }
}

// layout
.sitemap-box {
  clear: left;
  overflow: hidden;

  li {
    float: left;
    width: 50%;
  }
}

.sitemap-box-menu {
  .cta--list > .sitemap-menu > .expanded {
    clear: left;
  }

  .sitemap-menu > .expanded {
    margin-top: 2rem;
  }

  .expanded {
    width: 100%;

    > a {
      width: 50%;
    }
  }
}

.sitemap-box-terms-topics {
  .cta--list > ul > li {
    clear: left;
    width: 100%;

    > a {
      width: 50%;
    }
  }

  ul ul {
    width: 100%;
  }

  ul ul ul {
    clear: left;
    margin-left: -100%;
    width: 200%;
  }
}
