
.sitemap-main {
  max-width: 1440px;
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 0 80px;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    padding-left: 0;
  }

  a {
    padding-left: 2em;
  }

  .layout__heading {
    padding: 2rem 0;
  }

  .cta--list {
    border-top: none;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
    }
  }


  .expanded {
    span {
      display: none;
    }
  }
}
