.path-search {
  .page {
    background: $c-background-gray;
  }
}

.search-box-container {
  max-width: $full-width-elements;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: $space-ten;
  margin-bottom: $space-fourteen;
}

#universalSearchTabs,
.results-wrapper__content {
  max-width: $new-xl;
  margin: 0 auto;
  background: $white;
}

#universalSearchTabs {
  padding: $space-six;
  padding-left: $space-twelve;
  padding-bottom: 0;
}

.results-wrapper {
  background: $white;
}

.results-wrapper__content {
  padding: $space-twelve;
  padding-top: $space-seven;
}

#universalDirectory,
#universalWebsites,
#cse {
  padding-top: $space-five;
}

.search-websites,
.search-people {
  list-style: none;
  padding-left: 0;
}
.gsc-wrapper {
  .gsc-webResult {
    border-bottom: 1px solid $c-gray-border !important;

    .gsc-result {
      padding: $space-three 0;

      .gsc-thumbnail-inside,
      .gsc-url-top {
        padding-left: 0;
        padding-right: 0;
      }

      .gs-title {
        text-decoration: none;
      }
    }

    .gs-title,
    &.gs-result a.gs-title:link b,
    .gsc-control-cse .gs-result .gs-title *,
    a b {
      font-size: 28px !important;
      font-family: $font-granjon !important;
      text-decoration: none;
      line-height: 1.4 !important;
      color: $c-navy !important;
      text-decoration: none !important;
    }
  }
}
.gcsc-more-maybe-branding-root {
  display: none !important;
}
