.path-search {
  .page {
    background: $c-background-gray;
  }
}

.search-box-container {
  //padding: $space-five 20px;
  margin: 0;



  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    background-color: $c-background-gray;
    -webkit-box-shadow: 0 10px 20px #000000;
    box-shadow: 0 10px 20px #000000;
  }


  @include breakpoint($new-x-small) {

  }

  fieldset {
    border: none;
    display: none;
    &.active {
      display: block;
    }

    label {
      width: 100%;
      display: block;
      border-bottom: 1px solid $c-dark-navy;
      padding: 1em 0.5em;
    }

    input[type=radio] {
      border: 2px solid $c-dark-navy;
      background-color: $white;

    }
  }

  button.home-search__form-submit-advanced {
    margin: 1.5em auto;
    display: block;
  }


  .home-search__form,
  form {
    max-width: $new-xl;
    margin: 0 auto;
  }

  @include breakpoint($new-x-small-max) {

    #search {
      font-size: $font-size;
      height: 52px;
      width: calc(100% - 60px);
    }

    .home-search__form-submit {
      min-height: 40px;
      padding: 6px;
      margin-left: -60px;
      background-size: 23px;
      //border: 1px solid blue;
    }

  }

  @include breakpoint($new-medium) {
    padding: $space-ten;
  }
}
#universalSearchTabs,
.results-wrapper__content {
  max-width: $bp-full;
  margin: 0 auto;
  background: $white;
}

#universalSearchTabs {
  display: none;
  @include breakpoint($bp-medium) {
    display: block;
  }

}

.home-search__advanced-search {
  border: none;
  border-radius: 0;
  padding: 0;
  background: url("../images/filter.svg") left center no-repeat transparent;
  background-size: 36px 36px;
  min-height: 52px;
  @include breakpoint($new-x-small) {
    display: none;
  }
  &:hover {
    background-color: transparent;
  }
  &.active {
    background: url("../images/x-large.svg") center center no-repeat transparent;
    background-size: 36px 36px;
  }
}


.form-search-block-div {

  .home-search__advanced-search {
    border: none;
    border-radius: 0;
    padding: 0;
    background: url("../images/filter.svg") center center no-repeat transparent;
    background-size: 36px 36px;
    font-size: 0.5em;
    height: 52px;
    width: 52px;
    min-height: 52px;
    text-indent: -9999px;
    @include breakpoint($new-x-small) {
      display: none;
    }
    &:hover {
      background-color: transparent;
    }

    &.active {
      background: url("../images/x-large.svg") center center no-repeat transparent;
      background-size: 36px 36px;
    }
  }


}

.home-search__presearch-links {
  .home-search__advanced-search {
    width: auto;
    height: auto;
    background-image: none;
  }
}

#universalSearchTabs {
  padding: $space-five;
  padding-bottom: 0;
  background: url("../images/gray-sq.svg") right top no-repeat $white;
  background-size: 20px;

  @include breakpoint($new-medium) {
    background: url("../images/gray-sq.svg") left top no-repeat $white;
    background-size: 80px;
    padding-left: 200px;
  }
}

.results-wrapper__float {
  padding: $space-five;
  float: left;
  background: $white;
  width: 100%;

  @include breakpoint($new-medium) {
    padding: $space-twelve 200px;
    padding-top: $space-seven;
    padding-right: 150px;
  }
}

#universalDirectory,
#universalWebsites,
#cse {
  padding-top: $space-five;
  clear: both;

  .eyebrow-title {
    float: left;
    padding-top: $space;
    width: 20%;
    //white-space: nowrap;
  }

  .results-content {
    float: left;
    vertical-align: top;
    padding-left: $space-five;
    width: 80%;
  }

  @include breakpoint($new-x-small-max) {
    .eyebrow-title {
      float: none;
      width: 100%;
      //white-space: nowrap;
    }

    .results-content {
      float: none;
      padding-left: 0;
      width: 100%;
    }
  }
}

.search-websites,
.search-people {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-bottom: $space-two;
  border-bottom: 1px solid #d1d3d3;
}

.search-more {
  margin: 1rem 0;
  margin-bottom: 0;
}

.results-content {
  //GOOGLE SEARCH FIXES
  .gsc-wrapper {
    .gsc-webResult {
      border-bottom: 1px solid $c-gray-border;
      &:hover {
        border-bottom: 1px solid $c-gray-border;
      }
      .gsc-result {
        padding: $space-three 0;

        .gsc-thumbnail-inside,
        .gsc-url-top {
          padding-left: 0;
          padding-right: 0;
        }

        .gs-title {
          text-decoration: none;
        }
      }

      a.gs-title,
      a.gs-title b,
      &.gs-result a.gs-title:link b,
      .gsc-control-cse .gs-result .gs-title *,
      a b {
        font-size: 28px;
        font-family: $font-granjon;
        text-decoration: none;
        line-height: 1.4;
        color: $c-navy;
        text-decoration: none;
      }

      a.gs-title {
        &:hover {
          color: $c-blue-link;
          text-decoration: underline;
          b {
            color: $c-blue-link;
          }
        }
      }
    }
  }
  .gcsc-more-maybe-branding-root,
  .gsc-table-cell-thumbnail /* remove once we figure out thumbnail placement*/
  {
    display: none !important;
  }

    .gsc-result-info {
      padding: 0;
    }

    .cse .gsc-control-cse, .gsc-control-cse {
      padding: 0;
    }

    .gs-webResult {
      .gs-visibleUrl-long {
        font-size: 0.7em;
      }
      div.gs-visibleUrl {
        color: $navy;
      }
    }

    .gsc-table-cell-snippet-close,
    .gsc-table-cell-snippet-close * {
      color: $c-gray-blue !important;
    }

    .gsc-control-cse {
      font-family: $font-helvetica-neue-medium;
      font-size: $font-size;

      .gsc-cursor-page {
        margin-right: $space-two !important;

        &.gsc-cursor-current-page {
          color: $navy;
        }
      }
    }
}