{% embed "@templates/_topic-no-banner.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <header class="basic-header topic-page__header">
      <h2 class="topic-page__eyebrow">Topic</h2>
      <h1>CRISPR and Gene Editing</h1>
    </header>

    <div class="topic-content">
      <p>UCSF's mission is to advance health worldwide, starting with the city we call home.</p>

      <p>Check out an event, and explore stories below about how we’re sharing our medical, scientific and human resources with our neighbors in San Francisco and the greater Bay Area.</p>
    </div>

    <ul class="card-three-up">
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
            </header>
          </a>
        </article>
      </li>
      <li>
        <article class="news-card">
          <a href="" class="news-card__link">
            <picture class="news-card__image">
              <img class="img" src="https://placeimg.com/800/450/nature">
            </picture>

            <header class="news-card__copy">
              <ul class="news-card__byline">
                <li class="news-card__Research">Research</li>
                <li class="news-card__date">Sept. 18, 2018</li>
              </ul>

              <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
            </header>
          </a>
        </article>
      </li>
    </ul>

    <p class="view-more"><a href="" class="button--alt">View More</a></p>

  {% endblock %}


{% endembed %}
