<li>
  <article>
    <h3><a href="{{ content.field_external_url.uri }}">{{ label }}</a></h3>
    <p class="media-coverage__list-byline">{{ content.field_source }}  <span class="media-coverage__list-date">{{ content.field_date_and_time }}</span></p>
  </article>
</li>
