<a href="{{ url }}" class="recommended-article__link">
  <div class="recommended-article__image">
    {{ content.field_card_image }}
  </div>
  <header class="recommended-article__copy">
    {% include '@theme/article/byline.twig' %}
    <h2>{{ label }}</h2>
  </header>
</a>
