{# This is how Recommended Reading should look when we are on ucsf.edu article that references magazine article #}
<a href="{{ url }}" class="recommended-article__link">
  <div class="recommended-article__image">
    {{ content.field_card_image }}
  </div>
  <header class="recommended-article__copy">
    {% include '@theme/article/magazine-card-byline.twig' %}
    <h2>{{ label }}</h2>
  </header>
</a>
