{% set body_classes = not node.isPublished() ? "node--unpublished" %}
<main class="virtual-tour {{ body_classes }}">
  {# link is in html.html.twig #}
  <a id="main-content" tabindex="-1"></a>
  <div class="video-container virtual-tour__embed">
    {{content.field_virtual_tour_embed_code.0["#context"].value|raw}}
  </div>
  <div class="virtual-tour__description visually-hidden">
    {{content.body}}
  </div>
</main>
