{{ content.field_breadcrumbs }}
<main role="main" class="main">
  <a id="main-content" tabindex="-1"></a>
<div class="main-content narrow-page">
  <header class="article-header">
    <h1>{{ label }}</h1>
  </header>

  {% include "@theme/share/share.twig" %}
  <div class="page_narrow">
    {{ content.field_trending }}
  </div>
</div>
</main>
