{% set classes = ['news-card'] %}

<article {{ attributes.addClass(classes) }}>
  <a href="{{ url }}" class="news-card__link">
    {{ content.field_card_image }}
    <header class="news-card__copy">
      {% include '@theme/article/byline.twig' %}
      <h2>{{ label }}</h2>
    </header>
  </a>
</article>
