<div class="recommended-article__white-bg"></div>
<div class="recommended-article__image">
  {{ content.field_card_image }}
</div>
<header class="recommended-article__copy">
  {% include '@theme/article/magazine-card-byline.twig' %}
  <h2><a href="{{ url }}">{{ label }}</a></h2>
</header>
