<div class="recommended-article__bg"
  style="background: url('{{ file_url(node.field_textured_background_image.entity.field_media_image.entity.uri.value | image_style('recommended_article__bg')) }}') top left no-repeat transparent;"
></div>
<div class="recommended-article__white-bg"></div>
<div class="recommended-article__image">
  {{ content.field_card_image }}
</div>
<header class="recommended-article__copy">
  {% include '@theme/article/magazine-card-byline.twig' %}
  <h2><a href="{{ url }}">{{ label }}</a></h2>
</header>
