{#
 Usage:
 {% include "@evolve/background.twig" with {modifier: 'footer'} %}
 modifier can be 'footer', 'light' or 'dark'
#}
<div class="background-diagonal-wrapper background-diagonal-{{ modifier }}">
  <svg class="background-diagonal-svg" width="458" height="259" viewBox="0 0 458 259"
       xmlns="http://www.w3.org/2000/svg">
    <g class="path-1" fill="none" fill-rule="evenodd">
      <g class="path-2" transform="translate(-942)" fill="#333" fill-rule="nonzero">
        <path d="M942.113.516l258.063 258.062h199.117V.516z"/>
      </g>
    </g>
  </svg>
  {{ content }}
</div>
