{% embed "@templates/_campus-news.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}


  {% block page_content %}
  <main role="main" class="main news-center">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <h1>Campus News</h1>

    <div class="news-center-banner">
      <div class="news-center-banner__featured">
        <article class="news-card">
          <picture class="news-card__image">
            <img class="img" src="../../images/campus-news/featured-article.jpg">
          </picture>

          <div class="news-card__copy">
            <ul class="news-card__byline">
              <li class="news-card__Happenings">Happenings</li>
              <li class="news-card__date">Jan. 9, 2019</li>
            </ul>

            <h2><a href="">From Labs to Science, UCSF Builds New Experiences for 2018 Bay Area Science Festival</a></h2>

            <p class="news-card__more"><a href="" class="link link--cta">Continue reading</a></p>
          </div>
        </article>
      </div>

      <div class="news-center-banner_list">
      <div class="lastest-news__list">
        <h2 class="lastest-news__list-title">The Latest</h2>

        <ul class="lastest-news__list-articles">
          <li>
            <article>
              <ul class="news-card__byline">
                <li class="news-card__Happenings">Happenings</li>
                <li class="news-card__date">Dec. 21, 2018</li>
              </ul>
              <h3><a href="">Hackathon Garners Innovative Ideas to Address Mosquito-Borne Diseases</a></h3>
            </article>
          </li>
          <li>
            <article>
              <ul class="news-card__byline">
                <li class="news-card__Spotlight">Spotlight</li>
                <li class="news-card__date">Dec. 21, 2018</li>
              </ul>
              <h3><a href="">UCSF 2019: What Are You Watching For in Health and Science?</a></h3>
            </article>
          </li>
          <li>
            <article>
              <ul class="news-card__byline">
                <li class="news-card__Honors">Honors & Awards</li>
                <li class="news-card__date">Dec. 21, 2018</li>
              </ul>
              <h3><a href="">2018 Chancellor Diversity Awards Recognize Work to Advance Diversity, Equity and Inclusion</a></h3>
            </article>
          </li>
        </ul>

        <p class="lastest-news__list-more"><a href="" class="button--alt">View all campus news</a></p>
      </div>
    </div>
  </div>

  <div class="lastest-events-list bg-gray">
    <div class="lastest-events-list__header">
      <h2 class="lastest-events-list__heading">Events</h2>

      <p class="lastest-events-list__view-all"><a href="" class="link link--cta">View all events</a></p>
    </div>

    <ul class="lastest-events-list__cards card-three-up">
      <li class="event-card">
        <ul class="event-card__icon">
          <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
          <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
        </ul>

        <div class="event-card__content">
          <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

          <ul class="event-card__date-location">
            <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
            <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
          </ul>
        </div>
      </li>
      <li class="event-card">
        <ul class="event-card__icon">
          <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
          <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
        </ul>

        <div class="event-card__content">
          <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

          <ul class="event-card__date-location">
            <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
            <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
          </ul>
        </div>
      </li>
      <li class="event-card">
        <ul class="event-card__icon">
          <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
          <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
        </ul>

        <div class="event-card__content">
          <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

          <ul class="event-card__date-location">
            <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
            <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

    <div class="instagram-newsletter">
      <div class="instagram__list">
        <h2 class="instagram__list-title">UCSF on Instagram</h2>
        <p>Instagram feed will go here with API call.</p>
      </div>

      <div class="newsletter__list">
        <h2 class="newsletter__list-title">Pulse Today Newsletter</h2>
        <picture class="newsletter__list-image">
          <img class="img" src="../../images/campus-news/pulse-promo.jpg">
        </picture>

        <p>Pulse Today is a biweekly communication containing essential news for the UCSF community.</p>

        <ul class="no-bullet">
          <li><a href="" class="link--cta">Read the latest edition</a></li>
          <li><a href="" class="link--cta">View the archive</a></li>
        </ul>
      </div>
    </div>

    <div class="submit-story">
      <p class="submit-story__content">Share your news with the campus community. <a href="" class="button-reverse">Submit a story</a></p>
    </div>

    <div class="news-list">
      <h2 class="news-list__title">All Campus News</h2>

      <ul class="card-three-up">
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>As the Keto Diet Gains Popularity, Scientists Explain What We Do and Don’t Know</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>UCSF Benioff Children’s Hospitals will ‘Be Gold’ in September for Pediatric Cancer Awareness</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/800/450/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Tailored Drug Cocktails Offer Hope to Kids with Aggressive Brain Tumors</h2>
              </header>
            </a>
          </article>
        </li>
      </ul>

      <p class="view-more"><a href="" class="button--alt">View More</a></p>
    </div>

  </main>

  {% endblock %}



{% endembed %}
