{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{#{{ kint(view.exposed_data) }}#}

{# Applied Filter List #}
{% set article_type_list = view.exposed_data.tid %}

{% for key,tid in article_type_list %}
  {% if tid != 0 %}
    {% set term = drupal_entity('taxonomy_term', tid) %}
    {% set term_name = term['#taxonomy_term'].name.value %}
    {{ term_name }}
  {% endif %}
{% endfor %}
{# End Applied Filter List #}

<ul>
  {% for row in rows %}
    <li>
      {{- row.content -}}
    </li>
  {% endfor %}
</ul>
