.path-taxonomy {
  background: $c-grey-pale;

  .latest-events-list, .news-list {
    //padding-top: 0;
  }

  .topic-content {
    .news-list {
      padding-left: 0;
      padding-right: 0;
      margin-top: $space-ten;
    }
  }

  h2, h3 {
    &.eyebrow-title {
      font-size: $font-size-xxsm;
      font-family: $font-helvetica-neue-bold;
    }
  }
}

.topic-banner {
  margin: 0 auto;
  max-width: $bp-full;
  min-height: 208px;
}

.topic-page {
  background: $white;
}

.topic-content-wrapper {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 5%;
  row-gap: 5%;
  grid-row-gap: 0;
  background: #fff;
  grid-template-rows: auto auto;
}

.topic-page__header {
  grid-column: 1/9;
  background: $white;
  margin-top: -$space-sixteen;
  padding-right: $space-ten;
  padding-left: $space-ten;

  h1 {
    @include fs-article-medium-h1;
  }
}

.topic-page__eyebrow {
  @include eyebrow;

  margin-top: $space-ten;
  margin-bottom: 0;
}

.topic-content {
  grid-column: 1/9;
  margin-top: $space;
  margin-right: $space-ten;
  padding-left: $space-ten;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .media-coverage__list {
    margin-left: 0;
    margin-top: $space-ten;
  }
}

.media-coverage__header {
  h1 {
    margin-top: $space-ten;
  }
}

.areas-content {
  .card-four-up {
    display: block;
  }

  .news-list {
    //padding-top: $space-ten;
  }

  .bg-white {
    //padding-bottom: $space-ten;
  }
}

.news-center-banner_list,
.news-list {
  .areas-header {
    @include fs-heading;
  }
}

.news-center-banner_list .areas-header {
  margin-bottom: $space-two;
  
  @include breakpoint($new-x-small-max) {
    margin-top: $space-five;
  }
}

.campus-news-card {
  border-bottom: 1px solid $c-gray-lighter;
  margin: $space 0;
  margin: $space-three 0;
  padding-bottom: $space-two;

  .campus-news-card__title {
    @include fs-heading-three;
    margin-top: $space;
    margin-bottom: $space-two;
  }
}

.all-campus-news {
  margin-bottom: 0;
}
