.block-views-blockmagazine-archive-carousel-block-1 {
  background-color: $c-background-gray;
}

.view-magazine-archive-carousel {
  max-width: 1440px;
  padding: $space-five $page-gutter;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include breakpoint ($new-small) {
    padding-left: 0;
    padding-right: 0;
  }

  .view-header {
    max-width: 1320px;

    @include breakpoint ($new-small) {
      margin-left: $space-five;
    }

    @include breakpoint ($new-large) {
      margin-left: $space-ten;
    }
  }

  .topics-list {
    &__title {
      @include fs-heading($c-dark-navy);
      margin-left: 0;
      margin-right: 0;
    }

    &__description {
      color: $magazine-gray-blue;
    }

    &__view-all {
      @include breakpoint ($new-small) {
        padding-right: $page-gutter;
      }

      @include breakpoint ($full-width-elements) {
        padding-right: calc(#{$page-gutter} * 2);
      }
    }

    &__topics-wrapper-space-bottom {
      background-color: transparent;
    }
  }

  .slick-slider {

    .slick-slide {
      width: 330px;
    }

    .slick-arrow {
      height: 24px;
      width: 24px;
      top: 58%;
    }


    .slick-prev {
      @include breakpoint ($new-small) {
        left: 17px;
      }

      @include breakpoint ($new-large) {
        left: 56px;
      }

      @include breakpoint ($full-width-elements) {
        left: 57px;
      }
    }

    .slick-next {
      right: 0;

      @include breakpoint ($new-small) {
        right: 16px;
      }

      @include breakpoint ($full-width-elements) {
        right: 60px;
      }
    }

    &.topics-list__topics {
      padding-left: 5px; // lining up first image edge to the carousel title
      list-style: none;

      @include breakpoint ($bp-medium) {
        padding-left: 0;
        padding-right: $space-five;
        margin-left: -16px;
      }

      @include breakpoint ($new-large) {
        padding-left: 40px; // lining up first image edge to the carousel title
        margin-left: 0;
      }

      @include breakpoint ($full-width-elements) {
        padding-left: 2.9%; // lining up first image edge to the carousel title
        padding-right: 0;
      }
    }

    & .topic-card span {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  .topic-card {
    width: 263px;
    height: 307px;

    a {
      height: 307px;
      width: 263px;
    }

    span {
      background-color: transparent;
      bottom: -100px;

    }

    a:hover span {
      text-decoration: underline;
      text-underline-position: under;
      bottom: -100px;
    }
  }
}
