.media-coverage__header {
  h1 {
    margin-top: $space-ten;
  }
}

.pager {
  list-style: none;

  li {
    display: inline-block;
    font-family: $font-helvetica-neue-medium;
    margin-right: $space-two;

    a {
      text-decoration: none;
      display: block;
    }
  }
}

.pager__prev a,
.pager__next a {
  background: url('../images/carat-next.svg') right center no-repeat transparent;
  background-size: 7px;
  padding-right: 20px;
  line-height: 1;
}

.pager__prev a {
  background: url('../images/carat-prev.svg') left center no-repeat transparent;
  background-size: 7px;
  padding-left: 20px;
}
