{% embed "@templates/_media-coverage.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    <header class="basic-header topic-page__header media-coverage__header">
      <h1>Media Coverage</h1>
    </header>

    <div class="topic-content">
      <p>Media from across the country — and around the world — regularly cover news at UCSF. Below read some of the top coverage of UCSF's excellence and innovation.</p>

          <div class="media-coverage__list">
            <ul class="media-coverage__list-articles">
              <li>
                <article>
                  <h3><a href="">How to Track Your Heart Rate With Wearables</a></h3>
                  <p class="media-coverage__list-byline">Wired  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">Hoping to save limbs and toes, California moves to curtail diabetes</a></h3>
                  <p class="media-coverage__list-byline">The Mercury News  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">How wildfires can threaten your health</a></h3> <p class="media-coverage__list-byline">PBS News Hour  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">How California Became The Only State to Lower Its Infant Mortality Rate</a></h3> <p class="media-coverage__list-byline">Huffington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">Beyoncé, Serena Williams open up about potentially fatal childbirths, a problem especially for black mothers</a></h3> <p class="media-coverage__list-byline">The Washington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">Environmental toxins are seen as posing risks during pregnancy</a></h3> <p class="media-coverage__list-byline">The Washington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">How to Track Your Heart Rate With Wearables</a></h3>
                  <p class="media-coverage__list-byline">Wired  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">Hoping to save limbs and toes, California moves to curtail diabetes</a></h3>
                  <p class="media-coverage__list-byline">The Mercury News  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">How wildfires can threaten your health</a></h3> <p class="media-coverage__list-byline">PBS News Hour  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
              <li>
                <article>
                  <h3><a href="">How California Became The Only State to Lower Its Infant Mortality Rate</a></h3> <p class="media-coverage__list-byline">Huffington Post  <span class="media-coverage__list-date">Aug. 14, 2018</span></p>
                </article>
              </li>
            </ul>

            <ul class="pager">
            <li class="pager__prev"><a href="">Previous</a></li>
            <li><a href="">1</a></li>
            <li>2</li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">...</a></li>
            <li><a href="">9</a></li>
            <li><a href="">10</a></li>
            <li class="pager__next"><a href="">Next</a></li>
            </ul>
          </div>
      </div>


  {% endblock %}


{% endembed %}
