.mag-nav {
  &__navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo__img {
    height: 30px;
    width: auto;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;

    @include breakpoint ($new-medium) {
      height: 52px;
    }

    @include breakpoint ($bp-large) {
      height: 72px;
    }
  }

  .header--search {
    display: block;
  }
}

.universal-header-mag {
  @include breakpoint($bp-large) {
    display: flex;
    align-self: center;
  }
}


.mag-menu-external {
  // variable to print .mag-menu-external
  $block: &;

  &__ucsf {
    transition: 0.15s $transition-type color;
    display: none;

    @include breakpoint($bp-medium) {


    }

    @include breakpoint($bp-large) {
      display: flex;
      margin-right: 2rem;
      padding: 8px 0;
    }

    // Specificity
    .universal-header-mag #{$block} & {
      @include breakpoint($bp-medium) {
        color: $c-dark-navy;
      }

      @include breakpoint($bp-large) {
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .ext {
      // TODO this should be a part of .mag-menu-external__ucsf--large
      @include breakpoint($bp-medium) {
        display: block;
        width: 1rem;
        height: auto;
        background-size: 25px 25px;
        padding-right: 45px;
        filter: brightness(0) saturate(100%) invert(7%) sepia(68%) saturate(795%) hue-rotate(190deg) brightness(100%) contrast(95%);
      }


      @include breakpoint($bp-large) {
        width: 10px;
        background-size: 14px 14px;
        margin-left: .5rem;
        padding-right: 20px;
        filter: brightness(0) invert(1);
      }
    }

    // Needed more specificity
    .mag-menu-external &:hover .ext {
      @include breakpoint($bp-large) {
        background-size: 14px 14px;
      }
    }

    &--menu {
      // TODO this should be a part of .mag-menu-external__ucsf--large
      font-size: 1.125rem;
      font-family: $font-helvetica-neue-medium;
      line-height: 26px;

      @include breakpoint($bp-large) {
        display: none;
      }
    }

  }

  // show header link only on desktop
  .universal-header-mag > & {
    display: none;

    @include breakpoint($bp-large) {
      display: flex;
      margin-left: auto;
    }
  }
}


.ie-message {
  display: none;
}

.header {
  position: relative;
  @include wrapper;
  max-width: $full-width-elements;
  padding: 0 20px;

  @include breakpoint($bp-until-large) {
    // line-height: 26px;
    // margin-bottom: 0;
    // position: relative;
    // width: 100%;
    // vertical-align: middle;
  }

  @include breakpoint($bp-large) {
    // @include grid-two-auto;
    // align-items: center;
    // margin-bottom: 0;
  }
}