.magazine-nav {
  .logo__img {
    height: 26px;
    width: 175px;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;

    @include breakpoint ($new-medium) {
      height: 40px;
      width: 110px;
    }

    @include breakpoint (906px) {
      width: 170px;
    }

    @include breakpoint (1000px) {
      width: 270px;
    }
  }
}