.mag-nav {
  // variable to print .mag-nav
  $block: &;
  $navbar-height: 50px;
  $navbar-height-medium: 72px;
  $navbar-height-big: 112px;
  $search-form-height: 162px;
  $search-form-height-tablet: 142px;
  height: auto;
  padding: 0;

  &__navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-content: center;
    height: $navbar-height;
    padding-top: 11px;
    padding-bottom: 12px;

    @include breakpoint ($bp-medium) {
      height: $navbar-height-medium;
    }

    @include breakpoint($bp-large) {
      height: $navbar-height-big;
    }

    @include breakpoint($bp-xl) {
      max-width: 1440px;
      padding-right: 80px;
      padding-left: 80px;
      margin: 0 auto;
    }
  }

  .nav-toggle {
    left: 0;

    &--active {
      left: -3px;

      @include breakpoint($bp-large) {
        left: -5;
      }
    }
  }

  .header--logo {
    align-self: center;
    justify-self: center;
  }

  .logo__img {
    height: auto;
    width: 45vw;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;

    @include breakpoint ($bp-xs) {
      width: auto;
      min-width: 178px;
    }

    @include breakpoint ($bp-medium) {
      min-width: 320px;
    }

    @include breakpoint ($bp-large) {
      min-width: 438px;

      #{$block}--active & {
        min-width: 338px;
      }
    }
  }

  .header--search {
    display: block;
    position: relative;
    justify-self: end;
  }

  .mag-home-search__form {

    &.active {
      position: absolute !important;
      top: calc(#{$navbar-height} - 10px);
      right: 0;
      width: 100vw;

      @include breakpoint ($bp-medium) {
        top: calc(#{$navbar-height-medium} - 10px);
      }

      @include breakpoint ($new-medium) {
        top: calc(#{$navbar-height-medium} - 10px);
        left: 0;
        right: 0;
        margin-right: -20px;
      }

      @include breakpoint($bp-large) {
        top: calc(#{$navbar-height-big} - 10px);
      }
    }

    &-submit {
      @include breakpoint ($new-medium) {
        position: absolute;
        top: 20px;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &-input {
      // @include breakpoint($bp-large) {
      //   width: 100%;
      //   max-width: 100%;
      // }


      &#header-search {
        // @include breakpoint ($bp-large) {
        //   border: 1px solid #DCE0E6;
        // }
      }
    }
  }

  .mobile-search-reveal {
    $offset-top: 12px;
    $offset-top-big: -16px;
    $search-icon-size: 24px;
    $search-icon-size-big: 36px;
    right: 20px;
    width: $search-icon-size;
    background-position: center;
    background-size: $search-icon-size;
    max-width: $search-icon-size;
    min-width: $search-icon-size;
    background-color: transparent;
    background-image: url('/themes/custom/ucsf/assets/images/magnifier.svg');
    overflow: hidden;

    @include breakpoint ($bp-medium) {
      top: $offset-top;
    }

    @include breakpoint($bp-large) {
      top: $offset-top-big;
      right: 0;
      background-size: $search-icon-size-big;
      width: $search-icon-size-big;
      height: $search-icon-size-big;
      max-width: $search-icon-size-big;
      min-width: $search-icon-size-big;
    }

    &:hover {
      width: $search-icon-size;
      background-size: $search-icon-size;
      background-color: transparent;

      @include breakpoint($bp-large) {
        width: $search-icon-size-big;
        background-size: $search-icon-size-big;
      }
    }

    &.active {
      background-color: transparent;

      @include breakpoint ($bp-medium) {
        top: calc(#{$offset-top} - 1px); //centering vertically
      }

      @include breakpoint($bp-large) {
        top: calc(#{$offset-top-big} + 1px); //centering vertically
        width: $search-icon-size-big;
        background-size: $search-icon-size-big;
      }

      &:hover {
        background-color: transparent;

        @include breakpoint($bp-large) {
          width: $search-icon-size-big;
          background-size: $search-icon-size-big;
        }
      }
    }
  }

  // When menu is open
  &--active {
    &.header-region {
      background-color: $c-grey-pale;
    }

    // Need to move menu below search form when both are open in mobile
    .header--search-active ~ .header-mag-menu {
      top: calc(#{$navbar-height} + #{$search-form-height});

      @include breakpoint ($bp-medium) {
        top: calc(#{$navbar-height-medium} + #{$search-form-height});
      }

      @include breakpoint ($new-medium) {
        top: calc(#{$navbar-height-medium} + #{$search-form-height-tablet});
      }
    }

    // Search Form
    .mag-home-search__form {
      @include breakpoint($bp-xl) {
        height: 54px;
        top: 0;
        clip: auto;
        animation: none;
        right: -60px;
      }

      &.active {
        @include breakpoint($bp-medium-plus) {
          top: calc(#{$navbar-height-big} - 111px);
        }

        @include breakpoint($bp-xl) {
          display: block;
          height: 54px;
          top: 0;
          animation: none;
          width: 492px;
        }

        .search__form {
          @include breakpoint($bp-xl) {
            border: none;
          }
        }
      }

      .fieldset-reset {
        @include breakpoint($bp-xl) {
          display: none;
          visibility: hidden;
        }
      }

      &-submit {
        @include breakpoint($bp-xl) {
          position: absolute;
          margin: 0;
          right: 52px;
          top: -5px;
          background-size: 36px;
          width: 36px;
          max-width: 36px;
          min-width: 36px;
        }

        &:hover {
          @include breakpoint($bp-xl) {
            background-size: 36px;
            width: 36px;
            max-width: 36px;
            min-width: 36px;
          }
        }
      }

      &-input {
        @include breakpoint($bp-xl) {
          height: 52px;
          position: absolute;
          width: auto;
          max-width: 0;
          padding-right: 0; // so that search text doesn't spill over the buttons
          padding-left: 0;
          // right: -60px;
        }
      }
    }

    .mag-mobile-search-reveal.active {
      @include breakpoint($bp-xl) {
        z-index: 3;
        animation-duration: 1s;
        animation-name: hide-fade-in;
        right: -58px;
      }
    }

    .mag-home-search__form-input {
      @include breakpoint($bp-xl) {
        right: 0;
        clip-path: polygon(78% 0, 90% 0, 90% 100%, 78% 100%);
        transition: clip-path .5s;
      }
    }

    .active .mag-home-search__form-input {
      @include breakpoint($bp-xl) {
        width: auto;
        max-width: 492px;
        padding-right: 165px; // so that search text doesn't spill over the buttons
        padding-left: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }


      &#header-search {
        @include breakpoint ($bp-large) {
          border: 1px solid #DCE0E6;
        }
      }
    }

  }
}

@keyframes hide-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.header--logo-minimized .logo__img {
  @include breakpoint ($bp-medium-plus) {
    min-width: 338px;
  }
}

.universal-header-mag {
  @include breakpoint($bp-large) {
    display: flex;
    align-self: center;
  }

  @include breakpoint($bp-xl) {
    max-width: 1440px;
    padding-right: 0;
    padding-left: 80px;

  }
}


.mag-nav__ucsf {
  // variable to print .mag-nav__ucsf
  $block: &;

  @include breakpoint($bp-medium) {
    grid-column: 1 /-1;
  }

  &-news {
    transition: 0.15s $transition-type color;
    display: none;


    @include breakpoint($bp-medium-plus) {
      display: flex;
      margin-right: 2rem;
      padding: 8px 0;
    }

    // Specificity
    .universal-header-mag #{$block} & {
      @include breakpoint($bp-medium) {
        color: $c-dark-navy;
      }

      @include breakpoint($bp-medium-plus) {
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }
    }


    &--menu {
      $menu-link-block: &;
      font-size: 1.125rem;
      font-family: $font-helvetica-neue-medium;
      line-height: 77px;
      display: flex;
      justify-content: space-between;

      @include breakpoint($bp-medium-plus) {
        display: none;
      }

      // Needed more specificity
      .mag-menu__menu & {
        color: $c-dark-navy;

        &:hover {
          color: $c-blue-link;
        }
      }
    }
  }

  // show header link only on desktop
  .universal-header-mag > & {
    display: none;

    @include breakpoint($bp-medium-plus) {
      display: flex;
      margin-left: auto;
    }
  }
}

.ie-message {
  display: none;
}
