// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 1em) {
  margin: #{$margin};
}

@mixin body-copy {
  font-family: $font-body;
  font-size: 18px;
  line-height: 1.8em;
}

body {
  color: $navy;

  @include body-copy;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  float: left;
  width: 130%;
  position: relative;
  left: -270px;
  padding-top: 40px;

  .blockquote-image {
    float: left;
    position: relative;
    top: -32px;
    margin-right: $space-twenty;
  }

  .blockquote-content {
    background: $background-gray;
    padding: $space-seven $space-ten;
    margin-right: -$space-nine;
    min-height: 500px;

    .blockquote-content__text {
      @include heading-two;

      font-size: 31px;
      line-height: 1.2em;

      @include medium {
        font-size: 40px;
      }

      &::before {
        content: '“ ';
        display: inline-block;
        margin-left: -$space-three;
        padding-right: $space;
        font-family: $font-granjon;
      }
    }

    .blockquote-content__cite {
      @include eyebrow;

      font-style: normal;
    }
  }

  &::after {
    content: ' ';
    clear: both;
  }

  &.blockquote-half-left {
    width: 50%;
    left: auto;
    margin-left: -25%;
    padding-top: 0;
    margin-right: 10%;

    .blockquote-content {
      padding: 56px;
      margin-right: auto;

      .blockquote-content__text {
        margin-top: 0;
      }
    }
  }
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}
