.page-node-type-basic {
  .footer-ctas-wrapper {
    margin-top: 0;
  }
}

.about-page {
  .page_narrow {
    .home-search {
      margin-top: 0;
      clear: both;
      padding-bottom: $space-three;

      .home-search__form-input {
        width: 99%;
      }
    }

    &:last-child {
      padding-bottom: $space-ten;
      margin-bottom: $space-ten;

      & > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.about-page-header {
  grid-column: 3 / -3;
  grid-row: 1;
  background: $white;
  margin-top: $space-ten;
  padding: $space-decuple 11%;
  padding-bottom: 0;

  h1 {
    @include display;

    margin-top: 0;
  }

  .about-page-header__subheading {
    margin-bottom: $space-four;
  }
}

.about-page-header-banner {
  margin-top: -$space-fifteen;
}

.about-full-width-wrapper {
  background: $white;
}

.about-full-width {
  margin: 0 auto;
  max-width: $xl;
  background: $white;

  .promo-list {
    padding-top: $space-ten;
  }

  .promo-list__heading {
    margin-top: 0;
  }

  h2 {
    @include heading;

    margin-bottom: $space-four;
  }

  .layout-columns__three {
    padding: 0;
    padding-top: $space-ten;
  }
}
