{% embed "@templates/_home-banner.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}


  {% block page_content %}
  <main role="main" class="main homepage">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="home-banner-wrapper">
        <div class="home-banner-wrapper__space"> </div>

        <div class="home-banner">
          {% include "@atoms/04-images/00-image/figure.twig" with {
            img_src: '../../images/home/banner-1.jpg',
            img_alt: 'Doctors at Working',
            image_figure_base_class: 'home-banner__image',
          } %}

          <header class="home-banner__header">
            <h1>Leading Revolutions in Health</h1>

            <p class="home-banner__subheading">At UCSF, we’re changing the course of genetic diseases, developing advanced tools and methods designed to fight back in new and unexpected ways.</p>
          </header>

          <div class="quicklinks">
            <a class="quicklinks__openlink" href="">Quick Links <span class="fas fa-caret-right"></span></a>
          </div>
        </div>
    </div>

    <div class="home-banner-support">
      <h2 class="home-banner-support__title">How it's done</h2>
      <ol class="home-banner-support__links">
        <li>UCSF Innovation Ventures has patented more than 2,400 inventions that are actively used around the world</li>
        <li><a href="">A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</a></li>
        <li>Every day, we’re redefining what it means to be a world class health system. <a href="">Learn how we’re transforming care »</a></li>
      </ol>
    </div>

    <div class="home-search">
      <h2 class="home-search__title">What are you looking for?</h2>

      <form class="home-search__form">
        <input type="text" name="search" id="search-q" class="home-search__form-input" placeholder="Search people, places, ideas" onclick="this.value='';" tabindex="2">
        <input type="submit" id="edit-submit" name="op" value="Search" class="home-search__form-submit">
      </form>

      <ul class="home-search__presearch-links">
        <li class="home-search__presearch-links"><a href="">CRISPR</a></li>
        <li class="home-search__presearch-links"><a href="">Chan Zuckerberg Biohub</a></li>
        <li class="home-search__presearch-links"><a href="">Cell design</a></li>
        <li class="home-search__presearch-links"><a href="">UCSF Medical Center</a></li>
      </ul>
    </div>

    <div class="home-talking-about">
      <h2 class="home-talking-about__title">What we're talking about</h2>
      <p class="home-talking-about__description">Our top priorities, proudest moments, and groundbreaking news and achievements.</p>

      <ul class="card-three-up">
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Primary Care is an Untapped Resource for Depression Screening</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>A New Spinal Cord Injury Treatment is Getting Patients Back on Their Feet</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Innovative Technique Reveals ‘Core Identities’ of Brain Cells</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Researchers Unlock Secret of Deadly Brain Cancer’s “Immortality”</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Mutations, Drugs Drive Cancer by Blurring Growth Signals</h2>
              </header>
            </a>
          </article>
        </li>
        <li>
          <article class="news-card">
            <a href="" class="news-card__link">
              <picture class="news-card__image">
                <img class="img" src="https://placeimg.com/1000/600/nature">
              </picture>

              <header class="news-card__copy">
                <ul class="news-card__byline">
                  <li class="news-card__Research">Research</li>
                  <li class="news-card__date">Sept. 18, 2018</li>
                </ul>

                <h2>Pediatric Device Consortium Celebrates Future Innovations with $6.7M FDA Grant</h2>
              </header>
            </a>
          </article>
        </li>
      </ul>
    </div>

    <div class="twitter-wrapper">
      <div class="twitter-wrapper__space"> </div>

      <div class="twitter">
        <h2 class="twitter__title">On Twitter</h2>
        <p class="twitter__follow"><a href="" class="link link--cta"><span class="fab fa-twitter"> </span> Follow</a></p>
        <ol class="twitter__tweets">
          <li>This will be pulled from Twitter API</li>
          <li>This will be pulled from Twitter API</li>
          <li>This will be pulled from Twitter API</li>
        </ol>
      </div>
    </div>

    <div class="topics-list">
      <div class="topics-list__header">
        <h2 class="topics-list__title">Dive Deeper</h2>
        <p class="topics-list__description">Stay involved in the topics and challenges we’re facing today.</p>
        <p class="topics-list__view-all"><a href="" class="link link--cta">Visit the News Center</a></p>
      </div>

      <div class="topics-list__topics-wrapper">
        <div class="topics-list__topics-wrapper-space-left"> </div>
        <div class="topics-list__topics-wrapper-space-bottom"> </div>

        <ul class="topics-list__topics">
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Alzheimer’s and Dementia</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Marijuana</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Autism and Sensory Processing Disorder</a>
          </li>
          <li class="topic-card" style="background: url('../../images/topics/innovation.jpg'); no-repeat transparent left top">
            <a href="">Innovations in Health</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="lastest-events-list">
      <div class="lastest-events-list__header">
        <h2 class="lastest-events-list__heading">Events</h2>

        <p class="lastest-events-list__view-all"><a href="" class="link link--cta">View all events</a></p>
      </div>

      <ul class="lastest-events-list__cards card-three-up">
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
        <li class="event-card">
          <ul class="event-card__icon">
            <li class="event-card__month"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">Jan</time></li>
            <li class="event-card__icon-date"><time property="dc:date" datatype="xsd:dateTime" content="-T::00-8:00">5</time></li>
          </ul>

          <div class="event-card__content">
            <h3 class="event-card__title"><a href="#">Pediatric Heart Center Research Symposium: Abe Rudolph</a></h3>

            <ul class="event-card__date-location">
              <li class="event-card__date"><span class="far fa-clock"></span><time>12:00 - 2:00 PM</time></li>
              <li class="event-card__location"><span class="fas fa-map-marker-alt"></span>Byers Auditorium<br /> UCSF Medical Center at Mission Bay</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="map-home-wrapper">
      <div class="map-home">
        {% include "@atoms/04-images/00-image/figure.twig" with {
          img_src: '../../images/home/map-home.jpg',
          img_alt: 'Doctors at Working',
          image_figure_base_class: 'map-home__image',
        } %}

        <div class="map-home__content">
          <h2>Bridging the Bay</h2>

          <p class="map-home__subheading">With locations throughout San Francisco and beyond, UC San Francisco is an industry of its own, contributing greatly to the intellectual vigor and economic vitality of the City by the Bay.</p>

          <ul class="map-home__links">
          <li class="map-home__link"><a href="" class="map-home__locations">View our locations</a></li>
          <li class="map-home__link"><a href="" class="map-home__transport">Find transportation</a></li>
          <li class="map-home__link"><a href="" class="map-home__directions">Get directions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}



{% endembed %}
