{% extends 'field.html.twig' %}

{% block single_item_no_label %}
  <span{{ attributes.addClass('magazine-issue-banner__download-link') }}>{{ item.content }}</span>
{% endblock single_item_no_label %}
