// Spacing Utilities - utilities use !important because they should always win.
// For full width news package please add additional options here:
// /admin/structure/paragraphs_type/column_wrapper/fields/paragraph.column_wrapper.field_column_layout_controls/storage
.remove-top-space {
  padding-top: 0 !important;
}

.padding-margin-top-0 {
  padding-top: 0 !important;
  margin-top: 0 !important;
  .page-node-type-full-width-news-package &.bg-gray.remove-top-space {
    padding-top: 0 !important;
  }
}

.padding-margin-bottom-0 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}
